[2021-11-03 20:51] #622 closed, assigned to nobody

[2021-11-05 09:08] martincostello opened #624 "Consider using [LoggerMessage] in .NET 6"
After `6.0.0` is released, consider using the new `[LoggerMessage]` attribute to generate log messages to improve performance.

This would remove the need to suppress the `CA1848` warning.

[2021-11-05 09:10] martincostello opened #625 "Update package validation baselines for v6"
Once `6.0.0` is released, remove the suppression for the `PKV006` warning and update the `PackageValidationBaselineVersion` to `6.0.0`.

[2021-11-08 09:34] martincostello commented on #552
Packages with ASP.NET Core 6 support are now available from NuGet.org.

[2021-11-08 09:34] #552 closed, assigned to martincostello

[2021-11-08 09:39] #625 closed, assigned to martincostello

[2021-11-12 09:57] martincostello commented on #572
Hi @limaAniceto - any update on this from Mixcloud?

[2021-11-12 09:59] martincostello commented on #577
Closing as external, as the best overall approach is to have the ASP.NET Core base implementation we build on top of have appropriate extensibility/features to handle this scenario generically for all OAuth providers.

[2021-11-12 09:59] #577 closed, assigned to nobody

[2021-11-12 17:06] #624 closed, assigned to martincostello

[2021-11-15 16:50] Mike-E-angelo commented on #572
FWIW I have reached out to Mixcloud's customer support to see if they are aware of any updates here.

[2021-11-16 15:04] Mike-E-angelo commented on #572
Alright, I have heard back from MixCloud customer support.  This issue has been identified as a bug on their end and is slated to be worked on fixing it Soon™.

https://youtu.be/Bro-WwwroEA

No timetable/estimate, however.

[2021-11-16 15:09] martincostello commented on #572
Cool - thanks for the update. I'll leave this issue open until we hear back from them.

[2021-12-11 21:51] nmills3 opened #632 "Discord provider using wrong host"
### Provider name

_State which provider(s) you are experiencing an issue with._
Discord

### Expected behavior

_Explain what you expected to happen._
Return Url should be subDomain.myurl.com/signin-discord

### Actual behavior

_Explain what actually happened. If an exception occurred, please include a stack trace if available._
Return Url is being set to 192.168.1.208:9020/signin-discord

### S

[2021-12-11 22:13] martincostello commented on #632
This doesn't sound like an issue specific to the Discord provider.

Have you configured your app appropriately to trust the forwarded headers? https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-6.0#use-a-reverse-proxy-server

[2021-12-11 22:27] nmills3 commented on #632
sorry, this is the first time i've done oauth providers behind a proxy. Ok, so i've got that setup but now it's going to the http version of my url instead of the https version

[2021-12-11 22:29] martincostello commented on #632
That sounds like when x-forwarded-proto gets ignored by the app because it doesn't trust the proxied header. If you turn logging for ASP.NET Core up to debug (or maybe it's trace), does it log anything avoid ignoring the forwarded headers?

[2021-12-11 22:34] nmills3 commented on #632
Ok, i've got the issue fixed now. Thanks for the guide @martincostello it was a big help. sorry for being a bit of a noob

[2021-12-11 22:34] #632 closed, assigned to nobody

[2021-12-11 22:35] martincostello commented on #632
No problem - glad you've got it working 👍

[2022-01-04 04:16] sethdorris opened #634 "GetExternalLoginInfoAsync returns null despite populated claims from the provider"
**Describe the bug**
Call to _signInManager.GetExternalLoginInfoAsync() always returns null despite the claims being populated from the external provider

**Startup.cs**
[code]

**Account Controller**
[code]

**Expected behaviour**
I expect ExternalLoginInfo to be populated from the call.

**Actual behaviour**
The call always returns null despite claims being populated

**System information:**
 -

[2022-01-04 08:38] martincostello commented on #634
This is unlikely to be an issue with the Discord provider, but more likely to be caused by a mis-configuration of ASP.NET Core Identity.

In the first instance, I suggest turning up the logging to Debug (or Trace) and see if there are any clues as to the issue in the logs. Usual suspects include mis-configuration of the Identity cookies and the default scheme.

[2022-01-06 13:03] martincostello opened #636 "Remove redundant method overrides"
Changes made in #635 uncovered various redundant/incorrect method overrides.

These should all be removed in version 7.

[2022-01-06 13:19] kennethlou opened #637 "Old iPhone 6s / Mobile Version"
Hi,

I just downloaded the sample project. I compiled and deployed it onto my VPS. There is an SSL certificate installed.

When I tried it in chrome on desktop, it works very well. However, I tried it on my old iPhone 6s browser and I can see only a white blank page after login. Do you know how to see the error message, given that I can only see a white blank page in the old iPhone.

I know it wor

[2022-01-06 14:26] martincostello commented on #637
Something for you to check in the debug logs server-side?

My guess might be something related to [SameSite cookies](https://devblogs.microsoft.com/dotnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/) if it's an older phone using Safari.

Otherwise my only suggestion is to test it with developer error pages turned on and/or a custom error page to see if you shed more light on the

[2022-01-06 16:54] martincostello opened #639 "Validate whether Accept header in Visual Studio provider is redundant"
Create a real Visual Studio Online OAuth integration and determine whether this line of code is redundant.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/51f4c0065774d10ce18aec6c73c9a040d150e107/src/AspNet.Security.OAuth.VisualStudio/VisualStudioAuthenticationHandler.cs#L75-L76

If it is, remove it.

[2022-01-07 05:06] timothydilbert opened #641 "Unable to develop additional OAuth providers"
**Describe the bug**
 One of the IDaaS we would like to utilise is not listed. I am attempting to develop an OAuth provider for the missing IDaaS, but running into the following error when trying to run dotnet build in the folder of the new OAuth provider:
[code]

**Steps To reproduce**
1. Clone `AspNet.Security.OAuth.Providers` to the local computer.
2. Copy the `/src/AspNet.Security.OAuth.GitHub

[2022-01-07 07:26] martincostello commented on #641
To stop the error, add this setting to the csproj file of the new provider you're adding:

https://github.com/martincostello/AspNet.Security.OAuth.Providers/blob/036b234b1079b6992cccb2250a83e00f0c40b664/src/AspNet.Security.OAuth.Twitter/AspNet.Security.OAuth.Twitter.csproj#L8-L11

[2022-01-07 07:28] martincostello commented on #641
Related: #633

[2022-01-07 17:08] timothydilbert commented on #641
I am now able to compile. Thank you, Martin.

[2022-01-07 17:08] #641 closed, assigned to martincostello

[2022-01-16 01:10] NioZero opened #642 "Trovo Support"
**Is your feature request related to a problem? Please describe.**
Trovo is a Stream platform that supports [OAuth](https://developer.trovo.live/docs/APIs.html#_3-authentication) and it would be great to support in ASP.NET.

**Describe the solution you'd like**
Added support to Trovo Authentication

**Describe alternatives you've considered**
I will try to implement my own solution for this integr

[2022-01-19 21:40] serber commented on #639
Hi, i check this and found its redundant.

`FormUrlEncodedContent` will add `application/x-www-form-urlencoded` before request sending.

[code]

Created PR #643

[2022-01-19 21:45] martincostello commented on #639
Thanks for looking at this.

Did you validate that the absence of the header didn't cause an error from the OAuth service?

[2022-01-19 21:48] serber commented on #639
Using `FormUrlEncodedContent` type will add header automatically, so we don't need to use explicitly adding header like this
```request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/x-www-form-urlencoded")); ```

[Proof](https://github.com/microsoft/referencesource/blob/master/System/net/System/Net/Http/FormUrlEncodedContent.cs#L18)

And i test this before commiting code =)

[2022-01-19 21:49] kevinchalet commented on #639
`FormUrlEncodedContent` affects the `Content-Type` header that contains the type of the request body, not the `Accept` header that represents the content type(s) the client would like to get in return.

With OAuth 2.0, returning `Content-Type: application/x-www-form-urlencoded` is illegal so specifying `Accept: application/x-www-form-urlencoded` doesn't make much sense: before removing it, we'd li

[2022-01-19 22:13] serber commented on #639
Done. Tested with and without Accept header

Fiddler log for request **with** Accept header
**Request**
[code]

**Response**
[code]

Fiddler log for request **withoud** Accept header
**Request**
[code]

**Response**
[code]

[2022-01-19 22:20] kevinchalet commented on #639
Excellent, thanks @serber!

[2022-01-20 11:39] #639 closed, assigned to nobody

[2022-01-20 11:39] #637 closed, assigned to nobody

[2022-01-20 11:40] #634 closed, assigned to nobody

[2022-01-21 19:58] serber commented on #642
@martincostello, please check PR #645

[2022-01-22 09:16] #642 closed, assigned to nobody

[2022-01-22 09:53] martincostello commented on #642
The new Trovo provider has now been published to [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Trovo/6.0.3). Thanks for your contribution @serber 🎈

[2022-01-22 19:10] levimatheri opened #647 "Add Wix provider"
**Is your feature request related to a problem? Please describe.**
Wix.com offers [OAuth2 API](https://dev.wix.com/api/rest/getting-started/authentication#getting-started_authentication_authentication). I'd like to implement it as Provider.

**Describe the solution you'd like**
Add a new provider for Wix.com

[2022-01-22 19:34] kevinchalet commented on #647
Hey @levimatheri.

Thanks for your offer! I assigned this ticket to you. Let us know if you need help.

[2022-01-22 20:23] levimatheri commented on #647
Thanks @kevinchalet!

[2022-01-24 19:05] kennethlou opened #648 "LinkedIn Login Issue - The redirect_uri does not match the registered value"
Hi,

I am trying to use the OAuth provider for LinkedIn.

In the AutthenticationController.cs, I simply put the localhost as redirect uri:

return Challenge(new AuthenticationProperties { RedirectUri = "https://localhost:44318/" }, provider);

I think I also set up the clientID and clientSecret correctly in the startup.cs.

In the LinkedIn developer Auth>OAuth2.0 settings>Authorized redirect urls

[2022-01-25 10:32] martincostello commented on #648
This seems like some sort of configuration mismatch between your app and LinkedIn rather than an issue with the provider.

* Are you definitely running it on `https://localhost:44318`?
* Have you tried removing the trailing slash?
* Have you tried adding `/signin-linkedin` to the path?

[2022-01-25 14:08] kennethlou commented on #648
Thanks for your reply. It seems that I need to add /signin-linkedin to the path and it seems to work again.

[2022-01-25 14:09] #648 closed, assigned to nobody

[2022-01-25 21:52] serber commented on #547
@martincostello, hello.
Since no activity in this thread, i created provider for Xero. It works, but i have trouble with unit test. How can i generate id_token for bundle.json or i should/can use id token values handled with fiddler when i testing in Mvc.Client demo app?

[2022-01-25 21:56] martincostello commented on #547
If you take a look at the Apple and SuperOffice tests, you'll find expired JWTs in the them. The expiry checks are then disabled in the tests (or the clock frozen) so they don't expire.

You can either construct them by hand/with code, or capture a token from a real request and use/modify that, as long as there's nothing truly sensitive encoded in it.

[2022-01-26 18:08] serber commented on #547
@martincostello, created PR #649

[2022-01-26 18:10] serber commented on #547
Fiddler logs

[code]

[code]

[code]

[2022-01-26 18:43] #547 closed, assigned to nobody

[2022-02-02 01:44] levimatheri commented on #647
Unfortunately [it doesn't seem like there's an endpoint to get the current user details](https://dev.wix.com/api/rest/members/members), nor a member-id in the JWT...

[2022-02-02 10:30] martincostello commented on #647
I found a reference to a JavaScript API to do that [here](https://www.wix.com/velo/reference/wix-members-backend/currentmember/getmember), which implies there's an API _somewhere_ to obtain the current user. However so far I haven't been able to find this SDK's code to look at the implementation to see if I can find what that endpoint is, if it does indeed exist.

[2022-02-02 20:47] levimatheri commented on #647
Good find. I'll dig into this.

[2022-02-03 17:55] levimatheri commented on #647
Not sure about this anymore lol. It seems there's no way of getting current user as per [this response](https://www.wix.com/velo/forum/main/comment/61fbf424cebc4700163b2eea). Parsing the token that's returned from the Wix authorization server reveals info about the app instance only. I presume the `Principal` in this case is the installed app instance and not a user(?).

[2022-02-03 18:13] martincostello commented on #647
I'm afraid I don't know the answer to that one. Maybe ask Wix how to find out what the current user's ID is?

[2022-02-04 07:27] ElanHasson opened #652 "Add DigitalOcean provider"
Please provide a DigitalOcean provider: https://www.digitalocean.com/community/tutorials/how-to-use-oauth-authentication-with-digitalocean-as-a-user-or-developer

Alternative is to implement oAuth myself.

[2022-02-05 03:12] ElanHasson commented on #652
I'm happy to take a stab at implementing myself.

[2022-02-09 04:59] ElanHasson commented on #652
Done. PR to follow.

[2022-02-09 18:56] #652 closed, assigned to nobody

[2022-02-10 10:07] martincostello commented on #547
The Xero provider is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Xero/) - thanks again for your contribution @serber! 🥳

[2022-02-10 10:07] martincostello commented on #652
The DigitalOcean provider is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.DigitalOcean/) - thanks for your contribution @ElanHasson 🍪

[2022-02-17 18:07] martincostello opened #658 "ASP.NET Core 7 Support"
Support for ASP.NET Core 7 will be available for the currently shipping OAuth providers soon after the final .NET 7.0 release ships in November 2022.

In the meantime, packages for ASP.NET Core 7 are available from our [MyGet feed](https://www.myget.org/gallery/aspnet-contrib) starting with version `7.0.0-preview.1.22117.73` for .NET 7 preview 1.

[2022-02-18 21:55] ClassyCircuit opened #659 "Is Blazor supported?"
Is this working also with Blazor?

[2022-02-22 13:07] martincostello commented on #659
All the providers in this library depend on the [Microsoft.AspNetCore.Authentication.OAuth](https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.OAuth/) NuGet package, which as far as I'm aware is not supported for Blazor scenarios. In which case, we would not support Blazor either. It's certainly not something we test for today.

[2022-03-02 08:00] LeaFrock commented on #385
It's broken after using 6.x.  The `PrivateKey` of config must be like below,

[code]

It’s due to the [change](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.Apple/Internal/DefaultAppleClientSecretGenerator.cs#L106) of  `DefaultAppleClientSecretGenerator`.  Currently it uses `ImportFromPem` instead of `ImportPkcs8PrivateKey`.

@martincostello M

[2022-03-02 08:10] martincostello commented on #385
The change you're referring to was part of #563, which was to leverage built-in APIs to be able to read the file from disk as-is.

The change should have been to the API only, rather than the behaviour. If there has been a change, it was unintentional as otherwise I'd have documented it (or not changed it).

I don't recall finding this in my testing upgrading my sample site to .NET 6 though, it "j

[2022-03-02 08:41] LeaFrock commented on #385
Got it.

The changes hit me just now 😢 , as I didn't use the `.p8` file but copy the body of content(without `BEGIN/END`) to my `appsettings.json` before. Because `ImportFromPem` works on [PemLabels.cs](https://github.com/dotnet/runtime/blob/release/6.0/src/libraries/Common/src/System/Security/Cryptography/PemLabels.cs), my website threw exceptions below,

[code]

That's why I immediately come and

[2022-03-02 09:28] martincostello commented on #385
Ah I see - looks like you were doing something similar to the workaround we already had in the code to remove the labels. As my sample site was going through that code block, it still worked post-migration.

Sorry the change caused you some pain.

[2022-03-14 18:12] Luk164 opened #661 "Could support for .NETCore3.1 be added to some newer connectors?"
**Is your feature request related to a problem? Please describe.**
I recently needed a Keycloak connector for a .NetCore3.1 project and found out only 5.0+ is supported. I forked and modified it to support 3.1 and it worked without much trouble and I do not see why it could not target even .NetStandard.

**Describe the solution you'd like**
Adding .NetCore3.1 or NetStandard targets to all modules

[2022-03-14 18:21] martincostello commented on #661
Unfortunately the packages cannot target .NET Standard as they depend on a component of ASP.NET Core itself (`Microsoft.AspNetCore.Authentication.OAuth`) which is only available in the shared framework (`Microsoft.AspNetCore.App`) and not from NuGet since ASP.NET Core 3.0.

We haven't previously backported new changes to previous versions because there wasn't any demand (until now) and because it'

[2022-03-14 18:58] Luk164 commented on #661
@martincostello Oh well, at least I tried. The project I am working on is stuck on 3.1 for the foreseeable future. While the base website could be updated all the way to .NET6, the plugins we rely on are another matter entirely. Would there be any objection if I created my own nuget package for that one specific module? I will of course credit this repo.

[2022-03-14 19:00] martincostello commented on #661
No objections from me!

[2022-03-15 16:04] Luk164 commented on #661
Here is the resulting package, should anyone ever need it. https://www.nuget.org/packages/Luk164.AspNet.Authorization.KeyCloak/

[2022-03-15 16:04] #661 closed, assigned to nobody

[2022-03-15 16:13] kevinchalet commented on #661
FWIW, the MSFT OIDC handler is probably a better choice for KeyCloak integration: KeyCloak fully supports OpenID Connect and the OIDC handler will benefit from that by enforcing more security checks than what the OAuth 2.0 base handler and the KeyCloak provider from this repo support (e.g there's no `id_token` validation at all in the KeyCloak provider).

[2022-03-15 16:55] Luk164 commented on #661
@kevinchalet Do you by any chance have an example for what an OIDC configuration would look like for keycloak?

[2022-03-15 19:27] kevinchalet commented on #661
https://github.com/tuxiem/AspNetCore-keycloak should put you on the right track 😃

[2022-03-15 19:30] #659 closed, assigned to nobody

[2022-03-15 20:07] Mike-E-angelo opened #663 "Question: Guidance on Suspended Accounts?"
To start with here, I recently deployed a project -- nay, startup! 😁 -- with several providers from this project mentioned (along with what feels like half of NuGet!) in my acknowledgements here:
https://alpha.starbeam.one/about/acknowledgements

Additionally, I go on and on how awesome OAuth/2 is here, giving a shoutout to this project here:
https://www.youtube.com/watch?v=KRmf8IWpOmo&list=PLMq1y

[2022-03-15 20:21] kevinchalet commented on #663
Thanks for the kind words!

I don't know the answer for Twitter specifically but I can answer from a spec/general perspective: neither OAuth 2.0 nor OIDC say anything about this scenario, so it's always implementation-specific.

While you have zero control over what the IdP/authorization server will do in this case, you generally have these 3 options to mitigate this issue _client-side_:
  - Provi

[2022-03-15 21:17] Mike-E-angelo commented on #663
Thank you for the suggestions @kevinchalet they are appreciated.

It's funny you mention account recovery as that is where I am gravitating to at present.  I currently allow the user to associate one ore more emails to their account.  I also allow them to connect a 2FA application (via aspnetcore, so awesome).

So the idea is that if the account is somehow blocked from the provider, I could still

[2022-03-17 12:31] Alex-Dobrynin opened #664 "TikTok authentication"
It Would be great if you could provide TikTok auth implementation

[2022-03-17 21:02] kevinchalet commented on #663
You could create a minimal OIDC server (e.g based on OpenIddict) and use the MSFT OIDC handler as an equivalent of the providers developed in this repo (they use exactly the same authentication abstractions).

Oh yeah. It happened to me (as a user) last month: I used Steam authentication with a service that no longer supports it and requires doing an email recovery dance to add a password to the a

[2022-03-17 21:03] kevinchalet commented on #664
We typically rely on external contributions when it comes to adding new providers. Would you be interested?

[2022-03-18 13:15] bretbas commented on #595
yes, it's be useful for me too

[2022-03-22 08:43] kinosang commented on #595
you can create a PR to contribute the provider.

I'd like to help but I cannot read Русский язык.

[2022-03-22 09:54] Mike-E-angelo commented on #663
Exactly what I am trying to avoid here, @kevinchalet. 😁  Thank you for sharing your story.

Apologies but that seems a bit advanced for me at the moment.  Do you have a suggested reference/article/resource I could start with to further investigate?  Or perhaps a repository with a sample server as a starting point?

For further reference/context, I have basically have about 10 OAuth2 providers for

[2022-03-22 13:13] martincostello commented on #663
I would _imagine_ that if your account has been suspended, when you logged in on the provider's login form, it would fail to authenticate and tell you that. If it did do that, then you'd never be redirected back to original application's `/signin-{name}` endpoint.

If authentication succeeded but you were "banned", "restricted" (or whatever), then that's possibly something discoverable via somethi

[2022-03-22 15:23] kinosang commented on #595
@bretbas

~By reading some codes for PHP, I figured that you can just use the Microsoft OpenIdConnect provider.~

I wonder if there's an API to reterive the user ID instead of decoding the JWT token?

[2022-03-24 14:11] Mike-E-angelo commented on #663
Thank you very much for taking the time to provide some suggestions and thoughts @martincostello.

I have to say that am a little shocked that no one anywhere can tell me exactly what to expect here.  I am almost tempted to create a burner account and perform some dubious activities with it and see if I can get a suspension that way.  That was actually my first thought at how to approach this prob

[2022-03-24 14:11] #663 closed, assigned to nobody

[2022-04-11 00:22] JhOnNeY opened #668 "using session with OnCreatingTicket Event throws exception with session not configured message."
**Describe the bug**
In the OAuth provider OnCreatingTicket event, I am unable to access the current context's session when the user is redirected to the callback path after successfully authenticating with a remote provider.

I am able to access and modify the session in controllers.

I also tried with variations of `context.Response.HttpContext...` and `context.Request.HttpContext...`

This also

[2022-04-11 00:24] kevinchalet commented on #668
It's not a bug: your middleware configuration is invalid for this scenario. Move `app.UseSession()` before `app.UseAuthentication()` and it should work.

[2022-04-11 00:29] JhOnNeY commented on #668
Wow 🤦‍♂️ You are right. Thank you!

I suppose that means my other issue will end up being just as simple.

[2022-04-11 00:42] #668 closed, assigned to nobody

[2022-04-17 03:55] ArcherTrister opened #670 "GetExternalLoginInfoAsync returns null"
**Describe the bug**

Provider: Wexin

① Call to _signInManager.GetExternalLoginInfoAsync() always returns null

See [SignInManager](https://github.com/dotnet/aspnetcore/blob/c85baf8db0c72ae8e68643029d514b2e737c9fae/src/Identity/Core/src/SignInManager.cs)

[code]

If the WeChat official account is not associated with the open platform，the unionid is null, so, the providerKey always return null

Se

[2022-04-20 13:58] #670 closed, assigned to nobody

[2022-04-23 08:53] ugookoro commented on #523
Hello @j-bbr , good day. Are you able to share a snippet of code for the uncovered part of the flow?. I also get the id_token and authorizatioin code from the app, and need to validate that the user was indeed verified on apple's end, and use extract information (name, email perhaps) to give the user access to resources on my server.

[2022-04-23 09:27] danielniccoli opened #674 "How to skip email confirmation?"
Hello,

am I able to skip the email address confirmation?

![grafik](https://user-images.githubusercontent.com/2971735/164888666-d7b0d26a-bc59-46c6-919a-ed7a95eea77f.png)

I want my web app to use the information provided in the claims and create the user account without any further interaction from the visitor.

[code]

[2022-04-23 09:45] martincostello commented on #674
This functionality is part of ASP.NET Core Identity, rather than our OAuth providers.

I'm not familiar enough with it to offer some specific advice, but I would imagine there'd be a configuration option for it somewhere.

[2022-04-23 12:22] kinosang commented on #674
please consider reading the Asp.Net Core docs before starting use it.

https://docs.microsoft.com/en-us/aspnet/core/security/?view=aspnetcore-6.0

[2022-04-23 15:42] j-bbr commented on #523
Hi @ugookoro most of the handling is here. You need to generate the Apple Client secret like in the Apple OAuth Provider Code. Make a request to apple servers with the authorization code you got on the client and then you can verify and extract info from the claims with the method below
[code]

[2022-04-24 10:34] Mike-E-angelo commented on #663
Quick update here as there has been a breakthrough after long last.  The suggestion was made to create a new account and make use of a "feature" of Twitter whereby if you set your age to under 13 you instantly become suspended.  I actually have experienced this before (when creating a project account and setting its birthday to the creation date) and should have thought of this.

In any case, hope

[2022-04-25 17:46] kevinchalet commented on #371
I took a look at the Last.FM docs and it looks like they use a completely custom protocol (it's not even OAuth 1.0): https://www.last.fm/api/authspec

It's not something we'll be able to maintain here, so closing.

[2022-04-25 17:46] #371 closed, assigned to nobody

[2022-04-25 17:49] kevinchalet commented on #572
Hey @limaAniceto. Do you have (good) news for us? 😃

[2022-05-12 21:11] #674 closed, assigned to nobody

[2022-05-18 11:04] misha-fm opened #679 "IMemoryCache in Apple auth library"
Hi, @martincostello!

We are using your 'AspNet.Security.OAuth.Apple' library. First of all, thank you for this great lib!

Recently we faced an issue on our load-balanced 2-server cluster, using the library. Looks like, that when initial login request lands on server1, and consequent redirect from apple website lands on server2, we can access a lot of properties for this whole login session.

Our

[2022-05-18 11:21] martincostello commented on #679
The `IMemoryCache` is just used to cache a client secret used to authenticate requests to the Sign in with Apple servers until the generated JWT is about to expire:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/4daeee16aac77a7705db45206668458fdf2916e6/src/AspNet.Security.OAuth.Apple/Internal/DefaultAppleClientSecretGenerator.cs#L34-L53

As this is secret material, it is j

[2022-05-21 16:27] Mike-E-angelo opened #680 "Stripe Connect Support"
**Is your feature request related to a problem? Please describe.**
Stripe Oauth2 support:
https://stripe.com/docs/connect/oauth-reference

**Describe the solution you'd like**
Amazing AspNetContrib Oauth capability in my application BUT WITH STRIPE 😁

**Describe alternatives you've considered**
NONE

**Additional context**
I am volunteering for this one.  The only ask is that I would like to have

[2022-05-21 16:46] Mike-E-angelo commented on #572
FWIW I am in active correspondence with MixCloud support (again :P ) to see what is happening here.  I have to say I am a bit embarrassed by the developments here.  A representative of a company updates a thread to let everyone know that this issue "isn't forgotten", and then ghosts the thread to do exactly that.  It reflects poorly not only on the organization but also on me for being the one to

[2022-05-23 14:57] martincostello commented on #680
A quick scan of the linked document makes it _look_ like standard OAuth-y flow to me, there's just a bunch of additional optional fields to do things like pre-fill form fields, see the granted scopes etc.

If you look at the Amazon, Patreon and Twitter providers they have similar functionality to request additional properties as part of HTTP requests in the flow.

I'd have thought Patreon and Shop

[2022-05-23 15:04] Mike-E-angelo commented on #680
I'm digging your thinking on that @martincostello.  I'll take a look at both Patreon and Shopify.  Note that I am already partial to Patreon as I am actively using it from this repository as one of my application's supported providers. 😁

[2022-05-24 16:41] Mike-E-angelo commented on #572
Naturally, after my Grumpy McGrumpyface rant, I received a reply from MixCloud that this should be fixed now that we should try again.

![](https://beebom.com/wp-content/uploads/2020/01/Hide-the-Pain-Harold-is-Imgur%E2%80%99s-Meme-of-the-Decade.jpg?w=640&quality=75)

😁😅😭

I will add this to my things to do.  I suddenly got swamped with a ton of tasks so it should be later this week, if not the wee

[2022-05-27 15:05] wthks opened #682 "MapJsonKey not showing in claims"
I added a new map into the collection

[code]
but in the ClaimsPrincipial the collection does not have this map.
it only has the discord id, username and discriminator

what am i doing wrong?

[2022-05-27 15:34] martincostello commented on #682
The code looks correct.

Have you inspected the JSON returned from Discord to check it actually has a `banner` property in the response and that it has a value if it does?

The claims actions are run here, which is code from the `Microsoft.AspNetCore.Authentication.OAuth` NuGet package, so isn't part of this repository's code.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob

[2022-05-27 15:52] wthks commented on #682
well. the banner was null in the content, I thought it will also be displayed as null in the claims.. thx

[2022-05-27 15:52] #682 closed, assigned to nobody

[2022-05-31 20:41] NikolaiTsepalov opened #683 "Xamarin forms iOS project with Apple Sign-in and ASP.NET API server as a backend"
AspNet.Security.OAuth.Apple 6.0.6

I'm working on a Xamarin forms IOs application.
As the authentication component, I use the "Azure Active Directory B2C, and access a Web API with the resulting tokens".
https://github.com/Azure-Samples/active-directory-b2c-xamarin-native

It did not pass Apple store submission; they want me to use the native "Sign in with Apple".

The closest to the subject blog

[2022-05-31 20:45] martincostello commented on #683
I'm afraid I'm not familiar with Xamarin.

If it helps you out, there's a working sample app for Sign In with Apple here you can look at see to see the minimum amount of required code: https://github.com/martincostello/SignInWithAppleSample

[2022-05-31 21:43] NikolaiTsepalov commented on #683
I already saw this example; it uses Apple sign-in button on the webpage.
I am using this as the sample for the XAMARIN client:
https://github.com/xamarin/Essentials/tree/develop
I'm already getting the token in it.
I thought you can help with the setting for AddApple on the ASP.NET API server for this scenario.

[2022-06-01 13:05] martincostello commented on #683
Sorry, I don't quite follow what you're asking for. Is it getting an API to accept an existing JWT issued by Apple for authentication/authorization (not the OAuth flow itself)?

[2022-06-01 13:13] trejjam opened #684 "OAuth.Apple with `Microsoft.IdentityModel.Protocols.OpenIdConnect=6:18.0`"
### Describe the bug

`AspNet.Security.OAuth.Apple` does not work with `Microsoft.IdentityModel.Protocols.OpenIdConnect` version [`6.18.0`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases/tag/6.18.0).

The issue is in the newly introduced JWT header `cty`. Apple does not accept JWT with this header. It results in this error:
[code]

### Steps To reprod

[2022-06-01 13:25] martincostello commented on #684
Yep, I can replicate this with my sample website.

[code]

I'm trying to see if there's a way to workaround this without changing the provider.

[2022-06-01 13:38] trejjam commented on #684
I looked through it also. We handle that in our previous generation app in this way:
![image](https://user-images.githubusercontent.com/3594540/171417412-af3dcb26-4d7d-400b-a32c-81941f7cb318.png)

Obviously, it constructs JWT manually. This is not great, but it's a possible solution.

[2022-06-01 13:41] kevinchalet commented on #684
The AzureAD folks are already aware of that: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1861

In the meantime, staying on the version used by the Apple provider seems like an easy option.

[2022-06-01 13:44] martincostello commented on #684
Good find @kevinchalet. You could also just downgrade to 6.17.0, rather than all the way down to 6.10.0.

[2022-06-01 14:15] trejjam commented on #684
Yes, I am aware of this fallback. I just tried not to be cut from possible feature fixes/features by doing that without an attempt to solve the issue :)

If the `Protocols` library will solve it that's fine for me. Thank you for finding out.

[2022-06-01 15:30] jgutierrezsegovia commented on #385
Hello, im trying to pass PrivateKey from string on AuthenticationConfiguration but im getting an error that doesnt make sense to me.

Key string doesnt contains lines '-----BEGIN PRIVATE KEY-----' and '-----END PRIVATE KEY-----'

Error:
[code]

 Currently, my code import PrivateKey as bytes.

[code]

What's happening?
Thanks!

[2022-06-01 15:51] LeaFrock commented on #385
@jgutierrezsegovia  Oh you're still using the older version. Have you ever checked whether the config(both appsettings and in-memory) of key is valid(format/typo...)? You can read the source codes [here](https://github.com/dotnet/runtime/blob/release/6.0/src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/CngKeyLite.cs#L32) and try to find the deep answer of your

[2022-06-01 19:54] NikolaiTsepalov commented on #683
I am asking how should I set up the AddApple() service  to work in the same way as my previous https://github.com/Azure-Samples/active-directory-b2c-xamarin-native did:

1. On the client, add a token to the HttpClient
var httpAuthClient = new HttpClient();
httpAuthClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

2. On the ASP.NET API server in the Start

[2022-06-02 06:50] jgutierrezsegovia commented on #385
Yes, i think so, i tried to pass the key as: '-----BEGIN PRIVATE KEY-----<your private key>-----END PRIVATE KEY-----' but i get an error too,
[code]
I really dont know what can i do 😢

[2022-06-02 07:13] martincostello commented on #385
Two ideas:

1. Check that you have new lines with `\n` (Linux) not `\n\r` (Windows)
2. Re-download the original private key file and use the content from that as the private key value.

[2022-06-02 08:59] jgutierrezsegovia commented on #385
Hello, thanks for answer.
I solved the problem, i only needed to set WEBSITE_LOAD_USER_PROFILE to 1 on my AppService configuration, and thats because private keys are stored in user store, and my AppService didnt has permissions to access this store.

After it, i get another error
OAuth token endpoint failure: Status: BadRequest;Headers: Server: Apple
;Body: {"error":"invalid_client"};.

But this

[2022-06-02 11:37] martincostello commented on #683
I just had a quick experiment with trying to do this using [my sample site](https://github.com/martincostello/SignInWithAppleSample), and I think I got what you're trying to do working.

In [this commit](https://github.com/martincostello/SignInWithAppleSample/commit/5643b3ceb66419ec03e1991e32833fba6491c773) a second JWT bearer authentication scheme is added to use with requests that have an `Autho

[2022-06-02 14:28] kevinchalet opened #686 "Is Automatic dead?"
As part of https://github.com/openiddict/openiddict-core/issues/1451, I'm taking a look at all the providers we support to ensure it will be "easy" to port them to OpenIddict. One of them - Automatic - seems to be dead: all the endpoints point to DNS sub-domains that no longer exist.

@supergibbs you're the one who added this provider back in 2016, do you happen to know whether Automatic is still

[2022-06-02 15:15] kevinchalet opened #687 "Determine whether `LineAuthenticationHandler.ExchangeCodeAsync()` is necessary"
AFAICT, `LineAuthenticationHandler.ExchangeCodeAsync()` doesn't seem to do anything special so it's probably not necessary.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/cbbc7a1cb78ff9898b6110e8c60aae967fd86356/src/AspNet.Security.OAuth.Line/LineAuthenticationHandler.cs#L35-L66

[2022-06-02 15:52] kevinchalet opened #688 "The Untappd provider sends token request parameters in both the query string and the request form"
The Untappd provider uses GET requests and sends the token request parameters in both the query string and the request form using formurl-encoding, which is a strong sign something is not right as GET requests are not expected to have a content attached (.NET Core's `HttpClient` allows it, but on .NET Framework, the following code would throw an exception:)

https://github.com/aspnet-contrib/AspNe

[2022-06-02 21:57] supergibbs commented on #686
Hi! Yes, Automatic shutdown and my [original repo is archived](https://github.com/supergibbs/AutomaticSharp).

[2022-06-03 08:34] martincostello commented on #686
I've pushed up #689 to remove the provider.

If you'd like to mark the packages as obsolete in NuGet.org @kevinchalet, then we can put it out to pasture and close off this issue.

[2022-06-03 08:41] kevinchalet commented on #686
Sure, I can do that. Does that sound good enough?

[2022-06-03 08:42] martincostello commented on #687
Reviewing the code, the only difference appears to be that the OAuthHandler implementation [sets `HttpRequestMessage.Version`](https://github.com/dotnet/aspnetcore/blob/4aa4ec39894cb9ca4bc5cf50460ded9c46846e23/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L212).

[2022-06-03 08:42] martincostello commented on #686
LGTM 👍

[2022-06-03 08:46] kevinchalet commented on #686
Done:

![image](https://user-images.githubusercontent.com/6998306/171821054-351e4e55-45b1-4a52-b4bc-e913d611c93c.png)

[2022-06-03 08:52] kevinchalet commented on #686
Thanks for the details, @supergibbs 👍🏻

[2022-06-03 11:33] #686 closed, assigned to kevinchalet

[2022-06-07 22:50] NikolaiTsepalov commented on #683
Code never hits the line
string? idToken = tokens.Response!.RootElement.GetString("id_token");
Neither CreateTicketAsync or HandleRemoteAuthenticateAsync are getting called.

I found something suspicious about AppleAuthenticationOptions.
I added a few logs to dump the AppleAuthenticationOptions.
In all cases ClientSecret  = '' is empty.
I addded an Additional check before options.UsePrivateKey: **

[2022-06-08 11:47] Mike-E-angelo commented on #572
A quick update here: I attempted to use the latest API and it still appears to not work.  I have notified MixCloud but I also wanted to quickly verify my understanding here to ensure that it is accurate:

1. ASP.NET (MixCloud) Oauth Provider takes the dictionary state of the authentication and encyrpts it as an encrypted string value
2. This encrypted string value gets sent to the Oauth2 authentic

[2022-06-08 11:49] Mike-E-angelo commented on #680
Checking in on this issue.  I have my eye on this feature still.  I was not able to get to Stripe Payouts for my launch/release, only the Checkout/Payments (which are amazing BTW) which do not require Oauth2.

I have some critical issues/bugs to address and then I will start getting Stripe Payout support in there, at which time I will be looking at this issue. 👍

[2022-06-08 13:32] kevinchalet commented on #680
I implemented Stripe OAuth 2.0 support for a client last year and it went flawlessly as no workaround was required (if only all the services could be that easy to integrate 🤣)

The only oddity - but maybe it has changed since - is that while they support access and refresh tokens, they actually recommend using an API key instead of the access token when communicating with their APIs (so the code f

[2022-06-08 14:47] Mike-E-angelo commented on #680
OK thank you @kevinchalet for that heads up.  Am I to understand correctly that you mean passing the API key in the URL to the authentication endpoint rather than the access token?  That does seem a bit of an oddity indeed if so.  I guess there's always the client "secret" to keep things secure, but I'd rather use a token than expose the world to the application identifier used to associate me wit

[2022-06-08 16:01] Mike-E-angelo opened #690 "Denying Consent for PayPal Provider Appears to Invoke OnRemoteFailure Event Rather Than OnAccessDenied Event"
### Describe the bug

I am testing out my Oauth2 providers for my application.  Microsoft, Google, Reddit, and Twitter all have workflows that gracefully return to the home page and/or invoke the `RemoteAuthenticationOptions.Events.OnAccessDenied` event (which I have configured to simply end response and return to home page).

However, when using PayPal, the result is a 500 error.  The error throw

[2022-06-08 16:03] kevinchalet commented on #690
Have you tried to set `AccessDeniedPath` to a non-empty value in the options?

[2022-06-08 16:06] martincostello commented on #690
It's _possible_ that PayPal uses some non-standard error code for this flow.

We've had this problem before with LinkedIn, see #480.

If the error code isn't handled by the base OAuth handler in the dotnet/aspnetcore repo, then it would need custom code to handle it. Alternatively, you could write your own event handler for `OnRemoteFailure` to deal with it appropriately (this is what I've done in

[2022-06-08 16:21] Mike-E-angelo commented on #690
I have not, @kevinchalet.  I have been making use of the `OnAccessDenied` event to cause a redirect. Am I correct in understanding that this is basically a simpler way of doing that?  If so, I have some changes to make!

Yeah @martincostello that's what I am looking into now.  Basically looks like I will be checking for `error=access_denied`?

[2022-06-08 16:29] kevinchalet commented on #690
Yeah, basically. It should handle `access_denied` without any modification as it's a standard error code.

[2022-06-08 16:38] Mike-E-angelo commented on #690
So this works exactly the same with the providers I was using with `OnAccessDenied` with and have removed that event.  The PayPal provider still seems to call `OnRemoteFailure` even though `error=access_denied` is in the URL.  The OnAccessDenied event is not called (I checked before removing it from the others :)).  This is what I am having to assign to the `OnRemoteFailure` event ATM and works as

[2022-06-08 16:53] martincostello commented on #690
The code for `access_denied` is [here](https://github.com/dotnet/aspnetcore/blob/e5f183b656a0e8bc087108130a5a9b54ae94494e/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L77-L100). Before that it [checks the OAuth state](https://github.com/dotnet/aspnetcore/blob/e5f183b656a0e8bc087108130a5a9b54ae94494e/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L63-L69), and throws an exception if

[2022-06-08 17:01] Mike-E-angelo commented on #690
Great.  Another one. 😅😭

I've simplified the steps to reproduce this: you don't need to actually use the PayPal workflow, but use the following URL (mentioned in the original post) on your local server with the PayPal provider installed:

`https://<site>/signin-paypal?error_uri=https%3A%2F%2F<site>%2Fsignin-paypal&error_description=Consent%20denied&error=access_denied`

You should get the same res

[2022-06-09 01:18] NikolaiTsepalov commented on #683
Today I decided to make a fork off your SignInWithAppleSample to use it as a start point:
https://github.com/NikolaiTsepalov/SignInWithAppleSampleX

I've read README.md and
https://developer.okta.com/blog/2019/06/04/what-the-heck-is-sign-in-with-apple#how-sign-in-with-apple-works-hint-it-uses-oauth-and-oidc

One thing I was doing wrong for sure: the client_id is the service ID:
“Services IDs: the

[2022-06-09 05:45] martincostello commented on #683
You fork is missing a change to work around this issue: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/684#issuecomment-1143632769

[2022-06-09 05:48] martincostello commented on #683
Ah no, it was fine, but you reintroduced the problem by upgrading in this commit: https://github.com/NikolaiTsepalov/SignInWithAppleSampleX/commit/62c2542f1abaf36a3897cbb3ff099b69053811e1

[2022-06-09 19:33] NikolaiTsepalov commented on #683
Downgrading to Microsoft.IdentityModel.Protocols.OpenIdConnect" Version="6.17.0"
Didn't help same result

[2022-06-09 19:35] martincostello commented on #683
Ok, well now you have a different problem. What do your error logs say?

[2022-06-09 19:41] NikolaiTsepalov commented on #683
Where log files are?
in LogFiles eventlog.xml? or in the Transform folder?

[2022-06-09 19:43] martincostello commented on #683
Nowhere by default, you'll need to enable logging.

For example, if it's running in Azure App Service, enable logging from the Azure portal and view the log stream.

[2022-06-09 19:45] NikolaiTsepalov commented on #683
eventlog.xml has error looks like a error reading p8?
<EventData>
<Data>Category: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware EventId: 1 SpanId: c747dfb010a8ebf3 TraceId: 0e196893b58efbdb3160c4cd80f001c7 ParentId: 0000000000000000 RequestId: 8000d541-0002-ff00-b63f-84710c7967bb RequestPath: /signin-apple An unhandled exception has occurred while executing the request. Exception: Sy

[2022-06-09 19:46] NikolaiTsepalov commented on #683
ok I will enable logging

[2022-06-09 19:47] martincostello commented on #683
That error suggests your `.p8` file is invalid or misconfigured.

[2022-06-09 19:48] NikolaiTsepalov commented on #683
should I keep
 -----BEGIN PRIVATE KEY-----
 -----END PRIVATE KEY-----
 Or do I need to delete them?

[2022-06-09 19:50] martincostello commented on #683
Those are needed in v6.0.0+ of the provider.

[2022-06-09 19:51] NikolaiTsepalov commented on #683
yep, I never deleted them...
Do you suggest regenerating a new key?

[2022-06-09 19:59] martincostello commented on #683
How are you loading the secret? From a file on disk in the site, through an environment variable or via Key Vault (or something else entirely)?

[2022-06-09 20:01] NikolaiTsepalov commented on #683
From the file
And I did set WEBSITE_LOAD_USER_PROFILE to 1

[2022-06-09 20:07] martincostello commented on #683
Does the file have the right name to be found by this line of code for your configured key ID?

https://github.com/NikolaiTsepalov/SignInWithAppleSampleX/blob/ae4228dff73e9ef175f458eee3bb30b886cbb11f/src/SignInWithApple/AuthenticationModule.cs#L52

I'm running out of ideas for what might be the problem with your configuration.

[2022-06-09 20:12] NikolaiTsepalov commented on #683
8NWK7GUM8T
AuthKey_8NWK7GUM8T.p8
but 8NWK7GUM8T is "KeyId" not team ID

[2022-06-09 20:12] NikolaiTsepalov commented on #683
OK let me just regenerate the key...

[2022-06-09 20:13] martincostello commented on #683
I edited the comment earlier; I was working from memory and thought it was the team ID before I checked.

[2022-06-09 21:19] NikolaiTsepalov commented on #683
It is definitely related to the "cannot find the file specified"
But I added p8 file in both wwwroot and the site folders see attacment
<img width="416" alt="Screen Shot 2022-06-09 at 2 00 57 PM" src="https://user-images.githubusercontent.com/26150523/172945917-bbac0819-9585-4d77-ba94-e7c0af258d7b.png">

"System.Exception: An error was encountered while handling the remote login.
 ---> Internal.Cr

[2022-06-09 21:20] NikolaiTsepalov commented on #683
Where can I just "hardcode" the key in the code?

[2022-06-09 21:23] martincostello commented on #683
Assign a callback to this property on the options to return it: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/5f311082a46ed519d0d6f7428e7018870657ebe9/src/AspNet.Security.OAuth.Apple/AppleAuthenticationOptions.cs#L90

[2022-06-12 23:37] NikolaiTsepalov commented on #683
The "The system cannot find the file specified" message is very misleading.
It has nothing to do with the missing P8 file. After experimenting with the "hardcoded" key, I found what my issue exactly is the issue below:
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/375
I will look at it and let you know

[2022-06-13 23:27] NikolaiTsepalov commented on #683
"The system cannot find the file specified"
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/375
It definitely was related to the App Service plan.
It cannot be the two lowest plans with the "Shared infrastructure", B1 is the minimum plan.
I think the README file should have this information.

But now, I'm having another bug which is described here:
https://github.com/aspne

[2022-06-14 06:25] martincostello commented on #683
Did you validate the domain your site is using with Apple in their portal?

Do you have the right values configured for the client ID and team ID?

[2022-06-14 18:05] NikolaiTsepalov commented on #683
"Did you validate the domain your site is using with Apple in their portal?"
As I mentioned a couple of messages back there is no such a feature as the verified domain anymore look at the screenshots

New:
<img width="803" alt="Screen Shot 2022-06-14 at 10 54 49 AM" src="https://user-images.githubusercontent.com/26150523/173657458-0472f33c-3854-4a5c-8efa-0cd1f78a6785.png">
From the document:
<img

[2022-06-14 19:44] NikolaiTsepalov commented on #683
With the correct Team ID or not it produces exactly the same log:
[BrokenTeamId.log](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/files/8903454/BrokenTeamId.log)
[CorrectTeamId.log](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/files/8903455/CorrectTeamId.log)

The following exception may be the reason but it happens after the "invalid_client":

2022-06-14

[2022-06-14 19:52] martincostello commented on #683
At this stage, I think (without proof to the contrary) we're well into environmental/configuration problems with your setup rather than a bug with the provider itself.

I'm not sure how much support we can give you at this stage without actually being you with access to your infrastructure to physically do the actual act of debugging and (re)configuring things to get it working. Blame Apple for ma

[2022-06-14 20:25] NikolaiTsepalov commented on #683
When last time did you deploy
signinwithapple.azurewebsites.net?
I have a new App Service on azure, but an old client on Apple.
OK I will repeat everything from scratch with screenshots

[2022-06-14 20:26] martincostello commented on #683
About 2 hours ago: https://github.com/martincostello/SignInWithAppleSample/actions/runs/2497167303

[2022-06-14 20:42] NikolaiTsepalov commented on #683
What about the "Domain Verification file"?
Is it ab obsolete feature or it's somewhere else now?
(two screenshots to messages back)

[2022-06-14 20:44] martincostello commented on #683
I think I just got confused with Apple Pay (I have another sample site for that).

[2022-06-14 23:41] NikolaiTsepalov commented on #683
Worked from the first attempt:)
Probably to find out what was wrong gonna take another week...
But I did an exhaustive list of screenshots, if you want, I can share with you the Google doc link.
Now just a little thing to add, Xamarin Client

[2022-06-17 04:40] Kurris opened #692 "Weibo provider doesn't need email scope necessary"
### Is your feature request related to a problem? Please describe.

Weibo provider ‘s email endpoint is a high important api on [Weibo open platform ](https://open.weibo.com/wiki/2/account/profile/email),which must to be **Audited** when using **this.Scope.Add("email")** in **WeiboAuthenticationOptions construction**, it makes exception throw “An error occurred while retrieving the email address a

[2022-06-17 07:14] martincostello commented on #692
Removing this in v6 would be a breaking behavioural change for users who can use the email endpoint, but we could remove this as a default for v7.

[2022-06-17 08:52] martincostello commented on #692
This change has been made to our .NET 7 branch and will ship to NuGet.org as the default going forwards in November 2022.

[2022-06-17 08:52] #692 closed, assigned to nobody

[2022-06-17 09:06] Kurris commented on #692
thanks :) 👍

[2022-06-17 20:43] NikolaiTsepalov commented on #683
I added your commit
https://github.com/martincostello/SignInWithAppleSample/commit/5643b3ceb66419ec03e1991e32833fba6491c773
to the sample and was able to authenticate the Xamarin client.

For the Xamarin App, the server's appsettings.json  should have ClientId as the App Id, not the Service Id.
So currently, it works for the web OR the client, but I don't care much because I need the API server on

[2022-06-20 08:48] Mike-E-angelo commented on #690
For this issue, from my side, I am set.  I have my own workaround/configuration per above.  If this is a matter to contact PayPal to ensure they are passing correct variables, I will not be volunteering for that.  In addition to the grief that we've been experiencing with #572, I have not had too much luck with PayPal support.  If you are up for contacting PayPal to get this resolved, we can keep

[2022-06-20 08:53] Mike-E-angelo commented on #572
I got an update from MixCloud support stating that this bug (which was claimed to have been fixed) has been assigned to someone to address (again).  The time to fix is indeterminate.

Perhaps my earlier angst was not misplaced after all. 😞

[2022-06-20 08:54] Mike-E-angelo commented on #680
An update here that I am now (_finally_) actively working on this and should have a PR in the next week or so. 🤞  I will update accordingly.

[2022-06-20 15:04] kevinchalet commented on #690
Paypal now supports OpenID Connect discovery/OAuth 2.0 authorization server metadata (https://www.paypal.com/.well-known/openid-configuration) and the authorization endpoint they return as part of the discovery document differs from the one we currently use in the aspnet-contrib provider. It may be worth giving a try with the newer endpoint to see if it makes any difference.

[2022-06-20 16:43] kevinchalet commented on #572
Haha, it's indeed getting really ridiculous, given how easy this should be to fix. For reference, in OpenIddict, it's implemented in literally 3 lines of code 🤣

[code]

[2022-06-20 16:45] kevinchalet commented on #680
Nah, I actually meant their non-auth APIs (typically the payment stuff). In a typical app, you'd use the access token retrieved during the authorization dance and flow it via the `Authorization` header using `Authorization: Bearer [access token]`.
It's something that works with Stripe too, but last time I checked, they actually recommended using the API key of your app instead of the access token.

[2022-06-21 09:54] Mike-E-angelo commented on #680
OK @kevinchalet I am with you now.  I actually do this for my Stripe payments/checkout integration.  Additionally, looking at Stripe Connect, you can see the breakdown for API vs. Oauth2 here:
https://stripe.com/docs/connect/accounts#choosing-approach

That stated, I spent the day learning about Stripe Connect yesterday and it unfortunately isn't anything like I understood it to be. 😞

I was under

[2022-06-21 09:54] #680 closed, assigned to nobody

[2022-06-21 18:57] martincostello commented on #684
This is resolved by the 6.20.0 release of that library.

[2022-06-21 18:57] #684 closed, assigned to martincostello

[2022-06-22 18:03] kevinchalet opened #694 "Introducing the OpenIddict-powered providers"
Earlier today, [the first OpenIddict 4.0 preview was pushed to NuGet.org](https://kevinchalet.com/2022/06/22/openiddict-4-0-preview1-is-out/).

As part of this release, a new client stack was introduced alongside an `OpenIddict.Client.WebIntegration` package that aims at offering an alternative to the aspnet-contrib providers offered in this repository (that will still be developed and maintained)

[2022-06-24 07:36] coding-pagro opened #695 "Support Keycloak >= Version 18"
Keycloak changed their default url schema by removing the "auth" part of the url, which causes the Keycloak provider to break for any version >= 18.
Currently the "auth" part is hardcoded. I think this suboptimal, even for older versions. I'm using also keycloak 16 behind a reverse proxy and somehow ended up configured also in a configuration, where "auth" is not part of the url.

I would suggest

[2022-06-24 09:44] kevinchalet commented on #695
KeyCloak supports OpenID Connect discovery/OAuth 2.0 authorization server metadata so you'd get better results with either the MSFT OIDC handler or with the new OpenIddict client (https://kevinchalet.com/2022/06/22/openiddict-4-0-preview1-is-out/), that support dynamic configurations.

[2022-06-24 09:55] coding-pagro commented on #695
Thank you for your comment. I did already successful use Keycloak with the AddOpenIdConnect extension from Microsoft.
I just stumbled over AspNet.Security.OAuth.Providers as part of an example and I did no deep dive in comparing mechanism.
But I will also take a look at OpenIddict!

[2022-06-29 11:21] justi7n opened #696 "ClaimActions do not affect the email retrieved by the GitHub emails endpoint."
### Describe the bug

When I authenticate per GitHub and want to get the E-Mail of the signed in User which is not public and have a corresponding ClaimAction, then the ClaimAction does not affect the E-Mail.

### Steps To reproduce

1. Add GitHub to the specified AuthenticationBuilder per
[code]

2.When the User Signs In:

[code]

### Expected behaviour

Email should not be empty, ClaimActions sh

[2022-06-29 11:45] martincostello commented on #696
You shouldn't need to explicitly map the email claim from the user response (in fact it doesn't come from the user response at all, it's a separate resource, so "email" isn't there).

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/5f311082a46ed519d0d6f7428e7018870657ebe9/src/AspNet.Security.OAuth.GitHub/GitHubAuthenticationHandler.cs#L49-L61

You should only need to add the

[2022-06-29 12:26] justi7n commented on #696
Yes, its a seperate resource (`ClaimTypes.Email`), but i'd like to add it as a claim for the claim principal on the app with the claim type `JwtClaimTypes.Email`/`"email"`.

As far as i understand it, the issue is that `context.RunClaimActions()` is run before the adding of the claim when it is retrieved by the email endpoint, isn't it?

[2022-06-29 12:35] martincostello commented on #696
That's correct it does after the default claim actions are run. That's so it can only add the email if there wasn't already one mapped by the claims actions.

If you instead use the [`OnCreatingTicket` event](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.oauth.oauthevents.oncreatingticket?view=aspnetcore-6.0) you can customise the principal further before it is re

[2022-06-29 12:46] justi7n commented on #696
Thanks, this worked for me. But I'm not sure whether this should be considered as a workaround or a real solution.

[2022-06-29 13:19] martincostello commented on #696
I'm not sure if it's a real problem or not either. The general pattern in OAuth handler implementations (including ASP.NET Core's own ones) seems to be to run them immediately after creating the `OAuthCreatingTicketContext`, which is what we do here.

If it _is_ wrong then changing it at this point would be a breaking behavioural change.

[2022-07-01 17:41] kevinchalet commented on #696
Claims actions are only executed on the userinfo response itself, not on the extra response needed to resolve the email address. If you need to use a different claim type for that, you can either implement an `IClaimsTransformation` service or use the events model, which is a first-class citizen and not really a workaround.

[2022-07-01 17:41] #696 closed, assigned to nobody

[2022-07-05 14:03] johmarjac commented on #365
Thanks, I read that article further down and they meanwhile have written there for non-iis servers that knownproxies have to be cleared. And now it works without that global https scheme rewrite as well! Awesome. I am so glad I found this issue here.

[2022-07-06 11:19] unliftedq opened #697 "How to save the authentication results to database?"
I'd like to to use `AspNet.Security.OAuth.GitHub` to support GitHub account login. And when the authentication completed, I'll check if it's a new user to my application, I'd like to save the entity to database if it's a new user. Where should I put such logic? Is there any good example?

[2022-07-06 11:26] kinosang commented on #697
RTFM, https://docs.microsoft.com/en-us/aspnet/core/security/authentication/?view=aspnetcore-6.0

With Asp.Net Identity: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/?view=aspnetcore-6.0&tabs=visual-studio
Without Asp.Net Identity: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/social-without-identity?view=aspnetcore-6.0

[2022-07-06 11:26] martincostello commented on #697
This is for you to decide as part of the architecture of your application.

This question is too broad and out of the scope of the support we provide here as it's not specific to our providers, but is a question about the implementation of authentication in a .NET application in general.

I suggest looking at the documentation for [ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspnet/cor

[2022-07-06 11:26] #697 closed, assigned to nobody

[2022-07-06 12:33] unliftedq commented on #697
@kinosang @martincostello Thanks for your feedback, basically, I think there should be done in some callback provided by these OAuth providers. Or is it built in with Asp.Net Identity?

[2022-07-06 12:41] kinosang commented on #697
your question is out-of-scoop of aspnet-contrib providers. the provider struct is designed and maintained by the asp.net core team. plz consider submit technology support ticket to Microsoft support team or RTFM.

[2022-07-06 12:52] kinosang commented on #697
the providers themselves only deal with the "External Sign-in", and inject claims. use your own codes to do "sign-up" or "sign-in" if you do not use Asp.Net Identity.

https://www.google.com/search?q=asp.net+core+external+provider+without+identity

[2022-07-11 14:29] ben-xo commented on #572
Hi @Mike-E-angelo ,

Do you have an example (runnable test case) that I can work with? I'm not a C♯ dev, but some runnable code which spells out your expectation would help me to get this resolved quickly. Thanks!

[2022-07-11 17:46] kevinchalet commented on #572
@ben-xo hey. I'm not sure a runnable test case would be useful as `state` is a core concept of the OAuth 2.0 specification and not something specific to a language or a dev environment.

It's actually really trivial to implement as the only thing you have to do is extract the `state` parameter from the authorization request and append it to the `redirect_uri` you construct when generating the auth

[2022-07-11 17:48] kevinchalet commented on #572
It's worth mentioning that the `state` parameter is required and must be returned even for errored responses, as indicated in the next section: https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.2.1

[2022-07-11 18:02] ben-xo commented on #572
@Mike-E-angelo , @kevinchalet ,

Regardless of whether or not it's in the spec, with no client to test with, it's hard to validate that any fix fixes your bug. If you have a 4 or 5 line program that demonstrates what you are expecting, I can then go away and get it fixed without any back-and-forth.

[2022-07-11 18:05] martincostello commented on #572
You can use [the client in our `samples` directory](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/samples/Mvc.Client).

[2022-07-11 18:14] kevinchalet commented on #572
Woo, to be honest, this is getting quite ridiculous, don't you guys have test clients you use internally to test your own server implementation? (well, I guess not, otherwise we wouldn't have this thread opened for more than a year 🤣)

Anyway, it's easy to test using a program like Postman (authorization tab -> OAuth 2.0: fill in the form and click on "Get New Access Token") or manually by constru

[2022-07-11 23:43] Mike-E-angelo commented on #572
Thank you very much for checking in here @ben-xo and for your time investigating this issue.  At the risk of piling on here, however, I do share the concern and frustration with others here about how long it has taken to address this issue as well as the continued misunderstanding on what exactly the issue here is.

1. The issue in no way involves C# outside of the fact that a C# client is involve

[2022-07-12 06:42] ben-xo commented on #572
I'm well aware that this has nothing to do with C#. But I can't prioritise a bug I'm not experiencing. A series of curl commands that demonstrate the problem would do just fine.

As you've linked to the curl commands in our doc, can I take it they're sufficient to show the problem?

I understand your frustration, but this is very low priority for me, and so the easier you make this on me the more

[2022-07-12 08:31] ben-xo commented on #572
Thanks, this is extremely helpful.

[2022-07-12 08:41] Mike-E-angelo commented on #572
Thank you for your reply @ben-xo.  For reference, [here is code that is utilized in another project](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/572#issuecomment-1160658337) that fulfills this requirement.  It is C# but, hopefully, you can see the straightforward nature of the issue here.  Whatever `state` is passed to your service, is passed back to the resulting resp

[2022-07-22 12:50] ToniGallego87 opened #699 "Authentiation error with Apple in Production environment"
### Provider name

Apple

### Expected behavior

We have problems when we doing the OAuth authentication with the Apple provider. It´s working in Develop environment, but when we try in Production one it´s not work. We have the same configuration for both environments, and the code is exactly the same too. The only difference is the Azure AppService, and the database.

### Actual behavior

This is

[2022-07-22 14:08] martincostello commented on #699
I'm not sure it would work correctly with _exactly_ the same configuration in two different environments because the domain names for the websites would be different.

The error seems to suggest that the Apple servers aren't returning the `state` parameter back to you in the callback URL after authentication completes.

[2022-07-24 16:14] Mike-E-angelo commented on #441
Hi all... looking into this.  And I am so very confused. 😅  I did see that it's deprecated, but the Instagram Display API Application that is created has the look and feel of an Oauth2 application, complete with callback URIs and the lot.

Additionally, the endpoints still all work.  Although, I am getting a 400 error with invalid scopes message when I use it (that's what led me here):

[code]
If

[2022-07-24 16:25] martincostello commented on #441
The short answer is that I don't know.

I haven't used the provider beyond testing the changes for the previous deprecation worked. Maybe Instagram have changed something that means that a scope of some kind is required?

You'd have to consult the documentation they provide to see what's changed.

With so many providers, we can't keep up to date with them all as the services evolve over time, part

[2022-07-24 16:40] Mike-E-angelo commented on #441
I totally get that @martincostello, thank you for your reply here.  I am feeling a little overwhelmed with the number of providers I have implemented, myself. 😅  I did a bunch of searching for the 400 error before posting on here, but it was an interesting find here that the package was almost deprecated.  All the pieces seem to be there, but this weird scope error.  I will continue searching.  Th

[2022-07-25 07:10] ToniGallego87 commented on #699
Hi Martin! Thank you for the answer. Apple lets you configure a set of allowed urls for the callback, so in our configuration we have the urls for both pre-production and production environments.

Apple is returning to us a state, but do you think is it possible that this state is for the pre-production domain even though we have made the request from production?

[2022-07-25 13:32] martincostello commented on #699
Looking at the code for the OAuth handler in the ASP.NET Core repo, the exception comes [from here](https://github.com/dotnet/aspnetcore/blob/307918d33b2ce5accbc7aa0659440dca44617d3f/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L59-L65).

If there definitely is a `state` parameter being passed back, then maybe the unprotect operation is failing.

Do you have appropriately different cookie

[2022-07-26 07:50] ToniGallego87 commented on #699
The state parameter definitely is being passed back, so it has to be a problem with the unprotect operation.

As you have deduced, there is only one server in development, and there are more than one in production (2 min, 12 max, depending on the current proccess). The configuration of the data protection was this:

`.PersistKeysToFileSystem(new DirectoryInfo(Path.Combine(Environment.CurrentDirect

[2022-07-26 08:00] martincostello commented on #699
What does your blob storage code for the keys look like? Persisting keys to the file system would definitely be incorrect for a load balanced fleet (and for cloud in general as if the cloud provider swapped out the instance for maintenance you’d lose the keys).

Is there a reason you’re re-implementing the secret generation when it’s already built-in to the provider?

[2022-07-26 08:16] ToniGallego87 commented on #699
This is the complete blob storage code:

[code]

I don´t know the reason why this code is re-implementing the secret generation, because this part of the code was already implemented when I arrived, but I have total freedom to change it. Do you think I should remove this part?

[2022-07-26 08:31] martincostello commented on #699
The code _seems_ fine (although I'm not 100% sure on the `SameSite` setting). The only other thing I can think of for data protection is setting an explicit application name to remove another _possible_ source of variation ([`SetApplicationName(string)`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.dataprotection.dataprotectionbuilderextensions.setapplicationname)).

Unless it

[2022-07-26 09:31] ToniGallego87 commented on #699
I've tried your SetApplicationName(string) suggestion, but it didn't work:

[code]

I'm going to go through your sample project and try it on my code, I'll tell you the result when I try it.

PD: Thank you very much, I really appreciate your help.

[2022-07-28 15:36] denis-ivanov commented on #595
https://github.com/xeltan/EsiaNET/tree/master/EsiaNET.AspNetCore.Authentication

[2022-07-29 16:30] martincostello commented on #595
As the referenced package has existed from 2020, it makes sense that that is the de-facto provider, so there's no need for us to re-implement and maintain one here.

[2022-07-29 16:30] #595 closed, assigned to nobody

[2022-07-31 01:04] KaiDevrim opened #700 "GitHub Oauth Callback does not work with Reverse Proxy"
### GitHub

I am currently trying to host a web app that uses this library for GitHub Oauth support. The reverse proxy I am using, lsio/swag does not seem to work with the callback that the examples give. My current oauth setup is just like in the example MVC.Client and my current nginx config for this is like so:
[code]

I deployed the app in docker like so:
[code]

[2022-07-31 01:05] KaiDevrim commented on #700
When I try and login I get a error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.

error

[2022-07-31 01:11] kevinchalet commented on #700
Your Nginx configuration is likely incorrect. Read https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-6.0 and https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-6.0 for more information.

[2022-08-02 07:41] ToniGallego87 commented on #699
Finally, the problem has been resolved, it was a configuration problem with the application. Specifically, the startup configuration prepare a configuration for three clients (it´s a multiclient app), and one of that client had the same callback url. This was because the callback url is constructed with 'signin-apple/' + configuration id, and the configuration id for two clients was the same by er

[2022-08-02 07:47] martincostello commented on #699
No problem, glad you managed to resolve it.

[2022-08-02 07:47] #699 closed, assigned to nobody

[2022-08-02 14:51] #683 closed, assigned to nobody

[2022-08-02 14:52] #700 closed, assigned to nobody

[2022-08-02 15:20] NikolaiTsepalov commented on #683
Thanks a lot for your help, Martin!
 My app is almost a month in the Apple store.

[2022-08-03 07:52] rcroft-work commented on #641
Just hit above issue and @martincostello's response resolved the issue.

It be very helpful to have a "Developing a new provider" and add tips/tricks like this one to it?

I am still to debug my provider so tips/tricks w.r.t. debugging a new provider would be helpful as well.

[2022-08-04 11:14] g0dpain opened #701 "Combining external login provider won't work with ASP.NET Core Identity"
I am using the discord provider which on its own functions well.
Adding Identity to the application removes the ability of the discord callback, since it seems ``app.UseAuthentication()`` to override something.
But removing it from the Startup Identity and signing in with identity's ``SignInManager<TUser>`` stops working.

Since I am new to this whole OAuth thing, is this behaviour intended?

[2022-08-04 15:28] martincostello commented on #701
I'm not aware of this particular behaviour, so I'm not sure what could be wrong.

If it helps you, this repository uses ASP.NET Core Identity with this repo's Amazon, Apple and GitHub providers and works as expected (at least how I expect it to 😄): https://github.com/martincostello/alexa-london-travel-site

Maybe clone it locally and compare how it's set up compared to your own code?

[2022-08-04 16:59] KaiDevrim commented on #700
I read both of those, and am wondering, what is the callback url I should use?

[2022-08-04 17:05] martincostello commented on #700
Typically it's `{your host name}/signin-{providername}`, so like `https://foo.com/signin-github`.

[2022-08-04 17:19] KaiDevrim commented on #700
I don't see where in the example would the `/signin-github` be handled? Currently when I do it in my app it just gives me an error 500.

[2022-08-04 17:22] KaiDevrim commented on #700
You can see how I am authenticating the user here
https://github.com/KaiDevrim/StarItAllWeb/blob/main/StarItAll/Startup.cs
https://github.com/KaiDevrim/StarItAllWeb/blob/main/StarItAll/Controllers/AuthenticationController.cs

my nginx config should be correct also
[code]

[2022-08-04 17:23] martincostello commented on #700
That’s the URL that will be generated by convention by the Microsoft OAuth provider if you don’t change any of the configuration defaults for the GitHub provider.

Given you’re not getting a 404, it’s hitting the right URL. Your app is just broken or misconfigured.

The most likely culprit will be your app not being set up to forward headsets correctly when it’s proxied through Nginx. How to do th

[2022-08-04 17:28] martincostello commented on #700
I’m looking on a phone so I may have missed it, but you don’t have appeared to have configured the KnownProxies, as explained in the documentation [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-6.0#forwarded-headers-middleware-options).

[2022-08-04 17:32] KaiDevrim commented on #700
Ah ok I must have missed that thanks!

[2022-08-08 12:33] g0dpain commented on #701
@martincostello Thanks for your response, I will definitely look into it!

[2022-08-13 12:43] Translucent504 opened #703 "Add HubSpot Provider"
### Which provider would you like support added for?

[HubSpot](https://developers.hubspot.com/)

### Provider Documentation

- [Working With OAuth](https://developers.hubspot.com/docs/api/working-with-oauth)
- [OAuth Quickstart](https://developers.hubspot.com/docs/api/oauth-quickstart-guide)

### Are you willing to implement this provider yourself?

Yep, I'm gonna try to implement this as a noob

[2022-08-16 14:42] #703 closed, assigned to nobody

[2022-08-20 13:12] #695 closed, assigned to martincostello

[2022-08-24 07:54] martincostello commented on #695
This fix is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Keycloak/6.0.9) in the 6.0.9 release.

[2022-08-29 05:24] tuugen opened #712 "Discord Oauth: How to get accessToken from User object after OAuh flow, when previously using Identity.Type "Identity.Application" ?"
### Provider name : Discord

Hello!
Is there a way to acquire the access token _attached_ to the User? I have successfully logged into my Oauth  app with the 'guilds' permission. I would now like to add a button on a MVC razor page to list the guilds I am part of.

my discord config is as such

[code]

however, when I try and access the claims on a index.cshtml page (using the MVC.Client boilerpla

[2022-08-29 06:29] martincostello commented on #712
You could try setting [`SaveTokens`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.remoteauthenticationoptions.savetokens) to `true` and then accessing it from the authentication properties.

Otherwise the callback event is the way to get access to the raw API payload using the [`User`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.oauth

[2022-08-29 07:01] tuugen commented on #712
Thanks for the suggestion @martincostello , heres what I tried:

So I added the `SaveTokens` flag...
[code]

So after logging in , I put this code in my index.cshtml.cs razor page:

[code]

which gives

[code]

I was expecting it would have some Discord related stuff... atleast the `TicketCreated`  set above?

Not sure if this is related but in my `program.cs` I am setting the user with
`builder.S

[2022-08-29 07:15] martincostello commented on #712
To use the tokens elsewhere I think you want to use the `HttpContext.GetTokenAsync(string)` method similar to this code of my own that uses the GitHub API and authenticates as the logged in user.

https://github.com/martincostello/dependabot-helper/blob/2268c316a736b5daffe52a93d681642ed8ad1ced/src/DependabotHelper/AuthenticationEndpoints.cs#L63

https://github.com/martincostello/dependabot-helper/

[2022-08-29 13:14] tuugen commented on #712
Ok, well I cloned the sample project again, added in the few lines for `SaveToken = true` and to print out `access_token`. It works there... but for some reason in my already established project ... the access_token is empty:

IN sample MVC.Client HomeController
[code]
results in   (token replaced by XXXXXXXXXXXXX)
[code]

However, in my own project...

[code]
output:
[code]

I Think I found the i

[2022-08-29 13:17] martincostello commented on #712
I'm afraid I don't know the answer to that one, and I think your problem is out of the scope of our repo.

I think your problem is going to be at a generic level with any OAuth provider (we build on top of Microsoft's OAuth implementation, `OAuthHandler`) and MS Identity, rather than any problem with the Discord provider specifically.

[2022-08-29 15:37] Tratcher commented on #712
That's because you exchange the discord identity for a local identity. The discord tokens can be stored in the local user database. @haok, where are the docs for that? All I can find is https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-6.0#entity-types

[2022-08-29 15:41] HaoK commented on #712
This one is probably the one you are looking for with access tokens: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-6.0#save-the-access-token

[2022-08-29 23:23] tuugen commented on #712
Hmmm. I've implemented that example by scaffolding out that portion via
`dotnet aspnet-codegenerator identity --dbContext ApplicationDbContext --files Account.ExternalLogin` however it seems their provided code in that link (that you copy paste into the scaffold file...) only runs on initial user/account creation via ExternalLogin, and sets a Claim in the database. (I may be mistaken here... but i

[2022-08-29 23:28] tuugen commented on #712
I suppose as a workaround I can also do this , yes. https://security.stackexchange.com/questions/72475/should-we-store-accesstoken-in-our-database-for-oauth2

I just wish it was _there_ in memory to use calling `await HttpContext.GetTokenAsync("Discord", "access_token");` seems like a 'usecase' alot of people will have? (Using a normal microsoft.identity auth system and then adding on the OAuth.Pr

[2022-08-30 00:09] tuugen commented on #712
Ok HUGE,

I found that by adding

`await HttpContext.SignInAsync(info.Principal, info.AuthenticationProperties);` to `OnGetCallbackAsync` in `Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs` as such, allows the `await HttpContext.GetTokenAsync("Discord", "access_token");` to work inside any arbitary razor page file.

[code]

For now this will work. closing!

[2022-08-30 00:09] #712 closed, assigned to nobody

[2022-08-31 08:34] royzhang666 opened #713 "legacy apple login flow may leads to account compromised"
### Describe the bug

The current apple login flow may respond client's email, name in clear text, which can be intercepted and changed with the victim's accounts during the apple login process. The application developer have no way to authenticate its validity (considering it is neither encrypted nor protected with signature).

https://developer.apple.com/documentation/sign_in_with_apple/sign_in_

[2022-08-31 08:45] martincostello commented on #713
Please provide an example, including any relevant server responses, demonstrating this issue.

As far as I recall from implementing this, the callback is protected by a state parameter as well as a cookie for anti-forgery. Further, the connection is secured with HTTPS which would mitigate MitM scenarios where the response is tampered with.

Also, what do you mean by "legacy" in the issue's title?

[2022-08-31 09:29] kevinchalet commented on #713
@royzhang666 thanks for reporting this security issue 👍🏻

`state` (combined with the antiforgery cookie created by `RemoteAuthenticationHandler`) protects against session fixation and CSRF attacks (i.e where the attacker tries to force the victim to log under an account controlled by the attacker).

The attack here is different: the flow is started and completed by the attacker on his own machine

[2022-08-31 09:46] royzhang666 commented on #713
yep, I agree with you @kevinchalet, the `user` parameter is a bad design. After reading https://developer.apple.com/forums/thread/118209, I found apple engineer mentioned 3 years ago.

So I suppose before that time, application developers have to rely on this legacy `user` data to identify user's identity. There's no way to authenticate if the user information is valid or not, cause apple neither

[2022-08-31 09:48] martincostello commented on #713
After this is dealt with @kevinchalet, I suggest we set up content reports in the two provider repos so we can receive reports like this in the spirit of responsible disclosure easily, rather than them needing to be in public like this before there's any mitigations published.

[2022-08-31 09:52] kevinchalet commented on #713
@martincostello definitely a good idea! Here's the SECURITY.md we use in OpenIddict: https://github.com/openiddict/openiddict-core/blob/dev/SECURITY.md (the same message is also present in the main README.md: https://github.com/openiddict/openiddict-core#security-policy). I guess we could reuse it and simply change the email address?

[2022-08-31 11:02] martincostello commented on #713
Makes sense, though I don't know what the email address would be.

[2022-08-31 20:13] #713 closed, assigned to nobody

[2022-09-02 12:26] g0dpain commented on #701
Sadly I couldn't figure out why it does not work. I even tried in a seperate new project to grab components of yours and it didn't.

I just created a project https://github.com/g0dpain/DiscordOAuth2.Test.git
Do you maybe have time to look over it? I can also provide some client secrets and connection string via email for debugging.

[2022-09-02 12:41] martincostello commented on #701
Sorry, I don't really have enough free time at the moment to look into issues outside the scope of this repo.

[2022-09-05 14:24] g0dpain commented on #701
Thats alright.
After I rewrote the whole authentication thing I found out that I got authorized and signed in, although the callback path (in my case: /signin-discord) wouldn't get called even if I added it as an option ``discordOptions.CallbackPath = new PathString("/signin-discord")``

[2022-09-06 14:05] g0dpain commented on #701
Well, got it working now.

Then there was a problem with getting the external login info, which I found multiple devs that shared the same problem in closed issues here.
``GetExternalLoginInfoAsync()`` returned always null
This was because this method tries to find the corresponding provider which was not set.
Adding ``var authProperties = _signInManager.ConfigureExternalAuthenticationProperties(p

[2022-09-06 14:05] #701 closed, assigned to nobody

[2022-09-12 07:35] Mike-E-angelo commented on #572
Hi @ben-xo I got a marketing email from Mixcloud today and it made me wonder if Mixcloud had managed to [implement the 4 lines of code](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/572#issuecomment-1160658337) here, so I wanted to check-in on your progress and/or if you had any additional questions about this issue.

[2022-09-15 06:15] wuweilaiya opened #723 "fix(AspNet.Security.OAuth.Weixin):WeixinAuthenticationHandler BuildChallengeUrl method has a error: state too long"
### Describe the bug

WeixinAuthenticationHandler BuildChallengeUrl method has a error: state too long,But I see you guys have solved this problem
![image](https://user-images.githubusercontent.com/30889371/190327977-8c0f48b1-3f30-4b08-9b44-c2b584c2a58d.png)
I think !IsWeixinAuthorizationEndpointInUse() should change to IsWeixinAuthorizationEndpointInUse()，why if(!IsWeixinAuthorizationEndpointInUs

[2022-09-26 21:51] appimpact opened #724 "AspNet.Security.OAuth.Apple 6.0.11 - "invalid_client" error after sign in on web application"
### Describe the bug

After recently (can't pinpoint since when), we've started to receive "invalid_client" on web applications that have Sign in with Apple implemented.

We didn't change anything related to Client ID, Team ID, Key ID or anything else and all applications have stopped to work at the same time.

We've read instructions on how to load .p8 key from string, but error still happens.

S

[2022-09-26 22:05] martincostello commented on #724
My initial guess would be that you’re not mutating the “right” instance of the options to assign the correct values once you’ve fetched them from the database.

is the hash code of the two options objects identical?

I would also suggest trying an options callback like in the code example linked below to update the options to defer the configuration. In the case below it’s so that the configuratio

[2022-09-26 22:33] appimpact commented on #724
@martincostello  Does not look like that is an issue.

We have removed post configuration and hardcoded values at the start:

[code]

Now we get different error:

[code]

[2022-09-26 22:38] martincostello commented on #724
Are you running in Azure App Service by any chance?

The user profile has to be loaded in order for the private key to be loaded into the process: https://github.com/martincostello/SignInWithAppleSample#azure-app-service-deployment

Otherwise Windows will throw file not found errors.

[2022-09-26 22:46] appimpact commented on #724
@martincostello  You are a demigod at least.

With LoadUserProfile set to true in IIS, sign in was successful.

Do you mind keeping issue still open for a while so that we can confirm that our original code works as well?

It could be that we've missed this option:
options.GenerateClientSecret = true;

And once we added it, we got this file not found error - didn't know it is related to LoadUserPr

[2022-09-26 23:12] appimpact commented on #724
@martincostello  Our order of execution def does not work properly.
We got different error related to validation of audience, so you were right there as well, we probably did have two instances of options class.

With your example on using .Configure method, we've managed to mitigate that error so everything works perfectly now.

Thank you so much for your assistance. 👍  :)

[2022-09-27 06:05] martincostello commented on #724
No problem, glad you've gotten it working.

[2022-09-27 06:05] #724 closed, assigned to nobody

[2022-10-06 09:12] Mike-E-angelo opened #725 "Unauthorized Error with Patreon When Using Non-Creating Account"
(This may be a Patreon-related problem so have reported there as well -- but I wanted to get the ball rolling here in case there is something that can be done here)

### Describe the bug

I am running into an issue when using Patreon.  If I sign into my Oauth2 application with the Patreon account that created the Patreon Oauth2 application, everything works OK.

However, when signing in with a Pat

[2022-10-06 09:26] Mike-E-angelo opened #726 "Patreon Error: '.AspNetCore.Correlation.<ID>' cookie not found."
### Describe the bug

In addition to #725 there was a prior error that I was investigating that led to that one.  This one involves the following message when Patreon is challenged:

[code]

### Steps To reproduce

Sign-in with Patreon account (deployed version here: https://alpha.starbeam.one/Identity/Account/Login?ReturnUrl=%2F)

### Expected behaviour

User can sign in

### Actual behaviour

Us

[2022-10-06 10:07] martincostello commented on #726
From anecdotal memory, these correlation cookie issues are often related to SameSite configuration issues.

[2022-10-06 10:10] martincostello commented on #725
An initial guess at what this might be based purely on the description is that maybe it's a scopes thing?

[2022-10-06 10:22] Mike-E-angelo commented on #726
Thank you for your reply @martincostello that is what I found with searching as well.  The perplexing part about this is that I am able to sign in with at least one account successfully.  If it was due to SameSite wouldn't that impact all accounts?

[2022-10-06 10:23] Mike-E-angelo commented on #725
That's a good point @martincostello I am requesting the `campaigns` scope but what if the account isn't a creator and doesn't have campaigns? 🤔

[2022-10-07 16:03] LeaFrock commented on #723
It's not a bug. These codes are imported by PR #262. Due to some historical reasons, wechat provides several auth-ways for different web apps. You can read these two docs below,

1、https://developers.weixin.qq.com/doc/oplatform/Website_App/WeChat_Login/Wechat_Login.html (`WeixinAuthenticationDefaults.AuthorizationEndpoint`, which an user should scan a QR Code with his/her device to move on the aut

[2022-10-07 22:54] DevTsjollin opened #728 "GetExternalLoginInfoAsync returns null"
GetExternalLoginInfoAsync from discord oauth returns null

[2022-10-08 05:00] martincostello commented on #728
This is likely to be a bug in your code.

However, there's no way to be able to tell either way as you have provided no example code or steps to reproduce.

Please provide a reproducible example of how your application is using the provider and in which circumstances you observe the unintended behaviour.

[2022-10-08 08:19] Mike-E-angelo commented on #572
Got another marketing email @ben-xo and passing along the reminder to you.  Any luck here with those four lines of code?  Please let us know if you have any questions around this issue reported in June 2021.

https://howlongagogo.com/date/2021/june/25

[2022-10-08 10:18] LeaFrock commented on #723
Well, I've done a test and find that the QR API also limits the length of `redirect_uri`.

The following is my query of sign-in URL:

![1665223811498](https://user-images.githubusercontent.com/20787265/194702392-caef2e9e-afc5-42d3-b247-d581796f5e1f.png)

And the page tells `redirect_uri param error`,

![1665223588215](https://user-images.githubusercontent.com/20787265/194702220-83ee2d9d-5896-42b4-

[2022-10-13 22:45] #728 closed, assigned to nobody

[2022-10-14 06:39] wuweilaiya commented on #723
@LeaFrock Thank you for your reply,I solved the problem by adopting your plan one.
![image](https://user-images.githubusercontent.com/30889371/195779231-d5ffd372-5637-489d-b8eb-1b0404261b1e.png)

[2022-10-14 06:49] LeaFrock commented on #723
It's nothing.  If you can, please share your implementation of `StateDataFormat`, which may help others trapped in this issue. Or you just close this issue as it's been solved by you 😄.

[2022-10-14 09:49] wuweilaiya commented on #723
1.Implement ISecureDataFormat<AuthenticationProperties>
![image](https://user-images.githubusercontent.com/30889371/195816512-4791149a-2351-4f21-b0ce-fc288b0ec3c2.png)
2.WeixinAuthenticationOptions.StateDataFormat = PropertiesDataFormatCache
![image](https://user-images.githubusercontent.com/30889371/195817057-4f433484-45fc-494a-a860-10dd20a86d22.png)

[2022-10-14 09:50] #723 closed, assigned to nobody

[2022-10-14 09:54] martincostello commented on #723
Could you please post the code rather than screenshots of the code? People can then just copy and paste it, rather than have to type it all out by hand from reading the image.

[2022-10-14 10:03] LeaFrock commented on #723
Well, I reorganize the codes based on @15168440402 .

[code]

[2022-10-14 12:34] Mike-E-angelo commented on #572
I have sent a message to Mixcloud support and asked if @ben-xo is still employed there.

[2022-10-14 13:45] kevinchalet commented on #572
I'm personally speechless.

Proper `state` support is absolutely essential to the security of an OAuth 2.0 client as it prevents session fixation/forged requests attacks (and, when implemented correctly, helps reduce the ability to steal authorization codes via referrer leakages). For the aspnet-contrib provider, we used a workaround to have a `state`-like mechanism but I really doubt most Mixclou

[2022-10-14 14:18] Mike-E-angelo commented on #572
Retweet for awareness: https://twitter.com/Mike_E_angelo/status/1580925898789789698

[2022-10-14 18:58] kevinchalet commented on #725
Did you hear back from Patreon, @Mike-E-angelo?

[2022-10-14 19:02] kevinchalet commented on #726
An error mentioning the antiforgery cookie used by the base OAuth 2.0 handler is always the sign of an invalid configuration. As @martincostello said, an invalid same-site value is a potential root cause, but other reasons include a cookie lifetime that is too short or an invalid ASP.NET Core Data Protection (e.g the master keys are not correctly persisted).

Closing, as there's sadly nothing we c

[2022-10-14 19:02] #726 closed, assigned to nobody

[2022-10-14 19:37] Mike-E-angelo commented on #725
It took them an entire week to reply and tell me that I was in the wrong place 😭  Opened a thread here:
https://www.patreondevelopers.com/t/oauth2-troubles/6324

I'll open this thread if I require anything else here 👍

[2022-10-14 19:37] #725 closed, assigned to nobody

[2022-10-15 14:29] kevinchalet commented on #690
It's confirmed: the OIDC implementation has a bunch of compliance issues, but it supports returning the `state` parameter even for errored requests. I was only able to test it against the sandbox environment, but it's likely the production endpoints behave the same way.

https://github.com/openiddict/openiddict-core/pull/1537

[2022-10-15 14:30] kevinchalet commented on #690
Adding the `help wanted` label in case someone would be interested in updating the PayPal provider to use the newer endpoints.

[2022-10-24 08:31] SuperOfficeDevNet opened #738 "SuperOffice provider: UserInfo endpoint doesn't support multiple subdomains"
### Describe the bug

Today, the provider expects the UserInfo endpoint data will come from one *environmental* subdomain, i.e.:

development: https://sod.superoffice.com
stage: https://quonline.superoffice.com.
production: https://online.superoffice.com.

SuperOffice CRM Online has introduced an API cluster that will publish API calls on different subdomains, i.e.:

https://**sod**.superoffice.co

[2022-10-24 14:32] kevinchalet commented on #738
Out of curiosity, why not adopting a more traditional approach with a single address and a reverse proxy setup doing that transparently? It's certainly something we can work around in the aspnet-contrib provider, but this clearly hurts interoperability (e.g the `userinfo` endpoint can't returned as part of the discovery document).

[2022-10-24 15:20] SuperOfficeDevNet commented on #738
@kevinchalet Fair question, and it's simply legacy. Our OAuth/OIDC project began without prior knowledge of projects like openiddict and Identity Server. We are now adopting Duende Identity Server, so it shouldn't be too long before I revisit this again and use the more traditional approach.

[2022-10-24 15:27] kevinchalet commented on #738
Haha, it's a good reason 🤣

In this case, should we wait until you figure out what the final design will be, in case it would change again?

[2022-10-25 04:38] SuperOfficeDevNet commented on #738
It's not an easy 'swap and replace' job, so it may take months before we have completed retrofitting Duende Identity Server.

[2022-10-27 11:12] steveski opened #740 "Discord Provider access token issue"
### Provider name
Discord

### Expected behavior
From my ASP.NET Core MVC front end I'm hitting my IdentityServer4 instance and using the Discord OAuth Provider to login. I'm then hitting a page in my app whose Controller will hit /users/@me/guilds and with that http call I'm passing the access token which I'm retrieving using `var accessToken = await HttpContext.GetTokenAsync("access_token");` bu

[2022-10-27 15:36] martincostello commented on #740
You _might_ need to set `SaveTokens = true` on the Discord options so that the Discord-specific token is retained in the authentication properties, then you could fetch that rather than get the JWT maybe.

I'm not really familiar with the interactions between our provider and IdentityServerv4 - @kevinchalet might know the answer if `SaveTokens` doesn't sort it for you.

[2022-10-27 15:51] kevinchalet commented on #740
`var accessToken = await HttpContext.GetTokenAsync("access_token")` will always return the access token of your identity provider (a JWT for IdSrv), but not the access token of the external provider.

For that, you'd need to tweak IdSrv to store it as a special claim. I'm not familiar with IdSrv so you'll need to check their docs (or ask them for help, but since IdSrv4 will no longer be supported

[2022-10-29 11:16] Mike-E-angelo commented on #725
FWIW as you might expect this was due to user error. 🤦‍♂️

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.Patreon/PatreonAuthenticationOptions.cs#L26

I was clearing scopes, and then setting to `"campaigns"` not realizing that `identity` was supposed to be set as well.

Interesting to note that it appears `identity` is set to the creator of the

[2022-10-31 20:14] #740 closed, assigned to nobody

[2022-11-07 19:17] #636 closed, assigned to martincostello

[2022-11-07 20:15] martincostello commented on #658
Packages that support ASP.NET Core 7 are now available from NuGet.org.

[2022-11-07 20:15] #658 closed, assigned to nobody

[2022-11-27 04:50] kevinchalet commented on #572
I added a Mixcloud integration to the new OpenIddict client (https://github.com/openiddict/openiddict-core/pull/1594) and I can confirm the `state` issue hasn't been fixed and that a workaround is still needed.

(oh, and they return JSON responses as `text/javascript` responses 🤣)

[2022-11-29 17:57] kevinchalet commented on #572
Closing for now. If Mixcloud fixes/improves their implementation in the future, we'll revisit that.

[2022-11-29 17:57] #572 closed, assigned to nobody

[2022-11-29 18:19] Mike-E-angelo commented on #572
Whew finally putting this thing out of its misery.  I will never have anything to do with Mixcloud again and regret ever opening this issue 😭

[2022-11-30 21:21] Giorgi opened #749 "Getting invalid_client when trying to use new key with Apple"
### Describe the bug

After I generated a new key and revoked the old one, I started getting `OAuth token endpoint failure: Status: BadRequest; Body: {"error":"invalid_client"}`. Obviously, I have updated the keyId and downloaded the new key so I'm not using the old one.

### Steps To reproduce

Apple sign-in is configured like this:

[code]

### Expected behaviour

Apple Sign In should work as it