[2015-05-12 06:07] jerriep opened #1 "Add Asana Provider"

[2015-05-12 06:08] jerriep opened #2 "Add BattleNet provider"

[2015-05-12 06:08] jerriep opened #3 "Add Buffer provider"

[2015-05-12 06:08] jerriep opened #4 "Add DeviantArt provider"

[2015-05-12 06:08] jerriep opened #5 "Add Dropbox provider"

[2015-05-12 06:08] jerriep opened #6 "Add EVEOnline provider"

[2015-05-12 06:08] jerriep opened #7 "Add Flickr provider"

[2015-05-12 06:09] jerriep opened #8 "Add Foursquare provider"

[2015-05-12 06:09] jerriep opened #9 "Add HealthGraph provider"

[2015-05-12 06:09] jerriep opened #10 "Add Instagram provider"

[2015-05-12 06:09] jerriep opened #11 "Add LinkedIn provider"

[2015-05-12 06:09] jerriep opened #12 "Add Paypal provider"

[2015-05-12 06:10] jerriep opened #13 "Add Reddit provider"

[2015-05-12 06:10] jerriep opened #14 "Add Salesforce provider"

[2015-05-12 06:10] jerriep opened #15 "Add Soundcloud provider"

[2015-05-12 06:10] jerriep opened #16 "Add StackExchange provider"

[2015-05-12 06:10] jerriep opened #17 "Add Tripit provider"

[2015-05-12 06:11] jerriep opened #18 "Add Twitch provider"

[2015-05-12 06:11] jerriep opened #19 "Add Untappd provider"

[2015-05-12 06:11] jerriep opened #20 "Add VisualStudio provider"

[2015-05-12 06:11] jerriep opened #21 "Add Wargaming provider"

[2015-05-12 06:11] jerriep opened #22 "Add WordPress provider"

[2015-05-12 06:11] jerriep opened #23 "Add Yahoo provider"

[2015-05-12 06:11] jerriep opened #24 "Add Yammer provider"

[2015-07-15 18:36] PinpointTownes commented on #21
Moved to https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/issues/5, as Wargaming uses OpenID 2.0 and not OAuth2 :smile:

[2015-07-15 18:36] #21 closed

[2015-07-15 23:06] PinpointTownes commented on #16
FYI, StackExchange also supports OpenID 2.0 :confused:

You can see https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/blob/dev/samples/Mvc.Client/Startup.cs for a working sample using the generic OpenID 2.0 authentication middleware.

[code]

[2015-07-16 01:09] jerriep commented on #23
I'll grab this one...

[2015-07-16 01:10] jerriep commented on #11
I'll grab this one...

[2015-08-24 07:24] PinpointTownes commented on #11
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/28 :tada:

@jerriep thanks! :+1:

[2015-08-24 07:24] #11 closed

[2015-08-31 13:15] PinpointTownes commented on #23
Merged: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/237509d99d731c3067913317dfdb236331e309db :tada:

@jerriep thanks!

[2015-08-31 13:15] #23 closed

[2015-08-31 13:15] PinpointTownes commented on #22
Merged: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/aba27918f737991dd233f5ee433902aa3a3b6e36 :tada:

@jerriep thanks! :+1:

[2015-08-31 13:15] #22 closed

[2015-09-08 06:28] kappa7194 opened #31 "Add CONTRIBUTING file"
GitHub supports a CONTRIBUTING file containing guidelines for contributions, it will be automatically displayed when opening issues, pull request and so on.

It would be useful to list there the requirements (e.g. http://www.jerriepelser.com/blog/calling-contributors-for-oauth-providers — "How to do this").

See https://github.com/blog/1184-contributing-guidelines for details.

[2015-09-08 06:35] kappa7194 opened #32 "Add imgur provider"
See https://github.com/RockstarLabs/OwinOAuthProviders/pull/110

[2015-09-08 06:36] kappa7194 commented on #32
I haven't used ASP.NET 5 yet, so things will be… interesting. :scream:

[2015-09-08 07:34] PinpointTownes commented on #32
@kappa7194 thanks for suggesting this new provider :+1:

If you need help with ASP.NET 5, feel free to ping us here or on Gitter: https://gitter.im/aspnet-contrib/AspNet.Security.OAuth.Providers :heart:

One thing to remember with aspnet-contrib projects is that we always reference the latest (nightly) ASP.NET 5 packages, so make sure to update your DNX runtime using `dnvm upgrade -u` and your ASP

[2015-09-08 07:38] PinpointTownes commented on #31
It's actually a **very** good idea, thanks for suggesting it :+1:

I'll ping @jerriep and see if we can reuse his blog post to add a  `CONTRIBUTING.md` file in all the aspnet-contrib projects.

[2015-09-08 07:46] jerriep commented on #31
Of course, feel free to use it as a starting point and then we can refine it as we go along.

[2015-09-08 10:34] tparnell8 commented on #18
I can take this one...

[2015-09-08 10:59] tparnell8 opened #33 "Unable to build projects"
I am unable to build the projects in this dir. Could there be a specific nuget package that the projects should be pinned to?

here is my error stack

[code]

[2015-09-08 11:01] tparnell8 commented on #33
SO when I pin my project to 	"Microsoft.AspNet.Authentication.OAuth": "1.0.0-beta7", I am able to build.

[2015-09-08 11:12] tparnell8 opened #34 "Where do you put the default scope?"
In the Owin project we put a default scope in the options file (like this one from the github plugin)

https://github.com/tparnell8/OwinOAuthProviders/blob/master/Owin.Security.Providers/GitHub/GitHubAuthenticationOptions.cs#L134

where do we put the default scope, for basic login and user read permissions?

[2015-09-08 11:19] PinpointTownes commented on #33
Thanks for reporting it. This issue was caused by recent naming changes in aspnet/Security: https://github.com/aspnet/Security/pull/427

Though it was already on my radar, this is now fixed: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/5f886c23dfa3543e503a4e290c5ee237d37d376e :tada:

[2015-09-08 11:19] #33 closed

[2015-09-08 11:20] tparnell8 commented on #4
I wrote the DeviantArt provider for the OwinOauth repo, so I guess I can take this as well.

[2015-09-08 11:22] PinpointTownes commented on #34
This is still supported: simply add `Scope.Add("user")` in `GitHubAuthenticationOptions`.

That said, we generally limit the requested scope to the bare minimum needed for authentication, so not seeing this practice in the ASP.NET 5 middleware is not surprising :+1:

[2015-09-08 11:24] PinpointTownes commented on #18
Thanks Tommy :+1:

I added the `work in progress` label to make sure no one works on the same provider. Feel free to ping me if you need help.

[2015-09-08 11:24] PinpointTownes commented on #4
Thanks Tommy :+1:

I added the `work in progress` label to make sure no one works on the same provider. Feel free to ping me if you need help.

[2015-09-08 11:38] tparnell8 commented on #34
Got it thanks!

[2015-09-08 11:38] #34 closed

[2015-09-08 11:40] tparnell8 commented on #19
@rodkings and I did the Owin implementation. I'm sure one of us can get this done (and we talk somewhat often)

[2015-09-08 11:53] jerriep commented on #34
Yeah, on the OWIN side I got a lot of flack from some users about being too aggressive with the scopes I requested. And they were right.

So please ensure you limit scopes to the bare minimum needed to get the basic user information so you can populate the correct claims for ASP.NET Identity

[2015-09-08 11:55] tparnell8 commented on #34
of course, I only asked because last I looked (and things could be different now) twitch.tv required a scope declaration even if it was the most basic scope in their tree.

[2015-09-08 11:57] jerriep commented on #34
:+1:

[2015-09-08 12:04] tparnell8 commented on #31
Also,

can we use a `.vsssettings` file instead of something resharper specific? I wrote [this blog post](https://blog.tommyparnell.com/vs-2015-getting-resharper-experiance-without-resharper/) recently and since I have abandoned resharper. Also I spend half of my time in ubuntu on monodevelop so..I never have resharper anymore. Plus resharper is a paid product which could alienate people who wish

[2015-09-08 12:06] jerriep commented on #31
Of course. The main thing which may be different from what most people are used to is that the opening braces are at the end of the line.

I am not familiar with the .vsssettings file, so if you can create one and submit a PR it would be great

[2015-09-08 12:08] tparnell8 commented on #31
Just curious...any reasons why we are coding java style?

[2015-09-08 12:13] jerriep commented on #31
Haha, not sure :) @PinpointTownes can answer that one.

He's the boss and I'm marching to his tune ;)

[2015-09-08 12:19] PinpointTownes commented on #31
Well, K&R was the main coding style in MSFT until ASP.NET MVC 3 :smile:
Personally, I kept using it as it's a perfect compromise between code clarity and code length, but I guess it's a matter of personal preference.

Sure, I can upload mine if you want. But I guess you'll have to manually import it and that it will override your global configuration? Or maybe a plugin like CodeMaid has something

[2015-09-08 13:07] kappa7194 commented on #31
Yes, you're going to rewrite the local settings for the whole Visual Studio:

![image](https://cloud.githubusercontent.com/assets/1249988/9735300/14dc9b10-563a-11e5-8254-28be14ad4d0c.png)

I don't think there's a way to set coding preferences per-project instead of "per-everywhere".

:unamused:

ReSharper is the single most useful productivity extension and memory hog for Visual Studio (totally un

[2015-09-08 13:09] jerriep commented on #31
Is there not an open source utility that does something like this?

I am not too familiar with it, but I believe in the JavaScript world JSLint will check this for you. But I am speaking under correction.

[2015-09-08 13:13] kappa7194 commented on #31
One I know is [CodeMaid].

Oh, don't forget about [Code Analysis]:

![image](https://cloud.githubusercontent.com/assets/1249988/9735509/ac9823c4-563b-11e5-9974-02acddfffe38.png)

It's not as thorough as StyleCop (RIP) but it's still useful.

Beware that I don't know if it's available in every edition of Visual Studio (it's there in 2015 Community Edition).

[CodeMaid]: http://www.codemaid.net/
[Co

[2015-09-08 13:16] jerriep commented on #31
Ahh, OK yes I see @PinpointTownes mentioned CodeMaid above as well as well as you in your post. Sorry...

Yes, then we should set up CodeMaid so people can run it over their code before they commit. That would be the easiest.

[2015-09-08 13:21] tparnell8 commented on #31
CodeMaid is **definitely** fine. Anything that lowers the barrier to entry is where its at.

[2015-09-08 13:25] tparnell8 commented on #31
@kappa7194 https://www.nuget.org/packages/StyleCop.Analyzers/1.0.0-beta009

[2015-09-08 14:01] jerriep commented on #31
Have a look at this as well. It is used by the dotnet team:

http://blogs.msdn.com/b/dotnet/archive/2015/02/09/automatic-code-formatter-released-to-github.aspx

[2015-09-08 17:13] PinpointTownes commented on #31
I never merge a PR as-is. PRs are always cherry-picked and verified: if code style fixes are needed, they are immediately applied and squashed before being pushed. It takes a bit of time, but we're sure we don't have inconsistent providers :smile:

I'll take a look at CodeMaid and give it a try. In the meantime, don't worry about sending a PR with inconsistent code styling, it will be fixed at som

[2015-09-08 18:31] tparnell8 commented on #13
I can grab this...

[2015-09-08 23:24] jerriep opened #36 "Add Fitbit provider"

[2015-09-08 23:24] jerriep commented on #36
@jmloeffler Indicated he will pick this one up

[2015-09-09 00:00] tparnell8 opened #38 "Yeoman generator"
it might be good to make a Yeoman generator to scaffold the basic project template

[2015-09-09 02:22] jerriep commented on #38
Yeah, interesting idea. I was also thinking about maybe doing something with SideWaffle, but I think Yeoman makes more sense. One can just feed in some variables and it will generate most of the code for you.

[2015-09-09 02:27] jerriep commented on #31
The comments from you guys about Resharper have made me re-evaluate its use in my development. I simply love Resharper, but with VS 2015 Microsoft has taken massive leaps forward in providing many of the things which I used Resharper for. And yes,

The community is also adding a lot of stuff of top of that using the Roslyn compiler.

So I am going to experiment for the next week or so and see whet

[2015-09-09 03:16] jmloeffler commented on #36
Yep, I am working on it.  I've got it working already but want to spend a little more time testing and ran out of hours in the day.

[2015-09-09 03:39] jerriep commented on #36
No problem. I just tagged you to make sure no-one else picks it up.

Take your time with getting it done :)

[2015-09-09 22:43] tparnell8 opened #41 "Builds are breaking"
look at #40 the builds are breaking. I presume its due to a change in Korebuild

[2015-09-09 22:47] PinpointTownes commented on #41
I ping @davidfowl on JabbR and I'm waiting for his answer but it definitely sounds like a Sake issue. I'll mark this issue as external.

[2015-09-09 22:52] tparnell8 commented on #41
is it possible to pin to an older version of Korebuild for now?

[2015-09-10 11:30] jerriep commented on #38
I'll start working on this one...

[2015-09-10 11:31] jerriep commented on #31
I'll start working of putting together documentation for contributors

[2015-09-10 11:56] tparnell8 commented on #31
Resharper is like a drug, once you get over the 2 day hump everything seems fine. Also there are a fantastic assortment of open source extensions that really improve the editing experience of VS, without the performance implications of resharper (I notice it really slows down my editor).

[2015-09-11 01:47] mjknowles opened #45 "Add Slack provider"
I'll start working on this one. :+1:

[2015-09-11 04:02] Gekctek commented on #7
Flickr seems to only support OAuth 1a and not OAuth 2 from what I can tell. Is this still something that you would want implemented?

[2015-09-11 04:25] jerriep commented on #7
My opinion is that it belongs in this repo, but yeah you would not be able to make use of all the OAuth 2 base classes. You will need to do the heavy lifting yourself.

AFAIK the Twitter provider is also based on OAuth 1a, so you can use that as a starting point.

[2015-09-11 06:38] Gekctek commented on #20
This api requires that the callback api be not localhost AND https. I cant figure out a way to test this on my machine. I have a placeholder redirect uri configured. If it wasnt https i would just redirect the host but i dont know if that will work with https. Any suggestions for doing actual testing on this api without manually ripping it apart and testing the individual components?

I tried [thi

[2015-09-11 06:54] jerriep commented on #20
You can use this blog post as a starting point:
https://www.twilio.com/blog/2014/03/configure-windows-for-local-webhook-testing-using-ngrok.html

The only thing they don't cover in there is the HTTPS, but you should be able to figure that out.

Also note that the location for the IIS Express configuration file has changed in VS 2015

It is not located at `%USERPROFILE%\My Documents\IISExpress\conf

[2015-09-11 11:49] PinpointTownes commented on #41
Fixed: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/e32a75910797eb2f6f9c3a3119a440cc9f4dd331 :tada:

[2015-09-11 11:49] #41 closed

[2015-09-11 16:18] jmloeffler commented on #36
I've noticed that we've got values in the providers for the clientid and secret in the Startup.cs of the sample app.  Are those legit values?  I would normally leave these blank and comment out the section so the provider isn't active until someone provides values.

[2015-09-11 18:03] PinpointTownes commented on #45
Thanks @mjknowles! :fries:

[2015-09-11 23:05] jerriep commented on #36
They were legit at the time of merging the PR so that @PinpointTownes could easily test, since he did not have to go and create an app just to test. I deleted mine in the meantime, and you should do the same.

But it is not a very good practice to leave those in. We should come up with something else. The important thing is that @PinpointTownes must be easily able to test PRs

[2015-09-11 23:25] PinpointTownes commented on #36
@jerriep I totally agree :+1:

FYI: I already removed all the `app.Use*Authentication` calls (except GitHub/Twitter/Google) from the MVC sample since they were no longer working.

[2015-09-12 00:04] tparnell8 commented on #4
I believe this issue can be closed

[2015-09-12 00:15] PinpointTownes commented on #4
Yup, indeed :+1:

[2015-09-12 00:15] #4 closed

[2015-09-12 04:27] jerriep commented on #3
I will pick up this one.

[2015-09-13 13:07] PinpointTownes commented on #38
Done: https://github.com/aspnet-contrib/generator-aspnet-oauth

[2015-09-13 13:07] #38 closed

[2015-09-13 15:25] PinpointTownes commented on #31
CONTRIBUTING.md added: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/385393e3db05730456b91d36b92362d1e36eca53

Concerning the code style thing, I'm convinced it should be mitigated by the new Yeoman generator added by @jerriep.

[2015-09-13 15:25] #31 closed

[2015-09-14 12:36] jerriep commented on #31
I am sad (or mayby happy?) to that my attempt to go without Resharper lasted mere hours... I could see a marked improvement in the speed on the IDE when I turned Resharper off, but I just found it too hard to go without it... :(

[2015-09-14 12:38] tparnell8 commented on #31
what feature(s) were you missing that you 'had to have'

[2015-09-14 12:41] tparnell8 commented on #31
The only thing I miss is the resharper intellisense. TBH their intellisense is ungodly amazing, but I have learned some tricks to improve the regular VS intellisense.

[2015-09-14 12:49] jerriep commented on #31
Yeah, their intellisense was one of the major ones. The ability to just type any part of the identifier and it will list it for you - even when it is in a namespace which is not referenced yet. The VS camel humps are good, but it does not come close to Resharper.

I also use a lot of other code fixes which I could not quite find equivalents for. Like declaring a field and then instantly have Resha

[2015-09-14 12:52] tparnell8 commented on #31
hmm I forgot about that one the .ctor initialize we could make a VS plugin...

The VS intellisense won't auto complete the non referenced classes, but if you type the whole name of a Type that is not referenced you have like a 1/3 that it will lightbulb for a using statement.

If you document what you don't have/like I/we can try to make extensions for it. I'd mostly like to improve the experience

[2015-09-14 12:57] jerriep commented on #31
Sure, I will do the experiment again and write a blog post with a nice click-bait title like "I turned Resharper off for a week and you will NEVER guess what happened next..." ;)

[2015-09-14 13:00] tparnell8 commented on #31
Alrighty

[2015-09-14 13:00] tparnell8 commented on #31
it would be cool if you could ref my [blog post](https://blog.tommyparnell.com/vs-2015-getting-resharper-experiance-without-resharper/) ;)

[2015-09-14 13:06] jerriep commented on #31
Oh cool, I also subscribed to your RSS feed so I can monitor it for potential content for ASP.NET Weekly

[2015-09-14 13:21] tparnell8 commented on #31
sweet I have 2 posts I have already written, I think both will be relevant, I will be publishing one in a day or two and the other the following week.

[2015-09-14 23:15] tparnell8 opened #51 "Simplify names"
https://github.com/aspnet/Announcements/issues/67

[2015-09-14 23:21] PinpointTownes commented on #51
Reacting to these naming changes is on my todo list :+1:

That said, I won't align our providers with the new names used by the ASP.NET team for at least 2 reasons:
* This new naming pattern is inconsistent in ASP.NET 5 itself: the OAuth2/OIDC providers have been renamed but the cookies middleware is still named `CookieAuthenticationMiddleware` to avoid type collisions (with the `CookieOptions` in

[2015-09-15 06:36] jerriep commented on #51
Yeah, I agree on the risk on name collision being high

[2015-09-15 10:32] samjudson commented on #7
I should be able to help with this - I wrong the FlickrNet API library, so I know more than anyone should about how Flickr's Oauth works :)

[2015-09-15 11:19] PinpointTownes commented on #51
Fixed: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/3f58f98b57fae4f1bc37ff51e09f6a08c9b5091e

@jerriep I also fixed the Yeoman generator. Feel free to push a new update when you can :+1:

[2015-09-15 11:19] #51 closed

[2015-09-16 20:11] SH2015 commented on #16
So does that mean we cant implement AOuth 2 with this provider ?

[2015-09-16 20:14] SH2015 commented on #5
I will take this provider

[2015-09-16 20:30] PinpointTownes commented on #5
@SH2015 nice, thanks! :+1:

[2015-09-16 20:34] PinpointTownes commented on #16
No no, you can create an OAuth2 provider for StackExchange (it supports both OpenID2 and OAuth2).

Here's the documentation: https://api.stackexchange.com/docs/authentication :smile:

[2015-09-16 20:38] SH2015 commented on #16
Cool , thanks

[2015-09-16 20:42] SH2015 commented on #5
You welcome, Tonight I ll start coding it .

[2015-09-19 10:19] kappa7194 commented on #16
Anyone working on this?

[2015-09-19 10:29] PinpointTownes commented on #45
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/4ff22aee4fb2b0e9bb521e953af5b74ca618157e

@mjknowles thanks for your contribution :smile:

[2015-09-19 10:29] #45 closed

[2015-09-19 11:01] PinpointTownes commented on #32
Implemented: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/7fba20fc50a4fa188101ace9bb4923b6ff273fdf

Thanks for your contribution @kappa7194! :tada:

[2015-09-19 11:01] #32 closed

[2015-09-19 11:23] PinpointTownes commented on #13
Implemented: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/37d32d1af5a127f1dd89d4ef6b3cf4697d4f0866

Thanks for your contribution @tparnell8 :+1:

[2015-09-19 11:23] #13 closed

[2015-09-19 18:59] SH2015 commented on #16
I am working on DropBox for now  , but currently I am having a hard time building the project successfully ,I was getting build errors and after installing DNX  I started getting xproj not defied .

[2015-09-20 07:35] Rahul-Ec27 commented on #24
I can pick this one

[2015-09-23 10:28] abhinavnigam commented on #8
I am picking this

[2015-09-23 16:30] PinpointTownes commented on #8
@abhinavnigam thanks! :+1:

[2015-09-25 14:50] abhinavnigam commented on #8
Today I had done dnu restore after that getting below error, before that, it works fine.

System.InvalidOperationException: This application requires DNX version 1.0.0-beta8-15665 or newer to run.
Some package reference in MVC Client refer to version 1.0.0-beta8-15679 example -Microsoft.AspNet.Authentication.Google

Done dnvm upgrade -u but getting DNX version 1.0.0-beta8-15654. Can you please hel

[2015-09-27 04:20] SH2015 commented on #5
The Dropbox provider has been done . but I have two questions
1- Do I need to add all the user info values or just the id,name,email ?
2- if the values are sub objects , can I create a subclasses or you want to keep it clean and limited to what we have now from classes ?

[2015-09-27 04:41] jerriep commented on #5
I think the general rule is not to go overboard with the information, and stick to the essentials and ones that really make sense otherwise.

Can you perhaps give a link to the API documentation so we can see what is available?

[2015-09-27 04:45] jerriep commented on #5
Sorry, found it in your PR: https://www.dropbox.com/developers/core/docs#account-info

I thing you are OK with the ones you added as claims for now (id, email and name). Any other ones which people need they can extract from the payload themselves.

[2015-09-27 12:45] SH2015 commented on #5
Great.

[2015-09-27 16:59] abhinavnigam commented on #8
Added FourSquare oAuth Provider. Submit the Pull request. Please review and let me know if changes are required.

[2015-10-07 11:06] Haythem opened #62 "External login info is always null with GitHub"
Hi @PinpointTownes,

I'm getting back to you from this [issue](https://github.com/aspnet/Security/issues/507) and after updating my runtime to beta7. The error of the `_signInManager.GetExternalLoginInfoAsync()` persists (always returns null).

I stepped through the code in debugging mode and I found that the necessary claims (NameIdentifier and Name) are present.

Here's my `Startup` class as wel

[2015-10-07 11:37] PinpointTownes commented on #62
Hey :smile:

Try removing these two things, which are already added by ASP.NET Identity when you call `services.AddIdentity()`/`app.UseIdentity()` (with different schemes, which probably explains why Identity cannot see the identity produced by your own cookie/GitHub middleware):

[code]

[code]

[2015-10-07 12:06] Haythem commented on #62
@PinpointTownes, thanks a lot for this great answer. Indeed, adding `app.UseCookieAuthentication` confuses identity because of the two different schemes. The problem is now solved.

Now, for the scenario where the user is not present in the database, Identity will redirect us to the `ExternalLoginConfirmation` view, which will ask for the email address if not present in the claims.

I think that w

[2015-10-07 13:30] PinpointTownes commented on #62
Good idea! Feel free to submit a PR to fix that :+1:

For readability: `AddOptionalClaim` internally does exactly what your snippet does, but allows chained calls.

[2015-10-08 16:41] PinpointTownes commented on #3
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/b219c286deddd350dc58f8c84b12105daed21722 :+1:

[2015-10-08 16:41] #3 closed

[2015-10-08 16:41] PinpointTownes commented on #8
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/f52afe385f1d672e9c443f420971359b8e36f0ed :+1:

[2015-10-08 16:41] #8 closed

[2015-10-08 16:43] PinpointTownes commented on #5
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/cbe593c39063c006ebd25ac1e21e850a24cea103 :+1:

[2015-10-08 16:43] #5 closed

[2015-10-09 03:11] Gekctek commented on #20
Ya it seems https works much differently and I cant figure it out besides deploying it to somewhere that actually has a https url

[2015-10-11 14:24] PinpointTownes commented on #1
Merged: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/e89b88bfbdf8d59904fb3dd7ae458cc9351e958e.

Thanks @Res42! :+1:

[2015-10-11 14:24] #1 closed

[2015-10-18 22:45] PinpointTownes commented on #2
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/c241e55e71f6c07f1f1b2c0bdf728c14cf9b66c4

@Gekctek thank you! :+1:

[2015-10-18 22:45] #2 closed

[2015-10-23 21:40] PinpointTownes commented on #9
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/060ef4ae403606292b71dba1b12f046c4b55f320 :tada:

[2015-10-23 21:40] #9 closed

[2015-10-23 21:45] PinpointTownes commented on #15
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/a4b97b64a27192a8699409bde11c7d60a18278ae

[2015-10-23 21:45] #15 closed

[2015-10-23 22:39] PinpointTownes commented on #18
Merged: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/dbba66ec007f8b4f849048d1be5c79c2f06090f8 :tada:

[2015-10-23 22:39] #18 closed

[2015-10-23 22:39] PinpointTownes commented on #36
Merged, thanks! https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/1836930e7d5812b0e4321014241f6488115d05d8

[2015-10-23 22:39] #36 closed

[2015-10-25 12:31] PinpointTownes commented on #62
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/23b52e68e2c25c00021ea1bb2c89603d9e1d6639

[2015-10-25 12:31] #62 closed

[2015-11-19 22:20] PinpointTownes opened #71 "Add missing code documentation"
/cc @jerriep

[2015-11-25 14:32] Haythem opened #72 "Restoring the packages doesn't work"
Restoring any of the published packages is no longer working because of the dependency of `System.Dynamic.Runtime`. Please update the project dependencies and rebuild them against the `rc1-final` packages.

[2015-11-25 14:56] Haythem commented on #72
Can you please go side by side with Asp.Net packages versions ? I know that the project is WIP but setting the same version is more semantic.

[2015-11-25 14:58] PinpointTownes commented on #72
AFAICT, this problem only impacts the GitHub middleware, which is the only one using `System.Dynamic.Runtime`. Sadly, NuGet.org doesn't allow removing a package to republish it, so downloading the right dependency yourself is currently the only option:

https://www.myget.org/F/aspnetvnext/api/v2/package/System.Dynamic.Runtime/4.0.11-rc2-23519

[2015-11-25 15:03] PinpointTownes commented on #72
Heh no, it has nothing to do with semantic, just with convenience :smile:

I agree it would make your life easier, but it would tie our development timeline to ASP.NET 5's roadmap, which is definitely not what we want (the CLR team shares the same concerns, and so do the Glimpse authors: https://www.nuget.org/packages/Glimpse/2.0.0-beta1)

[2015-11-25 15:10] Haythem commented on #72
Thanks for your blazing fast support. I'll add the dependency manually through the `project.json` file. I'll keep you posted.

[2015-11-25 15:27] PinpointTownes commented on #72
FYI, I sent a ticket to the NuGet gallery team to remove the buggy package. I hope they will consider it serious enough to accept it.

[2015-11-26 11:40] PinpointTownes commented on #72
The NuGet gallery team refused to remove the buggy package. We'll have to push a new version to fix that.

[2015-11-26 11:51] jerriep commented on #72
@PinpointTownes Did they explain their reasoning for not allowing removal of packages?

[2015-11-27 01:13] davetimmins opened #74 "Add ArcGIS provider"
This was done for the old https://github.com/RockstarLabs/OwinOAuthProviders project so re-implementing here. @jerriep raised an issue for me a while back but I've only just got round to it sorry.

[2015-12-06 05:01] codematrix opened #75 "How do I reach you?"
Hi Kevin, I would like to contribute to the aspnet-contrib. You can reach me at ross_pellegrino@hotmail.com. I don't want to flood this message thread with the details of my project. I asked David Fowler but he asked me to contact you.

Here's our discussion. https://github.com/aspnet/Diagnostics/issues/222
Also, here's a linked to the forked Asp.Net.Diagnostics project.
https://github.com/codemat

[2015-12-06 20:14] PinpointTownes commented on #75
Hey @codematrix!

Thanks for your interest in the *aspnet-contrib* initiative.
I'll chat a bit with @davidfowl about your project and ping you tomorrow.

Thanks.

[2015-12-06 20:14] #75 closed

[2015-12-06 21:16] codematrix commented on #75
Thanks Kevin!

[2015-12-08 12:59] yannicsmeets commented on #12
The Paypal provider has been implemented already

[2015-12-10 14:46] PinpointTownes commented on #74
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/af7c69a9ad65a98fbf6ad8057fe607cfc2724bf5 :tada:

Thanks!

[2015-12-10 14:46] #74 closed

[2015-12-10 14:47] PinpointTownes commented on #10
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/5e7740c5237245ef14d7e014787110c3b945c143

@yannicsmeets thanks! :clap:

[2015-12-10 14:47] #10 closed

[2015-12-10 14:47] PinpointTownes commented on #12
Yep: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/0ec818547227d125fd3bdaa8b79d70a8831539f5 :tada:

[2015-12-10 14:47] #12 closed

[2015-12-20 07:49] abhinavnigam commented on #14
I am taking this.

[2015-12-23 05:33] darshannahar opened #78 "ExternalLoginInfo is always null for Dropbox"
I started with default web application template.

I added the below lines in Startup.cs
app.UseDropboxAuthentication(options =>
            {
                options.ClientId = "appId";
                options.ClientSecret = "appSecret";
                options.SaveTokensAsClaims = true;
                options.UserInformationEndpoint = "https://api.dropboxapi.com/1/account/info";

[2015-12-23 06:17] darshannahar commented on #78
I think the problem is in the Json keys the dropbox helper is looking for.
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.Dropbox/DropboxAuthenticationHelper.cs

[2015-12-23 14:59] PinpointTownes commented on #78
Hum yeah. According to the Dropbox documentation, the name corresponding to the identifier property is `uid`, not `id`: https://www.dropbox.com/developers-v1/core/docs#account-info

Could you please create a new app for me and send me the credentials via PM on Gitter? Just to make sure the suggested fix really works :smile:

[2015-12-24 01:49] darshannahar commented on #78
Thanks. Sure. I will do that PM you the credentials and redirect-url.

[2015-12-24 01:53] darshannahar commented on #78
Also dropbox seems to be recommending a different endpoint for api. The documents suggest https://api.dropboxapi.com and the DropboxAuthenticationDefaults.cs  has defaults set to https://api.dropbox.com. Though the default used seem to be working I guess dropbox may be looking to deprecate that in future.

[2015-12-24 02:41] PinpointTownes commented on #78
Fixed: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/9e57c22471e9e164080b8936b44cf724c1f8ec7d

Thanks for reporting this bug! (I also replaced the default domain, per your suggestion) :clap:

[2015-12-24 02:41] #78 closed

[2016-01-07 18:03] andrewksmith opened #79 "Hohum"
With the latest dnx etc I get the following error:

This is not a criticism but by why is the attempt by MS to copy NVM and the world of Node considered to be a benefit to those of us delivering systems which make money...( do you feel the frustration ;-) )

__________________________________

'dnx.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'C:\Users\andy\.dnx\packages\Microsoft.AspNet.WebUtilit

[2016-01-07 18:14] PinpointTownes commented on #79
Hahaha :smile:

Could you please share your project.lock.json file?

[2016-01-07 23:05] PureKrome commented on #79
@andrewksmith that's a huge, sweeping statement! Care to elaborate on such an assertion?

Otherwise, close-for-trollin'.

[2016-01-08 09:02] andrewksmith commented on #79
As requested the project.lock.json file:

[project.lock.json.txt](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/files/82424/project.lock.json.txt)

[2016-01-08 09:10] andrewksmith commented on #79
Dear PureKrome you must do what you feel is correct.

If my question and the assertion behind it counts as 'trollin' to you then I am really rather surprised.

Is it not the case that we have been presented by MS with something based very closely on Node and NVM etal?  As a starting point can we agree on that?

[2016-01-08 09:25] PureKrome commented on #79
Yes.

And now I present to you:

- [GVM](https://github.com/moovweb/gvm) : Go version manager
- [RVM](https://rvm.io/) : Ruby version manager
- and to some loose extent, [JEnv](http://www.jenv.be/) : Java 'version' manager.

so your point is?

If you're suggesting that Node/NVM are inferior products and that MS shouldn't be following that model _or_ the model of _other_ very very very popular and

[2016-01-08 14:37] PinpointTownes commented on #79
@andrewksmith which DNX version are you using?

[2016-01-08 14:53] andrewksmith commented on #79
C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\Tools>dnvm list
...
1.0.0-rc2-16357   clr     x86          win

[2016-01-08 14:54] PureKrome commented on #79
@PinpointTownes maybe drop down to RC1 ?

[2016-01-08 15:00] andrewksmith commented on #79
rc1 update 1 and rc2 16357 generate the same exception

[2016-01-08 15:05] PureKrome commented on #79
@andrewksmith can u also post the content of `project.json` so we can see the list of package dependencies?

[2016-01-08 15:11] andrewksmith commented on #79
[project.json.txt](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/files/82841/project.json.txt)

[2016-01-11 12:56] Haythem commented on #79
I think that Microsoft dropped the `Microsoft.Extensions.NotNullAttribute.Sources`. Well, that means the  `NotNullAttribute` is obsolete. Lateley I've benn reading parts of the `Microsoft.AspNet.Security` code, I noticed that they replaced the attribute with `ìf else` statements throwing an `ArgumentNullException`.

[2016-02-01 08:40] trenoncourt commented on #24
Is there any news about the Yammer provider ?

[2016-02-01 12:48] PinpointTownes commented on #24
@trenoncourt nope, no news. Would you like to contribute?

[2016-02-01 14:20] trenoncourt commented on #24
I'll try to add Yammer next week ;), how to contribute ?

[2016-02-01 14:28] PinpointTownes commented on #24
Jerrie wrote a great guide listing everything you need to start contributing: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/CONTRIBUTING.md :smile:

[2016-02-01 14:30] trenoncourt commented on #24
ok i read that, thank you.

[2016-02-24 07:01] TheWyzard44 opened #81 "Cancelled Login creates 500 response in signin-battlenet"
Not sure if this has been addressed yet:

ASP.NET Core RC1 Sample application (VS 2015 Community - not update 1)

project.json (public nuget)
`"AspNet.Security.OAuth.BattleNet": "1.0.0-alpha3",`

Clean user - never been to site - no identity db entries - no battle.net correlation to OAuth Application (Battlenet/identity account combo have never seen this application).

- Is a redirect to me happen

[2016-02-24 14:22] PinpointTownes commented on #81
Yep, though it's actually by-design: `RemoteAuthenticationHandler` and `OAuthHandler` (the classes that handle the callback path dance) don't consider `access_denied` as a special error [and simply return a 500 response to indicate that the external authentication process failed](https://github.com/aspnet/Security/blob/1.0.0-rc1/src/Microsoft.AspNet.Authentication/RemoteAuthenticationHandler.cs#L3

[2016-02-24 14:28] PinpointTownes commented on #81
Moved to https://github.com/aspnet/Security/issues/710.

[2016-02-24 14:28] #81 closed

[2016-03-18 05:20] somewhatabstract commented on #72
@PinpointTownes That version of `System.Dynamic.Runtime` isn't even available anymore.

[2016-03-29 03:43] jerriep commented on #71
@PinpointTownes What was your idea in terms of documentation? What level of docs do you want?

[2016-03-29 03:48] PinpointTownes commented on #71
Just basic XML documentation, mainly in the IApplicationBuilder extensions: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.ArcGIS/ArcGISAuthenticationExtensions.cs.

[2016-03-29 03:49] jerriep commented on #71
Yeah, I can help with that. Can you give me a timeframe of when you want this done?

[2016-03-29 03:51] PinpointTownes commented on #71
Thanks! :clap:

Unfortunately, we have no precise date for ASP.NET Core RC2, but I'd say we have at least 2 weeks for that.

[2016-03-29 03:52] jerriep commented on #71
OK. I'm busy migrating to Asia again, but I'll try and fit it in for you somewhere

[2016-03-29 03:58] PinpointTownes commented on #71
Thanks Jerrie! :+1:

[2016-04-07 22:54] PinpointTownes commented on #71
@jerriep FYI, the RC2 packages are being finalized ATM. Do you think you'll have time to work on the XML documentation?

Thanks :+1:

[2016-04-08 01:59] jerriep commented on #71
I will do this tomorrow (Saturday). I have a lot of stuff to catch up on personal projects, so I think it is best to get my head down this weekend and get it all done...

[2016-04-16 01:55] PinpointTownes commented on #71
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/9d0725577bd527807fa1dd3ea6fd48259c04b5ff :clap:

[2016-04-16 01:55] #71 closed

[2016-04-20 09:31] stap123 opened #85 "Targeting net46"
Had a read through the repo but couldn't find anything so.

Does this work targeting net46? I have a project that targets net46 and the reference to

"AspNet.Security.OAuth.LinkedIn": "1.0.0-alpha3"

does not work with the error message "... does not support framework .NETFramework,Version=4.6"

Many thanks

[2016-04-20 11:48] PinpointTownes commented on #85
All the alpha3 providers target `dnx451` instead of `net451` so you need to target `dnx46` to use them.

DNX being removed in the next version, the beta1 providers (for ASP.NET Core RC2) have been updated to use `net451`.

[2016-04-20 11:55] #85 closed

[2016-05-03 12:41] falconmick opened #88 "dnu restore: unknown keyword platform"
Hey guys.
Just spent the last 2 hours trying to get this damn thing to run... And yeah, no luck. I have tried heaps of things and got heaps of diferent errors, but I will start out with the initial error I get as the ones that were after might be due to my "fixes"

I have a fresh clone of my forked repo as suggested via [Contributing.md](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Prov

[2016-05-03 15:00] PinpointTownes commented on #88
Hey,

The ASP.NET Core RC2/aspnet-contrib projects no longer work with DNX: you need to install .NET CLI to install and run the latest bits: https://github.com/dotnet/cli

I'll update CONTRIBUTING.md to reflect that.

Note that we already have a Steam middleware, that uses the generic OpenID2 provider: https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/tree/dev/src/AspNet.Security.

[2016-05-03 20:48] falconmick commented on #88
thanks for that.... Haha who would have known keeping up with beta/rc projects would be so hard (not).

A bit off topic, but how do you keep up to date with these changes?

[2016-05-11 05:03] amattie commented on #14
@abhinavnigam You start working on this recently? I don't mind taking it, but I don't want to duplicate efforts.

[2016-05-11 05:29] PinpointTownes commented on #14
@amattie FYI, the yeoman generator needs a serious update, you may have to manually fix the resulting `project.json` to work correctly with .NET CLI. Feel free to take a look at the other providers, as they have all been updated for RC2.

[2016-05-11 05:31] amattie commented on #14
Awesome timing. Thanks. I was trying to pin to RC1 to fix, but working backwards from something that's working with RC2 is easier.

[2016-05-11 05:35] PinpointTownes commented on #14
Yeah, don't try to target RC1, I'm even pretty sure CI would never pass with DNX-dependents packages (`release` targets the incoming RC2 bits while `dev` currently targets RC3/RTM) :smile:

[2016-05-18 22:53] rodkings commented on #19
I might be able to touch this very soon. Have you did anything @tparnell8?

[2016-05-19 22:22] bhatnagar-anuj commented on #88
@PinpointTownes  I'm having RC1 version project in my Solution. I don't want to update that project to RC2 for the time being and adding new ASP.Net Core RC2 project in the same solution. I'm seeing the same error. How I can add two version ASP.net in the same solution ??????

Error: Microsoft.Dnx.Runtime.FileFormatException: unknown keyword platform ---> System.InvalidOperationException: unknown

[2016-05-19 22:55] PinpointTownes commented on #88
@falconmick sometimes, I really wonder :smile:

Unfortunately, you can't. At all. Either stay with RC1-only or migrate to RC2.

[2016-05-19 22:55] #88 closed

[2016-05-19 22:59] PinpointTownes commented on #72
They pretended it would have broken people (which was wrong, as the package couldn't be used correctly, anyway).

The alpha4 package (for RC2) won't be affected, because I pinned the right version when building the packages this time: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/master/src/AspNet.Security.OAuth.GitHub/project.json#L45 :smile:

[2016-05-19 22:59] #72 closed

[2016-05-19 23:03] PinpointTownes commented on #79
Closing as obsolete (`ILibraryExporter` was a DNX interface, which was replaced by .NET CLI in RC2).

@Haythem FYI, we kept the `[NotNull]` attributes for pure code analysis reasons but we now use the ReSharper attributes instead of the MSFT ones: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/master/src/AspNet.Security.OAuth.GitHub/project.json#L36

[2016-05-19 23:03] #79 closed

[2016-05-24 23:29] Lorac opened #93 "Add Gitter provider"
Doing it

[2016-05-25 00:57] Lorac commented on #17
I'll take this

[2016-05-25 00:58] Lorac commented on #6
I'll take this

[2016-06-02 22:14] PinpointTownes commented on #14
Merged, thanks: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/14618f683087936a784b1191215f857583ae880f :clap:

[2016-06-02 22:14] #14 closed

[2016-06-02 22:14] PinpointTownes commented on #93
Merged, thanks: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/7c76ee435693928803a9c1787f8d72c5f6d7ba82 :clap:

[2016-06-02 22:14] #93 closed

[2016-06-14 17:10] PinpointTownes opened #97 "Add constants classes to expose custom claims/parameters"

[2016-06-18 17:39] serber commented on #24
I send pull request for this issue

[2016-06-23 13:17] PinpointTownes commented on #20
Related PR: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/99

[2016-06-23 13:17] PinpointTownes commented on #24
Related PR: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/98

[2016-06-30 06:50] MoxxNull opened #102 "Error with asp.net core RTM"
Using "app.UseOAuthValidation();"

`              var host = new WebHostBuilder()
                .UseKestrel()
                .UseContentRoot(dir)
                .UseIISIntegration()
                .UseStartup<Startup>()
                .Build();
`

throws:

UPDATE: My bad, sorry, using a newer version of your library fixed it :)  1.0.0-alpha3-0181 is fine.

[2016-06-30 11:39] mtaanquist commented on #102
I am seeing the same issue using the latest BattleNet provider. The error doesn't occur until you attempt to add the service to Startup.cs and add in the ClientId/ClientSecret in the options.

[2016-06-30 11:54] PinpointTownes commented on #102
You need to use the `1.0.0-beta1-final` version, available on the MyGet feed. It should be pushed to NuGet.org soon.

[2016-07-01 04:16] supergibbs opened #103 "Add Automatic provider"
https://developer.automatic.com/api-reference/#authentication

[2016-07-01 04:18] supergibbs commented on #103
On it

[2016-07-01 19:34] PinpointTownes commented on #102
FYI, the aspnet-contrib OAuth2/OpenID2 providers for ASP.NET Core are now on NuGet.org

[2016-07-01 19:34] #102 closed

[2016-07-06 21:03] Alber70g opened #105 "Add Google provider"

[2016-07-06 22:10] PinpointTownes commented on #105
FYI, the Google provider is maintained by the ASP.NET Core team: https://github.com/aspnet/Security/tree/dev/src/Microsoft.AspNetCore.Authentication.Google

Is this something you had in mind?

[2016-07-08 10:52] #105 closed

[2016-07-11 17:36] mariozski commented on #6
Hey, I created pull request  #106 for this.

[2016-07-19 10:10] macgyver76 opened #109 "Add JetBrains Hub Provider"

[2016-07-23 07:51] Alber70g commented on #105
Yes it is. I wasn't aware of this one. Thanks a lot!
On Fri, 8 Jul 2016 at 12:52, Kévin Chalet <notifications@github.com> wrote:

[2016-07-29 19:02] Venr opened #110 "de ."

[2016-07-29 19:24] #110 closed

[2016-08-01 20:01] mariozski commented on #6
This can be closed now as #106 was merged.

[2016-08-01 20:10] PinpointTownes commented on #6
@mariozski good point. Thanks for the heads up.

[2016-08-01 20:10] #6 closed

[2016-08-10 00:47] fearlesscoder opened #111 "Samples project doesn't build on VSCode Linux"
Project AspNet.Security.OAuth.ArcGIS (.NETFramework,Version=v4.5.1) will be compiled because expected outputs are missing
Compiling AspNet.Security.OAuth.ArcGIS for .NETFramework,Version=v4.5.1
/ssd/src/netcore/AspNet.Security.OAuth.Providers/src/AspNet.Security.OAuth.ArcGIS/project.json(41,15): error DOTNET1012: The reference assemblies directory was not specified. You can set the location using

[2016-08-31 08:41] arielcloud opened #114 "Did you plan to add support for oauth1.0?"
thanks!

[2016-08-31 11:50] PinpointTownes commented on #114
Nope, there's no plan to introduce a generic OAuth1 provider since it's almost completely dead. If you need to target a legacy server, I'd recommend copying the implementation used by the Twitter provider: https://github.com/aspnet/Security/tree/dev/src/Microsoft.AspNetCore.Authentication.Twitter

[2016-08-31 14:04] arielcloud commented on #114
thanks!

note that the description in nuget is:
"ASP.NET Core middleware that enables an application to support Twitter's **OAuth 2.0** authentication workflow."

and if I understand you - it should be OAuth 1.0

[2016-08-31 14:39] PinpointTownes commented on #114
@arielcloud haha, nice catch. I opened a ticket for you: https://github.com/aspnet/Security/issues/962 :+1:

[2016-09-01 21:04] arielcloud commented on #114
I'm implementing a QuickBooks provider (OAuth 1.0, I started from the twitter code).
If I'll open a PR, will you want to add this? or should i add it as external nuget package?

[2016-09-01 22:08] jamesholcomb opened #115 "Add Strava provider"

[2016-09-11 01:08] PinpointTownes commented on #16
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/113

[2016-09-11 01:08] #16 closed

[2016-09-11 01:09] PinpointTownes commented on #20
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/17f23cd1f0f30d69d0ebbc34409c58b6a750d962.

[2016-09-11 01:09] #20 closed

[2016-09-11 01:10] PinpointTownes commented on #103
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/1bd0cd7484a6799c4fd49a5fad7284e844d34a91

[2016-09-11 01:10] #103 closed

[2016-09-11 01:11] PinpointTownes commented on #111
I suppose you don't have Mono on your machine? Note that it's required to be able to compile .NET Desktop 4.5.1 assemblies.

[2016-09-11 01:11] #111 closed

[2016-09-14 01:04] sebvst opened #117 "Paypal sandbox not working"
Hello,

I think the sandbox is not working if I pass the options object like this:

    app.UsePayPalAuthentication(new PayPalAuthenticationOptions
    {
        ClientId = ConfigurationManager.AppSettings["PaypalClientId"],
        ClientSecret = ConfigurationManager.AppSettings["PaypalClientSecret"],
        IsSandbox = true
    });

I can login on the paypal page when I pass the single paramter

[2016-09-14 01:12] PinpointTownes commented on #117
Hey,

I suspect you're not using the Paypal provider developed for ASP.NET Core but the older version designed for OWIN/Katana (because the `IsSandbox` option doesn't exist in the vNext version).

I'd recommend opening a new ticket here: https://github.com/TerribleDev/OwinOAuthProviders

/cc @TerribleDev

[2016-09-14 05:04] sebvst commented on #117
You are absolutely right! The issue can be closed here.

[2016-09-14 05:04] #117 closed

[2016-10-04 14:26] hotchkj opened #120 "Add Autodesk provider"
Autodesk has a public OAuth workflow for https://developer.autodesk.com for our Forge platform and we have internal code that supports the type of middleware that this repo offers.

Before I begin the process of us setting that up to be externally contributed to here, I wanted to check a little more formally in an issue that this is still the right repo, and if there's anything specific other than

[2016-10-05 09:27] serber commented on #19
Related PR: #121

[2016-10-09 14:15] PinpointTownes commented on #120
Hey @hotchkj,

Assuming Autodesk supports the OAuth2 authorization code flow (AFAICT, it does), yep, this is the right repo.

Nope, but feel free to ping me if you need more details or have any question.

Thanks!

[2016-10-09 15:01] PinpointTownes commented on #24
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/a55647ff227d05a4c6d6f2831b16ab80de90a62d.

@serber thanks for your great contribution! :+1:

[2016-10-09 15:01] #24 closed

[2016-10-09 15:17] PinpointTownes commented on #19
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/025a5a0fea26c34980d902343f2cf6c474da6f0e

@serber thanks!

[2016-10-09 15:17] #19 closed

[2016-10-09 16:41] TerribleDev commented on #19
awesome thanks @serber

[2016-10-10 09:41] PinpointTownes commented on #115
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/8aa6bc913142f7c403df657485ad963c4751993d

@jamesholcomb thanks!

[2016-10-10 09:41] #115 closed

[2016-10-11 19:16] serber commented on #17
as i know, tripit does not support OAuth2

[2016-10-11 19:21] serber commented on #17
as i know, trip it does not support OAuth2

[2016-10-11 19:24] #17 closed

[2016-10-11 19:24] PinpointTownes commented on #17
Closing, as Tripit doesn't seem to support OAuth2.

[2016-10-11 19:43] serber commented on #7
Flickr also does not support OAuth 2.0
https://www.flickr.com/services/api/auth.oauth.html

[2016-10-11 19:52] #7 closed

[2016-10-11 19:52] PinpointTownes commented on #7
@serber thanks!

[2016-10-17 16:59] supergibbs commented on #109
For reference, https://www.jetbrains.com/help/hub/2.5/OAuth-2.0-Authorization.html

[2016-11-18 02:49] PinpointTownes opened #126 "Update CreateTicketAsync to return a null ticket instead of throwing an exception when the userinfo request fails"
Starting with ASP.NET Core 1.1.0, we can now return `null` without triggering a null-ref exception:

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OAuth/OAuthHandler.cs#L124

[2016-11-29 03:03] SuperCreedy opened #128 "OAuth2 Provider for ADFS"
I've created an OAuth2 Provider for ADFS adopting code from this repository and the following article: http://www.carbon60.com/blog/using-adfs-3-0-with-mvc-6-asp-net-5

Should I submit this as a pull request?

Cheers, James.

[2016-11-29 03:30] PinpointTownes commented on #128
Sounds like a good idea (assuming your provider respects the structure we've adopted for all the other OAuth2 providers, of course) :+1:

[2016-12-07 19:09] MHolst1 opened #129 "OAuth.Reddit sends redirect_uri as encoded"
Not sure where to override it, but when authenticating with Reddit, the query string includes my redirect_uri but encoded, so authentication fails when the URL is sent to Reddit.

e.g. http://localhost is http%3A%2F%2Flocalhost

[2016-12-07 19:16] PinpointTownes commented on #129
I'm not sure to understand how it's a problem, as it's what the specification requires:

[code]

https://tools.ietf.org/html/rfc6749#section-4.1.1

Could you please share the exact error you're seeing?

[2016-12-07 19:20] MHolst1 commented on #129
Yep, it's the "you sent an invalid request — invalid redirect_uri parameter" error that reddit sends when the redirect_uri doesn't match what you have on file with them..  If I manually take that same string and replace the encoding with actual slashes, etc., the authentication succeeds.

[2016-12-07 19:25] MHolst1 commented on #129
After a little more testing it looks like the "&" is missing after the redirect_uri (when adding in the redirect_uri myself I was adding the ampersand)

[2016-12-07 19:28] PinpointTownes commented on #129
Please share the exact URL the Reddit middleware redirects you to, and the redirect_uri you associated with your Reddit app.

[2016-12-07 19:31] MHolst1 commented on #129
After a little more testing it looks like the "&" is missing after the redirect_uri (when adding in the redirect_uri myself I was adding the ampersand)

To clarify, my query string looks like

&redirect_uri=http%3A%2F%2Flocalhost%3A59826%2Fsignin-reddit

when it should look like

&redirect_uri=http%3A%2F%2Flocalhost%3A59826%2F&signin-reddit"

My redirect Uri is "http://localhost:59826/".

I was pr

[2016-12-07 19:33] PinpointTownes commented on #129
Your issue is actually way more simpler... you're just using the wrong `redirect_uri`.

The default callback path is set to `/signin-reddit`, so your `redirect_uri` should be `http://localhost:59826/signin-reddit`.

[2016-12-07 19:37] MHolst1 commented on #129
Aha!  Now I see, thank you very much for taking the time to help me!

[2016-12-07 19:37] #129 closed

[2016-12-16 10:28] codeclash opened #130 "Github provider: UserEmailsEndpoint in GitHubAuthenticationOptions readonly?"
I want to use the [Github provider](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src/AspNet.Security.OAuth.GitHub) for **Github Enterprise** (= Github on premise, not github.com, see [Api](https://developer.github.com/v3/enterprise/)), and can override all the [default endpoints](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Sec

[2016-12-16 12:15] PinpointTownes commented on #130
Sounds like an oversight. Feel free to send a PR to fix that 👍

[2016-12-16 15:16] PinpointTownes commented on #130
Merged: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/3ab1ca90ff491c5541432461600ae97a0c5ebcc6 :tada:

Thanks for the fix.

[2016-12-16 15:16] #130 closed

[2017-01-23 09:56] lwansbrough opened #133 "AuthenticationProperties.RedirectUri not respected"
Maybe I'm just misunderstanding the implementation. I'm trying to add additional query parameters to the `redirect_uri` parameter at runtime. This is allowed according to the OAuth 2.0 spec. My goal is to add a `returnUrl` parameter to the redirect URI so that I can bounce the user from `/auth/callback` (the default redirect URI) back to the page they were on before they logged in.

I'm attempting

[2017-01-23 16:00] CrustyJew opened #134 "Reddit Handler not resolving code to token"
In the previous Owin version of a Reddit authention middleware that I've used, it automatically resolved the `code` attribute sent back into an access and (potentially) refresh token. I can work around this manually, but it seems like a good feature to have as 9 times out of 10, you really need the access token.

Here's a link to the previous implementation. I'm happy to do the code for it and sub

[2017-01-23 16:33] CrustyJew commented on #134
I'm still digging in on this and it looks like I may have just misconfigured my code exchange stuff so this may be a moot point.

[2017-01-23 17:33] CrustyJew commented on #134
Yup, I screwed it up when overriding something. NetCore is slowly making more sense.

[2017-01-23 17:33] #134 closed

[2017-02-02 10:28] StummeJ opened #136 "LinkedIn provider fields throw exception"
Using the `AddRange()` on the `LinkedInAuthenticationOptions.Fields` HashSet throws a FileNotFound exception:
[code]
Changing it to the `Add()` method fixes the exception.  We were trying to add given name, surname, and profile picture url claims which are added by default to the official Google OAuth 2.0 provider.

I am curious why the LinkedIn provider is the only one that has this `Fields` set

[2017-02-02 14:33] PinpointTownes commented on #133
That's not how it's implemented by the ASP.NET Core OAuth2 generic middleware (and more generally, by most clients). Instead, it stores the `returnUrl` in the `state` parameter.

[2017-02-02 14:35] PinpointTownes commented on #136
Is `AddRange()` a NuGet extension? I wouldn't recommend using it.

Actually, it's not. The FB middleware does exactly the same thing. You can find more information here: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/95

[2017-02-02 15:14] StummeJ commented on #136
Should it return the givenName and surname claims by default then?  I know fb does this.

[2017-02-26 09:33] zhengchun opened #138 "Support chinese social website login"
Hello, do you have any plans to support chinese social website login? like the following website:
[QQ](http://wiki.open.qq.com/wiki/mobile/OAuth2.0%E7%AE%80%E4%BB%8B)
[Weibo](http://weibo.com/)
[Wechat](https://web.wechat.com/?lang=en_US)
These are Chinese Social Media sites and support OAuth login for the external website.

[2017-02-26 13:00] PinpointTownes commented on #138
Hey,

This repository is open to contributions, so feel free to submit a PR to support these providers :smile:

[2017-02-26 13:13] #114 closed

[2017-02-26 13:13] #133 closed

[2017-02-26 13:13] zhengchun commented on #138
OK,I got it:smile:

[2017-02-26 13:15] PinpointTownes commented on #136
Sounds like a reasonable demand. Go ahead and submit a PR to fix that :+1:

[2017-02-26 14:00] StummeJ opened #139 "Migrate solution and projects to new format"
Seems like all of the cool kids (aka aspnet) are moving to the new project format `csproj`.  Once you have the new sdk and tools installed its next to impossible to open the project.

[2017-03-09 15:07] Gronsak opened #146 "Is there a way to set the scopes from an mvc controller?"
I'm currently working with the EVEOnline provider and I want to let the user choose what scopes to use due to it giving access to sensitive information and the functionality it opens up on my site being entirely optional.

So is there an easy way to set different scopes for every authentication request?

[2017-03-09 17:49] PinpointTownes commented on #146
Moved to https://github.com/aspnet/Security/issues/1139.

[2017-03-09 17:49] #146 closed

[2017-03-21 08:32] gijswijs opened #147 "Add Trello Provider"
I think I'll have a go at a Trello Provider.

[2017-03-22 04:12] PinpointTownes commented on #139
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/1d97a85f9e95ea8de011287983af5ef0a07c6098

[2017-03-22 04:12] #139 closed

[2017-03-23 01:35] gijswijs commented on #147
I created a pull request: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/150

I hope I didn't screw things up. I'm pretty new to all this.

[2017-04-03 08:00] PinpointTownes commented on #138
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/948151c231f1a9d14b3580f1b3b6e5a3a282ec6e

@zhengchun thanks!

[2017-04-03 08:00] #138 closed

[2017-04-06 14:58] ablankholm opened #152 "Add a Discord Provider"
Had to set this up for a project I'm working on. Will submit a pull request.

Homepage:
https://discordapp.com/

OAuth Docs:
https://discordapp.com/developers/docs/topics/oauth2

[2017-04-06 15:01] ablankholm commented on #152
Submited as [https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/153](#153).

Let me know if anything else is needed.

[2017-05-05 14:37] martincostello opened #156 "Add an Amazon provider"
_Originally raised as aspnet/Security#1204_

I recently implemented support for Amazon login in a project by building on top of the OAuth NuGet package.

Would there be any interest in accepting a PR to make an implementation of that available in this repo like there is for Facebook, Twitter etc.? I can't see an existing one, or one in progress in the issues or PR list.

I thought I'd ask before s

[2017-05-05 21:18] PinpointTownes commented on #156
Sure, feel free to send a PR :+1:

[2017-05-21 17:04] PinpointTownes commented on #126
Closing, as this work item would require moving to ASP.NET Core 1.1.0, which is not planned.

[2017-05-21 17:04] #126 closed

[2017-05-21 17:16] PinpointTownes commented on #156
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/12cc086ea470d9d9689aef823475c5dd886a8049.

[2017-05-21 17:16] #156 closed

[2017-05-21 17:19] PinpointTownes commented on #152
Done: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/fe436f3cb1d8f36ed1ca54669ce55ce43eb66fde.

[2017-05-21 17:19] #152 closed

[2017-05-21 17:22] PinpointTownes commented on #136
I went ahead and added the first and last names to the default fields list: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/7a019e2b81011c27a504b88e42c32d9329d27138.

[2017-05-21 17:22] #136 closed

[2017-05-21 17:33] PinpointTownes commented on #120
Done (more than 2 months ago :trollface:).

[2017-05-21 17:33] #120 closed

[2017-05-21 23:29] joaomatossilva opened #159 "version 1.0.0-rc1-final is not installable"
I can't install version 1.0.0-rc1-final on a fresh vanilla asp.net core app.
It complaints it can't find the package AspNet.Security.OAuth.Extensions. And rightfully so, that package has been delisted from Nuget.

[2017-05-21 23:31] joaomatossilva commented on #159
Hum.. just saw 034deed now... so I guess it's a matter or time (or next deploy)

[2017-05-21 23:32] kevinchalet commented on #159
Thanks for reporting this bug. It was fixed a few hours ago and new packages will be pushed tomorrow: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/158.

[2017-05-22 11:59] kevinchalet commented on #159
Unfortunately the fix introduced yesterday doesn't work as intended: the NuGet reference is correctly skipped, but the `AddOptional` extension is not embedded and the `AspNet.Security.OAuth.Extensions` assembly reference is not removed.

I obviously need more time to determine how to fix the bug we're seeing in the marvelous .csproj world (it used to work fine with project.json-based tooling), but

[2017-05-22 11:59] #159 closed, assigned to kevinchalet

[2017-05-22 13:22] joaomatossilva commented on #159
Maybe this is related to https://github.com/NuGet/Home/issues/4853

[2017-05-30 12:25] twenzel opened #161 "Can't login with Github"
After setting up the GitHub OAuth App and using your GitHub Provider, I can see the Github login/consent screen. After "authorize" click and github redirects to my callback url I get following error from my server:

The query was:

What is my mistake?

[2017-06-11 13:23] kevinchalet commented on #161
Interesting. Can you reproduce this issue with other social providers? If so, it might be caused by a firewall issue.

[2017-06-15 18:25] ebr1181 opened #162 "Shibboleth Provider"
Are there any plans to create a Shibboleth authentication provider?

[2017-06-15 18:28] kevinchalet commented on #162
Shibboleth derives from SAML - which is not supported in .NET Core 1.x - and this repository is dedicated to OAuth2 providers so... nope, no plan to do that.

[2017-06-16 18:38] #162 closed, assigned to nobody

[2017-06-18 15:06] #161 closed, assigned to nobody

[2017-06-27 19:01] twenzel commented on #161
No, at the moment only GitHub is not working. Google Provider is working.

[2017-07-17 14:16] snail9367 opened #164 "An unhandled exception occurred while processing the request in asp.net core"
I have an Asp.net core app which have a feature of OAuth. I set AppID, SecretKey and redirectUrl Like this.
app.UseWeChatAuthentication(new DevZH.AspNetCore.Builder.WeChatOptions()
            {
                AppId = Configuration.GetConnectionString("WechatAppId"),
                AppSecret = Configuration.GetConnectionString("WechatAppSecret"),
                CallbackPath = "/wechat/callback"

[2017-07-17 14:19] kevinchalet commented on #164
This project doesn't have a WeChat authentication middleware (at least, not yet) so this is likely the wrong place for this bug report.

[2017-07-17 14:19] #164 closed, assigned to nobody

[2017-07-30 12:55] AlvinStanescu opened #167 "Adding some LinkedIn fields causes an InvalidCastException"
I attempted to add `api-standard-profile-request` and `site-standard-profile-request` to the fields to retrieve, however as soon as I did that, I was getting an `InvalidCastException: Cannot cast Newtonsoft.Json.Linq.JObject to Newtonsoft.Json.Linq.JToken.`

This is due to to the .Value<string> cast failing inside `LinkedInAuthenticationHelper.GetSiteStandardProfileRequest` and `LinkedInAuthentica

[2017-07-30 12:56] AlvinStanescu commented on #167
Raised PR #166 to fix this issue.

[2017-07-30 14:43] huww98 opened #168 "How can I implement a provider with the length of `state` parameter limited"
I'm going to implement a provider to perform authentication for websites showing inside the WeiXin (aka WeChat) app (different from the existing WeiXin provider). The length of `state` parameter is limited to 128 bytes. However, the length of string provided by [`Options.StateDataFormat.Protect(properties)`](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OAuth/

[2017-07-30 14:47] huww98 commented on #168
Or I should use `IMemoryCache`?

[2017-07-30 15:13] kevinchalet commented on #168
It's an ugly hack, but if your provider doesn't support >128 bytes `state` parameters, that's pretty much your only option.

[2017-07-30 15:53] kevinchalet commented on #167
Thanks for reporting this bug, @AlvinStanescu :+1:

Using `ToString()` will store the complex "request" node as a JSON string, which is not something we usually do in the other providers.

How common are these properties? If they are not commonly used, we could remove the helpers and leave them as an exercise for the end user. If they are worth keeping, maybe we should only extract the URL from th

[2017-07-30 15:54] kevinchalet commented on #167
/cc @jerriep

[2017-07-31 07:05] huww98 commented on #168
I have successfully implemented it using `IMemoryCache`. May I open a pull request?

[2017-07-31 07:19] huww98 commented on #168
After I add refrence to `Microsoft.Extensions.Caching.Abstractions`, I get some warnings:

[code]

How can I deal with this? Should I refrence the lower version of `Microsoft.Extensions.Caching.Abstractions`, or should I update the `NetStandardImplicitPackageVersion` to 1.6.1?

After I update `NetStandardImplicitPackageVersion` to 1.6.1, it seems everything works OK.

[2017-07-31 13:29] jerriep commented on #167
@AlvinStanescu I am not familiar with this, and not set up right now to test it either. Can you please post the resulting JSON which LinkedIn returns when you request that `api-standard-profile-request` permission and also what the JSON result looks like when you **don't** request it?

[2017-07-31 15:22] AlvinStanescu commented on #167
@PinpointTownes I don't think these properties are particularly common, I ended up using the public profile URL instead.

@jerriep Sure, by adding `apiStandardProfileRequest` we get the following field added to the profile JSON:

`"apiStandardProfileRequest": {
    "headers": {
      "_total": 1,
      "values": [{
        "name": "x-li-auth-token",
        "value": "name:_Tai"
      }]
    },

[2017-07-31 15:40] jerriep commented on #167
Did a quick test, and the problem with this is that making the request to that URL does not seem to work if you do not pass along the correct headers. Actually, I could not even get it to work even when passing along those headers, but I do not have time to play with it and figure it out.

Personally, I would vote for leaving it as an exercise for the user, though it may mean that we will now be b

[2017-08-14 10:45] kevinchalet opened #170 "Port the social providers to the new ASP.NET Core 2.0 authentication stack"

[2017-08-14 13:46] martincostello commented on #170
Will a final `1.0.0` be published to NuGet before this?

[2017-08-14 20:51] kevinchalet commented on #170
@martincostello not sure. The OpenID generic provider - that shares the same versioning as this repository - relies on AngleSharp, that doesn't yet offer a 1.0.0 version :cry:

[2017-08-16 11:34] kevinchalet commented on #167
Let's do that, then :+1:

@AlvinStanescu could you please update your PR to remove the 2 helpers? Thanks!

[2017-08-16 18:39] kevinchalet commented on #167
Thanks for your contribution. Per discussion, we concluded it was better to simply remove these helpers, which was done as part of 91e709c.

[2017-08-16 18:40] #167 closed, assigned to nobody

[2017-09-01 21:28] kinosang commented on #170
I wanna to know where should I start the jobs? Is it okay to start working on the `dev` branch? or should we start a new branch for it?

[2017-09-04 19:07] runxc1 commented on #170
Also wondering about this as I need a Strava login for asp.net core 2.0

[2017-09-05 08:39] ntemirov commented on #170
I need vkontakte authentication for asp.net core 2.0. Can I help you?

[2017-09-11 08:43] kinosang commented on #170
I'm starting working on it, would you like to create a new branch such as `2.0` because I can't port all those providers at once.

BTW, I'll pay attention to the problems you pointed at aspnet-contrib/AspNet.Security.OpenId.Providers#35.

[2017-09-13 11:24] sergeushenecz commented on #170
Hello, everyone.Can I know when you to porting to asp.net core 2.0 VK provider?

[2017-09-20 03:38] 0xNF commented on #170
Hey all, I ported the Spotify provider service to the ASP.NET Core 2.0 stack. It's modeled after [Microsoft's own implementations](https://github.com/aspnet/Security/tree/dev/src/Microsoft.AspNetCore.Authentication.MicrosoftAccount) of their Facebook and MicrosoftAccount authorizations.

The problem is that it's a homeless amalgam, and I don't know where to put it. It uses Microsoft's namespaces a

[2017-09-20 03:40] kinosang commented on #170
@0xNF that's why I ask for a new branch.

[2017-09-20 04:02] vishalmgiri commented on #170
Please update us on Asp.net Core 2 Support.
I am also willing to support it.

[2017-09-20 05:41] kevinchalet commented on #170
I created a new [`experimental` branch](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/experimental) and ported the [GitHub provider to ASP.NET Core 2.0](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/experimental/src/AspNet.Security.OAuth.GitHub).

If you want to help migrate the other providers, please use it as a starting point so we keep everythi

[2017-09-20 07:58] kinosang commented on #170
#173 for:

* [x] ArcGIS
* [x] Asana
* [x] Autodesk
* [x] BattleNet
* [x] Discord
* [x] Dropbox
* [x] Imgur
* [x] Paypal
* [x] Reddit
* [x] Twitch
* [x] Vimeo
* [x] Weibo
* [x] Weixin
* [x] WordPress
* [x] Yahoo
* [x] Yandex

Help wanted:

- ~[Yahoo](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/8eea098da7f446425e1a5a11a85eae6a3b0ea568/src/AspNet.Security.OAuth.Yahoo/YahooA

[2017-09-20 08:00] martincostello commented on #170
I've already ported the Amazon provider in the repo where I originally wrote that code, so will port that over sometime this week.

[2017-09-20 08:11] Vertigo093i commented on #170
I'm going to start migrating Vkontakte and yet unreleased Odnoklassniki (#163) providers.

BTW, @PinpointTownes, how should I deal with the latter? Should I merge the original branch or just start over by adding ported code?

And the last but not least. Most of us require real-life live testing/using new already ported providers. Would you be so kind to reveal this project's AppVeyor NuGet feed UR

[2017-09-20 14:37] isaacrlevin opened #176 "Yahoo does not support localhost callback"
Creating a Yahoo App does not allow you to have a Callback of Localhost

![image](https://user-images.githubusercontent.com/8878502/30649920-8bfa466c-9def-11e7-86b8-b3908204aa53.png)

I have been able to get around this by using [ngrok](https://ngrok.com/) to expose localhost to the internet, but that is a pain. It would be great if this process somehow circumvented this constraint (possibly using

[2017-09-20 14:56] kevinchalet commented on #176
There's unfortunately nothing we can do in the provider itself, that uses the URL host as the callback domain like any other OAuth provider in ASP.NET Core.

@Tratcher what would be the recommendation to work around this annoying behavior? Using the machine DNS name or its IP address instead of localhost?

[2017-09-20 15:05] runxc1 commented on #176
You can always edit your Hosts file and setup your debugging environment to listen to a url rather than just localhost.

[2017-09-20 15:08] Vertigo093i commented on #176
Instead of doing magics with hosts it is much easier to use special domain `localtest.me`. Any host (of any level) within it resolves to `127.0.0.1`.

[2017-09-20 15:09] Tratcher commented on #176
MSA used to have the same problem and people used the same workarounds as described above.

[2017-09-20 15:23] isaacrlevin commented on #176
@Vertigo093i so you would need to have IIS locally for this than? Due to the fact that specifying a port invalidates callback url. So the workaround is

- Have IIS Installed
- Create IIS site that points to port 80 and point your app to use that for debugging
- Create Yahoo App with http://localtest.me as Callback

That make sense?

[2017-09-20 15:37] Vertigo093i commented on #176
Therefore Yahoo doesn't like the port portion, not the `localhost` itself? Then the answer is yes, one should use only a default port (80).

I hope even IISExpress can be configured to use http://myhost.localtest.me/ (but haven't tried it personally). But then it (and VS) must be started as an administrator to be able to bind to port 80.

But the better long-term solution is to contact Yahoo suppo

[2017-09-20 15:45] isaacrlevin commented on #176
@Vertigo093i no it needs something like http://somesite.extension so they are basically checking on the form validation if the string is in that structure. Pretty trash as I expect it wouldn't work for internal sites (http://intranet comes to mind). Oh well, I can move forward with the localme approach. Such a pain!

[2017-09-20 16:04] isaacrlevin commented on #176
@Vertigo093i  Localtest.me did not work....

![image](https://user-images.githubusercontent.com/8878502/30654360-a13b3336-9dfb-11e7-84a7-af5188cf3241.png)

![image](https://user-images.githubusercontent.com/8878502/30654412-c97cc5c6-9dfb-11e7-9ffa-f522a0f18dce.png)

[2017-09-20 16:13] Vertigo093i commented on #176
Shouldn't the redirect uri be in the format as at you very first original screenshot? I mean contains `signin-yahoo`. Or things got changed in .NET Core 2.0?

[2017-09-20 16:47] isaacrlevin commented on #176
I don't think this is a Core issue. Even if I take out the `signin-yahoo` part of the uri it still gives this screen. If I set the redirect url to a ngrok endpoint it works just fine.

[2017-09-20 17:54] Vertigo093i commented on #176
Then this is definitely a Yahoo issue. And I don't know how to avoid it...

[2017-09-20 20:12] Moza805 commented on #170
Just PR'd an updated Strava authenticator into experimental branch #177 . Heads up to @runxc1 in case you want to check it out

[2017-09-21 10:30] martincostello commented on #170
PR to update the Amazon provider in #179.

[2017-09-25 11:22] kinosang commented on #170
Hello @PinpointTownes, how's it going?

[2017-09-29 08:30] agoretsky commented on #170
@PinpointTownes can you provide any ETA?

[2017-09-29 14:52] kinosang opened #182 "List of providers migrated"
As #170, this issue is for tracking the works to migrate all the providers to Asp.Net Core 2.0.

* [x] Amazon #179
* [x] ArcGIS #173
* [x] Asana #173
* [x] Autodesk #173
* [x] Automatic #190
* [x] BattleNet #173
* [x] Beam #190
* [x] Bitbucket #190
* [x] Buffer #190
* [x] CiscoSpark #190
* [x] DeviantArt #190
* [x] Discord #173
* [x] Dropbox #173
* [x] EVEOnline #190
* [x] Fitbit #190
* [x] Foursq

[2017-09-29 14:54] Vertigo093i commented on #182
Odnoklassniki? It is already migrated.

[2017-10-02 10:41] kevinchalet commented on #176
Closing, as there's not much we can do to work around this arbitrary Yahoo limitation in the provider itself.

[2017-10-02 10:41] #176 closed, assigned to nobody

[2017-10-02 10:41] #168 closed, assigned to nobody

[2017-10-02 10:44] kevinchalet commented on #170
I reviewed all the submitted PRs and asked the contributions to include a few changes. @kinosang's PR is almost ready and will be merged ASAP.

[2017-10-02 11:52] kevinchalet commented on #182
Added Patreon to the list (the 1.x provider was merged today).

[2017-10-02 14:36] isaacrlevin commented on #176
For anyone that finds this, lvh.me works but you have to do dumb stuff like deploy your local site to localhost:80, that Deployment Support checkbox when you install the Core workload in VS and have lvh.me as the Callback when you setup the Yahoo App. Works well when done however.

[2017-10-02 18:51] AlvinStanescu commented on #170
Migrated the LinkedIn provider in PR #183, please review.

[2017-10-03 14:40] jerriep opened #184 "Potential Issue with Slack provider"
A couple of things related to the Slack provider which I think needs to be addressed:

1. When getting the user profile, the `https://slack.com/api/auth.test` method is called, and not the `https://slack.com/api/users.identity` method which is suggested by the **Sign in with Slack** document (see https://api.slack.com/docs/sign-in-with-slack#request_info)

2. The second, and more serious issue is

[2017-10-03 14:50] kevinchalet commented on #184
Nice catch @jerriep!

Agreed, we should fix that before releasing the 1.0/2.0 final packages (it will indeed break apps but I believe security wins).

IMHO, here's what we should do:

  - Add a new `urn:slack:user_id` claim and use it to store the "unsafe" user identifier.
  - Introduce a new helper method responsible of computing a "unique" identifier (e.g `GetUniqueIdentifier()`). It could be as

[2017-10-03 14:53] jerriep commented on #184
You probably mean to register `urn:slack:user_id`, not `urn:slack:team_id`, right?

And sure I can fix this one

[2017-10-03 14:53] kevinchalet commented on #184
Yeah, sorry :sweat_smile:

[2017-10-03 17:33] kevinchalet commented on #182
List of providers that have been merged into the experimental branch:

* [x] Amazon #179
* [x] ArcGIS #173
* [x] Asana #173
* [x] Autodesk #173
* [x] Automatic
* [x] BattleNet #173
* [x] Beam
* [x] Bitbucket
* [x] Buffer
* [x] CiscoSpark
* [x] DeviantArt
* [x] Discord #173
* [x] Dropbox #173
* [x] EVEOnline
* [x] Fitbit
* [x] Foursquare
* [x] GitHub
* [x] Gitter
* [x] HealthGraph
* [x] Imgur #173

[2017-10-26 11:08] jennet opened #187 "Does the GitHubAuthentication provider support dotnet core 2.0?"
I'm trying to add GitHubAuthentication to a simple proof of concept project, and I've added a reference to  `<PackageReference Include="AspNet.Security.OAuth.GitHub" Version="1.0.0-rc1-final" />` and `<PackageReference Include="Microsoft.AspNetCore.Authentication.OAuth" Version="2.0.0" />` but when adding the code to Startup.cs

[code]

I get the error: **Reference to type 'OAuthOptions' claims it

[2017-10-27 14:12] kevinchalet commented on #187
All the OAuth2 providers are being ported to 2.0. You can track the progress here: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/170.

[2017-10-27 14:12] #187 closed, assigned to nobody

[2017-10-27 15:26] qibucloud opened #188 "微信客户端里面的登录与PC网站的扫码登录共存您知道如何处理吗？"
微信客户端里面的登录与PC网站的扫码登录共存您知道如何处理吗？能帮我研究研究吗？

[2017-10-28 14:09] #188 closed, assigned to nobody

[2017-10-30 07:07] mkhrapunov commented on #170
VK auth is available in https://github.com/mkhrapunov/AspNet.Security.OAuth.VK

[2017-10-30 12:51] kinosang commented on #170
I'll start working on other providers after get my computer repaired.

[2017-10-31 01:01] chi-up commented on #170
@mkhrapunov  where were you before =) I just finished my version, spent a lot of time =)

[2017-10-31 19:53] haydenhancock opened #189 "Add Dribbble Provider"
I would like to add a Dribbble provider, specifically for ASP.Net Core 2.0.

[2017-11-01 10:40] Vertigo093i commented on #170
OK and VK providers (for both 1.0 and 2.0) are finally available: https://github.com/Digillect/AspNetCoreOAuthProviders. As well as in NuGet.

[2017-11-01 18:15] kevinchalet commented on #189
Feel free to submit a PR, but please note we'll have to wait until the 1.0 -> 2.0 port is done.
We'll also need to backport your provider to 1.0.

[2017-11-01 18:18] haydenhancock commented on #189
@PinpointTownes Should this be done on the experimental branch (since it appears that has others already ported to that)? Should the backport be another issue?

[2017-11-01 18:21] kevinchalet commented on #189
Yep, that's the best option for now.

We can use this ticket to track the two version, but please open a separate PR targeting the `dev` branch.

[2017-11-01 18:35] kevinchalet commented on #170
FYI: of the 47 providers, 22 have already been ported to 2.0 and there's a PR for a 23rd one (Vkontakte).

The updated list can be found here: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/182#issue-261667945.

[2017-11-01 19:06] haydenhancock commented on #189
@PinpointTownes Perfect. I will work on this as soon as I am able. Cheers!

[2017-11-02 17:36] haydenhancock commented on #182
I can work on a couple of these:
- [x] Gitter
- [x] MailChimp
- [ ] Instagram
- [ ] Untappd
- [ ] Yammer
- [ ] VisualStudio
- [ ] SoundCloud (No longer accepting new applications)

[2017-11-10 17:43] asadsahi commented on #182
@kinosang @PinpointTownes I can't locate the correct nuget package. Is experimental upgrade available as package somewhere that I can try for .net core 2.0.

Thanks

[2017-11-11 00:43] kinosang commented on #182
@asadsahi There's no experimental upgrade available on nuget nor aspnet-contrib myget gallery at this time. But I've created a feed on myget and published some providers, you can have a look at https://www.myget.org/feed/Packages/aspnetcore-authentication.

Additional, you can find the nupkg files at https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-oauth-providers/branch/experimental

[2017-11-12 16:02] asadsahi commented on #182
@kinosang thanks for sharing this. I have got LinkedIn working in my project, but for some reason Challenging with Github doesn't redirect to github site. can't figure out why. The only thing I have provided in github setup is:

[code]

Have you tried github?

[2017-11-12 16:20] kinosang commented on #182
@asadsahi I didn't tried the GitHub provider. Is there any exception or error message when you test it?

[2017-11-12 16:27] asadsahi commented on #182
@kinosang Its a little bit weird, I am getting a little clear error now, When I print all the schemes registered in the system, it can see clearly github is added. e.g

with this code:
[code]

it prints out:

![image](https://user-images.githubusercontent.com/3470892/32700999-19dd294a-c7c6-11e7-80fb-576ffe6a1141.png)

But when I navigate using github link i get

![image](https://user-images.github

[2017-11-12 16:31] kinosang commented on #182
The AuthenticationScheme.Name should be "GitHub", not "Github", check if you have changed the default value.

[2017-11-12 16:31] kinosang commented on #182
@asadsahi The AuthenticationScheme.Name should be "GitHub", not "Github", check if you have changed the default value.

[2017-11-12 16:32] asadsahi commented on #182
Right, sorry, I did some refactoring yesterday, where I must have mistyped it. I have corrected it to GitHub with capital 'H', and now I am on the same issue I was having yesterday. let me grab few screenshots.

This is what is passed in when challenging with github providers:

![image](https://user-images.githubusercontent.com/3470892/32701126-ce804084-c7c7-11e7-904a-0cba3f206dd3.png)

Can't spot

[2017-11-12 20:44] Jenan commented on #182
If I want to use the middleware for Github with .NET Core 2.0 - which package is it required to download? Thx.

[2017-11-12 23:28] asadsahi commented on #182
@Jenan for now the package is on myget, I have  following nuget.config at the root of of my project:

nuget.config:

[code]
Package you need is :

`    <PackageReference Include="AspNet.Security.OAuth.GitHub" Version="2.0.0-*" />
`

[2017-11-12 23:29] asadsahi commented on #182
@kinosang I have manage to get github working. It was wrong callback url setup on github. Working as expected.

Thanks.

[2017-11-13 17:44] kevinchalet commented on #182
@haydenhancock do you plan to port the other providers you listed in the near future? Ideally, I'd like to finalize the RC2 bits this week and push them to NuGet.org next week... people keep asking for the 2.0 providers :sweat_smile:

[2017-11-16 20:26] pha3l opened #196 "Generic OAUTH Provider Request"
Perhaps I've missed something, but I'm wondering if  there are currently any plans for including a "generic" provider included with this package?  We are considering .NET Core for an upcoming project, but it needs to implement external authentication through ADFS OAuth.  I haven't found any examples of how to do this, and I think it would be a useful feature for this package.\

Many thanks!

[2017-11-17 14:59] jerriep commented on #196
ASP.NET Core has a generic one out of the box

See https://github.com/aspnet/Security/blob/f8711a2da3fdf6b250d528136c6e9d8ecf78062b/samples/SocialSample/Startup.cs#L175-L209 for sample code

[2017-11-17 15:02] jerriep commented on #196
Actually, you may also want to look at https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L125-L144 which seems to demonstrate how to use it with Azure AD. May be useful in your case

[2017-11-17 15:29] pha3l commented on #196
Thank you, I will give this a try!

[2017-11-20 14:29] kevinchalet commented on #182
@kinosang I know you've already contributed massively to the 2.0 port, but would you be interested in porting the 5 remaining providers?

(I'll clone @haydenhancock's PR locally and fix the inconsistencies so we can finally merge it)

[2017-11-20 14:30] kinosang commented on #182
@PinpointTownes ok, I'll make it.

[2017-11-20 15:44] haydenhancock commented on #182
Sorry guys. I haven't had a chance to make these changes.

On Mon, Nov 20, 2017 at 9:30 AM, Chino Chang <notifications@github.com>
wrote:

--
Hayden Hancock
HaydenHancock@gmail.com

[2017-11-23 10:14] asadsahi opened #198 "Paypal OAuth login returns (invalid client_ID or redirect_uri)"
Hi Guys,

Having trouble integrating with Paypal oauth. Keep on getting above error. I have also got a question on stackoverflow, but not getting much help for it.

https://stackoverflow.com/questions/47436262/paypal-oauth-login-returns-invalid-client-id-or-redirect-uri

Here is my setup:

[code]

and paypal applcation setup is this:

![image](https://user-images.githubusercontent.com/3470892/3316

[2017-11-23 10:19] kinosang commented on #198
the `redirect_uri` parameter your application send to PayPal is `http://localhost:5000/signin-paypal`, you can modify the configuration of the return url on PayPal or edit your `launchSettings.json`.

[2017-11-23 10:21] asadsahi commented on #198
@kinosang this was my recent attempt to use with local IP since twitter had some similar issues in the past, but I have tried with IP and localhost matching on both client and paypal side, but error is still same.

[2017-11-23 10:31] kinosang commented on #198
the PayPal provider does not support for sandbox environment, you should config `AuthorizationEndpoint`, `TokenEndpoint` and `UserInformationEndpoint` to test your application in sandbox.

[2017-11-23 10:39] asadsahi commented on #198
@kinosang would you be able to send the paypal authentication middleware configuration for sandbox which you reckon to try. Shall I keep **http://127.0.0.1:5000/signin-paypl** as callback url?

[2017-11-23 10:42] kinosang commented on #198
@asadsahi

[code]

[2017-11-23 10:45] asadsahi commented on #198
@kinosang thanks.

I have changed paypal callback url to **http://localhost:5000/signin-paypal** and modified the middleware config as you suggested. Will give it some time to pick paypal changes and try again.

[2017-11-23 10:46] asadsahi commented on #198
Ok, with config slightly different error:

[code]

This is the information exposedon paypal side.

![image](https://user-images.githubusercontent.com/3470892/33169219-b51c449a-d03b-11e7-8539-2aedf72641df.png)

Error screen:

![image](https://user-images.githubusercontent.com/3470892/33169242-d07aa9a2-d03b-11e7-9bbc-2465bca0194e.png)

[2017-11-23 10:49] kinosang commented on #198
It seemed that the sandbox does not support for some of the scopes, I have no idea to solve it.

[2017-11-23 10:56] asadsahi commented on #198
@kinosang there is no benefit/usage of sadbox then :)

Let me try with live settings. I am guessing I just need to configure clientid and clientsecret in that case.

[2017-11-23 10:57] asadsahi commented on #198
Nope, same error with production settings as well:

![image](https://user-images.githubusercontent.com/3470892/33169556-072733a2-d03d-11e7-994f-f5cf060f06d1.png)

[2017-11-23 10:58] kinosang commented on #198
Enable `Personal Information` on PayPal side, it may solve this problem.

[2017-11-23 10:58] asadsahi commented on #198
@kinosang I think its the same issue with production as well:

with this middleware setup:

[code]

and **http://localhost:5000/signin-paypal** as redirect url, got same error for scopes

[2017-11-23 10:59] asadsahi commented on #198
ok, let me try enabling personal information.

[2017-11-23 11:01] kinosang commented on #198
and re-check your client_id

[2017-11-23 11:16] asadsahi commented on #198
@kinosang you are genius. It works :+1:

So two things here:
 We have to enable following scopes on paypal side:

![image](https://user-images.githubusercontent.com/3470892/33170215-69bb03e8-d03f-11e7-9cdf-0c0a3a509642.png)

Maybe we can fine tune the address information scopes, but email is the one perhaps we were missing.

So here is my final paypal oauth setting:

[code]

As you suggested we ne

[2017-11-23 11:16] #198 closed, assigned to nobody

[2017-11-27 18:00] kinosang commented on #182
All providers migrated.

`aspnetcore-authentication` feed will be removed.

Thx.

[2017-11-27 18:03] kevinchalet commented on #182
I'll remove the hack we used to make the 1.0/2.0 providers live together in the same solution and merge the `experimental` branch into `dev`. Nightly builds should be available later today.

We'll give folks a few days (maybe 1 week?) to try them before pushing them to NuGet.org.

[2017-11-27 20:13] kevinchalet commented on #170
https://twitter.com/PinpointTownes/status/935240112954400769

[2017-11-27 20:13] #170 closed, assigned to nobody

[2017-11-27 20:13] kevinchalet commented on #182
https://twitter.com/PinpointTownes/status/935240112954400769

[2017-11-27 20:13] #182 closed, assigned to nobody

[2017-11-27 20:15] kevinchalet commented on #196
Closing as I believe @jerriep answered your question. Don't hesitate to re-open if you need additional details.

[2017-11-27 20:15] #196 closed, assigned to nobody

[2017-12-01 09:08] williambowsher opened #200 "Using LinkedIn Provider"
Can you please let me know how I add the Client Secret and Client Id for LinkedIn OAuth provider.

I have tried using the same mechanism as Google, Twitter etc, but the are no properties on the Config object.

Cheers

[2017-12-01 09:17] kinosang commented on #200
Almost all providers from this repository use `ClientId` and `ClientSecret`.

Google, Twitter, Facebook and Microsoft providers are provided by `aspnet` project, they use "unusual" mechanism.

[2017-12-01 09:25] williambowsher commented on #200
Thats what I was hoping but I have just download the v1.0.0-rc1-final from Nuget and when I try an initialise it as per the example i get the following

![linkedin issue](https://user-images.githubusercontent.com/22028391/33476321-e10598a8-d681-11e7-9c35-2375fce4497b.jpg)

[2017-12-01 09:52] kinosang commented on #200
Didn't reproduce the issue, even with asp.net core 1.0 and asp.net core 2.0.

Are you using asp.net core 1.0? If you are using asp.net core 2.0, you should use `v2.0.0-*` and `services.AddAuthentication().AddLinkedIn()`.

For some reason, the 2.0 pre-release packages are only available on [myget](https://www.myget.org/gallery/aspnet-contrib.) at this time.

[2017-12-01 09:53] williambowsher commented on #200
No Asp.Net Core 2

[2017-12-01 10:04] kinosang commented on #200
Sample codes in README.md are outdated. Have a look at the sample project.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/b2928043e7357d0271923f8dc1799c83deefdb1b/samples/Mvc.Client/Startup.cs#L40-L45

For more information about breaking changes on asp.net core 2.0, see aspnet/Announcements#262 and http://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x.

[2017-12-01 11:11] williambowsher commented on #200
The version will be the problem, I will download the V 2 from myget

Thanks.

[2017-12-01 11:11] #200 closed, assigned to nobody

[2017-12-08 07:46] asvishnyakov opened #202 "AspNet.Security.OAuth.Providers for ASP.NET Core 2.0"
Hi! As I can see, you're migrating AspNet.Security.OAuth.Providers to ASP.NET Core 2.0. Have you any plans to release new NuGet package for that? At least as early preview...

[2017-12-08 07:47] kinosang commented on #202
see #170

[2017-12-08 10:34] asvishnyakov commented on #202
@kinosang yes, but there is no nuget package update. Why?

[2017-12-08 11:50] kinosang commented on #202
@asvishnyakov because they are not fully tested.

see #182

[2017-12-09 05:52] kevinchalet commented on #202
The `2.0.0-rc2-final` packages are being built by the CI service and will be automatically pushed to MyGet.org.
Unless a last minute bug is reported, these are the binaries that will be uploaded to NuGet.org next week.

[2017-12-09 05:53] kevinchalet commented on #184
This was fixed in both the 1.0 and 2.0 RC2 versions.

[2017-12-09 05:53] #184 closed, assigned to jerriep, kevinchalet

[2017-12-17 16:15] jeremywhittington opened #206 "400 Bad Request"
I have installed AspNet.Security.OAuth.Discord 2.0.0-rc2-final in an asp.net core 2.0 application and added this code to Startup.cs.

[code]

When I click the discord login or add another service button it takes me to the discord page. But when I click on the Authorize button nothing happens and I get a http 400 error in the console.

I have added the website url and my localhost url to My Apps un

[2017-12-17 16:17] kevinchalet commented on #206
Logs?

[2017-12-17 16:20] jeremywhittington commented on #206
[discordapp.com-1513527568175.log](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/files/1565822/discordapp.com-1513527568175.log)

[2017-12-17 16:25] jeremywhittington commented on #206
By the way the Steam oauth module works fine.

[2017-12-17 16:28] kevinchalet commented on #206
I meant the ASP.NET Core logs.

[2017-12-17 16:39] jeremywhittington commented on #206
The error is happening on the client side and I think on discord's site. Here are the logs from the debug output. Is there something specific you need?

Application Insights Telemetry (unconfigured): {"name":"Microsoft.ApplicationInsights.Dev.Message","time":"2017-12-17T16:37:38.7571105Z","tags":{"ai.operation.parentId":"|d5925908-41268bad3b5a9415.","ai.internal.sdkVersion":"aspnet5c:2.1.1","ai.lo

[2017-12-17 16:44] jeremywhittington commented on #206
I ran fiddler and I dont see any calls going back to my website.

-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
91 | 400 | HTTPS | discordapp.com | /api/v6/oauth2/authorize?client_id=390351160244174858&redirect_uri=https%3A%2F%2Flocalhost%3A44331%2Fsignin-discord&response_type=code&scope=&state=CfDJ8Ck6vu5lUjBBop05YHwGO7CDDdMbB30X6fcoapoJZMvmmjj7aLSsblZmfKDVWvtVik4t0UVYT7rKylQeGXeMF3HN4Xan7

[2017-12-17 17:15] kevinchalet commented on #206
Try to add a scope to see if it helps?
If it still doesn't work, I'm afraid you'll have to ping the Discord folks as the logs you provided are not really helpful.

[2017-12-18 14:50] jeremywhittington commented on #206
Property or indexer 'OAuthOptions.Scope' cannot be assigned to -- it is read only

[2017-12-18 14:52] jeremywhittington commented on #206
Does this provider work for you? Have you set any values other than ClientId and ClientSecret? Did you add anything other than https://mydomain/signin-discord in your "My Apps" settings? Have you tried this in asp.net core 2.0? Do I need to create a discord bot for any reason?

[2017-12-18 14:56] kevinchalet commented on #206
It's a collection...

It worked when I merged the PR that added it. I don't use Discord so not sure if it's still working. That said, if the error is caused by Discord's servers, it's probably not a bug in our code.

[2017-12-18 15:01] jeremywhittington commented on #206
Adding options.Scope.Add("identify"); fixed the issue. You may want to update your documentation.

[2017-12-18 15:02] kevinchalet commented on #206
Better, submit a PR with the fix.

[2017-12-18 18:06] kevinchalet commented on #202
The OpenID2 and OAuth2 providers for 1.0 and 2.0 have been pushed to NuGet.org.

[2017-12-18 18:06] #202 closed, assigned to nobody

[2017-12-30 08:26] jeremywhittington commented on #206
I dont know how to submit a PR. If you can walk me through this I can try to help.

[2017-12-30 08:36] jeremywhittington opened #209 "Discord Add Guild Scope"
The Discord oauth2 api has a guild scope where you can get a list of servers a user has joined. I'm trying to get my head around how I would extend the Discord OAuth Provider to add functionality to capture this.

I see the DiscordAuthenticationHandler.CreateTicketAsync that calls the UserInformationEndpoint to get user information. But I have never tried to add to an existing github repo that was

[2017-12-30 08:46] jeremywhittington opened #210 "AspNetCore 2.0 ClaimActions"
How would you add additional ClaimActions with AspNetCore 2.0? I would like to add claims to get other values when the UserInformationEndpoint is called.

Discord sends back by default the discriminator and avatar but those are not being stored.

I have tried several methods to add the ClaimActions in the Discord options settings in Startup.cs but cant figure out the right way to do it.

For examp

[2017-12-30 09:23] kinosang commented on #206
@jeremywhittington I've already submit the patch via #208.

You can have a look at https://help.github.com/articles/creating-a-pull-request/ for How PR works.

[2017-12-30 13:27] kinosang commented on #209
Add the scope when you config the provider, and use the `OnCreatingTicket` event.

[2017-12-30 16:26] jeremywhittington commented on #210
To do this would I wire up OnCreatingTicket event and manually parse and add the claim?

[2017-12-30 16:51] kinosang commented on #210
no need for `OnCreatingTicket `, just use `options.ClaimActions.MapJsonKey` for Json result from Discord API, in otherwise you should create a derived class from `ClaimAction`.

[2017-12-30 17:10] kevinchalet commented on #210
@Tratcher do you know by any chance if there's already some documentation about the "claims actions" thingy?

[2017-12-30 21:21] jeremywhittington commented on #210
Trying to use MapJsonKey in Startup.cs returns the error "'ClaimActionCollection' does not contain a definition for 'MapJsonKey'".

[code]

I am still using the MyGet AspNet.Security.OAuth.Discord 2.0.0-rc2-final. Could this be the issue?

[2017-12-30 21:23] Tratcher commented on #210
Not much. File a doc bug and we'll add it.

[2017-12-30 21:33] jeremywhittington commented on #209
I was successfully able to do this by adding the following.

**Startup.cs**

[code]

**DiscordExtensions.cs**

[code]

[2017-12-30 21:37] #209 closed, assigned to nobody

[2018-01-04 17:28] kevinchalet commented on #210
@Tratcher https://github.com/aspnet/Docs/issues/5106.

I'm closing this thread as there's not much we can do on our side. @jeremywhittington let us know if you're still hitting this issue.

[2018-01-04 17:28] #210 closed, assigned to nobody

[2018-01-19 15:58] sohaibjaved44 opened #211 "Redirect not working to get Authorization Code"
I have tried this solution for Linkedin, it redirects to "/" root but when I am trying to read query string parameters "Code" and "Status" etc it never redirects to said url.
I have updated [this](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/samples/Mvc.Client/Controllers/AuthenticationController.cs) controller by adding a function named "signin-linkedin" to receive r

[2018-01-19 16:36] kevinchalet commented on #211
The callback part is handled by the LinkedIn authentication middleware itself. Don't create a callback action, it's useless and invalid.

Give the sample a try. The LinkedIn handler works exactly like the other social providers (e.g Google)

[2018-01-19 20:52] ghost opened #212 "AspNet.Security.OAuth.Instagram doesn't fill the claims?"
I've updated the [sample project](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/samples/Mvc.Client) to use the [Instagram provider](https://www.nuget.org/packages/AspNet.Security.OAuth.Instagram/2.0.0-rc2-final) with this config:
[code]
Authentication works well, but there is no claims in `Context.User.Claims` and no `User.Identity.Name` is displayed [in this page](htt

[2018-01-20 05:08] sohaibjaved44 commented on #211
Ok thanks, but in the sample provided is there any way to get authorization code, status etc? as I need to call api for access token after it

[2018-01-24 16:33] MV10 commented on #170
@PinpointTownes Should the readme be updated to mention Core 2.0, or are you waiting until you move the packages out of RC status?

[2018-02-07 16:52] isaacrlevin opened #213 "Yahoo does not allow callbacks with Yahoo in the name"
Was this tested creating a Yahoo App?

![image](https://user-images.githubusercontent.com/8878502/35929338-4457a9b8-0bfd-11e8-983f-643bddf45a3c.png)

I believe the Yahoo Provider needs some updates to it (for instance localhost is not supported, will need to be something like lvh.me).

[2018-02-07 17:00] kevinchalet commented on #213
/cc @jerriep as he wrote the initial version and may be able to shed some light.

You've already opened a ticket about that: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/176. The conclusion is still the same: it's a Yahoo limitation and we can't do anything in the provider itself.

Concerning the callback path, that's extremely unfortunate (and another insane decision f

[2018-02-07 17:02] kevinchalet commented on #212
/cc @yannicsmeets as he wrote the Instagram provider.

You should at least get the user identifier and name: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.Instagram/InstagramAuthenticationOptions.cs#L31-L32.

Have you tried with the ASP.NET Core 1.x version? If both don't work, the userinfo endpoint schema may have changed.

[2018-02-07 17:03] kevinchalet commented on #211
The authorization code is automatically redeemed by the handler itself. To store the access token in the final authentication cookie, set `SaveTokens` in the options.

[2018-02-07 17:03] #211 closed, assigned to nobody

[2018-02-07 17:49] kinosang commented on #212
Sorry, @PinpointTownes @nicolocodev, it's my fault. I'll create a pr to fix it.

BTW, please don't hesitate to let me know if there is any mistake about the migrations from Asp.Net Core 1.0 to Asp.Net Core 2.0.

[2018-02-07 17:58] kinosang commented on #213
You can use `lvh.me` for the field. It's ask for `Callback Domain` not the `Callback URL`.

[2018-02-07 18:46] isaacrlevin commented on #213
@kinosang So what do i put in for CallbackPath in the AddYahoo() extension to get this to work?

[2018-02-08 04:44] kinosang commented on #213
@isaac2004 you can leave it for default.

[2018-02-08 14:43] isaacrlevin commented on #213
Ok, I was able to get it to work, seems like Yahoo is a pain sadly. Thanks for the help!

[2018-02-15 16:49] gehnster opened #215 "Desktop Apps?"
Hey, I was wondering since this packages namespace is under AspNet if it only works while using ASP.NET Core or would you be able to say get this package to easily work using like a Windows Forms app or something? You'd need to spin up a small http server for the callback, and I suppose find a way to hide the secret key, but still. This is specifically related to the EVE Online provider for the ki

[2018-02-16 00:27] kevinchalet commented on #215
Hey,

Nah, these providers are not really good candidates for desktop apps (unless your desktop app is just a web view that renders an ASP.NET Core app :sweat_smile:).

I'd suggest going with something like https://github.com/IdentityModel/IdentityModel.OidcClient2 for desktop apps.

Cheers.

[2018-02-16 00:32] gehnster commented on #215
Thanks!

[2018-02-16 00:32] #215 closed, assigned to nobody

[2018-02-21 16:41] kevinchalet commented on #213
Did you have to replace the default callback path or did it work OOTB?

[2018-02-21 16:59] isaacrlevin commented on #213
If you set the callback to the root when you create the app, and leave the callback default in your configuration, it works OOTB

[2018-02-21 16:59] #213 closed, assigned to nobody

[2018-02-23 14:29] rfrerebe opened #218 "Why is Fields a get only property"
Hello,

I am new to this repo, I had a question.

Here :
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/b2928043e7357d0271923f8dc1799c83deefdb1b/src/AspNet.Security.OAuth.LinkedIn/LinkedInAuthenticationOptions.cs#L57
Field property is get only
Is there any reason for that ?
If it allowed set, devs in general (an me in particular) could choose which claims they want.

It see

[2018-02-23 14:37] kinosang commented on #218
It's a `HashSet`, it means that you can use `HashSet<T>.Add(T)` to add an element to this set, and use `HashSet<T>.Remove(T)` to remove it.

[2018-02-23 14:44] rfrerebe commented on #218
Thanks for your help

Yep, I also just found it ...
my bad
UnionWith did the trick for me, because Add can only add one item

I hope it helps someone with the same issue.

[2018-02-23 14:44] #218 closed, assigned to nobody

[2018-02-26 20:09] celluj34 opened #223 "Twitch OAuth2 provider not signing in correctly"
Hello;

I am trying to implement the Twitch OAuth2 login flow, and I have tried to follow the sample in this solution. I am only using Twitch to log in, I do not have any other method currently. In the simplest solution I can create, I always get an error stating `No authenticationScheme was specified, and there was no DefaultSignInScheme found.` This is demonstrably incorrect as I am able to get

[2018-03-07 17:53] #212 closed, assigned to nobody

[2018-03-07 19:12] kevinchalet commented on #223
Using the OAuth2 providers as the default sign-in scheme is not a legal operation. The default sign-in scheme is usually an instance of the cookie handler.

That likely means there's an error in your provider as they all work the same way.

Yeah, the `redirect_uri` associated with the client app was updated. I'll remove it from the samples.

[2018-03-07 19:13] kevinchalet commented on #206
PR merged. @kinosang thanks!

[2018-03-07 19:13] #206 closed, assigned to nobody

[2018-03-08 05:08] celluj34 commented on #223
But I haven't made any changes to it, plus I'm using the example project in this repository. The only lines of code I added were the .AddTwitchAuth(...) with my clientId and clientSecret.

[2018-03-11 14:18] anderaus opened #225 "Strava provider doesn't work with extra scopes"
Using the Strava provider and adding the `write` scope

[code]

gives this auth url:

`https://www.strava.com/oauth/authorize?client_id=xyz&scope=public%20write&response_type=code&redirect_uri=xyz&state=xyz`

Which returns an `invalid scope` response due to two issues:
- Strava expects a comma-separated list of scopes
- Strava doesn't tolerate the `public` scope set if any other scope is also used

[2018-03-16 22:50] FilipCotan opened #227 "Instagram OAuth Provider - Authentication issue"
Hi there,

I'm trying to authenticate with Instagram as an external login provider in a .Net Core 2.0 application.
My middleware configuration looks like this:
Startup.cs
[code]

ExternalLogin method in AccountController is unchanged:

[code]

Yet, when
[code]
 is called, I get null as result.

NOTE:
- This works perfectly fine for Facebook provider, with no other settings in the middleware config

[2018-03-19 20:18] kevinchalet commented on #225
Thanks for reporting this bug (and for submitting the PR) :+1:

[2018-03-19 20:19] kevinchalet commented on #227
Hey.

Have you tried using the provider without ASP.NET Core Identity? (i.e like we do in the MVC sample)

[2018-03-20 13:41] FilipCotan commented on #227
No, I haven't. I'll try it tho and I'll let you know. However, I had to handle `OnTicketReceived` event in Instagram configuration and save the `access_token` in Session, add a new `ExternalLoginCallback` method for Instagram and grab the `access_token` from Session ( and then delete it :D ) and save it in the database. It's more like a workaround, but it works if this helps anyone.

[2018-03-20 16:46] kevinchalet commented on #227
Question: what's the exact version you're using?

[2018-03-20 17:32] FilipCotan commented on #227
I'm using version: 2.0.0-rc2-final.

[2018-03-20 17:41] kevinchalet commented on #227
There's a bug in the RC2 final version that prevents the userinfo response from being correctly processed (which means the `ClaimType.NameIdentifier` claim required by Identity is not added).

Give the RTM nightly builds a try to see if it fixes your issue.

[2018-03-20 18:08] FilipCotan commented on #227
It looks like the bug was fixed in the latest RTM nightly build (2.0.0-rtm-0580) and it successfully returns the external login information. Thanks for your help, @PinpointTownes . Cheers.

[2018-03-20 18:08] #227 closed, assigned to nobody

[2018-03-20 22:48] Corstiaan84 opened #228 "GitHiub - GetExternalLoginInfoAsync returns null in asp.net core 2.0"
I want to connect to GitHub using OAuth in aspnet core 2.0. I have the following setup.

Startup.cs:

    'services.AddDbContext<DbContext>(options =>
                options.UseNpgsql(Configuration.GetConnectionString("DefaultConnection"))
            );

            services.AddIdentity<User, Role>()
            .AddEntityFrameworkStores<DbContext>()
            .AddDefaultTokenProviders();

[2018-03-20 22:52] kevinchalet commented on #228
I'm tempted to think that's because you're manually creating the `AuthenticationProperties` instead of using `_signInManager.ConfigureExternalAuthenticationProperties()`.

@Tratcher @HaoK do you happen to know if there's some (basic) documentation about that?

[2018-03-20 22:57] HaoK commented on #228
`GetExternalLoginInfoAsync` is hardcoded to look for the IdentityConstants.External cookie, while your github is targetted at its own `AddCookie()` instance, so indeed there is no external identity in this case.

[2018-03-20 23:00] HaoK commented on #228
The general idea is if you are trying to control authentication via your own AddAuthentication + defaults, you probably don't want to use SignInManager, its tightly coupled to the authentication cookies that identity adds.

You can try using AddIdentityCore if you want to avoid using SignInManager and have your own auth functionality.

[2018-03-21 08:59] Corstiaan84 commented on #228
@PinpointTownes @HaoK thank you for looking into this :-).

@PinpointTownes I have already tried using '_signInManager.ConfigureExternalAuthenticationProperties()' but without any results.

@HaoK Thank you for the insight. My experience with this asp.net core feature is still limited. Can you provide a short sample?

[2018-03-23 09:37] sla1k opened #229 "Fix for Vk provider"
Hello, I have fix for VK provider.

How can I contrib this fix?

[2018-03-23 11:07] kinosang commented on #229
fork this repo, clone your fork to your local, commit your changes and push it back to GitHub, create a new pull request and wait for merging.

[2018-03-23 13:49] sla1k commented on #229
@kinosang [PR #230](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/230)

[2018-03-25 02:45] BillChirico opened #231 "Error Authenticating Discord"
Hello,

I am recieivng the following error on callback of Discord:

`HttpRequestException: An error occurred while retrieving the user profile.`

Is there any way I can debug this?

Thanks
- Bill

[2018-03-25 04:28] BillChirico commented on #231
I was able to fix the issue by adding the ``identify`` scope. Even though it appears that the Discord provider is adding this scope by default.

``Scope.Add("identify");``

Is the scope not properly being added by default?

[2018-03-25 08:12] anderaus commented on #231
It seems the `identify` scope was added as default in [this commit](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/d65db1e255d41f51bb413e1edfc15f979ac82a85#diff-988f5ffe95f8da158b7d6428bdaf6eae) on 23 Dec 2017. As far as I know it's currently only available in the [nightly build](https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Discord).

[2018-03-25 18:35] BillChirico commented on #231
@anderaus That makes sense. Thank you!

[2018-03-25 18:35] #231 closed, assigned to nobody

[2018-03-25 18:39] kevinchalet commented on #231
Yep, the fix will be included in the RTM release (shipping next month). In the meantime, manually adding the scope is the best workaround. Otherwise, you can use the nightly builds, as @anderaus said.

[2018-03-26 17:29] Banafys opened #232 "Receiving "An error occurred while retrieving the user profile.", when I use the new Twitch Api Endpoints."
Twitch V5 api is currently deprecated and will be removed in August 2018.

 [Twitch dev doc](https://dev.twitch.tv/docs/authentication/)

When I use the new endpoints, I receive "An error occurred while retrieving the user profile."

`
     .AddTwitch(twitchOptions => {
                    twitchOptions.ClientId = "<removed>";
                    twitchOptions.ClientSecret = "<removed>";

[2018-03-26 17:37] kevinchalet commented on #232
Enable logging. Logs should contain useful information (assuming the Twitch API returns something interesting).

[2018-03-26 19:29] Banafys commented on #232
Reading through the console output I saw the following object:
`
{"error":"Unauthorized","status":401,"message":"Must provide a valid Client-ID or OAuth token"}
`
Looking at the network calls, I saw the request to the authorize endpoint and it's response. I don't see a request to the token endpoint.  I checked and the client-ID  and token endpoint are correct.

I switched the configuration to use

[2018-03-26 20:04] maxbl4 commented on #229
Hi @sla1k , I also found this break with required version and did an adhoc fix in my code. The exception has gone, and it seems to work when I debug.
But login does not work. I login with VK in my sample asp.net core app. There are no errors but I'm still redirected back to login page.
The same happens when I take the code from your PR.
Can you help?

[2018-03-26 20:12] kevinchalet commented on #232
The scheme name has changed between the two versions: https://dev.twitch.tv/docs/authentication/#sending-user-access-and-app-access-tokens

It's something we'll have to change in the provider itself. Would you like to send a PR? **If so, please open it against the `release` branch** so we adopt the same change in both the 1.0 and 2.0 versions.

[2018-03-26 20:26] maxbl4 commented on #229
Ok, I found the issue. It seems, VK have also changed the field name for user id. It was uid, but now it is just id
This should be fixed in the latter PR, otherwise login will not work, it will not fill nameidentity claim

[2018-03-26 20:31] sla1k commented on #229
@maxbl4 yes, you are right, I forgot include it to PR.

[2018-04-01 19:15] myblindy opened #234 "Trouble using the BattleNet OAuth client"
This is how I try to initialize it:

[code]

And I call `app.UseAuthentication();` on the application to enable it.

I put `[Authorize]` on my controller which triggers the BattleNet login as soon as I open the site, which is exactly what I want, and after I log in it goes into a cycle of loading my `/` page and then BattleNet again which tells it I'm logged in and tries to open `/` and again and

[2018-04-04 18:07] kevinchalet commented on #234
Remove `options.CallbackPath = "/";` as it's likely what's causing your issue (don't forget it's the intermediate redirect_uri endpoint the user is redirected to by the OAuth2 provider... not the final location he will be ultimately redirected to).

[2018-04-05 11:23] sla1k commented on #229
@PinpointTownes  @maxbl4 add fix to PR

[2018-04-09 20:43] blowdart commented on #128
Oh no, I wouldn't. Support for confidential clients was [only added to ADFS 2016](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/development/enabling-oauth-confidential-clients-with-ad-fs).

For previous versions you really need to be using WS-Fed.

[2018-04-09 21:04] SuperCreedy commented on #128
There's some working code on my profile - but I agree this isn't needed any more as it was very specifically built as a workaround while WS-Fed middleware was unavailable for aspnet core.

[2018-04-09 21:08] kevinchalet commented on #128
How would using WS-Federation make any difference? :confused:

Unlike OAuth2 and OIDC, WS-Fed doesn't even make use of a backchannel call to retrieve the final token (i.e the token endpoint): the security token/assertion is directly returned to the RP, which is very similar to what you have with the implicit flow in the OAuth2/OIDC world.

The "only" downside with having a public client instead of

[2018-04-09 21:09] blowdart commented on #128
You use old ADFS versions you use old protocols ;) Vittorio was very clear that oauth was a bad bad idea in older versions of ADFS

[2018-04-09 21:10] SuperCreedy commented on #128
The code is here if anyone wanted to pick this up (I'd be glad the effort didn't go to waste!)

https://github.com/SuperCreedy/AspNet.Security.OAuth.Providers/tree/feature/adfs

Cheers, James

[2018-04-09 21:21] kevinchalet commented on #128
I only use WS-Fed when I have absolutely no other option (just like OpenID 2.0, which a legacy protocol). OAuth2 is simpler and easier to implement. The threat model is also better and more recent (e.g it takes session fixation/XSRF attacks into account, countermeasures that the WS-Fed spec - and implementations like the Katana WS-Fed middleware - don't even mention or support natively).

Everythi

[2018-04-09 21:25] kevinchalet commented on #128
@blowdart oh and JSYK: even in the marvelous ASP.NET Core world, the OIDC handler uses the implicit flow by default (`response_type=id_token`), which means the distinction between confidential and public clients is not even a thing (there's no backchannel call in implicit).

If you guys were so concerned about that, making implicit the default flow was not the right thing to do :laughing:

[2018-04-09 21:49] #234 closed, assigned to nobody

[2018-05-02 04:22] justinhelgerson opened #236 "Salesforce - The oauth state was missing or invalid"
I can't seem to get past this exception when using the Salesforce OAuth package:

My `Startup.cs` class is fairly generic:

[code]

I've been starting to dig into the source code for the OAuth handler, but I'm not sure why it's not able to read the state (or why it considers it invalid).  Salesforce is in fact returning a state parameter in the callback:

Any suggestions would be appreciated.

[2018-05-02 10:46] kevinchalet commented on #236
We don't do anything special in the Salesforce handler for the `state` parameter, so everything should be handled by the base ASP.NET Core OAuth2 handler.

Consider opening a ticket here so the ASP.NET folks can point you to the right direction: https://github.com/aspnet/Security

[2018-05-02 14:04] justinhelgerson commented on #236
Thanks for the response @PinpointTownes.  I figured it was worth asking here in case there was a working example of the Salesforce provider that proved I was missing something simple.  I opened an issue and referenced this.

[2018-05-02 19:32] kevinchalet commented on #236
Closing, as it looks like you found the root cause of your issue :tada:

[2018-05-02 19:32] #236 closed, assigned to nobody

[2018-05-07 07:36] jgauffin opened #237 "Using the Visual Studio provider"
I'm trying to figure out how I can use the Visual Studio provider.

I have the following code:

[code]

I've used the following settings (from https://apps.dev.microsoft.com):

![image](https://user-images.githubusercontent.com/818579/39690257-c6105c26-51d9-11e8-8fd1-5887f9304825.png)

I'm unsure of if I have configured something wrong. Should it be one of the "Private key" items and not one of th

[2018-05-08 14:52] jgauffin opened #238 "Correction for the StackExchange provider"
The stackexchange provider gives me an error saying that it cannot convert JArray to JObject.

The error is since `context.RunClaimActions` requires a JObject and Json.Net fails to convert the `items` property to a JObject.

I solved it by extracting the first user from the response and then pass that user on.

**StackExchangeAuthenticationHandler.cs, before**

[code]

**StackExchangeAuthenticatio

[2018-05-08 15:06] jgauffin commented on #237
Had mixed up microsoft apps administration and VSTS oauth apps.

[2018-05-08 15:06] #237 closed, assigned to nobody

[2018-05-13 01:02] kevinchalet commented on #238
Thanks for reporting that. Please feel free to submit a PR and I'll merge it with the other bug fixes for RTM.

[2018-05-20 08:13] martincostello commented on #202
Are the final `2.0.0` packages going to be released to NuGet?

[2018-05-20 12:24] kevinchalet commented on #202
Soon (tm).

[2018-05-29 18:20] kevinchalet commented on #225
Fixed.

[2018-05-29 18:20] #225 closed, assigned to anderaus

[2018-05-29 18:20] kevinchalet commented on #229
Fixed.

[2018-05-29 18:20] #229 closed, assigned to sla1k

[2018-05-29 18:21] kevinchalet commented on #232
Fixed.

[2018-05-29 18:21] #232 closed, assigned to nobody

[2018-06-06 16:21] #223 closed, assigned to nobody

[2018-06-06 16:21] #228 closed, assigned to nobody

[2018-06-06 16:28] kevinchalet commented on #238
Fixed.

[2018-06-06 16:28] #238 closed, assigned to kevinchalet

[2018-06-06 16:29] kevinchalet commented on #97
Done, thanks to @khellang! :tada:

[2018-06-06 16:29] #97 closed

[2018-06-06 16:29] kevinchalet commented on #97
Note: the constants classes have also been backported to 1.0.

[2018-06-08 21:03] zAfLu opened #242 "Twitch Provider not working"
Since the 3789cfb36f1da6726c10aaec42538da2b986088b commit the Twitch Provider is broken.

- Userendpoint should be "https://api.twitch.tv/helix/users/"

- Claims are not working

- Scope should be Scope.Add("user:read:email");

[2018-06-08 21:07] kevinchalet commented on #242
Thanks for the PR. Please also send a PR against the release branch (for 1.0) and I’ll make sure it’s part of RTM.

/cc @kinosang

[2018-06-08 21:15] zAfLu commented on #242
Will try, need to merge my test setup to 1.0 :) Need some time. Will update his issue as fast as i can fix it

[2018-06-08 21:21] kevinchalet commented on #242
Thanks! FYI, we ship next week, so you still have some time left :smile:

[2018-06-08 21:55] kinosang commented on #242
Sorry for the mistakes. I didn't fully test the provider when I commit these changes.

[2018-06-08 23:38] zAfLu commented on #242
btw the twitch provider is tested in Core 2.1 ^^

[2018-06-09 14:25] zAfLu commented on #242
#244 tested with .Net Framework 4.5.1

Our .Net Core 1.0 installation is broken so we couldn't test it :/

[2018-06-14 14:23] kevinchalet commented on #242
Fixed, thanks!

[2018-06-14 14:23] #242 closed, assigned to zAfLu

[2018-06-18 20:51] kevinchalet commented on #202
https://twitter.com/PinpointTownes/status/1008812623884967936

[2018-06-22 18:32] dazinator opened #246 "Bitbucket - after flow, user not authenticated and zero claims"
on bitbucket.org, I created an Oauth consumer:

![image](https://user-images.githubusercontent.com/3176632/41792569-34140a6a-7651-11e8-8e44-649723ce879b.png)

Note: The callback url matches the callbackpath that the bitbucket oath provider expects i.e `/signin-bitbucket`

On startup I am configuring the bitbucket auth provider, with the secret, and scopes etc:

[code]

When I launch the app and si

[2018-06-22 19:08] dazinator commented on #246
And here are logs from debug output:

Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker:Information: Route matched with {action = "SignIn", controller = "Authentication", page = "", area = ""}. Executing action Website.Controllers.AuthenticationController.SignIn (website)
Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker:Information: Executing action method Website.Controllers.Auth

[2018-06-22 19:09] dazinator commented on #246
Also note, after completing the flow, querying the database I do not see any user created. I was also not prompted to enter any name / email address for the new user account etc which I found odd.

[2018-06-22 19:11] kevinchalet commented on #246
I'm tempted to say you're trying to add ASP.NET Core Identity to our default MVC sample, which doesn't use Identity but the cookie handler directly.

Identity uses a dual-cookie system: an external cookie - used to store the external provider identity until the user creates a user profile - and an application cookie.

The logs indicate the Bitbucket authentication part works (`Microsoft.AspNetCore

[2018-06-22 19:22] dazinator commented on #246
ah ok that explains a lot :-)
It looks like I successfully have the external cookie but am missing the rest of the flow that then allows user to create a profile proper :-)

![image](https://user-images.githubusercontent.com/3176632/41795157-ad60214e-7659-11e8-9b7f-8c4d930da1b0.png)

Will close this thanks for the pointer.

[2018-06-22 19:22] #246 closed, assigned to nobody

[2018-07-01 16:07] dazinator opened #248 "[Question] - Using with asp.net core identity"
Are there any pointers to using an oauth provider with application identity?

In other words I would like to use local accounts, and I am starting from a vanilla asp.net core 2.1 mvc site with `identity` in place for local user accounts.

However I'd now like to add bitbucket as an additional login option.

I have tried adding this but after the redirect back from bitbucket, I just see the followi

[2018-07-01 16:26] dazinator commented on #248
Ah this was fairly simple in the end. It was just as simple as adding:

[code]

I had caused the error by changing other things.

[2018-07-01 16:26] #248 closed, assigned to nobody

[2018-07-02 09:09] thdblood opened #249 "Unable to get email address claim from Yahoo provider"
I'm using **IdentityServer4** and needs to have external authentication. I need to get profile and email claims from the idp and I am able to do so with Google, Facebook and MS Live ID. However, I am unable to get the email claim in Yahoo.

In my Yahoo API app I specify **API Permissions** to **Profiles (Social Directory)** and selected ***Read/Write Public and Private***

In IdentityServer4 app I

[2018-07-02 09:12] kevinchalet commented on #249
`options.Scope.Add("openid,sdpp-w");` is not valid.

Use a `Add` call per scope instead of trying to separate them manually (and FWIW, scopes are space-separated, not comma-separated).

[2018-07-02 09:12] #249 closed, assigned to nobody

[2018-07-02 11:27] thdblood commented on #249
@PinpointTownes thanks for the quick response. I appreciate it :)

Sorry I am relatively new to IdentityServer. Is there any documentation that I can refer to for these specific rules? So far, I have only based on the [Mvc.Client](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/samples/Mvc.Client) sample from this site, with which the only basis for adding scope is AddGi

[2018-07-02 11:56] kevinchalet commented on #249
We don't map the email claim by default.

I don't remember exactly how it is formatted by Yahoo, but something like `options.ClaimActions.MapCustomJson(ClaimTypes.Email, profile => (string) profile["emails"].First?["value"]);` might work. If it doesn't, you'll have to browse the documentation or intercept the JSON response and see how it's serialized.

[2018-07-03 10:18] BillChirico opened #250 "Discord Saving Tokens"
Hello,

Where does the Discord provider save the access token for the logged in user? I need to be able to access it in order to query the Discord API. I am using ASP.NET Core 2.1.

Startup.cs:
[code]

AuthenticationController.cs:
[code]

Thanks,
-Bill

[2018-07-03 11:38] kevinchalet commented on #250
Hey,

@Tratcher @HaoK is the `SaveTokens` option documented somewhere?

[2018-07-04 04:15] BillChirico commented on #250
@PinpointTownes @Tratcher @HaoK

I was able to see the access token in the properties of the context in the `OnTicketReceived` event. What would be the best way to go about saving this token if the `SaveTokens` option does not work?

[2018-07-05 15:11] HaoK commented on #250
This sounds like a dupe of https://github.com/aspnet/Security/pull/1767  @Tratcher did you every verify that this wasn't broken for OAuth as well?

[2018-07-05 17:50] Tratcher commented on #250
It worked fine last time I ran the Security Social sample.

[2018-07-05 17:51] Tratcher commented on #250
Doc bug: https://github.com/aspnet/Docs/issues/1883

[2018-07-05 18:09] kevinchalet commented on #250
@HaoK @Tratcher thanks.

Closing as there's nothing aspnet-contrib-specific (if there's a bug, looks like it's already tracked).

[2018-07-05 18:09] #250 closed, assigned to nobody

[2018-07-09 18:44] cristiz1992 opened #251 "Dropbox user information endpoint"
Hello,

In [CreateTicketAsync](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.Dropbox/DropboxAuthenticationHandler.cs) method from Dropbox handler, an http request is made to the user info endpoint using the GET method. This gives an error.

Dropbox api for [get_current_account](https://www.dropbox.com/developers/documentation/http/documentatio

[2018-07-10 11:19] kevinchalet commented on #251
Hey,

Thanks for reporting that. Would you like to submit a PR against the `dev` branch? It would first be part of the nightly builds and we may release a `1.0.1`/`2.0.1` patch at some point to fix it in the existing releases.

[2018-07-11 11:15] cristiz1992 commented on #251
Hey,

I've made a [pull](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/252) request.

Thanks

[2018-07-12 18:52] dazinator opened #253 "[Question] - obtaining access token and refresh tokens"
I am using the bitbucket provider, and after the login flow, I have an authenticated user logged into my sample website - which is great.

However, I would like to make a server side call to the bitbucket rest api on the next page to get a list of the users bitbucket repositories for display. The trouble is, i'd like to have the refresh token for the user at that point, so I that I can get an acce

[2018-07-12 19:09] kevinchalet commented on #253
Related: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/250.

This sample should put you on the right track: https://github.com/aspnet/Security/blob/master/samples/SocialSample/Startup.cs#L454

[2018-07-12 20:08] dazinator commented on #253
Thanks!

In case it helps anyone else, for a new mvc website (with the scaffolded identity code) the location where you can get access to these tokens is in the `ExternalLoginModel.cs`:

![image](https://user-images.githubusercontent.com/3176632/42656622-b3a9e3be-8617-11e8-9e93-63e12011bf16.png)

After the redirect occurs, I believe they are lost, so if you want to persist them, you have to do it

[2018-07-12 20:10] #253 closed, assigned to nobody

[2018-07-28 22:08] zAfLu opened #257 "Microsoft.AspNetCore.Authentication.OAuth version"
Hi guys,

i made a PL (https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/256) to improve the Twitch Provider. While make these changes I figured out that I need to do some additional work on this PR if you guys have any plans to update **Microsoft.AspNetCore.Authentication.OAuth** to 2.1.x

So, my question is have you guys any plans on this atm?

[2018-08-06 00:48] zAfLu opened #258 "Question: scopes per request"
Hi,

is it possible to override scopes per request? If yes: how? :)

For example
[code]

[2018-08-26 10:23] vsopko commented on #257
@PinpointTownes?

[2018-09-11 02:03] luizs81 opened #259 "[Question] Similar library to use with Web Api and JWT?"
I know this is not the best place to raise this question, but I'm hoping that someone here can give me some directions.

I'm creating a .Net Core Web API app that implements JWT based authentication, and planning to offer to users authentication through different providers. They should be able to sign up using whatever Facebook, Google or some other social account  account they have.

For MVC appl

[2018-09-15 15:45] iojancode commented on #249
Based on @PinpointTownes and @thdblood I successfully got the Email claim like this:

[code]

[2018-09-26 02:47] pessimca opened #260 "Plz share Salesforce authentication and authroization"
I am looking for Salesforce authentication provider. Could you plz share an example with OAuth providers.

[2018-12-20 01:56] TheUltimateC0der opened #261 "Add trakt.tv provider"
I would like to add a provider for Trakt.tv

[2018-12-20 01:56] PsiStorm69 commented on #261
Hi, I am currently on leave and as I will be traveling, will have very limited access to email.  I will return on the 2nd of January 2019.

Please contact the office at support@crowdedigloo.com or on 011-954-1949.

In an EMERGENCY, you can still contact me on my cellphone.

Regards
Storm Aki

[2018-12-31 10:12] SirRippovMaple commented on #251
Hi

Thanks for fixing this @cristiz1992. I've noticed that the fix was merged about 5 months ago, but we haven't had a release since then. Is there a chance of getting an updated package in Nuget soon?

My apologies if this information can be found elsewhere - I've tried searching for it.

[2018-12-31 10:26] kinosang commented on #251
@trumpi use the MyGet feed, you can find it in README

[2018-12-31 10:55] SirRippovMaple commented on #251
Thanks a mill!

On Mon, 31 Dec 2018 at 12:26, Chino Chang <notifications@github.com> wrote:

--
Trevor Green
http://about.me/trumpi

[2019-01-11 12:57] xperiandri opened #264 "LicenseUrl is deprecated"
https://github.com/NuGet/Home/wiki/Packaging-License-within-the-nupkg

Looks like you need to change it to `<PackageLicenseExpression>Apache-2.0</PackageLicenseExpression>` in `packages.props`

[2019-01-14 20:27] mscrivo opened #269 "OnCreatingTicket not getting called"
I've added LinkedIn auth to our app and while logging in works fine with it, we have another place that we use it to connect to LinkedIn for sharing.  When we call `ChallengeAsync("LinkedIn", properties)` where properties is configured using `signInManager.ConfigureExternalAuthenticationProperties()`, the `OnCreatingTicketEvent` never fires.   I am able to see that `OnTicketReceived` and `OnRedire

[2019-01-14 21:21] mscrivo commented on #269
Looks like this has already been fixed in https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/dfd7735216bf3aa6b05ea92823331577f673e214

Is there any workaround until a new nuget package gets published?

[2019-01-16 09:04] EricWebsmith opened #270 "QQ worked on pc but not phone"
when worked with phone, i only ended up here:

![image](https://user-images.githubusercontent.com/338116/51237929-92d6cd00-19b0-11e9-8b05-644f94891361.png)

while on pc it works fine.

![image](https://user-images.githubusercontent.com/338116/51237999-c285d500-19b0-11e9-84b8-e6300ff16fcc.png)

[2019-01-16 10:07] kinosang commented on #270
it should works well on mobile

![IMG_0097.png](https://i.loli.net/2019/01/16/5c3f024563f14.png)

[2019-01-16 10:15] EricWebsmith commented on #270
well, after you click the button, you only go to the qq page. you are not logged. can you go thru the process to check it out? thansk.

[2019-01-16 10:22] kinosang commented on #270
the QQ connect on mobile only works with the QQ mobile app, it will open the QQ app to complete the request and thren redirect to your website

[2019-01-16 10:57] EricWebsmith commented on #270
![image](https://user-images.githubusercontent.com/338116/51244250-8c038680-19bf-11e9-8d31-f9ccfca95b44.png)

I connected with Jingdong. with qq id

![image](https://user-images.githubusercontent.com/338116/51244582-69be3880-19c0-11e9-9993-71b2f38aaff6.png)

and yhd.com.

[2019-01-20 12:00] kinosang commented on #269
If you really need this patched version, you can get the nuget package from the MyGet feed.

[2019-01-21 15:53] kevinchalet commented on #269
Patched versions `1.0.1` and `2.0.1` are being pushed to NuGet.org ATM.

[2019-01-21 16:10] #269 closed, assigned to nobody

[2019-01-27 11:51] AeddGinvael opened #271 "OAuth.BattleNet user information endpoint"
Hello.
Currently using user information endpoints in this provider are wrong, and always return this:
![image](https://user-images.githubusercontent.com/40443346/51800579-38f0c580-2242-11e9-9220-3455bca47fed.png)
User information endpoint located at  https://eu.battle.net/oauth/userinfo
(see: https://develop.battle.net/documentation/api-reference/oauth-api)

[2019-02-01 06:17] GreenShadeZhang opened #274 "How to use Weibo login correctly"
When I used this library, I used the Weibo part in the instance, but in the end I couldn't achieve the final effect, so I wanted to ask if anyone had ever used Weibo, or what they needed to pay attention to when using it.

[2019-02-01 06:19] kinosang commented on #274
If you do not have access to email scope, remove it from the scope list while configure the provider.

[code]

[2019-02-01 10:36] GreenShadeZhang commented on #274
Okay, I did what you said. There seems to be no problem, but I use the following example of the code to find out whether to log in, no data to return, so I'm not sure if it has been verified to log in. So what data can I use to determine if I logged in successfully.
`  @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>
        <p>
            @foreac

[2019-02-06 03:20] kinosang opened #275 "Newtonsoft.Json types replaced in Microsoft.AspNetCore.Authentication APIs"
aspnet/Announcements#341

[2019-02-11 23:34] LimpingNinja opened #276 "Authentication seemingly not working"
Is this 2.2 compatible? I created a basic WebApp:

`dotnet new mvc -au individual`

Then added the nuget and set the configuration:

[code]

Twitch is not a valid Auth - excellent. I created a new account using Twitch Auth and as soon as I did, it just accepted, had me enter the user/pass to create the new member, and then went back to the home screen without actually recognizing the login.

It se

[2019-02-17 12:08] kchowanski opened #277 "Update Linkedin to support api/v2"
Hello,
Linkedin enforce users to migrate to API version 2.0 by March 1.

"...all developers need to migrate to Version 2.0 of our APIs and OAuth 2.0 by March 1."

https://engineering.linkedin.com/blog/2018/12/developer-program-updates.

[2019-02-19 09:38] Mattzard commented on #277
Whilst this work is being completed, I don't know if it would be recommended to also make the call to return the email address within the claims?

For version 2 of the API email address has been separated into a different call (_https://api.linkedin.com/v2/emailAddress?q=members&projection=(elements*(handle~))_) and isn't returned with the new _lite_profile_, yet previously it would have been retu

[2019-02-19 10:18] Mattzard opened #278 "The first authentication isn't working on iPad devices"
I have tried a number of iPad devices here, and it seems to fail. See the scenario below:

1. On an iPad, completely clear your cookies/session or open an Incognito session
2. Now you have a clean session, try to login via LinkedIn/Microsoft using this library.
3. You will be taken to LinkedIn/Microsoft's login page where you should successfully enter your credentials

At this point, you should no

[2019-02-25 07:03] soofian commented on #198
I have merchant's client id and client secret. I want to get an access token and refresh token from my C# code. Code given on [https://github.com/paypal/sdk-core-dotnet](https://github.com/paypal/sdk-core-dotnet) is not working and giving object reference not set to an instance error. Can any one please help ? My SDK version is 1.9.1.2.

[2019-02-26 01:32] GreenShadeZhang opened #279 "About the use of Weibo and QQ"
When I use Weibo and QQ,everything looks normal as follows. but there's nothing in Context.User.Claims.what's going on, hoping to tell me why. Plus, I'm applying for a personal developer of Weibo and QQ.
`
 .AddQQ(options=> {
                 options.ClientId = "**";
                 options.ClientSecret = "**";
               })
           .AddWeibo(options =>
             {
                 opti

[2019-03-06 21:08] martincostello commented on #275
Updating to 3.0 preview 3, the auth providers now fail with an exception such as:

[code]

[2019-03-06 23:29] martincostello commented on #275
Have started a migration for some of the providers in #280.

[2019-03-07 11:36] rajivverma commented on #74
Hello,
I am unable to get it working.
[code]
It gives me `error 400 Invalid redirect_uri`. I can ensure that the redirect URI 'https://localhost:44318/signin-arcgis' is registered into the application setting.

[2019-03-07 11:41] rajivverma commented on #74
Please ignore my previous comment, there was a typo in the registered redirect URI. It is working fine!

[2019-03-11 12:32] Vertigo093i commented on #258
I suppose it is possible to add two different authentication schemes with different options for the same single provider.

[code]

Then chose one depending on a user (application area) being authenticated.

[2019-03-17 10:33] martincostello opened #283 "Update PayPal provider for OAuth"
While looking at tests as part of #280 and #282, I found that the OpenID Connect endpoint used by the PayPal provider is no longer documented as it has been superseded by an OAuth-specific endpoint which has a different URL and response shape, `/v1/identity/openidconnect/userinfo?schema=openid` moves to `/v1/identity/oauth2/userinfo?schema=paypalv1.1` ([docs](https://developer.paypal.com/docs/api/

[2019-03-17 11:15] martincostello opened #284 "Salesforce provider has incorrect property name"
While looking into additional tests for #280 (see #282), I found that the name claim used is different compared to the Salesforce documentation.

In the provider, `"user_name"` is used.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/8b1b82efe1b81ed00d62d54cb3526c8fc01ea612/src/AspNet.Security.OAuth.Salesforce/SalesforceAuthenticationOptions.cs#L30

In the [documentation](h

[2019-03-17 11:18] martincostello commented on #277
This sounds similar to how the GitHub and Bitbucket providers work, where emails need to be requested separately with a different HTTP request.

[2019-03-17 11:19] martincostello commented on #264
Updated in https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/280/commits/790d017ff349f41745d8f2a1da883560c87b1573 as part of #280.

[2019-03-17 11:24] martincostello commented on #284
Assuming the docs are correct, fix would be something like this: https://github.com/martincostello/AspNet.Security.OAuth.Providers/commit/953a998f6fd1a418a15b8a87b390e1f3d6335c81

[2019-04-10 11:47] ghost opened #285 "Authorization callback URL ,How to fill out?"

[2019-04-11 03:54] jandieg commented on #277
Hi, is this related? Just using a new LinkedIn api (v2)

[2019-04-11 06:00] #279 closed, assigned to nobody

[2019-04-11 06:01] #274 closed, assigned to nobody

[2019-04-11 21:43] odahcam commented on #277
I'm having some trouble to use the LinkeIn authentication as well. In my case, when the user comes back from the LinkedIn's authorization page to my route callback, the first thing I'm doing is:

[code]

But this method call, returns `null` for LinkedIn while works perfectly with Twitter, Google SignIn, Facebook and Instagram.

Are you here with the same problem?

[2019-04-12 00:55] jandieg commented on #277
I think it is part of the same. Current implementations assume the **email** is coming as a claim, but on Linkedin API v2 it is no longer.

@devs is there a workaround for this? At least to ignore the email claim?

[2019-04-12 02:30] odahcam commented on #277
As I could see `loginInfo` is completely empty and `nameidentifier` is `0`. 😕

[2019-04-12 12:29] Mattzard commented on #277
I was able to get this working by downloading the code for LinkedIn (here: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src/AspNet.Security.OAuth.LinkedIn), importing this as a project in my solution, and then configuring the LinkedInAuthenticationHandler class to make an additional call to LinkedIn's API to return the Email Address.

I believe this is the code snippe

[2019-04-17 01:32] odahcam commented on #277
It would be nice to see a official fix here. I don't intend to download the source and change it. That's a bad practice and can generate problems I have no time to deal with. 🙁

[2019-04-17 07:36] Uffman opened #286 "Add AWeber provider"
AWeber now supports OAuth2
[https://api.aweber.com/#tag/OAuth-2.0-Overview](url)

[2019-04-18 18:46] iojancode opened #287 "Yahoo: Access token generation failed"
Hi, im having the following error from yahoo, my code was working before... it is not even documented by yahoo

[code]

[2019-04-22 13:01] jculverwell opened #288 "Evernote Support"
Does anyone know if it should be possible to support Evernote https://dev.evernote.com/doc/articles/authentication.php , I believe its based on oauth1.0?

[2019-04-26 19:00] martincostello commented on #287
This looks like an HTTP 500 error from Yahoo!. Does it persist, or was it a one-off transient error?

[2019-04-26 19:07] martincostello commented on #288
Looking at the code for [Microsoft provider OAuth handler,](https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/OAuth/src/OAuthHandler.cs) which appears to be based on OAuth 2.0, and the [Twitter handler](https://github.com/aspnet/AspNetCore/blob/28d44af91a249c9229ba1bbe543898bdbbe4a871/src/Security/Authentication/Twitter/src/TwitterHandler.cs#L168) which explicitly uses O

[2019-04-26 19:11] martincostello commented on #286
Most of the providers here are community contributed - I would say that pull requests to add new providers based on the patterns and layout of the existing implementations are likely to be accepted.

[2019-04-27 10:57] martincostello commented on #284
From testing, the claim key **is** incorrect. It should be `"username"`.

Fixed in 953a998f6fd1a418a15b8a87b390e1f3d6335c81.

[2019-04-29 16:38] jandieg commented on #277
Maybe Mattzard addition can be the solution?

Btw, all new LinkedIn apps are being forced to use the latest API which does not work. So this is becoming like a critical issue.

[2019-04-29 16:45] martincostello commented on #277
The fastest way to get a fix would be if any affected parties were to raise a pull request with a proposed solution and we can go from there, particularly for a fix for the current ASP.NET Core 2.x providers.

Otherwise this is something that I can pick up as part of changes to add support for ASP.NET Core 3.0 that I've started working on. I'm adding tests to this repo as part of those changes, an

[2019-05-06 15:02] jdealarcon commented on #283
This works for me
[code]

Thanks to Katana Project

[2019-05-08 04:16] unruledboy opened #289 "StackExchange: ArgumentNullException: Value cannot be null"
Usage:
          .AddStackExchange(options =>
              {
                  options.ClientId = "the-client-id-from-stack-exchange";
                  options.ClientSecret = "the-secret-from-stack-exchange";
              });

Exception after approved the request:

An unhandled exception occurred while processing the request.
ArgumentNullException: Value cannot be null.
Parameter name: value
Sy

[2019-05-09 08:37] jdealarcon commented on #277
Thanks @Mattzard  your changes works perfect!!
Here are code mixing both endpoint
**LinkedInAuthenticationHandler.cs**
`        protected override async Task<AuthenticationTicket> CreateTicketAsync([NotNull] ClaimsIdentity identity,
            [NotNull] AuthenticationProperties properties, [NotNull] OAuthTokenResponse tokens)
        {

            //------@Mattzard Code -------------------------

[2019-05-09 16:39] kevinchalet commented on #289
You probably forgot to set the API key in the SE options, which causes this line to be null: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.StackExchange/StackExchangeAuthenticationHandler.cs#L41

We'll need to add some validation stuff to ensure we throw a better exception when the API key is not properly set.

[2019-05-12 13:23] #271 closed, assigned to nobody

[2019-05-12 14:07] #284 closed, assigned to nobody

[2019-05-12 17:18] martincostello commented on #289
Changed in #294 to throw a `InvalidOperationException` with a message of `"No site was specified for the Site property of StackExchangeAuthenticationOptions."`.

[2019-05-13 04:59] unruledboy opened #295 "More on documentation"
During the testing of the providers, I often found myself in the situation as: I don't know where to apply for the API id/secret, I spent fair amount of time googling here and there.

It would be great to have a wiki page or some sort, for each provider, provides a link to a tutorial or some sort for the developer to start with.

[2019-05-13 08:57] martincostello commented on #295
This is a good idea, I did a similar thing myself as part of reverse-engineering the API responses for #292.

The only downside is that the documentation will likely drift over time, but a bullet point list that just goes to the entry point to the docs for each provider might be useful as a starting point for people.

We'd certainly not want to maintain our own parallel documentation though.

[2019-05-14 13:50] martincostello commented on #189
Thank you for your PR @haydenhancock - is this something you still wish to pursue?

[2019-05-15 19:54] Apton commented on #285
https://localhost:44301/signin-instagram

[2019-05-16 17:41] martincostello opened #296 "Add .editorconfig"
As suggested here https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/265#discussion_r284648031, we should have an `.editorconfig` file that matches (more or less) the existing coding conventions to nudge contributors with a EditorConfig-enabled IDE into the pit of success for matching existing coding styles in their PRs.

[2019-05-19 13:12] #289 closed, assigned to nobody

[2019-05-19 15:13] martincostello commented on #286
If you would like support for AWeber to be added, please submit a PR.

[2019-05-19 15:13] #286 closed, assigned to nobody

[2019-05-19 15:14] #285 closed, assigned to nobody

[2019-05-19 15:16] martincostello commented on #278
It's possible that the issue you're seeing is due to this:

https://github.com/aspnet/Announcements/issues/318

[2019-05-19 15:20] martincostello commented on #276
The project is compatible with ASP.NET Core 2.2.x.

Have you tried adding the same credentials into the sample MVC application in this repository and seeing if Twitch authentication works there? If it does, then maybe the issue is in your new scaffolded app, rather than with the Twitch provider.

[2019-05-19 15:21] martincostello commented on #275
Will be resolved by #280.

[2019-05-19 15:22] martincostello commented on #270
It's possible that the issue you're seeing is due to this:

https://github.com/aspnet/Announcements/issues/318

[2019-05-19 15:23] martincostello commented on #264
Fixed by d03ee2b8efa4537d2b643ea9335ec1c6665f8faf in #290.

[2019-05-19 15:23] #264 closed, assigned to nobody

[2019-05-19 15:24] martincostello commented on #261
If you would like support for trak.tv to be added, please submit a PR.

[2019-05-19 15:25] martincostello commented on #260
The code for a Salesforce provider is available here:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src/AspNet.Security.OAuth.Salesforce

A NuGet package containing the last release of the provider can be found here:

https://www.nuget.org/packages/AspNet.Security.OAuth.Salesforce/

[2019-05-19 15:25] #260 closed, assigned to nobody

[2019-05-19 15:27] martincostello commented on #259
Sorry, off hand I'm not sure of the best way to achieve this for Web APIs using existing Microsoft or community projects.

I'd suggest, if you haven't already, asking over on Stack Overflow.

[2019-05-19 15:27] #259 closed, assigned to nobody

[2019-05-19 15:35] martincostello commented on #258
Looking at the code for OAuth handler, it looks like you can use the [`Scope` property](https://github.com/aspnet/AspNetCore/blob/62351067ff4c1401556725b401478e648b66acdc/src/Security/Authentication/OAuth/src/OAuthChallengeProperties.cs#L23-L30) of the `OAuthChallengeProperties` class to amend the scopes used for a request.

https://github.com/aspnet/AspNetCore/blob/5502c2080e9c48e05effdb91695506c

[2019-05-19 15:35] #258 closed, assigned to nobody

[2019-05-19 15:37] martincostello commented on #257
The providers already support both 2.0, 2.1 and 2.2.

If a _specific_ provider has issues that you don't seem to be able to resolve, please raise an issue describing the problem and we can see if it's a bug that needs fixing.

[2019-05-19 15:37] #257 closed, assigned to nobody

[2019-05-19 15:37] #251 closed, assigned to nobody

[2019-05-19 15:38] martincostello commented on #147
Resolved as per https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/150#issuecomment-289106098.

[2019-05-19 15:38] #147 closed

[2019-05-19 15:40] martincostello commented on #109
Looks like this was added by #137 and then later abandoned due to a lack of resource for testing.

Closing as stale.

[2019-05-19 15:40] #109 closed

[2019-05-19 15:41] #128 closed

[2019-05-19 15:44] martincostello commented on #288
Closing for the same reasons as described by https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/150#issuecomment-289106098.

You would need to implement your own Evernote provider for OAuth 1.0.

[2019-05-19 15:44] #288 closed, assigned to nobody

[2019-05-19 15:45] #283 closed, assigned to martincostello

[2019-05-19 16:41] Mattzard commented on #278
Apologies, I forgot to add details to this when I discovered what the problem was.

I found out the problem occurred because I had a Mobile App installed on my Phone that was running against the same domain as my API that contained the code to allow for social login that this github project provides access to.

Simply changing the domain of my API allowed the social login code to work perfectly on

[2019-05-19 16:41] #278 closed, assigned to nobody

[2019-05-20 10:25] srober12 opened #297 "Callbacks giving a 404 after external login"
I'm sure i'm missing something obvious but I cant figure it out.

I created a new .net core 2.2 project from the VS template, then copied over the code from the samples. I tried with instagram and google and getting the same result. Clicking sign in with instagram work, redirects to instagram, yada yada, and when it returns to  https://localhost:44311/signin-instagram?state=<omitted> it gives me a

[2019-05-20 10:50] martincostello commented on #297
If you use this repo's sample app (https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/samples/Mvc.Client) with your Instagram OAuth credentials do you get the same issues?

[2019-05-20 10:52] srober12 commented on #297
I'm working on even getting it to run as we speak. When i hit run it gives me a HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure

**EDIT** - got that figured out apparently i didnt have core 2.2.4+ installed just 2.2.2. It does work like its supposed to in the sample app.

[2019-05-20 12:24] martincostello commented on #297
@srober12 If the sample app is working fine, that suggests the issue is in your `dotnet new` app, rather than the providers themselves.

[2019-05-20 18:04] srober12 commented on #297
I don't doubt that, but I was hoping this might be something someone ran across and had an easy answer as to why the callback endpoint wasnt being picked up.

[2019-05-20 18:18] martincostello commented on #297
Sorry, it’s not an issue I’ve come across before so am not aware of what the problem might.

All I can think of is a missing authorisation middleware registration on `IApplicationBuilder` so there’s nothing “listening” to the URL.

[2019-05-20 19:01] srober12 commented on #297
@martincostello That actually helped. Turns out, in the Configure method in Startup I was missing

[code]
Adding that fixed everything. Thanks for the help, closing.

[2019-05-20 19:01] #297 closed, assigned to nobody

[2019-05-22 09:14] #296 closed, assigned to martincostello

[2019-05-22 15:08] luniv04 opened #300 "LinkedIn Authentication Failed: An error occurred while retrieving the user profile"
I am trying to use this article [ASP.NET Core 2.0: Authentication Using LinkedIn](https://social.technet.microsoft.com/wiki/contents/articles/51464.asp-net-core-2-0-authentication-using-linkedin.aspx) and follow it step by step to try an authenticate using LinkedIn.  There are a few differences that I would like to point out.  I am using Visual Studio 2019.  I am using ASP.NET Core 2.2.  I am also

[2019-05-22 15:10] martincostello commented on #300
This is likely the same issue as #277 which is being fixed in #298.

[2019-05-22 15:26] luniv04 commented on #300
Thanks for the super quick response.  I will try getting that branch building and testing later today to see if those code changes with that PR fix my issue or not.

[2019-05-22 16:19] luniv04 commented on #300
I have tested it out and I am getting a different error.  I think there is a logical issue with the PR on #298.  Specifically in _AspNet.Security.OAuth.Providers\src\AspNet.Security.OAuth.LinkedIn\LinkedInAuthenticationOptions.cs_ on line 45 _ClaimActions.MapCustomJson(Claims.PictureUrls, user => string.Join(",", GetPictureUrls(user)));_ where GetPictureUrls can return a null value.  I am getting

[2019-05-22 16:22] luniv04 commented on #300
I added my comment in the #298 PR.

[2019-05-22 16:53] #300 closed, assigned to nobody

[2019-05-22 16:53] luniv04 commented on #300
This PR seems to get me past my issue.

[2019-05-23 14:23] maftieu commented on #277
Could this be delivered before milestone 3.0?
LinkedIn has now switched off V1 api endpoints. All calls results to "410 Gone"!

Or do I need to include source code of the provider in my app to get this working?!

[2019-05-23 14:24] martincostello commented on #277
Fix will come in a few days once I have the time to merge #298, check the state of master and arrange release and publishing.

[2019-05-23 18:45] martincostello commented on #277
A prerelease version containing the fix merged from #298 is now available from the MyGet feed: https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.LinkedIn/2.1.0-preview-0749

Please try it out and feedback whether your issues are resolved.

[2019-05-23 22:45] odahcam commented on #277
I could not test because:

'.NETFramework,Version=v4.5.2', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package
author.

[2019-05-24 09:09] maftieu commented on #277
I tried, and it works. I only use e-mail address from the profile.
Thanks!

[2019-05-24 09:44] martincostello commented on #277
@odahcam The 2.x releases only support `netstandard2.0`.

[2019-05-25 10:22] #295 closed, assigned to nobody

[2019-05-28 16:33] martincostello commented on #189
Closing due to inactivity - please re-open if you would like to pursue adding a provider for Dribbble provider in a future release.

[2019-05-28 16:33] #189 closed, assigned to haydenhancock

[2019-05-28 16:34] martincostello commented on #287
Closing as this appears to be an issue with Yahoo!, not the provider.

[2019-05-28 16:34] #287 closed, assigned to nobody

[2019-05-28 16:35] martincostello commented on #277
Closing as resolved by #298. Will look to release a 2.1.0 package with the fix to NuGet.org sometime in the next week.

[2019-05-28 16:35] #277 closed, assigned to martincostello

[2019-05-30 12:27] martincostello opened #307 "Use QueryHelpers.AddQueryString(string, string, string) more"
In a few providers, the `QueryHelpers.AddQueryString(string, string, string)` method isn't used to append a single query string parameter, meaning we're allocating a dictionary unnecessarily in a few places.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/aad5420654c65b5fb9908ddf298dbab17076338c/src/AspNet.Security.OAuth.Baidu/BaiduAuthenticationHandler.cs#L37-L40

We shoul

[2019-05-30 12:54] #307 closed, assigned to martincostello

[2019-05-30 12:59] kevinchalet commented on #307
I'm all for simplifying things, but don't expect any measurable perf' gain here: the method accepting 2 string parameters internally creates an array and calls the same private method as the one we were previously using: https://github.com/aspnet/AspNetCore/blob/master/src/Http/WebUtilities/src/QueryHelpers.cs#L21 🤣

[2019-05-30 13:46] martincostello commented on #307
Yeah I wasn't expecting anything Earth-shattering in terms of perf, just making things a bit neater 😃

[2019-05-30 17:18] jandieg commented on #277
Thanks. This is my first time with MyGet, am I doing something wrong?

[code]

[2019-05-30 18:05] martincostello commented on #277
@jandieg You need to add the MyGet feed to your `NuGet.config` file. See here for an example: https://github.com/martincostello/alexa-london-travel-site/pull/292/files

[2019-06-03 16:22] kevinchalet opened #313 "Consider throwing an exception when additional userinfo requests fail"
Currently, the GitHub/BitBucket/Weibo providers don't throw when an error occurs while retrieving the email address associated with the user account (which can't be done via the "normal" userinfo endpoint).

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/7b906829dc24fda3d0b23be21a69b62d2e236e48/src/AspNet.Security.OAuth.GitHub/GitHubAuthenticationHandler.cs#L82-L92

Retrosp

[2019-06-04 08:32] leastprivilege opened #314 "Support for Apple Sign-in"
I think it's about time that this repo also supports Apple Sign-in.

Please implement ;)

https://github.com/IdentityServer/IdentityServer4/issues/3312#issuecomment-498566609

[2019-06-04 08:34] martincostello commented on #314
I wondered how long until someone asked about this... 😄

I haven't read up on the implementation details yet - is it OAuth 2.0 based?

[2019-06-04 09:17] kevinchalet commented on #314
Well, you know how it works 😄

Yeah, it's an OpenID Connect code flow with a non-standard client authentication logic, inspired by OIDC's `private_key_jwt` method. Oh, and there's no discovery endpoint (but there's a JWKS doc' at https://appleid.apple.com/auth/keys)

[2019-06-04 09:19] martincostello commented on #314
Fun - I might take a look at the weekend and see how long it takes my eyes to bleed 😄

[2019-06-04 09:21] martincostello commented on #313
This sounds like a reasonable change - I wonder, is it worth shipping 2.1.0 first, and then doing this in a 2.1.1?

I'm just a bit wary of the scope keeping creeping a little bit more, then a little it more... 😃

[2019-06-04 09:43] kevinchalet commented on #313
It will be my only demand, I promise 😄

[2019-06-04 09:46] martincostello commented on #313
Cool - are you going to fix this, or do you want me to do it?

I'll also need to port the few commits to dev since I cut the `rel/2.1.0` branch over to there too.

[2019-06-05 03:30] ajitgoel opened #317 "Support for Tumblr Sign-in"
I think it's about time that this repo also supports Tumblr Sign-in.
Please implement ;)

[2019-06-05 07:35] leastprivilege commented on #314
https://developer.okta.com/blog/2019/06/04/what-the-heck-is-sign-in-with-apple

[2019-06-05 07:44] martincostello commented on #314
@leastprivilege Thanks!

[2019-06-05 07:45] martincostello commented on #317
Hi @ajitgoel - in general, new providers are implemented by the community and contributed as PRs. Is this something you're interested in doing?

[2019-06-06 01:49] ajitgoel commented on #300
I am having the same issue and I am using ASP.Net Core 2.2 and AspNet.Security.OAuth.LinkedIn version 2.0.1. There is no prerelease version available also. How can I get the changes listed above?

Update: This issue can be fixed by adding https://www.myget.org/F/aspnet-contrib/api/v3/index.json as a package source in Visual Studio and downloading the latest stable build(2.1.0).
Thank you Martin Co

[2019-06-06 17:12] blowdart commented on #314
Auth0 broke down how the client ID works

https://auth0.com/blog/what-is-sign-in-with-apple-a-new-identity-provider/

[2019-06-06 17:53] kevinchalet commented on #300
The 2.1.0 packages were just pushed to NuGet.org: https://twitter.com/PinpointTownes/status/1136691785193926656

Kudos to @martincostello for the time he dedicated to this release! 👏

[2019-06-06 18:20] martincostello commented on #313
We can close this now 2.1.0's shipped now, right?

[2019-06-06 18:22] kevinchalet commented on #313
Oh yeah (not sure why GH didn’t close it when the PR was merged 😕)

[2019-06-06 18:22] #313 closed, assigned to nobody

[2019-06-06 22:07] martincostello commented on #314
Skeleton 💀 implementation begun in #318.

[2019-06-07 08:34] Vladinho10 commented on #198
ATTENTION !!!!!  I tried almost 6 hours. Finally I found the solution.
Just check 'Full name'
and send GET request to
https://www.sandbox.paypal.com/signin/authorize?

with these queries
flowEntry=static&
client_id=[ my Client ID from created application ]&
scope=openid profile email&
redirect_uri=[ http%3A%2F%2Flocalhost%3A3001%2Fmy%2Fredirect%2Furl this is http://localhost:3001/my/redirect/url ]

[2019-06-13 02:37] zAfLu opened #320 "Nextcloud Provider Test issue"
Hello,

first of all, sorry for not using any of the issue templates but I guess my issue doesn’t fit in any of these. :)
 I’m using Nextcloud and I thought it would be a good idea do write a provider. I wrote one today and now I’m struggling a bit with the provider test. If you are familiar with nextcloud you know that your mostly find self-hosted instances. So, I need to removed the default valu

[2019-06-13 05:41] martincostello commented on #320
If that’s the case that the endpoints have to be provided by the integrator, you should set them to _something_ in the tests and then set up the responses based on those.

[2019-06-13 13:58] zAfLu commented on #320
Something like
[code]
?

[2019-06-13 14:01] martincostello commented on #320
`https://nextcloud.local/{whatever}`?

[2019-06-13 14:03] zAfLu commented on #320
Will have a look on this later. Thanks mate

[2019-06-13 20:06] martincostello opened #321 "KoreBuild is obsolete"
As noted here https://github.com/aspnet/BuildTools/pull/977, KoreBuild is now obsolete.

This breaks the #280 branch from 3.0 preview 6 and onwards as there is no version available to download that supports these SDK versions.

The question is - what's the replacement?

ASP.NET Core uses "Arcade" now, but I imagine that's not designed for our needs and (I imagine) not simple to integrate.

To unbl

[2019-06-17 18:05] TheUltimateC0der commented on #261
There you go :)

[2019-06-18 14:31] TheUltimateC0der commented on #261
When can I expect the NuGet package to be available on nuget.org ?

[2019-06-18 14:33] martincostello commented on #261
The honest answer is...I don't know 😄

I don't have permission to publish packages at the moment and we don't yet have any automation to do publishing either.

You can consume it from the MyGet feed though: https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Trakt

[2019-06-18 14:45] TheUltimateC0der commented on #261
Would be great to have the package at nuget.org since I want to use it in an app. Who has permission to publish this package ?

[2019-06-18 14:48] martincostello commented on #261
Is there a specific reason you can't just configure the MyGet feed feed in your `NuGet.config` file in your app repo and consume the package from there until there's a release of it in NuGet?

[2019-06-18 14:53] TheUltimateC0der commented on #261
Cause every time there is a "quick and dirty" solution, it will be used for years. Cause it "just works" or there is "no need".

[2019-06-18 15:30] martincostello commented on #261
Well like I said originally, I don't know when this would go into NuGet.org. The only person with access to upload packages to NuGet at the moment is @PinpointTownes.

If you're in a rush, you can use ProGet. Otherwise you'll have to wait until he has the time to help coordinate a release of a new 2.x version.

_At the latest_ this would go to NuGet.org in either September or early October once AS

[2019-06-18 15:46] kevinchalet commented on #261
@TheUltimateC0der I'm not sure how referencing a MyGet feed can be seen as a "quick and dirty" solution since it's a very frequent approach.

You can't reasonably expect us to immediately release a new version on NuGet.org as soon as a provider is added ; otherwise we'd end up with tons of minor releases. Also, new providers first need to be tested in real apps so we can have enough feedback to de

[2019-06-21 20:49] TheAkiraxD opened #323 "How to get fields like Location after linkedin autetication?"
I see some configurations in the `LinkedInAuthenticationOptions`, for example,  it's adding the "r_liteprofile" to the scope. Also, in the `LinkedInAuthenticationConstants` file the Location field is shown as obsolete. So, how exactly can I retrieve basic profile fields (example: Location) after the user signin with LinkedIn?

[2019-06-22 11:45] martincostello commented on #270
Closing due to inactivity.

[2019-06-22 11:45] #270 closed, assigned to nobody

[2019-06-22 11:46] martincostello commented on #276
Closing due to inactivity.

[2019-06-22 11:46] #276 closed, assigned to nobody

[2019-06-22 11:55] martincostello opened #324 "Support for ASP.NET Core 3.0"
Support for ASP.NET Core 3.0 has been started with support for preview 6 in #280, which has been merged into the [`dev-3.0.0`](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev-3.0.0) branch.

Prerelease packages are available for testing from the [MyGet feed](https://www.myget.org/gallery/aspnet-contrib).

[2019-06-22 11:56] martincostello commented on #275
Closing in favour of #324.

[2019-06-22 11:56] #275 closed, assigned to martincostello

[2019-06-25 09:02] martincostello commented on #323
In the v2 LinkedIn API you need to change the scope to request the full profile, then you should have access to the location.

See the documentation here:

  1. [Field Selections](https://docs.microsoft.com/en-us/linkedin/shared/integrations/people/profile-api?context=linkedin/consumer/context#field-selections)
  1. [Location Fields](https://docs.microsoft.com/en-us/linkedin/shared/references/v2/p

[2019-06-25 09:02] #323 closed, assigned to nobody

[2019-07-05 15:39] #320 closed, assigned to nobody

[2019-07-22 20:22] twsl opened #328 "Support for GitLab"
OAuth implementation for https://gitlab.com

[2019-07-23 18:14] martincostello commented on #328
Resolved by #329.

[2019-07-23 18:14] #328 closed, assigned to nobody

[2019-07-23 19:03] martincostello commented on #324
Provider packages that support ASP.NET Core 3.0 preview 7 (`3.0.100-preview7-012821`) are now available in the MyGet feed starting at version `3.0.0-preview-0856`.

[2019-08-09 21:50] dbevan-kabam commented on #314
@martincostello, just trying this and I'm getting `System.Exception: An error was encountered while handling the remote login. ---> System.Exception: The oauth state was missing or invalid.`
I also get this on your sample app https://github.com/martincostello/SignInWithAppleSample.
Maybe something has changed their end or I'm doing something incorrectly?

[2019-08-09 21:54] martincostello commented on #314
@dbevan-kabam I've seen some mention in others' blog posts about the scopes being set on the first request for a user causing issues (at least, I think it was the scopes), but I couldn't replicate it myself.

You could try clearing the scopes and seeing if that fixes it?

https://github.com/martincostello/SignInWithAppleSample/blob/20191322779c989c98ac1d0e50442526c52b2125/src/SignInWithApple/Apple

[2019-08-13 21:15] martincostello commented on #324
Provider packages that support ASP.NET Core 3.0 preview 8 (`3.0.100-preview8-013656`) are now available in the MyGet feed starting at version `3.0.0-preview-0858`.

[2019-08-17 15:10] kevinchalet commented on #321
OpenIddict was updated to use Arcade: as you said, it was designed for Microsoft's needs, so it's super opinionated. Disabling certain features (like packages signing) is a painful process, and you have to dig into the massive documentation to learn how to do that.

That said, I'm convinced it's the right way to go: while it's painful to configure, it works like a charm once it's set up, and it's

[2019-08-17 15:13] martincostello commented on #321
I've got no problem with adopting Arcade - I just found the docs a bit impenetrable at first glance, so figured it was worth discussion prior to trying to adopt it and then finding it's not what we wanted to do.

Do you have a link the to PR for converting OpenIddict? I can use that as a basis to migrate the 3.0 branch over before preview 9 lands.

[2019-08-17 15:17] kevinchalet commented on #321
Makes total sense 😄

Here are the relevant parts:
  - https://github.com/openiddict/openiddict-core/tree/dev/eng
  - https://github.com/openiddict/openiddict-core/blob/dev/Directory.Build.props
  - https://github.com/openiddict/openiddict-core/blob/dev/Directory.Build.targets
  - https://github.com/openiddict/openiddict-core/blob/dev/global.json
  - https://github.com/openiddict/openiddict-core/bl

[2019-08-17 15:18] martincostello commented on #321
Great, thanks Kévin, I'll take a look at that later! 😃

[2019-08-17 15:19] kevinchalet commented on #321
Actually, I still have one thing to figure out with Arcade: how to make build versioning work with AppVeyor (that uses incremental identifiers that don't reset every day).

https://github.com/openiddict/openiddict-core/issues/767

[2019-08-17 15:20] martincostello commented on #321
OK, cool.

That reminds me - can you add me to the AppVeyor and/or Travis projects for aspnet-contrib? If builds fail randomly I don't have the permissions to press the retry button!

[2019-08-17 15:25] kevinchalet commented on #321
For AppVeyor: done (lemme know if it doesn't work).
For Travis: not sure how to do that. I thought GitHub team members were automatically able to restart builds if necessary 😕

![image](https://user-images.githubusercontent.com/6998306/63214053-d2ff5900-c113-11e9-9ea4-f0b478888a57.png)

[2019-08-17 15:29] martincostello commented on #321
Maybe it did work in Travis already and I’ve forgotten! I’ll check again later to make sure.

[2019-08-17 16:41] martincostello commented on #321
@PinpointTownes Was just looking at your commit to add Arcade and noticed this boilerplate that's needs updating: https://github.com/openiddict/openiddict-core/blame/dev/LICENSE.md#L190

[2019-08-17 16:45] kevinchalet commented on #321
Actually, you can't update this file (and it makes sense when you think about it: this paragraph just refers to how you're supposed to reference the Apache license in the source code files)

If you change it, Arcade will return a nice error:

[code]

[2019-08-17 16:46] martincostello commented on #321
TIL!

[2019-09-05 17:17] martincostello opened #338 "Package publishing from AppVeyor broken"
After merging #335 into the `dev-3.0.0` branch I noticed that the packages weren't being uploaded to MyGet anymore.

This is because I had to add an [`appveyor.yml`](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev-3.0.0/appveyor.yml) so it would build correctly, which has overridden whatever was set up in AppVeyor CI in the admin section.

@PinpointTownes, could you subm

[2019-09-05 17:31] kevinchalet commented on #338
I'm currently OOO, but here's the part you need if you want to fix that before I come back home 😄

[code]

It's the same key for both repos.

[2019-09-05 17:35] martincostello commented on #338
No problem, I'll sort that out then! Thanks!

[2019-09-05 17:49] martincostello commented on #338
Resolved by d2e093b35260af38bcab9e93dd9da44e20d49d8b.

[2019-09-05 17:49] #338 closed, assigned to martincostello

[2019-09-05 17:50] martincostello commented on #324
Provider packages that support ASP.NET Core 3.0 preview 9 (`3.0.100-preview9-014004`) are now available in the MyGet feed starting at version `3.0.0-preview9.19455.71`.

[2019-09-12 18:47] mscrivo commented on #324
Any reason not to publish these to nuget as well?  That would be more inline with what MS is doing with .net core preview packages and would help those of us testing out the preview releases with a bit less friction.

[2019-09-12 19:10] martincostello commented on #324
It’s just a bit more manual work to curate that, rather than just have a CI feed where we don’t need to worry about “clogging it up” with lots of versions from CI.

[2019-09-16 14:00] BasHamer opened #341 "Add a SPA guide (integration w/ angular) (a solution is in the post)"
**Is your feature request related to a problem? Please describe.**
utilizing this solution in a SPA is a little bit tricky due to the POST behavior in the sample. It is easily fixed by adjusting the get endpoint

**Describe the solution you'd like**

in the controller
[code]

in angular

[code]

**Describe alternatives you've considered**
Creating a form w post actions does not work as angular hij

[2019-09-16 17:19] martincostello commented on #341
I'm not familiar with SPAs and any potential security implications of doing the flow via a GET rather than a POST.

I'll defer to the other contributors for opinions on this suggestion.

[2019-09-16 18:30] BasHamer commented on #341
For reference, here is an example of the threads you end up in trying to get a post to work: https://github.com/angular/angular/issues/15165
The technical aspects are not as important, but it is easy to glance the frustration from the thread.

[2019-09-16 19:01] martincostello commented on #324
Provider packages that support ASP.NET Core 3.0 RC1 (`3.0.100-rc1-014190`) are now available in the MyGet feed starting at version `3.0.0-rc1.19466.76`.

[2019-09-16 19:03] martincostello commented on #321
Resolved by #335.

[2019-09-16 19:03] #321 closed, assigned to nobody

[2019-09-21 10:50] martincostello opened #344 "2.2.0 release"
New providers added to `dev` since `2.1.0` are:

  1. Apple (#318)
  1. GitLab (#329)
  1. Nextcloud (#325)
  1. Shopify (#326)

Before merging `dev-3.0.0` into `dev` and then creating the `rel/3.0.0` branch, I guess we should publish a new 2.x release for these 4 new providers.

What release should that be, `2.1.1` or `2.2.0`?

I'm guessing the latter as this is adding new functionality. Thoughts

[2019-09-23 19:47] martincostello commented on #344
I've pushed up a [`rel/2.2.0` branch](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/rel/2.2.0) to support the new providers for ASP.NET Core 2.2.

[2019-09-23 20:45] martincostello commented on #324
The `dev-3.0.0` branch has now been merged to `dev`, and then to `rel/3.0.0` for the final release.

I'm on vacation for the next two weeks now, but packages for the providers compiled against ASP.NET Core 3.0.0 GA and the .NET Core 3.0.100 SDK are available in [MyGet](https://www.myget.org/gallery/aspnet-contrib) starting from `3.0.0-release.19473.83`.

[2019-09-23 22:36] martincostello commented on #314
Releases of the Apple provider are available for ASP.NET Core 2.x and ASP.NET Core 3.0 in MyGet:
  * https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Apple/2.2.0-preview-0891
  * https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Apple/3.0.0-release.19473.83

[2019-09-29 16:47] Herdo commented on #324
The release when you're back is a full release, no pre-release, right?

[2019-09-29 16:56] martincostello commented on #324
That’s the idea, though the only difference between the two is likely to be the version number.

[2019-09-30 15:21] mscrivo commented on #324
Well that, and that it'll be available on nuget :) .. No rush though, enjoy your vacation!

[2019-10-04 17:26] martincostello commented on #344
`2.2.0` packages here: https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-oauth-providers/builds/27888066/artifacts

[2019-10-04 17:27] martincostello commented on #344
And example metadata (Arcade changes aren't in `rel/2.2.0`):

![image](https://user-images.githubusercontent.com/1439341/66227229-aa87ea00-e6d4-11e9-961f-da6805c7dfdf.png)

[2019-10-04 17:39] martincostello commented on #344
Release notes and tag prepared in GitHub.

[2019-10-04 18:23] martincostello commented on #261
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/322#issuecomment-538507493

[2019-10-04 18:35] martincostello commented on #324
Candidate `3.0.0` packages have [been built](https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-oauth-providers/builds/27889663/artifacts) and are in [MyGet](https://www.myget.org/gallery/aspnet-contrib) and GitHub release notes prepped.

[2019-10-05 21:39] martincostello commented on #344
Just need @PinpointTownes to push the packages to NuGet.org when he has some time available 😃

[2019-10-05 21:40] kevinchalet commented on #344
@martincostello it's at the top of my todo list. They'll be pushed to NuGet.org this week 😄

[2019-10-05 21:42] martincostello commented on #324
I've validated the `3.0.0` packages for Amazon and Apple with some sites of my own.

[2019-10-07 02:59] zicjin commented on #314
Can we get a jwt simple?

[2019-10-07 06:33] martincostello commented on #314
@zicjin There’s some examples in the tests: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/test/AspNet.Security.OAuth.Providers.Tests/Apple/bundle.json#L30

[2019-10-07 15:47] mscrivo commented on #324
Any ETA yet on nuget publishing?  This is literally the last piece we're waiting on before we can upgrade.

[2019-10-07 15:48] kevinchalet commented on #324
This week. It's at the top of my list of things to do 😄

[2019-10-07 15:49] martincostello commented on #324
I don't have access to publish to NuGet.org, so it has to wait until Kévin has the time to do it.

To unblock yourself, I'd recommend using the packages out of MyGet until then.

[2019-10-11 23:51] kevinchalet commented on #324
Note: the release of the 3.0.0 packages will be delayed a bit, as an issue was identified with the way we strong name our assemblies (it seems delayed or public signing is enforced by Arcade by default).

While it's not critical and doesn't prevent using the packages - that are .NET Core-only, where it matters less - we'll want to fix that nevertheless.

Edit: it's even worse than that: our assemb

[2019-10-12 01:28] kevinchalet commented on #324
OpenIddict is impacted by the same bug (https://github.com/openiddict/openiddict-core/pull/827 should fix it). I'll port the same fix to the OAuth 2.0/OpenID 2.0 repos tomorrow.

[2019-10-12 10:10] martincostello commented on #314
Publishing the 2.2.0 and 3.0.0 versions of this package may be delayed, as [another user](https://www.nuget.org/profiles/oakley) has uploaded a prerelease version of the package to NuGet.org so we won't have permission to publish additional versions without either a rename or them transferring ownership and/or granting co-ownership of the package.

I've reached out to the user via the "Contact own

[2019-10-12 10:22] kevinchalet commented on #314
We received a package ownership request last month for the Apple package. I just accepted it so we should be able to push new versions without hitting permission issues.

[2019-10-14 12:54] kevinchalet commented on #344
The 2.2.0 packages are now on NuGet.org 🎉

[2019-10-14 12:54] #344 closed, assigned to nobody

[2019-10-14 12:55] kevinchalet commented on #324
The 3.0.0 packages are now on NuGet.org 🎉

[2019-10-14 12:55] #324 closed, assigned to martincostello, kevinchalet

[2019-10-14 13:14] martincostello commented on #314
Packages for _Sign In with Apple_ are now available for ASP.NET Core 2.1+ and 3.0 in NuGet.org:

  * [AspNet.Security.OAuth.Apple 2.2.0](https://www.nuget.org/packages/AspNet.Security.OAuth.Apple/2.2.0)
  * [AspNet.Security.OAuth.Apple 3.0.0](https://www.nuget.org/packages/AspNet.Security.OAuth.Apple/3.0.0)

[2019-10-14 13:14] #314 closed, assigned to nobody

[2019-10-16 15:50] will84512 opened #353 "Apple SignIn returns invalid_client"
I've been getting an error back after authentication from the Apple login. The error that I'm getting is:

[code]

Using version 2.2.0 of AspNet.Security.OAuth.Apple
Seems to pass to Apple's side and authenticate OK, then fails on the Return URL with the above error.

The service is setup as:
`services.AddAuthentication().AddApple(appleOptions =>
            {
                appleOptions.ClientId

[2019-10-16 17:12] martincostello commented on #353
Sign In with Apple is a little different, and the client secret is built dynamically from the key file and some other parameters, you’re not given a static client secret to use. You can see an example of configuring the Apple provider here:

https://github.com/martincostello/SignInWithAppleSample/blob/5e6d92f3845d7b3d9759b3965e2ea30e7d0928d8/src/SignInWithApple/Startup.cs#L37-L46

[2019-10-17 08:42] will84512 commented on #353
Excellent! All working now, thanks so much and keep up the good work! 👍🏻

[2019-10-17 08:42] #353 closed, assigned to nobody

[2019-10-31 15:46] crazylife69 opened #354 "Hello"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. For example: _I'm always frustrated when [...]_

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2019-10-31 15:47] #354 closed, assigned to nobody

[2019-11-03 21:55] TheUltimateC0der commented on #261
I added you (aspnet-contrib) as a co-owner. Please consider using proper CI-CD, so future changes will be available immediately on nuget.org after someone does the hard work of adding or changing something. I already mentioned this here https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/261#issuecomment-503168698

[2019-11-07 21:08] vicenteyu opened #355 "AspNet.Security.OAuth.Weibo 3.0 not work!"
when Scope=[],
result: AspNet.Security.OAuth.Weibo.WeiboAuthenticationHandler|Error from RemoteAuthentication: OAuth token endpoint failure: Status: BadRequest;

when Scope=["email"]
result: An error occurred while retrieving the email address associated to the user profile.

[2019-11-07 21:13] martincostello commented on #355
If you could provide some more exception details for the case with the email scope set, we could look at providing a fix of it’s a bug and not a configuration issue or some transient service error on Weibo’s side.

This package was community contributed and I don’t personally have a Weibo account to test it with.

[2019-11-07 21:49] vicenteyu commented on #355
2019-11-08 02:13:01.5426|12|INFO|AspNet.Security.OAuth.Weibo.WeiboAuthenticationHandler|AuthenticationScheme: Weibo was challenged.
2019-11-08 02:13:01.9125|0|WARN|AspNet.Security.OAuth.Weibo.WeiboAuthenticationHandler|An error occurred while retrieving the email address associated with the logged in user: the remote server returned a Forbidden response with the following payload: Server: nginx/1.

[2019-11-07 21:52] martincostello commented on #355
The description of that error code is: _“ 21330: User or authorization server denies access to data”_

https://topic.alibabacloud.com/a/sina-weibo-error-code-detailed_8_8_31193543.html

[2019-11-07 21:58] vicenteyu commented on #355
set scope=[] to skip get email.
then:
2019-11-08 04:54:08.6440|4|INFO|AspNet.Security.OAuth.Weibo.WeiboAuthenticationHandler|Error from RemoteAuthentication: OAuth token endpoint failure: Status: BadRequest;Headers: Server: nginx/1.6.1
Date: Thu, 07 Nov 2019 20:54:06 GMT
Transfer-Encoding: chunked
Connection: keep-alive
Pragma: No-cache
Cache-Control: no-cache
;Body: {"error":"invalid_grant","erro

[2019-11-07 22:02] martincostello commented on #355
Looking at this page with Google Translate, there’s a list of scopes available: https://open.weibo.com/wiki/Scope

You could try `all`, but with the documentation all being in Chinese and me not having an account there’s not much more I can help with, you could try reaching out to the user in the commit history who originally created the Weibo provider.

[2019-11-07 22:05] vicenteyu commented on #355
scope=["all"]  same as scope=[]
Thank you.

[2019-11-08 05:12] kinosang commented on #355
You cannot use `email` and some other scopes except Weibo assign the permissions to your app, but they closed the entry for applying that.

An `invalid authorization code` error may be caused by code reusing, do not refresh the callback page.

Just do `options.Scope.Remove("email");` and start from the beginning of the OAuth login may solve your problem.

[2019-11-08 05:35] vicenteyu commented on #355
Solved! Thanks!

[2019-11-08 05:40] #355 closed, assigned to nobody

[2019-11-24 15:55] Seimann opened #356 "Emby-Server provider"
Is it possible to add Emby-Server as provider?
URL: [https://github.com/MediaBrowser/Emby/wiki/User-Authentication](url)

[2019-11-24 16:11] martincostello commented on #356
New providers are generally added by the community, such as those who wish to use them.

If you’d like to submit a PR to add it, we’d be happy to merge it if the overall auth flow is similar to the other existing OAuth providers.

[2019-11-25 06:55] wjzhou opened #357 "add a option to lower case returnUrl for salesforce"
**Is your feature request related to a problem? Please describe.**
The salesforce's return url seems to be case sensitive. When the wrong case is used for the base path, it would return
```error=redirect_uri_mismatch&error_description=redirect_uri%20must%20match%20configuration```

**Describe the solution you'd like**
Add an option to force lower case the returnUrl

**Additional context**
Salesfor

[2019-11-25 16:09] alexb5dh opened #358 "Apple secret generation doesn't work in Azure App Service Free/Shared Tier"
Using `AddApple` with `options.UsePrivateKey()` throws `WindowsCryptographicException: The system cannot find the file specified` during oauth flow. The .p8 file used is not the reason as exception happens after it's been read.
[code]

Problem doesn't occur when running locally on Windows but happens on Azure App Service (Windows/IIS configuration).

This seems to be related to https://github.com/

[2019-11-25 16:39] martincostello commented on #358
Hello @alexb5dh - what version of ASP.NET Core are you using?

[2019-11-25 17:12] alexb5dh commented on #358
@martincostello, it's `3.0`.
TargetFramework is set to `netcoreapp3.0` and most libraries used have version `3.0.0`.

[2019-11-25 18:00] martincostello commented on #358
Interesting, so that rules out using 3.0.0 with a 2.2.0 app.

This demo app https://signinwithapple.azurewebsites.net/ works ok and is hosted in Azure App Service.

Maybe you could try comparing the setup code for it with yours? The code is here: https://github.com/martincostello/SignInWithAppleSample/blob/master/src/SignInWithApple/Startup.cs#L37-L46

Either there’s a subtle bug somewhere in the

[2019-11-26 05:45] alexb5dh commented on #358
Thank you for the quick reply. I'll check for differences.

Didn't catch that. It's 3.0 everywhere.

What tier does the app use? There are some issues with certificates in lower tiers which may affect .NET cryptography: https://github.com/dotnet/corefx/issues/40503#issuecomment-523987878. For me the issue occurs on the free one intended for development only.

[2019-11-26 07:05] martincostello commented on #358
It’s on the cheapest standard App Service Plan. Interesting that there’s differences in how the OS works on the different plan types.

I’ll take a look later this week at setting up a new site on the free tier and seeing if I can replicate, and if I do, fix it.

[2019-11-26 07:24] martincostello commented on #358
Having a quick look at the code for the 3.0.0 version, it doesn’t look like this is fixable in the provider code, other than by using the OS-specific forking that the 2.2.0 version used: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/rel/2.2.0/src/AspNet.Security.OAuth.Apple/Internal/DefaultAppleClientSecretGenerator.cs

I’d rather not do that to support just one configurat

[2019-11-26 08:49] martincostello commented on #358
Sorry, forgot to mention as well as copying the 2.2.0 code you’d have to tweak the flags passed to the `X509Certificate2` constructor as described in the linked corefx issues (the one with the OR for ephemeral keys).

[2019-11-29 15:08] impworks opened #359 "Yandex authorization doesn't work anymore"
**Describe the bug**
After a successful authorization via Yandex, an exception is thrown in
[code]

**Steps To reproduce**
1. Authorize via Yandex
2. Wait until you are redirected to `/signin-yandex` on your app

**Expected behaviour**
Authorization succeeds.

**Actual behaviour**
[code]

**System information:**
 - OS: Windows 10 (But happens in a docker container too)
 - Library Version: 2.0.1, 2

[2019-11-29 18:21] martincostello commented on #359
Are you able to enable more detailed logging and provide some HTTP request details of what’s going on internally so we can rule out an error from the service?

[2019-11-30 13:56] martincostello commented on #358
I dug through the code, and can't see anything obvious along the call stack your posted that would make the file not found error go away when importing the key. I guess it's some internal limitation of Windows when the certificate store is locked down?

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/a865eedad1ad0717fca85c42086a2cd3a34c7d8f/src/AspNet.Security.OAuth.Apple/In

[2019-11-30 14:26] martincostello commented on #358
Yep, it looks like importing a key requires that the user profile be loaded, and there doesn't seem to be a way to work around that fact in Windows' cryptographic APIs: https://serverfault.com/q/956287

If the free/shared App Service tiers don't support this, I'm not sure there's much else that can be done to make it work from the `.p8` file. The 2.2.0 version of the library seems to have the same

[2019-12-01 09:15] alexb5dh commented on #358
Thanks, I'll try to check it soon.

[2019-12-04 07:54] impworks commented on #359
My app sends a request to Yandex API (all personal info replaced by &lt;PLACEHOLDERS&gt;):

[code]

Response:

[code]
So I get successfully redirected to `https://localhost:44396/signin-yandex` and then the exception is thrown.

My `AuthorizationBuilder` init code looks like this:

[code]

Tried commenting everything else except setting `ClientId` and `ClientSecret` - nothing has changed.

[2019-12-10 08:50] impworks commented on #359
Hello @martincostello, is there any other info I need to provide to help figure out the reason?

[2019-12-10 09:30] martincostello commented on #359
Can you enable HTTP logging in your app and see what requests are exchanged server-side during `signin-yandex`?

Other than logs, there's no much I can do without having to set up an entire Yandex app and user (I've never used Yandex, I don't even know what it is) and debugging it myself, which I'd also need to free time to do.

[2019-12-11 03:58] sarensw opened #361 "GitHub redirect uri mismatch"
Hi, I'm trying to use the GitHub authentication in a local setup (for testing and playing around only) and run into problems with the redirect URI. When signing in using the sample app provided in this repository, I get the redirect_uri_mismatch error from GitHub.

I'm using ngrok to forward the return URI to my local app (running inside of Docker).

So in GitHub, I have `https://abc.ngrok.io` set