[2019-12-12 02:35] sarensw commented on #361
Found it. I had to use `http://localhost:61866/` instead of the ngrok version.

[2019-12-12 02:35] #361 closed, assigned to nobody

[2019-12-14 13:24] martincostello commented on #359
The error is coming from here:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/5e193d4c0ce5e4a0b2fb51e487dbf0c89df9f2ef/src/AspNet.Security.OAuth.Yandex/YandexAuthenticationHandler.cs#L79-L89

If you provide the error message that we log, we'll be able to see the response body and the non-2xx status code returned.

[2019-12-14 13:25] martincostello commented on #356
Hello @Seimann - are you planning on contributing a PR to add an Emby-Server provider?

[2019-12-14 13:30] martincostello commented on #357
Personally I think it's better to not "munge" the configuration and potentially hide mis-configurations from the user.

Even if we did provide the option, I don't think it would be the default, so once working out what the issue was (even if that's difficult), you'd still need to make a code change to fix it, so you might as well just fix the configuration to have the right case instead.

[2019-12-14 13:31] martincostello commented on #317
Closing due to lack of activity.

[2019-12-14 13:31] #317 closed, assigned to nobody

[2019-12-16 16:33] wjzhou commented on #357
The problem is that the wrong-case base url is from end user, not from my configuration.

In my case, the end-user entered the wrong case url manually...

E.g. I deployed the app to
https:/example.com/app1

But the end-user manually type the url, and they typed it as
https:/example.com/**App1**

The callback url would be generated as https:/example.com/**App1**/salesforce-signin, which salesforce

[2019-12-17 10:23] impworks commented on #359
Sorry, my bad. The logging revealed a bug in my own code which used an incorrect secret key.

[2019-12-17 10:23] #359 closed, assigned to nobody

[2019-12-26 16:17] damccull opened #365 "No way to force https redirect uri when running in http behind reverse proxy with X-Forwarded-Proto https"
**Describe the bug**
Discord provider generates http links for the redirect url when the app is run in http mode. This is undesirable when running behind a reverse proxy in http mode. The rest of aspnetcore respects the X-Forwarded-Proto header and generates https links, from what I can tell, but this discord provider is sending the link "http://mydomain.com/signin-discord" to the discord app endp

[2019-12-26 16:30] martincostello commented on #365
From having a quick look at the Discord provider’s code, we don’t appear to have any code related to generating the URL’s scheme.

That would suggest what you’re asking for is common to all of the OAuth based providers built on top of the generic provider Microsoft provides as part of ASP.NET Core, so if needed to be catered for would be better done there to benefit all apps, not just the Discord

[2019-12-26 17:39] martincostello commented on #365
One or both of these may be the solution. I’ve definitely had to use the `KnownProxies` option in the past for production apps with upstream TLS termination and sat behind HAProxy.

https://stackoverflow.com/a/57426345/1064169

https://github.com/IdentityServer/IdentityServer4/issues/2598#issuecomment-518521424

[2019-12-27 11:39] damccull commented on #365
Well, not the best solution, but a way to force this is to force the app as a whole to use https for every request:
[code]

I also tried app.UseForwardedHeaders from the HttpOverrides middlware with appropriate options. That didn't work either. Only way I found was to enforce the https scheme globally.

[2019-12-27 11:43] martincostello commented on #365
I believe `KnownProxies`/`KnownNetworks` is the supported way for security reasons, otherwise clients could specify the `X-Forwarded-For-*` headers themselves and spoof them.

For the production app I work on we know the IP ranges for the proxy instances in our VPC and specifically allow-list them.

[2019-12-27 11:46] damccull commented on #365
Thanks, I'll look that up. Is that perhaps why my app seemed to be ignoring them? Because I didn't set a known proxy?

[2019-12-27 11:48] martincostello commented on #365
I think so. If you turn up the logging level I think you’ll see output showing that the headers are being intentionally ignored as it’s from an “untrusted” source.

[2019-12-27 11:52] martincostello commented on #365
There’s some information about it in this issue: https://github.com/aspnet/AspNetCore/issues/8471

[2019-12-27 11:54] martincostello commented on #365
And here’s the middleware code that checks things and emits the logs:

https://github.com/aspnet/AspNetCore/blob/654140736c714903c5b39f15b49e884d08afaebb/src/Middleware/HttpOverrides/src/ForwardedHeadersMiddleware.cs#L236

[2019-12-27 12:06] damccull commented on #365
Awesome. Thanks. I've got this working so I'll go ahead and close this. I'll keep looking at the info you sent, but I finally found this link https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1#forward-the-scheme-for-linux-and-non-iis-reverse-proxies which explains that I need to clear the knownproxies and knownnetworks list because they only allow

[2019-12-27 12:06] #365 closed, assigned to nobody

[2019-12-27 15:17] damccull opened #367 "Feature Request: Ability to set the "prompt" field of an oauth2 request"
**Is your feature request related to a problem? Please describe.**
At least discord, and possibly some other providers, requires users choosing to sign in with that provider to authorize every time, even after the initial registration and authorization. Discord's API documentation mentions setting the 'prompt' to none to avoid that authorization request except in certain required circumstances (wh

[2020-01-02 00:48] tolbxela opened #369 "Add Deezer OAuth 2.0 Provider"
I am going to implement an OAuth 2.0 Provider with the Deezer API
Documentation: [Deezer API / OAuth](https://developers.deezer.com/api/oauth)

[2020-01-02 01:12] tolbxela opened #370 "CS0579 C# Duplicate attribute"
I cannot buld the solution having the same CS0579 error in every project.

[code]
I am using Microsoft Visual Studio Community 2019 (v.16.4.2)

[2020-01-02 01:40] tolbxela commented on #370
I have found the problem.
I have just updated the solution from the very old stage and there were a lot of `bin/obj` folders in every project from the previous builds.

![image](https://user-images.githubusercontent.com/4910589/71648736-74c0c480-2d08-11ea-9dca-4b6c6a6158fa.png)

Since the `bin/obj` folders were moved in the solution to artifacts, Visual Studio 2019 does not recognize them as `bin/

[2020-01-02 01:41] #370 closed, assigned to nobody

[2020-01-02 15:59] tolbxela opened #371 "Add Last.fm Provider"
I am going to implement an Last.FM Provider.
The standard is not defined in the docs, but it looks very like OAuth 2.0.
Documentation: [Last.fm Web Services - Authentication API](https://www.last.fm/api/authspec)

[2020-01-03 22:25] tolbxela commented on #371
Should it be named `AspNet.Security.OAuth.Last.fm` or `AspNet.Security.OAuth.Lastfm`?

[2020-01-03 22:37] martincostello commented on #371
I would have thought `AspNet.Security.OAuth.LastFM`

[2020-01-03 23:02] tolbxela commented on #371
The service is named Last.fm, so no big FM
I will take without dot
`AspNet.Security.OAuth.Lastfm`

[2020-01-03 23:06] martincostello commented on #371
I went with FM to keep it a separate word and also because it’s a play on words of Frequency Modulation used in radio.

I’m not hung up on which one of the two, but I don’t think we want the one with the dot (Last.fm) as then it looks like a subnamespace.

[2020-01-03 23:08] tolbxela commented on #371
good point.
I bet, Last.fm had big FM letters before. That's why I wrote it so in the issue. But now they write it small.

But we still can write it big. BattleNet is also in real lowercase.

Yep, I thought the same

Anyway, we can change it quick later.

[2020-01-03 23:48] tolbxela commented on #371
I am not sure now if Last.fm Auth is really OAuth 2.0 conform. It looks more like OAuth 1.0 at second sight. There is no client secret and it uses api signature, as it possibly was in OAuth 1.0.
But there is also a way to obtain access token after creating a user session.
I am not so confident with the protocols really.

Should I try to implement the provider despite of it?

[2020-01-04 14:41] martincostello commented on #371
Sure, feel free to try it out, but if it diverges too much from what most of the providers in this repo do, then we _might_ not accept it as a PR.

The Microsoft Twitter provider is OAuth 1.x I believe, and that's different to the other ones for Microsoft Accounts, Facebook and Google that they provide if you look at the base types of their respective handlers:

https://github.com/aspnet/AspNetCor

[2020-01-04 15:58] tolbxela commented on #369
I suppose, you will close the Issue. Or should I do it?

[2020-01-04 16:01] tolbxela commented on #371
I wanted to do it anyway, since I need it in my project.

Thanks for your tips!

[2020-01-04 16:01] martincostello commented on #369
I'll close it down when #373 is merged 👍

[2020-01-18 13:15] sarensw opened #374 "Not able to get the access token from GitHub"
I'm trying to get the access token after logging in to GitHub, in order to use octokit.net to query user related information. Logging in works and I can see the usual claims. But I'm not able to find the access token.

So far, I checked the history of the GitHub provider in this repository and saw that in 2015, there was a 'SaveTokens' property which was eventually removed later in favor of 'SaveT

[2020-01-18 14:51] martincostello commented on #374
There is still a `SaveTokens` property, but it's in the base class: [`RemoteAuthenticationOptions.SaveTokens`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.remoteauthenticationoptions.savetokens?view=aspnetcore-1.1).

My understanding is that if you set `SaveTokens` to `true` when configuring the GitHub provider, the tokens will be available to you.

[2020-01-18 15:01] sarensw commented on #374
`SaveTokens` is only valid for asp.net core 1.0 and 1.1 according to the docs. It does not exist in 3.0

[2020-01-18 15:04] martincostello commented on #374
I opened up the sample project locally on the `dev` branch to check before I sourced the docs link, and it's there and happily compiles:

![image](https://user-images.githubusercontent.com/1439341/72665803-cc974500-3a03-11ea-9668-03ca649c8d0c.png)

![image](https://user-images.githubusercontent.com/1439341/72665800-ba1d0b80-3a03-11ea-9e7b-7a9167843a59.png)

[2020-01-20 02:20] sarensw commented on #374
@martincostello You are right. It works. Thank you.

[2020-01-20 02:20] #374 closed, assigned to nobody

[2020-01-20 06:55] MohammadElKhatib opened #375 "Signin with Apple: WindowsCryptographicException: The system cannot find the file specified."
I am using sign in with apple and it is throwing an exception:

I found some solutions to try such as:

but I am not able to do this on the hosting where I have an account, because they don't allow such actions.

any suggestions to solve that issue?

[2020-01-20 07:03] martincostello commented on #375
Are you using Azure App Service, or something else?

[2020-01-20 07:05] MohammadElKhatib commented on #375
@martincostello  no I am hosting my application on smarterasp.net .
I used it for several applications with different external logins such as Facebook login but only with Apple login I am getting this error message.

[2020-01-20 07:15] martincostello commented on #375
Windows/IIS requires the user profile to be loaded in order to load private keys from P8 files into memory.

Azure App Service has a mechanism to allow this on everything but the free tier, but I’m not familiar with your hosting provider so don’t know what equivalent mechanism they might have.

There’s a similar issue here and suggested solution: https://github.com/aspnet-contrib/AspNet.Security.O

[2020-02-05 14:08] HahaMango opened #376 "Add Gitee Provider"
Hi,I implemented a gitee provider.

The provider oAuth workflow is basically the same as github.

[2020-02-05 14:28] #376 closed, assigned to nobody

[2020-02-10 09:18] codeman-git opened #380 "I cant find about "AspNet.Security.OAuth.Providers.alipay""
I cant find  about "AspNet.Security.OAuth.Providers.alipay",it is  not give?

[2020-02-10 11:56] martincostello commented on #380
A Pull Request to add Alipay is open here, but it is not yet merged: #362

[2020-02-11 07:19] codeman-git commented on #380
OK,I find  thanks！

[2020-02-11 07:23] #380 closed, assigned to nobody

[2020-02-13 08:38] ghost opened #381 "Apple: Log Message Parameters have incorrect order"
**Describe the bug**
Log message has parameters in wrong order in class [DefaultAppleIdTokenValidator](src/AspNet.Security.OAuth.Apple/Internal/DefaultAppleIdTokenValidator.cs)

[code]

`parameters.ValidAudience` and `parameters.ValidIssuer` is swapped

Also it is logging PII data because of `context.IdToken`

**Steps To reproduce**
Cause a validation error

**Expected behaviour**
Log message is c

[2020-02-13 08:48] martincostello commented on #381
Thanks for reporting this @sawcmk - I've opened #382 to fix this as part of the next release.

[2020-02-13 08:52] #381 closed, assigned to martincostello

[2020-02-13 08:53] martincostello commented on #375
Closing due to lack of activity.

[2020-02-13 08:53] #375 closed, assigned to nobody

[2020-02-13 08:53] martincostello commented on #358
Closing due to lack of activity.

[2020-02-13 08:53] #358 closed, assigned to martincostello

[2020-02-13 08:54] martincostello commented on #369
Resolved by #373.

[2020-02-13 08:54] #369 closed, assigned to nobody

[2020-02-13 08:56] #357 closed, assigned to nobody

[2020-02-13 08:56] martincostello commented on #356
Closing due to lack of activity.

[2020-02-13 08:56] #356 closed, assigned to nobody

[2020-02-13 09:59] ghost opened #383 "Apple: DefaultAppleKeyStore is added as a singleton and doesn't refresh keys"
**Describe the bug**
The following store is registered as a singleton [DefaultAppleKeyStore](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/451d8b91284bdd2df568b141b661b909d90728eb/src/AspNet.Security.OAuth.Apple/AppleAuthenticationExtensions.cs#L80)

and it never refreshes the keys, once it has loaded apples signing keys

[code]

This causes the validation to fail when app

[2020-02-13 10:26] martincostello commented on #383
I'll look at fixing this for the next release by coming up with a way for the singleton to refresh the keys via some mechanism.

[2020-02-13 22:43] martincostello commented on #383
@sawcmk PR with proposed fixed opened in #384.

[2020-02-14 07:09] ghost commented on #383
That will make sure it recovers. I haven't been able to find any documentation from apple, about how they rotate their certificates, if they have a grace period before they promote new certificates to be the signing certificate or just promote new certificates instantly.

Let's try this and see how it goes next time they rotate.

[2020-02-14 10:13] martincostello commented on #383
Comparing the current response from that endpoint compared to when I wrote the tests, it looks like they've done 2 key rotations so far, as the response has 3 now where the test content I copied has only one.

Do you think 15 minutes is a reasonable default?

Also if this doesn't fix it properly, the time can be set to zero as a mitigation until I could do a more comprehensive fix. It's also possi

[2020-02-14 17:26] skylyn opened #385 "Allow passing in private key as string instead of p8 file"
**Is your feature request related to a problem? Please describe.**
Currently, we have only been able to pass the private key directly from the p8 file instead of as a string.

**Describe the solution you'd like**
We want to be able to use Kubernetes encrypted secrets to store and access the private key instead of passing the p8 file directly

**Describe alternatives you've considered**
I've tried

[2020-02-14 17:30] martincostello commented on #385
It might be that you need to trim the “trivia” from the file you’re loading via secrets. Do you need to do something like this when you load it?

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/451d8b91284bdd2df568b141b661b909d90728eb/src/AspNet.Security.OAuth.Apple/AppleAuthenticationOptionsExtensions.cs#L36-L52

[2020-02-14 18:03] skylyn commented on #385
I am trying not to have the p8 file on the server directly at all, so I have just copied the contents from the file into a string in our config. I did not include the first or last lines, and removed the newlines, so if my file is:
-----BEGIN PRIVATE KEY-----
abcd123...
ghijkl...
zyx987...
mno456
-----END PRIVATE KEY-----

my config is:
  "Apple": {
    "PrivateKey": "abcd123...ghijkl...zyx987...m

[2020-02-14 18:11] martincostello commented on #385
Hmm. I’m not familiar with k8s secret store, but as ultimately it’s dealing with bytes it must be doable _somehow_ with the API surface available in the provider as bytes are the lowest common denominator.

If you try and load the key from k8s manually in the same why the provider does from the bytes, what happens? Is there an exception? If so, what does it say?

https://github.com/aspnet-contrib/

[2020-02-14 19:03] skylyn commented on #385
Loading the key from k8s manually works without error.
I also checked that the byte arrays from loading the two different methods are equal by loading them both and running `keyBlob.SequenceEqual(keyFromFile)` which returns true.

I am able to successfully run everything using the `UsePrivateKey` option, so I don't think it's an issue with the environment.

[2020-02-14 19:04] #383 closed, assigned to martincostello

[2020-02-14 19:05] martincostello commented on #383
I've merged the PR for inclusion with the next release. Please open a new issue if the new solution doesn't fully resolve the problem.

[2020-02-14 19:10] martincostello commented on #385
I'm not sure then.

If it works from the file going through the built-in extension method which loads the file as a string, strips the trivia and then returns the bytes from the base64 encoded string, I don't see why it wouldn't work when coming from k8s if the string loaded from k8s is byte-for-byte identical to the value of `privateKey` on this line of code for the same source key:

https://gith

[2020-02-14 19:21] skylyn commented on #385
Well, I have a workaround, though it makes me more confused why it's not working when I pass the string directly.
It works if I read the value from the config, write that value to a file, then pass that file to `UsePrivateKey`:
[code]

[2020-02-14 19:24] skylyn commented on #385
I'm guessing I'm messing up something with my lambda to `PrivateKeyBytes`
`                options.PrivateKeyBytes = _ => new Task<byte[]>(() => Convert.FromBase64String(configuration[CIdentityProviders.Apple.PrivateKey]));`

[2020-02-14 19:24] martincostello commented on #385
Have you accidentally copied in a UTF-8 BOM somewhere maybe?

[2020-02-14 19:27] martincostello commented on #385
What about just this:

[code]

Then you don’t need two Lambdas.

[2020-02-14 19:29] skylyn commented on #385
Yep, that'll do it. Thanks! And sorry for the goose chase.

[2020-02-14 19:29] #385 closed, assigned to martincostello

[2020-02-14 19:31] martincostello commented on #385
No problem! 🦢

[2020-02-15 05:22] ghost commented on #383
Thanks 👍

[2020-02-26 09:55] fjod commented on #341
also this https://github.com/dotnet/aspnetcore/issues/7079
looks like this package is not supposed to work with SPA

[2020-02-26 12:16] kevinchalet commented on #341
It has nothing to do with the aspnet-contrib social providers - that work exactly like the Facebook/Google/Twitter providers developed by Microsoft - it's how OAuth 2.0 works: you can't initiate an authorization flow from the "JS side" and expect the server-side authentication handlers will magically work in this configuration.

If you want to use token authentication with a remote social provider

[2020-02-26 12:16] #341 closed, assigned to nobody

[2020-02-28 10:07] javaadpatel opened #390 "Apple Signin redirects to a blank page 404 Error"
**Describe the bug**
I've added the `.AddApple` nuget package and extension method but when I complete the apple sign in flow, at the last step when it asks to "Continue", it then redirects to a blank screen. When I look at the network tab, I see that it tried to make a POST request to https://mydomain.com/identity/signin-Apple, since I set the `CallbackPath` to `/identity/signin-Apple` but this g

[2020-02-28 10:10] martincostello commented on #390
Have you reconfigured something? The default callback path should be to `signin-apple` (lower case a, and I don’t think it has the `identity` path segment either).

Also have you added the auth middleware in the appropriate place in your Startup similar to how things are configured in the sample application?

[2020-02-28 10:13] javaadpatel commented on #390
I did reconfigure for the callback path using the AppleAuthenticationOptions.CallbackPath. I'm using identity server in my solution so in the `ConfigureServices` method I've added `UseIdentityServer`.

I've already setup this solution and its working with other providers such as Facebook and Google.

[2020-02-28 10:18] martincostello commented on #390
I’m not sure how this interacts with Identity Server as it’s not a configuration I’ve used, but the Apple provider builds on top of the same base class as the Facebook and Google providers.

I don’t have access to a computer at the moment so can’t investigate, but at first glance this seems like a configuration mismatch between one of either the Identity Server middleware and Authorization service

[2020-02-28 10:29] javaadpatel commented on #390
I've configured the reply urls in the apple developer portal like this:

![image](https://user-images.githubusercontent.com/22832462/75541044-e2961d80-5a25-11ea-918f-815c14c99328.png)

[2020-02-28 10:33] martincostello commented on #390
Can you share the code you’re using to configure the provider and middleware?

My suspicion is that there’s a missing step somewhere so that the middleware knows to listen with the identity prefix and is registered at `signin-apple`.

[2020-02-28 10:45] javaadpatel commented on #390
I've cut out alot of my business related logic, this is my Startup.cs:
[code]

[2020-02-28 10:49] martincostello commented on #390
What version of ASP.NET Core is this targeting?

[2020-02-28 10:58] javaadpatel commented on #390
Its using .net core 2.2

[2020-02-28 11:02] martincostello commented on #390
Ok. Based just on what I can see there, the only things the _might_ be problems are that you’re using a static client secret and nothing to generate one from the certificate (though I wouldn’t have thought that would cause this problem) and or maybe the auth middleware needs to be configured before Identity Server.

Otherwise I’m not sure, and I won’t have the time to try and debug this further wi

[2020-02-28 12:20] javaadpatel commented on #390
Looking at my container logs I see this:
[code]

[2020-02-28 12:32] martincostello commented on #390
That would suggest that the client secret is the issue then. You need to make the private key bytes available to provider some how so it can generate a client secret for you derived from the key.

Take a look at the sample application for an example of doing that: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/f064daa42ec8ae3f96c2a15b7fe2ef6a061f782b/samples/Mvc.Client/Star

[2020-02-28 12:39] javaadpatel commented on #390
I used this: https://github.com/pingidentity/pingone-customers-sample-scripts/tree/master/ClientSecretGenerator jar executable to generate the client secret. Okay awesome, thanks for that, I'll use the `UsePrivateKey` method and see what happens

[2020-02-28 14:30] martincostello opened #391 "Sign in with Apple documentation"
The new _Sign in with Apple_ provider generates a relatively large amount of issues, which are often configuration related and not actual bugs.

To try and reduce some of these issues, a small amount of documentation should be added somewhere (a Markdown file in the repo linked to by the README?) that gives a short and high-level documentation example of using it. That can then link off to other r

[2020-03-01 20:56] javaadpatel commented on #390
I've set these two properties on my apple authentication options:
[code]

What should be inside the .p8 file, mine has
[code]

but i am receiving an error when trying to generate the client secret:
[code]

[2020-03-01 20:59] martincostello commented on #390
You need to remove the padding and the new lines. The built-in extension method already does that for you:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/f064daa42ec8ae3f96c2a15b7fe2ef6a061f782b/src/AspNet.Security.OAuth.Apple/AppleAuthenticationOptionsExtensions.cs#L36-L52

[2020-03-01 21:02] javaadpatel commented on #390
Is the built in method `.UsePrivateKey` ? and is there a way to pass bytes into that instead of returning IFileInfo?

[2020-03-01 21:05] martincostello commented on #390
No, the built-in one just takes the key ID to find the file based on the default file download Apple provides.

If you’re doing something custom with different file names and/or not using files on disk, then you’ll need to trim the bytes in the same way before returning them so the key can be loaded.

[2020-03-02 11:37] javaadpatel commented on #390
I'm now using the extension method like this:
[code]

but i'm still receiving an exception in the GenerateNewSecretAsync method:
[code]

[2020-03-02 11:43] martincostello commented on #390
Does your key still contain `-----BEGIN PRIVATE KEY-----` in it? If it does, you need to remove it as-per the built-in extension method, or it won't load.

[2020-03-02 11:45] javaadpatel commented on #390
It does still have the -----BEGIN PRIVATE KEY-----, I thought the extension method `.UsePrivateKey` took that into account and I just had return the complete file that was downloaded from the Apple Developer portal?

[2020-03-02 11:47] martincostello commented on #390
~The extension method takes a delegate that accepts the Key Id. That's not what your implementation is doing, you're setting the key Id to the content of the file?~

[2020-03-02 11:48] martincostello commented on #390
Sorry I've misread the code - the random snippets were confusing me.

[2020-03-02 11:53] martincostello commented on #390
New question - what _operating system_ are you trying to do this on?

As this is the 2.2.x codebase, not 3.x, there's differences in the implementation there for handling `.p8` files as they're only supported on Windows. If you're using Linux or macOS, you need to use `.pfx` files.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/07dcbacac99e7418c281d32b51365a551f0f423d/src/

[2020-03-02 14:09] javaadpatel commented on #390
I see that makes a big difference then because I'm running this as a linux container. I'll try and convert the `.p8` file into a `.pfx` and test to see what happens. Ideally, I'd move to 3.1 but don't have bandwidth to make the switch right now.

Thanks for the article link, will read through it now.

[2020-03-04 14:33] javaadpatel commented on #390
Took your advice and migrated to .net core 3.1, can confirm that apple sign in is working now. I saw that you're requesting scope `name` and `email` but those don't appear in the tokens, from your blog post I'm assuming that's because Apple hasn't implemented the UserInfo endpoint?

Thanks for all the help with this, greatly appreciated.

[2020-03-04 14:47] martincostello commented on #390
It's correct that the user information endpoint hasn't been implemented by Apple. However they do return you the name and email, but _only_ on the first ever request for that user through Sign in with Apple (which is annoying).

If you're happy it's working, log into your Apple ID you're using to test and delete the association with your app (I forget exactly _where_ you do this). Then log in to y

[2020-03-04 14:47] #390 closed, assigned to nobody

[2020-03-05 20:54] TheUltimateC0der commented on #261
Is that how you treat contributors? I added you as a co-owner, and you deleted me from the NuGet package as a co-owner?

Re-add me as a co-owner!

[2020-03-05 21:57] kevinchalet commented on #261
By contributing to this repository, you deliberately accepted that the `AspNet.Security.OAuth.Trakt` package be managed by the `aspnet-contrib` organization. It's a general and very frequent rule that helps guarantee that any package update is made by the appropriate org and not by someone or something else having write access.

[2020-03-06 00:41] TheUltimateC0der commented on #261
Neither is it documented in the [contributing guidelines](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/.github/CONTRIBUTING.md), nor is it documented in your [code of conduct](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/CODE_OF_CONDUCT.md) or [README.md](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/README.md

[2020-03-06 01:06] kevinchalet commented on #261
I'm sorry you feel that way, but as I said, having full control of the packages we produce from this repository is essential for security reasons. We need to be sure only authorized changes are included in the packages pushed to NuGet.org.

I'm not sure I understand your motivation. If you want to make changes to the `AspNet.Security.OAuth.Trakt` package, feel free to send a PR and we'll make sure

[2020-03-06 01:25] TheUltimateC0der commented on #261
No, your are not sorry I feel that way, since this was intended from you when asking for making you a co-admin. So stop telling me lies.

Also who tells me that **YOU** dont add malicious code before you release a new version? _Security by obscurity_?

I have a problem with your release cycles/policy. You have no release automation, thus my changes can take months to get visible on nuget.org. This

[2020-03-06 01:43] kevinchalet commented on #261
It's all about trust. All the people who have write access to this repository are clearly identified by their real name and are well-known in the industry. We'd simply ruin our careers if we even tried to add malicious code to the packages we maintain. Correct me if I'm wrong, but that's not your case.

The aspnet-contrib packages are automatically sent to MyGet.org when pushing changes against th

[2020-03-06 01:43] #261 closed, assigned to TheUltimateC0der

[2020-03-13 22:51] benjaminsampica opened #392 "Yahoo Social Directory (User Profile) API changing"
**Describe the bug**
This is a new bug with the Yahoo login authentication handler, having started yesterday (for us at least). Our application uses Yahoo to authenticate users and the ```OAuth.Yahoo``` library is doing the heavy lifting retrieving the profile information, tokens, etc. As of yesterday afternoon, we now receive an error.

**Steps To reproduce**
Try and authenticate with the Yahoo a

[2020-03-14 15:49] #392 closed, assigned to nobody

[2020-03-15 02:48] xXBuilderBXx opened #394 "Discord oauth fails with localhost login"
**Describe the bug**
Discord has updated some of their oauth stuff which has caused localhost login to not work anymore, this has previously worked before.
The error comes up as Correlation failed and the console shows a warning of '.AspNetCore.Correlation.Discord.XXXXXXX' cookie not found.

**Steps To reproduce**
1. Setup asp.net blazor with the Discord oauth sample and Discord app.
2. Try to log

[2020-03-15 13:12] kevinchalet commented on #394
Are you sure it's a Discord change and not a same-site issue? What's the browser you're using?

[2020-03-15 18:26] xXBuilderBXx commented on #394
@kevinchalet looks like the issue seems to be caused by Firefox because Chrome and other chromium browsers work fine with localhost oauth.

[2020-03-15 20:36] xXBuilderBXx commented on #394
Done some looking and found that setting this on the AddDiscord service fixes the issue.

options.CorrelationCookie.SameSite = Microsoft.AspNetCore.Http.SameSiteMode.Lax;

[2020-03-17 15:13] suraj-kumbhar-maersk opened #395 "LinkedIn Logout Not Working"
**Describe the bug**
I am using .NetCore 2.1.
I can login using this npm and successfully redirect to back to my application as well.

**Steps To reproduce**
Not able logout from LinkedIn

**Expected behaviour**
It Should be able to logout form LinkedIn as well

[2020-03-17 15:21] kevinchalet commented on #395
It's not something we support and AFAICT, none of the handlers built on top of `OAuthHandler` implements logout support. Logout is not even standardized in the OAuth 2.0 world as it's an authorization and not an authentication protocol, so it would be hard to implement that in a completely generic way in `OAuthHandler`.

[2020-03-17 15:21] #395 closed, assigned to nobody

[2020-03-17 15:21] kevinchalet commented on #394
Good to know, thanks for investigating!

[2020-03-17 15:21] #394 closed, assigned to nobody

[2020-03-17 15:22] kevinchalet commented on #371
Added the `help wanted` label, in case someone else would be interested in contributing.

[2020-03-17 15:27] suraj-kumbhar-maersk commented on #395
Thanks @kevinchalet for quick response. So is it confirm that we can log in as External user into the application but we cannot logout from linked through that application?

[2020-03-17 15:30] kevinchalet commented on #395
Correct.

[2020-03-17 15:30] suraj-kumbhar-maersk commented on #395
And What about Other providers Google,Facebook etc. i didnt try it yet but just want to confirm before starting on it!

[2020-03-17 15:31] martincostello commented on #395
Typically you'd use something like `SignInManager<T>.SignOutAsync()` (if you're using ASP.NET Core Identity) from a controller to log the current user in your app out of your application. You can't force a log out from the other provider though (e.g. forcing LinkedIn itself to be logged out).

[2020-03-17 15:36] suraj-kumbhar-maersk commented on #395
Thanks @martincostello . Yes I tried this SignInManager.SignOutAsync(), but its not working, not able to logged out from LinkedIn. In other way in .net core 2.1 would help me.

[2020-03-17 15:44] kevinchalet commented on #395
No, the Google and Facebook ASP.NET Core providers use `OAuthHandler` and don't support logout.

Logout is primarily useful when you have your own authorization/authentication server. In most other cases, it's just a source of annoyance for your users (why would you force me to log out of my LinkedIn account when logging out of your app?)

[2020-03-17 15:50] kevinchalet commented on #395
Speaking of Google, they support OpenID Connect (for which front-channel and back-channel logout are fully standard things), but if you take a look at their discovery document (https://accounts.google.com/.well-known/openid-configuration), you'll see they don't expose any `end_session_endpoint` that would allow a client app to terminate a Google session on behalf of the user... very likely for the

[2020-03-17 15:50] suraj-kumbhar-maersk commented on #395
Because I can LogOut from the app but when i clicked on Log in with linkedin, token gets generated and i can directly into my system because linkedin cookies are stored in browser so that it authenticate automatically and further process in my app allows that user to enter into the system.
And We cannot remove browser cookies programatically!

[2020-03-17 15:58] kevinchalet commented on #395
In the OIDC world, what you describe is usually solved by adding `prompt=login` to the authorization request, so that the identity provider can show a login page even if the user is already logged in. Last time I checked, this was not supported by LinkedIn.

If you really want to log your users out of their LinkedIn session, you can still redirect them to https://www.linkedin.com/sales/logout. But

[2020-03-17 16:01] suraj-kumbhar-maersk commented on #395
for me as well. Thanks @kevinchalet and @martincostello.

[2020-03-17 16:35] martincostello commented on #391
Once I've done this (which I'll try to do later today), I'll create a branch to cut the 3.1.0 release.

@kevinchalet Now that I've got the appropriate permissions in NuGet.org, shall I do the package publish for 3.1.0 once it's built and ready, or do you want to do the honours for that?

[2020-03-18 08:47] suraj-kumbhar-maersk commented on #395
I just do a small patchy workaroud on this, if someone really wants to logout we can open a javascript popup windows and close it after few seconds. We can do this after we logout from our application then try this.

**window.open("https://www.linkedin.com/sales/logout", "_blank",);**

[2020-03-26 02:13] foriequal0 opened #396 "Replace Sign in with Apple DefaultAppleClientSecretGenerator's `_clientSecret` with `IMemoryCache`"
I want to use it with multiple `ClientId`. I don't use default OAuth callback handler, and I make `*Context` and call `AppleAuthentication*`'s interfaces myself.
But `DefaultAppleClientSecretGenerator` strongly assumes that there's only one `ClientId` per app, and it is registered as singleton service.
Since I don't have access to the `Internal.Default*` classes. I've made my copy of it and modifi

[2020-03-26 21:35] #391 closed, assigned to martincostello

[2020-03-30 10:30] minichma opened #399 "Apple Code Exchange: Support flows based on native iOS AuthenticationServices"
**Problem Statement**
When implementing Sign In With Apple on recent iOS devices, we use the [AuthenticationServices](https://developer.apple.com/documentation/authenticationservices/implementing_user_authentication_with_sign_in_with_apple) API to receive an ID token and an authorization code within the app. To authenticate a user with a web app, we need to send the credentials to the server and v

[2020-03-30 11:36] martincostello commented on #399
That's correct - we only support the web flows as that's in-keeping with the overall theme of these providers being to enable OAuth 2.0 login flows for ASP.NET Core web applications.

I'm not an iOS developer so have no experience of the native client-side scenarios for _Sign in with Apple_ in iOS.

Depending on the proposed solution, we might take a PR to add some infrastructure code to the provi

[2020-03-30 12:18] minichma commented on #399
@martincostello

Thanks for the feedback. I understand. Is there any project you know of?

We're using IdentityServer and [I've created a ticket there, outlining the intended solution](https://github.com/IdentityServer/IdentityServer4/issues/4232). Basically we'd like to do some kind of custom token exchange that's usable from iOS apps and let the app use the returned access token and refresh toke

[2020-03-30 12:39] martincostello commented on #399
Probably something that’s more a sort of library/interface sort of entry-point that fits in with the existing implementation that you could then call from your own controller/middleware/handler, rather than us having the URL and request handling stuff live here.

I’m just spitballing off the top of my head here, but I think we’d err away from having all the infrastructure for something like this l

[2020-03-30 15:29] martincostello opened #400 "3.1.0 release"
I've created the relevant branches and draft release notes for the 3.1.0 releases of AspNet.Security.OAuth.Providers and AspNet.Security.OpenId.Providers and there's candidate 3.1.0 packages in the MyGet feed.

  * https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/rel/3.1.0
  * https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/tree/rel/3.1.0

Anything else tha

[2020-04-06 18:54] kevinchalet commented on #400
Looks like we have an issue with Source Link and deterministic builds. Our 3.0 release didn't have any issue, so I guess it appeared when updating Arcade:

3.1.0:

![image](https://user-images.githubusercontent.com/6998306/78594368-77234500-7848-11ea-9185-d79c951e72bd.png)

3.0.0:

![image](https://user-images.githubusercontent.com/6998306/78594549-cff2dd80-7848-11ea-977b-fe5c8ce52c6a.png)

[2020-04-06 19:04] kevinchalet commented on #400
It's actually a bug in the .NET SDK: https://github.com/dotnet/sourcelink/issues/572.

[2020-04-06 19:07] martincostello commented on #400
So I guess for now we just need to manually put the property into Directory.Build.props?

[2020-04-06 19:11] kevinchalet commented on #400
Yeah. I created https://github.com/openiddict/openiddict-core/pull/935 to fix the bug in the OpenIddict repo. If it works well, I'll send PRs against the release branches of both the OpenID and OAuth 2.0 aspnet-contrib repos.

[2020-04-06 23:13] kevinchalet commented on #400
@martincostello I'm still seeing a weird error... I'll give it another try tomorrow.

[2020-04-07 02:29] kevinchalet commented on #400
Allllllllllllright, after many failed attempts, I think I found a way to pass SourceLink validation in NuGet Package Explorer:

![image](https://user-images.githubusercontent.com/6998306/78623439-eff5c180-7887-11ea-8025-fe28d3cf62b6.png)

Unfortunately, implementing the suggested workaround is not enough (the error related to the `AssemblyInfo.cs` file disappeared, but not the other one) and we'll

[2020-04-07 14:42] martincostello commented on #400
I guess we'll have to 😄

[2020-04-07 15:11] kevinchalet commented on #400
FYI, I merged the changes made in the release branch into `dev` and made sure `StabilizePackageVersion` was left untouched.

[2020-04-09 05:37] vincent-scw opened #402 "Linkedin error: 'You need to pass the scope parameter'"
**Describe the bug**
I am using Linkedin as provider, but get error as "You need to pass the 'scope' parameter"

**Steps To reproduce**
Added the middlewear as the same as in sample.
[code]
But get error as ```http://localhost:30000/linkedin?error=invalid_request&error_description=You+need+to+pass+the+%22scope%22+parameter&state=xxx```

**Expected behaviour**
It should redirect to Linkedin login p

[2020-04-09 06:07] martincostello commented on #402
What version of the provider are you using?

[2020-04-09 06:38] vincent-scw commented on #402
@martincostello v2

[2020-04-09 06:40] martincostello commented on #402
Can you give me the _exact_ version of the NuGet package please?

[2020-04-09 06:44] vincent-scw commented on #402
Sorry, it is the latest, 3.0.0.0

[2020-04-09 06:48] martincostello commented on #402
Hmm, if it’s 2.1.0 or later then I’m not sure why you would get this error.

The code does specify the scopes:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/ff9785e2071d3e5a7337615d6a90d8b4f077c80e/src/AspNet.Security.OAuth.LinkedIn/LinkedInAuthenticationOptions.cs#L34-L35

Are you able to share some debug logs showing what the provider is doing under the hood?

[2020-04-09 07:08] vincent-scw commented on #402
here is the log
[code]

[2020-04-09 07:13] martincostello commented on #402
Are you able to include the debug logs showing the HTTP requests being made, rather than just the exception? It might provide some more context to see what requests are actually being made to LinkedIn.

It's possible that LinkedIn have changed their API and broken the integration: https://github.com/nvh95/react-linkedin-login-oauth2/issues/17#issuecomment-569258163

[2020-04-09 07:24] martincostello commented on #402
Looking at our code, we don't customise the handling of scopes for LinkedIn, so it will use the base class' default behavior of sending space-delimited scopes in the request:

https://github.com/dotnet/aspnetcore/blob/16e25867248cb446bf1bba3f975c6e676b52ba6e/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L302

https://github.com/dotnet/aspnetcore/blob/16e25867248cb446bf1bba3f975c6e676b52ba6

[2020-04-10 00:49] vincent-scw commented on #402
My bad. I was doing the test in two projects. One references to version 2.0.0, another references to version 3.0.0
In 2.0.0, it has this issue (scopes 'r_liteprofile' & 'r_emailaddress' are missing ). But in 3.0.0, it works properly.

[2020-04-10 00:49] #402 closed, assigned to nobody

[2020-04-10 08:06] Cellivar opened #403 "Support for Okta OAuth"
I've found this nuget package to be extremely useful for supporting various OAuth providers. Alas I find that Okta is not part of the list yet!

They have a quick walkthrough blogpost for how to add OAuth support to an aspnet app: https://developer.okta.com/blog/2019/07/12/secure-your-aspnet-core-app-with-oauth

And some decent documentation: https://developer.okta.com/docs/reference/api/oidc/

[2020-04-10 08:15] martincostello commented on #403
Most of our providers are contributed by the community. If you’d like to raise a PR to add support for Okta we’d be happy to review it 🙂

[2020-04-10 09:12] Cellivar commented on #403
Ah cool, I'll look at some other PRs and see if I have time to get it added.

[2020-04-10 09:30] martincostello commented on #403
Cool - if you use the _new provider_ tag to query the PRs you should find plenty of examples.

Most providers are fairly trivial to add if they follow the usual OAuth 2.0 setup.

[2020-04-10 13:16] DPShillcock opened #404 "Strava callback"
Following the example, I am not hitting my callback signin method when signing into Strava. Below is taken from my `ConfigureServices()`. `AddAuthentication` and `AddCookie()` are the same as the example in this repo.

My AuthenticationController is a carbon copy from this repo. Why am I not hitting it? When I signin, I get redirected to the default route and I am not authenticated (appear to be l

[2020-04-10 13:18] martincostello commented on #404
Have you also added the appropriate method calls (and in the right order) to register the middlewares with `IApplicationBuilder`?

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/ff9785e2071d3e5a7337615d6a90d8b4f077c80e/samples/Mvc.Client/Startup.cs#L96-L106

[2020-04-10 13:20] DPShillcock commented on #404
Yep. I've updated question with `Configure` method.

[2020-04-10 13:31] martincostello commented on #404
OK, that's a common source of the 404 problem.

For my next guess, maybe there's a configuration and/or server issue with Strava during the authentication/authorization backchannel calls.

Can you up the logging levels and provide the logs of what happens when you try to sign in to Strava?

[2020-04-10 13:34] DPShillcock commented on #404
I'll add logging. I can definitely breakpoint with the OnCreatingTicket  event and add claims.

[2020-04-10 13:36] martincostello commented on #404
You should be able to get a fair amount of logging without changing your code, by just upping the levels for the `Microsoft.*` loggers. They should log a fair amount of detail during the flow.

[2020-04-10 13:41] DPShillcock commented on #404
Log below

[code]

[2020-04-10 13:55] martincostello commented on #404
Sorry, I got confused and thought you were having an issue with getting an HTTP 404 (because the issue number is #404 ... 🤦)

OK, so I'm not sure why your specific example isn't working _but_ now I've re-read the issue I'm wondering why is it that you're setting `CreatingTicket` like that at all?

From what I can tell, the provider is already doing everything you're doing in that method:

https://

[2020-04-10 15:38] DPShillcock commented on #404
After further investigation, this doesn't appear to be an `AspNet.Security.OAuth.Providers`. The following causes the the ClaimsPrinciple to not populate on callback. The method is not being hit after some adaptation.

[code]

[2020-04-10 20:41] #404 closed, assigned to nobody

[2020-04-12 05:57] lukefulliton opened #405 "Add New Provider - Basecamp"
**Is your feature request related to a problem? Please describe.**
I do not see Basecamp as a provider.

**Describe the solution you'd like**
I would like Basecamp added as a provider.  I will work to follow the contribution guidelines and submit a pull-request with the addition of Basecamp as a new provider.

**Describe alternatives you've considered**
None

**Additional context**
N/A

[2020-04-12 14:31] #405 closed, assigned to nobody

[2020-04-12 14:38] martincostello commented on #400
Have cherry-picked #406 into the release.

[2020-04-12 15:05] kevinchalet commented on #400
Looks like there's nothing left to do for this release. Should we publish the 3.1.0 packages?

[2020-04-12 15:07] martincostello commented on #400
Yep I think we're done if you're happy with the fixes for the NuGet packages for the SourceLink stuff.

The release notes for the release should be up-to-date so it and the tag just needs publishing whenever you're ready to go.

[2020-04-14 03:46] lukefulliton opened #407 "The presence of a "System.Security.Claims.ClaimTypes.Email" claim is not present for the Apple provider."
**Describe the bug**
There appears to be a bug in the Apple Provider.  Specifically the AppleAuthenticationHandler.cs file.  I noticed today, when debugging an app that utilizes the Apple provider, that the "System.Security.Claims.ClaimTypes.Email" claim was not present in the claims.  However, the claim of type "email" was present in the claims.  It looks like the method named "ExtractClaimsFromU

[2020-04-16 19:12] martincostello commented on #407
So I've just been playing with this using the sample integration I have (https://github.com/martincostello/SignInWithAppleSample), and I can't replicate this _based on my understanding_ of how Sign in with Apple works.

If I sign in for the _first_ time for a given application, then I get both the `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress` claim and the `email` claim, reg

[2020-04-16 19:17] martincostello commented on #407
Screenshots from my testing:

## With Email Relay

![image](https://user-images.githubusercontent.com/1439341/79497070-0259c300-801f-11ea-9296-a58ab852725b.png)

## Without Email Relay

![image](https://user-images.githubusercontent.com/1439341/79497192-2f0dda80-801f-11ea-9184-66313fd4fa8d.png)

## Second Sign In

![image](https://user-images.githubusercontent.com/1439341/79497271-4baa1280-801f-11

[2020-04-16 19:25] lukefulliton commented on #407
@martincostello Thanks for looking into this.  I will review your findings in more detail later, however, I was curious to know what OAuth grant types were you testing with?  Please try a test ONLY using the "Authorization Code" grant type if you have not already done so.  Thanks again for troubleshooting this.

[2020-04-16 19:32] martincostello commented on #407
The short answer regarding "Authorization Code" is...I don't know 😄

The sample app is configured using pretty much all the defaults of this provider and ASP.NET Core for identity. If you take a look at the sample app and compare it to your app, you might be able to work out which it is: https://github.com/martincostello/SignInWithAppleSample

If it's not "Authorization Code" I can try reconfiguri

[2020-04-16 19:36] kevinchalet commented on #407
The authorization code flow is the only grant type supported by the OAuth 2.0 generic handler, so you’re already using the only possible configuration.

[2020-04-16 19:39] martincostello commented on #407
Thanks @kevinchalet.

In that case, as it stands I can't replicate this as I either get both claims, or neither.

[2020-04-18 00:09] lukefulliton commented on #407
I think you may be right @martincostello , it sounds like a configuration difference or some kind of environmental difference.  I will spend some more time this weekend reviewing this to see if I am able to identify the differences.  Off the top of my head, I know one difference may be that my environment is utilizing IdentityServer4, but I am not sure if that would be causing the discrepancy in a

[2020-04-18 00:12] lukefulliton commented on #407
Out of curiosity @martincostello , were you required to input your username and password everytime your test app tried to utilize Apple for authentication?  Did you have to logout in between consecutive tests?

[2020-04-18 05:49] suencien commented on #314
Hi guys, does anyone have reference to ASP.NET Web Forms version with OpenId Connect?

[2020-04-18 07:27] martincostello commented on #407
Yes, I was logging out of the sample app, and then Apple would require me to enter my password , then click a button to confirm on the next page before the flow went back to the sample app. That was on Chrome of Windows.

However, I just logged in using Chrome on my iPhone where instead of credentials I just need to confirm sign in with Face ID, it _does_ have the `email` claim, but not the other.

[2020-04-18 12:47] martincostello commented on #407
I've opened #411 as a candidate fix. Assuming other people agree, I'd prefer this over #408 or #409 as it doesn't change the public surface area of the library by adding new members and doesn't require the ID token to be parsed twice.

A version of the sample site with the fix is deployed here if you'd like to try it out: https://signinwithapple.azurewebsites.net/

From playing around with signing

[2020-04-18 16:53] lukefulliton commented on #407
BINGO @martincostello !  Thank you so much for all your troubleshooting work!  This has been a very weird and perplexing issue.  I think your candidate https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/411 is the best path forward.

[2020-04-18 16:55] lukefulliton commented on #407
@martincostello would it be helpful if I submitted a pull-request with your solution implemented in the .NET Core 2 rel branch?  I know [alaincroisetiere](https://github.com/alaincroisetiere) had mentioned releasing the fix in a 2.x version would be helpful.

[2020-04-18 17:02] martincostello commented on #407
Great, I'll merge that shortly then.

Sure - if you checkout the `rel/2.2.1` branch locally, then we can merge the fix for 2.2 into that branch directly from the PR.

[2020-04-18 17:04] martincostello commented on #400
As well as the fix for #407 before this finally ships, the conversation in that issue also reminded me we need to release a 2.2.1 too.

If you're happy for me to do the publishing this time if you're busy, I can sort the releases out on Monday.

[2020-04-18 17:05] kevinchalet commented on #400
Sounds like a perfect plan, thanks a lot! 👏

[2020-04-18 17:06] lukefulliton commented on #407
Great, the PR is submitted here: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/412.

[2020-04-18 21:22] #407 closed, assigned to martincostello

[2020-04-18 21:36] martincostello commented on #400
* [2.2.1 packages](https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-oauth-providers/builds/32276851)
  * [3.1.0 packages](https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-oauth-providers/builds/32276838/artifacts)

Will give them a check-over in NuGet package explorer tomorrow to check things look OK before pushing to NuGet.org on Monday.

[2020-04-20 14:42] martincostello commented on #400
@kevinchalet Quick question - do you publish the release so the tag builds, and then publish _those_ packages, or do you publish the most recent builds' packages to NuGet and then publish the release and ignore the build from the tag?

[2020-04-20 14:49] kevinchalet commented on #400
Both options are fine, as what matters most is the identifier of the latest commit (since it's persisted in the package itself and used as the `AssemblyInformationalVersion`).

[2020-04-20 18:06] martincostello commented on #407
Two releases containing this fix are now available on NuGet.org:
  * [2.2.1](https://www.nuget.org/packages/AspNet.Security.OAuth.Apple/2.2.1)
  * [3.1.0](https://www.nuget.org/packages/AspNet.Security.OAuth.Apple/3.1.0)

[2020-04-20 18:10] martincostello commented on #381
This fix is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Apple/3.1.0

[2020-04-20 18:14] martincostello commented on #383
This fix is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Apple/3.1.0

[2020-04-20 18:15] martincostello commented on #392
This change is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Yahoo/3.1.0

[2020-04-20 18:17] martincostello commented on #400
@kevinchalet Releases for 2.2.1 and 3.1.0 of this repo, plus 3.1.0 for OpenID have been published, and all the NuGet packages should now be available from NuGet.org. 🥳

I'll leave you the honour of announcing the releases to the wider community 😃

[2020-04-20 18:35] kevinchalet commented on #400
![](https://media.giphy.com/media/39iLwpbpJJCpLgOict/giphy.gif)

[2020-04-20 18:49] alaincroisetiere commented on #407
@martincostello & @lukefulliton thank you!

[2020-04-22 07:03] #400 closed, assigned to nobody

[2020-04-24 03:19] iojancode commented on #390
here https://appleid.apple.com/account/manage

[2020-04-25 18:03] edmacdonald commented on #358
Just in case anyone else runs across this issue, I tested the X509 suggestion in @martincostello 's Nov 30 comment and ran into the same issue. However I did come up with another work-around.  I hope this saves someone some time....

Rather than importing the key which requires a user profile:
[code]
We can pass in the `ECParameters` when creating the algorithm:
[code]

Here's a little utility to

[2020-04-25 22:16] lukefulliton commented on #367
I will spend some time looking into the feasibility of this feature request, assuming the maintainers are okay with your proposed feature.

[2020-04-29 07:15] lukefulliton commented on #367
I wanted to follow up here on my status.  I am just about finished with a potential implementation of this feature request.  I hope to have a pull-request submitted in the next few days.  Thanks

[2020-04-30 07:10] geopamplona opened #416 "Add documentation for ArcgisPortal"
**Is your feature request related to a problem? Please describe.**
I want use library with own instance of ArcGIS Portal.

**Describe the solution you'd like**
I dont know how to use library with ArcGIS Portal or my own instance of ArcGIS Portal, so I need some documentation. I see examples but there are not ArcGIS Portal examples or similar.

Thanks !

[2020-04-30 07:35] martincostello commented on #416
The provider should be configured like any of the others we have examples for (we have over 60 providers, so showing them all in the sample project when they're 99% the same would be a bit over the top). It's really only the `AddXXXX` methods that differ for most of the providers, unless they have any quirks or additional requirements (which I don't think ArcGIS does).

[code]

If you're looking f

[2020-05-04 12:00] AnthonyYates opened #418 "Add SuperOffice provider"
Request to add SuperOffice provider to the repo.
#417

[2020-05-04 22:23] JayDee23 opened #419 "Twitch Authentication will no longer work after 11th of May 2020"
I'm using the Twitch Provider in order to authentificate via twitch.
Since several weeks, everything was fine. Until I got this evening following message
"Client ID and OAuth token do not match" with a stacktrace I unfortunately haven't copied.

I furthermore found this blogentry:

https://discuss.dev.twitch.tv/t/requiring-oauth-for-helix-twitch-api-endpoints/23916

They are switching a timed wind

[2020-05-05 06:26] martincostello commented on #419
Thanks for letting us know @JayDee23 - I’ll take a look into this later today. I can’t promise a timeline for a new version compatible with the change, but I’ll try to at least get something into the dev branch and available from our MyGet feed before the 100% switch over.

[2020-05-05 09:01] martincostello commented on #419
Thanks to @kinosang there's a fix available in this version of the provider from our NuGet feed: https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Twitch/3.1.1-preview.20255.36

Could you test this out @JayDee23 during the next "brownout" of the Twitch API on the 6th May please? If you have no issues, we can publish 3.1.1 with the fix ahead of the 11th May permanent cha

[2020-05-05 11:28] JayDee23 commented on #419
Wow, you are fast. Of course I will test this tomorrow. No Problem. Maybe a bit later, 'cause I'm from europe. Great. Thank you <3

[2020-05-05 11:31] martincostello commented on #419
No problem - according to the blog post it starts at 11am PST on the 6th May, so would be mid/late afternoon for Europe.

[2020-05-06 05:30] kinosang commented on #367
maybe a PR to Microsoft.AspNetCore.Authentication.OAuth or a common OpenIdConnectOptions derived from OAuthOptions. cuz many providers support prompt

[2020-05-06 13:33] kevinchalet opened #421 "Consider using IdentityModel's ConfigurationManager in the Apple provider"
Apple now supports standard OIDC provider discovery (https://appleid.apple.com/.well-known/openid-configuration), so we could muchly simplify our keys retrieval and caching story by using IdentityModel's `ConfigurationManager`.

Since it will likely require adopting API breaking changes, it's probably something that will have to wait until 5.0.

Related: https://github.com/aspnet-contrib/AspNet.Se

[2020-05-06 15:57] martincostello commented on #421
Ah nice to see them embrace some standards 😄

[2020-05-06 21:17] JayDee23 commented on #419
I can confirm that 3.1.1-preview.20255.36  works like a charm during the  current timewindow.
I crosschecked with a backup of my code with 3.1.0 package which does currently not work.

Thank you very much for this excellent support. @kinosang

PS: In addition the preview worked yesterday out of the timewindow, so it seems not neccessary to wait until 11th of may.

Stack Trace from browser window:

[2020-05-06 21:19] martincostello commented on #419
Great - thanks for confirming @JayDee23!

I’ll look into shipping a 3.1.1 release with the fix soon (_probably_ tomorrow).

[2020-05-06 21:20] JayDee23 commented on #419
Included Stacktrace just for historical reason :)

[2020-05-06 23:14] VesselOfCreation commented on #419
Good job guys. Will you also be making a fix for the Core 2 version? Would really appreciate it.

[2020-05-07 18:29] martincostello commented on #419
I have pushed the branches for versions 2.2.2 and 3.1.1 containing this fix to MyGet.

I'll look at pushing the same packages to NuGet.org tomorrow.

  * [2.2.2 build](https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-oauth-providers/builds/32740385)
  * [3.1.1 build](https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-oauth-providers/builds/32740610)

[2020-05-08 13:30] martincostello commented on #419
Versions 2.2.2 and 3.1.1 containing this fix have been pushed to NuGet.org.

  * [AspNet.Security.OAuth.Twitch 2.2.2](https://www.nuget.org/packages/AspNet.Security.OAuth.Twitch/2.2.2) ([release notes](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/releases/tag/2.2.2))
  * [AspNet.Security.OAuth.Twitch 3.1.1](https://www.nuget.org/packages/AspNet.Security.OAuth.Twitch/3.1.1) ([r

[2020-05-08 13:30] #419 closed, assigned to martincostello

[2020-05-08 14:24] AQutaishat commented on #228
in my case, i had to enable SSL, once i enabled SSL it returned info correctly, to enable SSL, right click on the project --> properties --> Debug --> check (Enable SSL) in web server strings section. i am using core 3.0

[2020-05-08 16:32] dbevan-kabam opened #424 "Sign in with Apple throws exception if the user hits cancel from Apple's website"
**Describe the bug**
If a user cancels the sign in request an exception is thrown instead of the user going to the AccessDeniedPath.

**Steps To reproduce**
Setup sign in with Apple, follow the navigation prompts until you're signed in with Apple and presented with the option `Do you want to continue using ... with your Apple ID`. Select Cancel instead of continue

**Expected behaviour**
The user

[2020-05-08 16:33] dbevan-kabam commented on #424
Note, I should have said that this is being used with Identity Server 4 so that may be throwing some extra issues in. I have Discord hooked up too and cancel works as expected from them.

[2020-05-08 16:38] kevinchalet commented on #424
Apple doesn't return a standard `access_denied` code, but a custom `user_cancelled_authorize`, that cannot be used with the default logic implemented by the generic OAuth handler.

If we want to support that, we'll need to override `HandleRemoteAuthenticateAsync()` and manually call `HandleAccessDeniedErrorAsync(properties)` from there when receiving a `user_cancelled_authorize` error.

[2020-05-08 16:41] martincostello commented on #424
I just tested it out with my example site and got the error, so it's not related to anything to do with IdentityServer4: https://signinwithapple.azurewebsites.net/

I'll take a look into what Kévin suggests over the weekend and come up with a fix.

[2020-05-08 16:57] dbevan-kabam commented on #424
Thanks @martincostello I really appreciate your work on this, hand rolling it was such a pain, you've saved me days of work easily.

[2020-05-08 17:50] martincostello commented on #424
Fix in #425.

[2020-05-09 08:27] #424 closed, assigned to martincostello

[2020-05-09 08:34] martincostello commented on #424
Until 3.1.2 ships, you can pick up this fix from our MyGet feed: [AspNet.Security.OAuth.Apple 3.1.2-preview.20259.34](https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Apple/3.1.2-preview.20259.34)

[2020-05-14 17:44] Herdo opened #426 "Migrate to new Discord domain"
Discord moved from their "old" domain `discordapp.com` to their new `discord.com`.
The developers communicated that the APIs need to be migrated to the new endpoints.
![grafik](https://user-images.githubusercontent.com/651191/81967348-13e0bb80-961b-11ea-9231-98a7d35b9c12.png)
Source: https://discordapp.com/channels/81384788765712384/381871767846780928/706955962711539724

Therefore, the OAuth 2.0 e

[2020-05-14 17:46] martincostello commented on #426
Thanks for the heads-up @Herdo - I’ll like at including the change in the next release.

[2020-05-14 17:49] Herdo commented on #426
No problem. I'll open a PR with the changes.

[2020-05-14 17:49] martincostello commented on #426
Even better 😀

[2020-05-17 04:27] imukai opened #428 "Question: Discord Persistence"
### Provider name

AspNet.Security.OAuth.Discord  v3.1.1

### Expected (desired?) behavior

Persisted permission.

### Actual behavior

Permission does not persist.

### Steps to reproduce

Log in, Log out, Log in again.

### Additional information

I've used Facebook and Google successfully as login providers for a few years.  A couple of weeks ago I upgraded my project to core 3.1 and had to mov

[2020-05-18 15:25] kevinchalet commented on #428
It's the expected behavior: it's up to the authorization server to decide whether it asks for user consent once or every time it receives an authorization request. For reasons I ignore, Discord has opted for the second approach.

The good news is that Discord allows you to override this behavior using `prompt=none` (except when requesting sensitive scopes like `bots`), so it's something we'll be a

[2020-05-25 15:18] AtaaEddin commented on #323
is there other way to auth and get user information from consecutive requests to linkedIn API. becuase i don't want to store user info in cookies and login the user. I just want the user data.

[2020-05-27 11:00] #367 closed, assigned to nobody

[2020-05-28 07:59] imukai commented on #428
Is this something I can hack in and deal with repercussions later if they decide to implment OIDC?  Or do you need to make a change in the code to allow the option?

Really I'm more concerned right now with annoying users - as I would be if Google constantly asked me to approve an action.

[2020-05-28 08:03] martincostello commented on #428
First try using the latest version of the 3.1.2 provider from our MyGet feed. It includes the change to support the use of the `prompt` parameter as-per #415.

If that doesn't work and you want to hack about with it to work around it, then your best option is to fork the repo and make some changes and consume that version with whatever customisations you need, rather than ours.

Anything considere

[2020-05-28 14:26] imukai commented on #428
I grabbed the 3.1.2 nightly build from MyGet and added Prompt = "none" to the startup options.

A discord page does appear for about 3/4 of a second but it quickly redirects back to my site.  Good stuff.

I didn't know this was in the pipe to get added already -- from Kevin's comment above it seemed like something you'd be considering, so I was just following up on that.  :)  I'll keep an eye out

[2020-06-03 08:03] alessandro-gns opened #430 "Instagram login : "Oops, an error occurred." after login page"
Hi,
i have installed the package "AspNet.Security.OAuth.Instagram" 3.1.1 inside a net core 3.1 project.
Is a Oauth identity server 4 project with login throw Facebook, Google and Twitter all correctly configurated.
I can't figure out to use Instagram too and i try to install and configure the  package as foolow:

Startup.cs

`.AddInstagram(options =>
                {
                    options.C

[2020-06-03 08:11] martincostello commented on #430
You shouldn’t need to manually set the API endpoint like that, it’s built in (unless they changed us and no one’s raised an issue that it’s out of date).

In the first instance, try turning up the logging level and see if your app logs anything interesting in the responses from the Instagram API.

As a guess, have you also appropriately configured the appropriate allowed callback URLs in the Insta

[2020-06-03 09:44] alessandro-gns commented on #430
i have already try with no AuthorizationEndpoint set in startup but the error wa the same.
I have set the allowed callback inside the Facebook developer console (at the end of march the API was moved there).

In AddInstagram the Scope is read-only so i can't set anyway but how showed into the url is set to "basic" by default i think and for the login workflow it's the only needed.

Inside my logs

[2020-06-03 14:08] martincostello commented on #430
You configuration _sounds_ like it's correct - without any further detail there's no much we can do to help you troubleshoot if the error is coming from the Instagram service, rather than after it calling back to your app.

[2020-06-03 14:38] alessandro-gns commented on #430
I have use fiddler to understand the url calls.
I found that 500 server error:
[code]

I don't have other way to understand that at the moment.

[2020-06-03 14:58] martincostello commented on #430
If the HTTP 500 is coming from Instagram, I suggest you open a support ticket with them to investigate.

[2020-06-05 19:28] ncosentino opened #431 "Apple Sign In - 500 Status Code "The oauth state was missing or invalid.""
**Describe the bug**
I've been struggling to get Apple sign in to work for far too long now, but this nuget package is the closest I feel like I've been able to get. After being presented the login dialog from Apple and successfully signing in, the redirect results in a 500 error. When I try it in postman using the same "state" form data, I'm able to see a 500 with the following data:

[code]

I c

[2020-06-05 19:51] martincostello commented on #431
Just to rule out config vs. our code vs your code, if you use the same OAuth configuration and key for your current code with this sample site instead does it work? https://github.com/martincostello/SignInWithAppleSample

________________________________
From: Nick Cosentino <notifications@github.com>
Sent: Friday, June 5, 2020 8:29:10 PM
To: aspnet-contrib/AspNet.Security.OAuth.Providers <AspNet.

[2020-06-05 20:17] ncosentino commented on #431
@martincostello that's a great idea!

Just tried, and I can't even get as far because the redirect_uri issue.
![image](https://user-images.githubusercontent.com/5169280/83918937-ae7a7900-a747-11ea-94cf-721177f616fc.png)

I think from my understanding this is because Apple won't allow redirect URI's with local host in them. So I'm not sure if I'm being super dense when trying to debug this stuff lo

[2020-06-05 20:21] martincostello commented on #431
To test it out in the past I’ve been using an Azure App Service site with Visual Studio pushes to experiment when I’ve been trying to debug things. It avoids the localhost issue while being fairly rapid turnaround.

Alternatively try turning the logging on your own site up to Trace for the provider and see if it logs any addition detail about the 500.

[2020-06-05 21:25] ncosentino commented on #431
Azure isn't an option for me unfortunately. Annnd I've been busy hacking up my logging so I had to convert some stuff to get my built-in logger to go to AWS !BUT! we're making progress now!

I used this on my original code again just because as mentioned I don't have another hosting site. I think it's revealed the problem but I'm not sure I understand how to fix it. Here's my log entries (I'll try

[2020-06-05 21:29] martincostello commented on #431
I can’t remember how to change it off the top of my head (on my phone atm), but I think you just need to configure Apple to use a different sign in/cookie scheme than firebase’s.

[2020-06-05 22:07] ncosentino commented on #431
Indeed it looks like switching this to:

`
services
                .AddAuthentication(options => options.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme)
                .AddCookie(options =>
                {
                    options.LoginPath = "/apple-signin";
                    options.LogoutPath = "/apple-signout";
                })
                .AddApple(options =>

[2020-06-05 22:10] martincostello commented on #431
If I recall correctly if you set `SaveTokens = true` on the options they’ll be included on the claims. Otherwise you’ll need to set a handler onto one of the `Events` events to capture the tokens and do something with.

[2020-06-06 05:23] ncosentino commented on #431
I figured I'd update this for anyone else curious but I don't think any of this is a bug just... Complexity with getting set up.

- I needed to change my Startup.cs file to have auth setup like this:
[code]
- Specifically for the above, it meant:
  - No default auth... I changed all my routes that I wanted to use JWT+Firebase to say that explicitly. Default auth just makes this whole thing implode

[2020-06-06 05:23] #431 closed, assigned to nobody

[2020-06-09 21:24] Ryhon0 opened #432 "Patreon sign in throws a "invalid_scope" exception"
**Describe the bug**
When I add the Patreon sign in to my project using `AddPatreon` attempting to sign in using Patreon will throw a `invalid_scope` exception

**Steps To reproduce**
* Add the Patreon OAuth provider to a website
* Start the website
* Attempt to sign in using Patreon

**Expected behaviour**
Website takes you to the Patreon website to authorize an application

**Actual behaviour**

[2020-06-09 21:45] martincostello commented on #432
Looking at the code for the default scopes the provider adds, they match the documented scopes here: https://docs.patreon.com/#step-2-making-the-log-in-button

What happens if you call `options.Scope.Clear()` as part of configuring the provider in your app?

[2020-06-09 21:48] martincostello commented on #432
The relevant code:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/02e50174cc7cd418c3653152ada6de640fad9fe3/src/AspNet.Security.OAuth.Patreon/PatreonAuthenticationOptions.cs#L29-L31

[2020-06-09 21:51] Ryhon0 commented on #432
Calling `options.Scope.Clear()` still throws the same exception

[2020-06-09 21:53] martincostello commented on #432
I’m afraid I’m not really sure then. If no scopes are even being sent to Patreon, I’m not sure how they could be invalid.

Have they recently made changes to their servers that don’t match the documentation and/or specs the provider was originally written against?

[2020-06-09 22:16] Ryhon0 commented on #432
Hm, [the website says you can use the V1 scopes in V2 API](https://docs.patreon.com/#using-apiv2-with-apiv1).
I've cleared the scope and added the V2 scopes instead and it works
[code]

[2020-06-09 22:19] martincostello commented on #432
Ok, so given that v2 is still in beta, this sounds like a bug on Patreon’s end if they’re breaking v1 requests.

That said, this raises the point that we’ll need to migrate the provider to use the v2 API at some point.

[2020-06-09 22:23] #432 closed, assigned to nobody

[2020-06-10 14:06] martincostello opened #433 "Update to Patreon v2 API"
As raised in #432, Patreon now has a [v2 API in beta](https://docs.patreon.com/#what-39-s-new).

Once it is stable, we should update the Patreon provider to use the new v2 API.

[2020-06-22 05:39] AraHaan commented on #433
If anyone needs help I figured out a few other things related to their api including tier information, patron names, if former, current, or denied patrons, etc. If you need I can provide a copy of that code (although it might be a little all over the place and uses timers to automatically regenerate any access tokens right at 12 AM on the first of every month so ye. I did this to prevent them expi

[2020-06-22 05:45] AraHaan opened #434 "Add Examples to Discord Oauth provider."
I would like examples be added to some providers that do not currently add any yet as well other than just discord too.

Lets say for example I got an auth application setup to have discord redirect (from their page) to an api controller that basically redirects as ``https://mydomain.cf/authorize?code=[code that discord is adding the the url]`` With the scopes ``guilds guilds.join identify``

All

[2020-06-22 08:54] AraHaan commented on #432
I mean depending on what the provider uses the api for I think it could not hurt to do some fixups on it and flat out not request v1 resources as they will get removed eventually on their end.

[2020-06-22 08:56] martincostello commented on #432
That's the idea of #433 - to stop using v1 and move to v2.

[2020-06-22 13:52] AraHaan commented on #432
oh and @martincostello think you can help me with #434 too?

[2020-06-22 15:58] ar-reddy opened #435 "Getting {"error_type": "OAuthException", "code": 400, "error_message": "Invalid scope: ['basic']"} while using Instagram"
Hi Team,

I am using the Latest "AspNet.Security.OAuth.Providers" Instagram

I am getting below error

{"error_type": "OAuthException", "code": 400, "error_message": "Invalid scope: ['basic']"}

Can u please help to resolve

Thanks
Koni

[2020-06-22 16:00] martincostello commented on #435
The `"basic"` scope comes from here:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/02e50174cc7cd418c3653152ada6de640fad9fe3/src/AspNet.Security.OAuth.Instagram/InstagramAuthenticationOptions.cs#L28

Have Instagram changed their API that makes this default no longer valid?

[2020-06-22 16:27] ar-reddy commented on #435
@martincostello
I added But still getting the same issue

Please check below image

![image](https://user-images.githubusercontent.com/56219917/85311543-38aa3780-b4d3-11ea-9b36-30dd95200636.png)

[2020-06-22 17:50] martincostello commented on #435
You don’t need to add it, it’s already configured for you by the provider, that’s what the line of code I linked to does.

You’ll need to call the `Clear()` method to remove it and consult the Instagram API documentation to find what scope(s) should be being used instead.

[2020-06-22 20:45] AraHaan opened #436 "Discord: oath state was missing or invalid."
**Describe the bug**
_A clear and concise description of what the bug is. State which provider(s) the bug relates to._
I started randomly getting this on an endpoint of mine:
[code]

**Steps To reproduce**
_A concise and repeatable example of how to illustrate the issue._
I setup the package (latest stable on nuget) up (I think properly) and then started making requests to the ``/signin`` endpoint

[2020-06-22 21:03] martincostello commented on #436
Things change over time - please state _exactly_ which version you are using as-per your `.csproj` file.

This is usually a configuration problem with the app with the callback URL and/or cookie settings causing the correlation information the OAuth 2.0 providers use to transfer state between the OAuth provider and your app using the cookies.

Here's two examples:
  * #431
  * [_The oauth state wa

[2020-06-22 21:34] AraHaan commented on #436
I am using the preview sdk yes but targeting netcoreapp3.1 for now on this project at least.

As to the package version it is version 3.1.1.

As to the setup I basically do this in my startup.cs

[code]

Then on a controller:
[code]

[2020-06-22 21:53] martincostello commented on #436
My guess would be that it’s something to do with the fact the callback URL has been changed to `"/videos"`. If you use the default callback, does it work?

Also from your sample I would highly recommend removing the GET from the sign-out handler, as that would allow malicious users to annoy users by sharing a link that logs them out of your app without any user interaction.

[2020-06-22 22:00] AraHaan commented on #436
ah, I thought the callback url field was to tell it what the redirect url is (that I configured on the discord side of things on the bot application).

[2020-06-22 22:03] martincostello commented on #436
No, it’s the URL for the OAuth provider to direct the user back to to complete authentication and the exchange of tokens. The original page they wanted to view is encoded within that data.

[2020-06-22 22:43] AraHaan commented on #436
Ah I see

[2020-06-22 23:01] AraHaan commented on #436
Well it seems like it works however now discord says the redirect url is invalid after that.

Also after the verifications my code also requires other things on it as well (like pulling the discord username (with the discriminator combined), user id, the servers they are in, a way to have it somehow add them to the discord server on their behalf, and finally their discord avatar url as well.

This

[2020-06-23 16:45] AraHaan commented on #436
@martincostello alright so got discord to say that it is valid (sometimes) yet it still randomly sometimes says the redirect url is invalid.

[2020-06-23 16:48] martincostello commented on #436
If Discord now says your redirect URI is valid, then I'm not sure what you need help with. You're logged in and should have claims in the logged in user available and/or the Discord tokens if `SaveTokens` is set to `true`.

Otherwise, it seems you're asking us questions about how the Discord API works, which is outside of the scope of this library.

[2020-06-23 18:05] AraHaan commented on #436
Well I figured out how to get the claims, I just did not know how to get the claims in the message above then found out how. However now it seems when I asked someone else to also test the signin endpoint that discord says for them that it is invalid after the first authentication is placed on the application.

I am basically wanting to allow multiple users and sadly it might be possible that a co

[2020-06-27 03:18] AraHaan commented on #436
@martincostello After more tests after figuring out how to obtain the claims information it seems that sometimes at random the url the generated discord urls makes discord think the redirect urls are i valid.

And sadly I need a way to support multiple people as well on logging in and whatnot.

[2020-06-27 06:08] AraHaan commented on #436
It seems now I get this every time anyone tries to sign in:

[code]

[2020-07-01 03:57] AraHaan commented on #433
Oh and technically the v2 api is stable they just have not updated the docs after a few years is all. I actually know someone who actually built their api however they no longer work for them and he said that v2 is more stable than v1 atm and also said it is ideal to move everything to v2 api atm since it will be easier to do all sorts of things. I will also look into things on the v2 api like get

[2020-07-01 14:57] mateolevy commented on #435
@martincostello Instagram deprecated their legacy API.

The remaining Instagram Legacy API permission ("Basic Permission") was disabled on June 29, 2020. As of June 29, third-party apps no longer have access to the Legacy API. To avoid disruption of service to your app and business, developers previously using the Legacy API should instead rely on Instagram Basic Display API and Instagram Graph AP

[2020-07-01 14:57] mateolevy commented on #435
For more information: https://www.instagram.com/developer/

[2020-07-01 15:02] martincostello commented on #435
Thanks for the update @mateolevy - I'll create a separate issue to track us needing to update the Instagram provider to use the new APIs.

[2020-07-01 15:08] martincostello opened #441 "Update to new Instagram APIs"
As raised in #435, Instagram has [deprecated](https://www.instagram.com/developer/) the API we have currently integrated against (copy of the announcement below).

By the **end of September 2020**, we will need to update the Instagram provider to use the new Basic Display API and/or Graph API so that the provider continues to work.

In the short term, users can workaround the change to the basic p

[2020-07-01 15:09] martincostello commented on #435
I'm going to close this in favour of #441 - thanks again for bringing this to our attention @mateolevy 🍪

[2020-07-01 15:09] #435 closed, assigned to nobody

[2020-07-02 10:21] #416 closed, assigned to nobody

[2020-07-02 10:23] martincostello commented on #430
Closing as there's been no further activity, but we've been made aware that the current Instagram API is being deprecated at the end of September 2020, so we'll be issuing a new version of the provider that integrates with the new APIs before then (see #441).

[2020-07-02 10:23] #430 closed, assigned to nobody

[2020-07-02 15:41] mateolevy commented on #441
Martin, just FYI Instagram states that their API should not be used from now on as an authentication method as noticed in: https://developers.facebook.com/docs/instagram-basic-display-api

Authentication
Basic Instagram visualization is not an authentication solution. The data returned by the API cannot be used to authenticate users of the application or to log in to the application. If you need a

[2020-07-02 15:51] martincostello commented on #441
Ah, interesting. I hadn't thoroughly read the documentation yet.

If that is indeed the case that it shouldn't be used for OAuth authentication, then we probably would deprecate it. I'll make a more informed assessment when I take a look at the documentation properly.

Thanks Mateo 👍

[2020-07-02 19:12] lukefulliton commented on #441
My research and review of the new **Instagram Basic Display APIs** also confirms what @mateolevy mentioned above.  It looks like the OAuth authentication for Instagram has been deprecated.  Here is a helpful blog post from Facebook about this Instagram change.  https://developers.facebook.com/blog/post/2020/03/10/final-reminder-Instagram-legacy-api-platform-disabled-mar-31/

Here is a quote from t

[2020-07-03 09:51] #403 closed, assigned to martincostello

[2020-07-03 09:58] martincostello commented on #403
An Okta provider will be available from NuGet.org as part of the next release.

In the meantime, you can use a prerelease version from our [MyGet feed](https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Okta).

[2020-07-03 10:00] martincostello commented on #428
Resolved by #415.

[2020-07-03 10:00] #428 closed, assigned to nobody

[2020-07-03 10:01] martincostello commented on #426
Resolved by #427.

[2020-07-03 10:01] #426 closed, assigned to nobody

[2020-07-03 13:14] martincostello commented on #441
Just taken the time to look myself, and yep, indeed looks like OAuth with Instagram is no longer a thing.

@kevinchalet - shall I delete the Instagram provider from the code base and add something to the README to that effect that it's now deprecated and obsolete? We could also mark the NuGet package as deprecated.

[2020-07-03 13:45] kevinchalet commented on #441
@martincostello I'm not familiar enough with Instagram (for which I don't even have an account 😅), but if I read the link @lukefulliton shared correctly, it seems they still support OAuth 2.0 for pure authorization (which is its original role). While our handlers are generally used for authentication (well, `pseudo-authentication`, as OAuth 2.0 is not an authentication protocol, unlike OpenID Conn

[2020-07-03 18:31] #433 closed, assigned to martincostello

[2020-07-03 18:37] martincostello commented on #433
The update for the v2 API will be available as part of our 3.1.2 release.

Until then, you can consume the changes from our MyGet feed starting with version [3.1.2-preview.20353.75](https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Patreon/3.1.2-preview.20353.75).

[2020-07-06 14:44] kevinchalet opened #450 "Regression: setting DotNetPublishUsingPipelines to true broke SourceLink"
![image](https://user-images.githubusercontent.com/6998306/86606008-b8da9d80-bfa7-11ea-8b68-a37985770d6c.png)

/cc @martincostello I suggest we wait for this bug to be fixed before releasing 3.1.2.

[2020-07-06 15:17] kevinchalet commented on #450
I was unable to find a clever workaround, so I reverted https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/26dfef001983b1c5f3fa61698e57c7f37c2de664 with https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/commit/57e291c51797af80eefcfdae3cbd680b71bb82bf.

![image](https://user-images.githubusercontent.com/6998306/86609768-b595e080-bfac-11ea-9bab-c62ae7392a20.png)

[2020-07-06 15:17] #450 closed, assigned to kevinchalet

[2020-07-07 18:31] #418 closed, assigned to nobody

[2020-07-08 13:23] martincostello commented on #418
The SuperOffice provider is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.SuperOffice/

Thanks for your contribution 🎉

[2020-07-08 13:24] martincostello commented on #433
Version 3.1.2 of the Patreon provider that uses the v2 API is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Patreon/

[2020-07-08 13:24] martincostello commented on #426
Version 3.1.2 of the provider, which uses the new domain, is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Discord/

[2020-07-08 13:25] martincostello commented on #428
The final release of the 3.1.2 package is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Discord/

[2020-07-08 13:26] martincostello commented on #403
The Okta provider is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Okta/

[2020-07-08 13:27] martincostello commented on #424
The 3.1.2 release containing this fix is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Apple/

[2020-07-08 13:32] AnthonyYates commented on #418
Thanks @martincostello and @kevinchalet! Thanks for all the help, Cheers!

[2020-07-08 18:42] Cellivar commented on #403
Thanks for following up, I appreciate the notice.

[2020-07-09 09:31] AraHaan commented on #441
hmm or deprecate it and warn on package consumption (on package restore / update) that they do not want it to be used as a login mechanism?

That way it ensures that they have actually *read* the notice clear as day.

[2020-07-10 03:52] StarkShang opened #457 "Redirect uri is not correct for WeixinAuthenticationHandler with proxy server"
I am using IdentityServer4 and AspNet.Security.OAuth.Weixin package for weixin external login, and I have configured as metioned in

The urls in Discovery Endpoint of IdentityServer4 are correct, but the generated return_uri for weixin challenge is still http://localhost:5000. Both the scheme and the host are not set as expected(https://example.com)

What can I do to fix this problem
@kinosang @sa

[2020-07-10 04:45] saber-wang commented on #457
return_ Uri is the runtime URL

[2020-07-10 05:09] kinosang commented on #457
unrelated to this project

Google `Asp.Net Core reverse proxy` then you'll find why and how.

[2020-07-10 06:27] StarkShang commented on #457
I do not understand exactly. @saber-wang

I got the message from logger as follows:

The redirect_uri is generated by configuration in Startup.cs as follows:

[code]

But I don't know how the scheme and the host  are configured.

Moreover, configuration in controller for RedirectUri of AuthenticationProperties not work. Does this redirectUri differ from the redirect_uri metioned above? Does this r

[2020-07-10 06:42] saber-wang commented on #457
@StarkShang
[code]

Splicing in returnurl

[2020-07-10 12:51] martincostello opened #459 "Provider documentation"
For cases where configuration of the provider is either not as simple as just setting the client Id and secret (such as Apple), or there are extra options that can be used (such as GitHub Enterprise), we should add some minimal documentation for users on how to configure them rather than leaving them to work it out from the code.

The providers that have extra options are:
  1. Amazon
  1. Apple

[2020-07-10 12:54] martincostello commented on #459
I'll try and do this today or tomorrow, then I'll push out the 3.1.3 release with the SuperOffice fix.

[2020-07-11 15:16] #459 closed, assigned to martincostello

[2020-07-11 16:20] martincostello commented on #441
See #461 for updates to the provider.

I have also added some documentation for the Instagram provider [here](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/docs/instagram.md).

[2020-07-14 15:46] #457 closed, assigned to nobody

[2020-07-14 15:47] StarkShang commented on #457
thanks a lot~ @saber-wang

[2020-07-15 12:56] Neuroquila-n8fall commented on #434
An actual explanation would be very nice. I'm already sitting here for two hours figuring out how to use it properly.

[2020-07-15 13:01] martincostello commented on #434
There's only so much documentation we can support for 60+ OAuth 2.0 providers.

There's some minimal documentation for the provider I've added recently at the links below, but how the OAuth provider itself works (e.g. what scopes do I need beyond the minimum) is for the providers' own documentation to deal with. We're basically just offering you C# bindings on top of the underlying API to configur

[2020-07-15 13:51] #441 closed, assigned to martincostello

[2020-07-16 11:28] Neuroquila-n8fall commented on #434
I had trouble with the redirect running into an unknown path while working with blazor and I really couldn't help but asking for a hint. I almost went crazy.
Long story short: I thought too complicated. Today I've started from scratch and now it works with the minimal example and a bog standard AccountController class. I guess it has something to do how blazor reacts to requests and since i couldn

[2020-07-17 10:10] martincostello commented on #434
Unless there's something missing from our docs that's _specific_ to our implementation of the provider that we can add/improve, I'm going to close this issue.

[2020-07-20 14:08] AnthonyYates opened #464 "SuperOffice doesn't include ClaimTypes.NameIdentifier or ClaimTypes.Email."
### SuperOffice

When signed in with SuperOffice provider, the ClaimTypes.NameIdentifier or ClaimTypes.Email claims are missing from the identity.

### Expected behavior

Would expect ClaimTypes.NameIdentifier or ClaimTypes.Email to be included for better .Net Identity support.

[2020-07-21 08:24] #464 closed, assigned to nobody

[2020-07-24 15:10] looselyhuman opened #466 "Plex"
Is anyone working on a provider for plex.tv?  Limited documentation from Plex [here](https://forums.plex.tv/t/authenticating-with-plex/609370).

It looks pretty non-standard.  If nobody is working on one I'll give it a shot.

[2020-07-24 15:13] martincostello commented on #466
Hi @looselyhuman - no, I'm not aware of anyone working on a Plex provider.

If you'd like to contribute one, feel free to raise a PR.

[2020-07-24 15:28] looselyhuman commented on #466
Okie doke, thanks @martincostello . Wish me luck! I haven't written code for real in about 5 years...

[2020-07-25 05:07] looselyhuman commented on #466
Looks like this won't be doable unless Plex makes some changes. They're not to OAuth spec right now. Auth flow is unusual, and the token system is a little inconsistent. I am talking to a dev there to see if there's a roadmap or alternate "hidden" api/workflow.

[2020-07-25 05:08] #466 closed, assigned to nobody

[2020-08-15 14:02] i542873057 commented on #436
I have the same problem as you. Have you solved it

[2020-08-18 17:19] nthandu opened #467 "Can I use the AspNet.Security.OAuth.Apple with Identity Server 4?"
Hello all,

I am trying to implement the Sign In within our Identity Server 4-based identity solution.

I have implemented using it as another OpenId connect provider but it's not working as expected.  Token is expiring or the validation is failing. It's something I need to verify.

I am just wondering if I could use the AspNet.Security.OAuth.Apple package instead of setting up my own config.

If

[2020-08-18 17:40] martincostello commented on #467
The Apple provider hasn't been _specifically_ designed to work with IdentityServer 4, but more as a stand-alone OAuth provider like the other OAuth providers that Microsoft provide with ASP.NET Core itself (like the Google and Microsoft providers).

Documentation for the provider can be found here, which includes some links off to other articles about implementing it in various different ways: htt

[2020-08-18 17:52] thandunaresh commented on #467
Thanks for a quick response.

_It's not designed_, does it means it would not work with solutions like Identity Server? My understanding here is, as any other Sign In provider for example using Google with Identity Provider. I maybe completely wrong.

[code]

That's my existing code, I have followed few blogs(one of yours) to write the above code.

Thanks

[2020-08-18 17:58] martincostello commented on #467
That's just me being cagey and saying that it _might_ work, or it _might_ not 😄 - I don't have any experience myself of implementing/working with IdentityServer itself.

I've had a quick glance over the code at a glance and it seems correct without going over it with a fine-tooth-comb.

The thing I'd maybe pay a bit more attention to as part of your debugging is that the keys are being loaded (and

[2020-08-18 18:09] nthandu commented on #467
Thanks again for quickly responding.

I was hoping to make improvements to keys loading once the workflows are working correctly, at the moment I am hosting this on a Windows server.

Yes, I will need to debug this bit more deeply to understand where it's going wrong.

Thanks

[2020-08-21 16:27] Rumbeer opened #468 "Unable to recieve Identity.External cookie with AspNet.Security.OAuth.Apple."
Hi,
I am using AspNet.Security.OAuth.Apple package version 2.2.2 to sign in with Apple ID as external provider.

But I don't receive Identity.External cookie when I am redirected back to my application and `Microsoft.AspNetCore.Identity.SignInManager.GetExternalLoginInfoAsync` returns `null` instead of the information about external login.

I have a DotVVM application so my code looks like this:
[

[2020-08-21 17:14] martincostello commented on #468
That does sound like a strange issue. I'll not familiar with DotVVM so I'm not sure how the OAuth handlers fit into that. Is there maybe something somewhere not being awaited elsewhere that's causing the request to proceed before the key has been generated fully?

Are you able to update to the latest 3.1 handler? As 2.2 and 3.0 are no longer supported by Microsoft, if this was a bug in the provide

[2020-08-24 11:59] Rumbeer commented on #468
Thanks for the reply. I will try to reproduce it on MVC application.

[2020-08-25 10:08] koliyo opened #469 "Onshape provider endpoints are not up to date"
**Describe the bug**
When using the `AspNet.Security.OAuth.Onshape` provider with the default endpoint values I get `invalid_grant` response.

See https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.Onshape/OnshapeAuthenticationDefaults.cs

By using these updated endpoint declarations I get proper auth flow:
[code]

ie `cad.onshape.com` -> `oauth.on

[2020-08-25 10:13] martincostello commented on #469
Thanks for letting us know @koliyo - I'll look at updating the provider and pushing a new version later today or tomorrow 👍

[2020-08-25 10:47] #469 closed, assigned to martincostello

[2020-08-25 10:55] martincostello commented on #469
HI @koliyo - an updated version of the package, `3.1.4-preview.20425.44`, is now available from our [MyGet feed](https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Onshape/3.1.4-preview.20425.44).

Would you be able to try it out in your application and verify it resolves your need to override the URLs on the options?

Now you should be able to just go back to:

[code]

[2020-09-04 16:05] Rumbeer commented on #468
Sorry for the delay. I couldn't reproduce this issue on MVC application but it persists on DotVVM application even with the version 3.1 so the problem probably lies in DotVVM.

[2020-09-14 21:00] martincostello opened #472 "ASP.NET 5 Support"
Support for ASP.NET 5 will be available for the currently shipping OAuth providers soon after the final .NET 5.0 release ships in November 2020.

In the meantime, packages for ASP.NET 5 RC1 are available from our [MyGet feed](https://www.myget.org/gallery/aspnet-contrib) starting with version `5.0.0-rc.1.20464.84`.

[2020-09-16 13:35] martincostello commented on #472
As featured in the [ASP.NET Community Standup](https://youtu.be/-5B2lx1pelE?t=407).

[2020-09-17 12:22] MrChuJiu opened #473 "An unhandled exception occurred while processing the request."
Nuget  AspNet.Security.OAuth.QQ  3.1.3
Edge  Browser OK

Google Browser Error
An unhandled exception occurred while processing the request.
Exception: Correlation failed.
Unknown location

Exception: An error was encountered while handling the remote login.
Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler<TOptions>.HandleRequestAsync()

[2020-09-17 12:24] martincostello commented on #473
Please enable debug logging and provide some log details in this issue for us to look at.

Otherwise there's no way for us to know what could be wrong or know whether or not it's an issue in the provider, with your configuration, or with the QQ service itself.

From "Correlation failed", this would suggest to me an issue with your configuration, such as to do with cookies and SameSite:

https://de

[2020-09-17 16:36] kendrome opened #474 "Discord: .AspNetCore.Identity.Application always set to expire when session ends"
**Describe the bug**
Using Discord OAuth provider, and the cookie expiration is always set to when the session ends. Tried all of the following...

[code]

[code]

[code]

**System information:**
 - OS: Window 10
 - Library Version 3.1.3
 - .NET version 3.1.4

[2020-09-17 22:04] martincostello commented on #474
Have you tried `ConfigureApplicationCookie()` or `ConfigureExternalCookie()`?

https://github.com/martincostello/alexa-london-travel-site/blob/02e66413021a7c84cc792ccc1f5ab300f940b64c/src/LondonTravel.Site/Extensions/IdentityServiceCollectionExtensions.cs#L39-L41

[2020-09-17 22:43] kendrome commented on #474
[code]
Seems to partially work, it lets me change the cookie name, but the cookie still expires when the session ends in Chrome and Firefox. Also tried the exact code you linked to in the blob and still same issue.

[2020-09-18 07:36] martincostello commented on #474
I'm not entirely sure then - this is functionality from ASP.NET Core that the provider builds on top of, it's not part of the Discord provider itself.

The configuration I linked to is what I use for the Amazon (and other) providers in my site and the session cookie has the specified lifetime and persists across browser sessions.

[2020-09-24 16:28] kevinchalet opened #475 "Determine whether we should stop using embedded PDBs"
@martincostello all the aspnet-contrib OAuth 2.0/OpenID 2.0 providers currently ship with the PDBs embedded in the assemblies themselves, which makes deployments a bit bigger (something like +~10%, AFAICT).
That's because Arcade defaults to `embedded` PDBs when `OfficialBuild` is not set (and it's not something we use, as we hit issues with the automatic symbols upload to MSFT that requires authen

[2020-09-24 16:29] martincostello commented on #475
Makes sense to me - that's what I do for my own libs.

[2020-09-24 16:30] martincostello commented on #475
Do you want me to sort this out for the OpenID and OAuth repos if you're changing OpenIddict?

[2020-09-24 16:44] kevinchalet commented on #475
I don't mind taking care of this, but I'm not sure whether we'll need to also update the build GH workflow to push the .snupkg to MyGet and NuGet or if `dotnet push` is smart enough to push them automatically 😕

[2020-09-24 16:54] kevinchalet commented on #475
Crap, for some reasons, enabling `snupkg` seems to cause a `NU5017: Cannot create a package that has no dependencies nor content` error when a package doesn't have any package reference: https://github.com/openiddict/openiddict-core/pull/1105/checks?check_run_id=1161635421#step:6:250

[2020-09-24 16:55] martincostello commented on #475
_C'est magique_ ✨

It'll automatically do it if it finds the `.snupkg` file next to package you're publishing.

[2020-09-24 16:56] martincostello commented on #475
Weird, never seen that one before!

[2020-09-24 16:59] kevinchalet commented on #475
I guess I'll magically solve that by adding another entry to `<NoWarn></NoWarn>` 😅

[2020-09-24 17:03] kevinchalet commented on #475
Fuck, not this time, it seems 😭

[2020-09-24 20:13] #475 closed, assigned to martincostello, kevinchalet

[2020-09-26 12:47] #468 closed, assigned to nobody

[2020-09-26 12:47] #434 closed, assigned to nobody

[2020-09-26 12:48] martincostello commented on #469
Hi @koliyo - were you able to validate the fix for the Onshape provider?

[2020-09-28 13:14] tersonly opened #477 "Weibo can not get email infomation"
**Describe the bug**
the callback Url  always get an error ,  then you can refresh chrome it  will work

api.weibo.com/oauth2/authorize?client_id=2xxxxxxxx&response_type=code&redirect_uri=http%3A%2F%2F127.0.0.1%3A50000%2Fsignin-weibo

![image](https://user-images.githubusercontent.com/20390658/94436558-2a08a600-01cf-11eb-9e52-d4c96a9c574f.png)

![image](https://user-images.githubusercontent.com/20

[2020-09-28 13:28] martincostello commented on #477
The default port for Kestrel is usually `5000` not `50000` - are you sure you've configured it correctly?

Otherwise, based on the information you've provided there's not much to go on to show that there's an issue with the provider, or much to help us get to the bottom of what the issue might be.

[2020-09-28 13:37] tersonly commented on #477
the port 5000 is for anthor app ,  this situatio may be   the network  jitter , the email endpoint  return an error  and  I can not find  the document  about  https://api.weibo.com/2/account/profile/email.json ， perhaps  need   apply for interface permission

[2020-09-30 16:45] zaneclaes opened #478 "External login info is always null with IS4 (AuthenticationScheme: "Identity.External" was not authenticated.)"
**Describe the bug**
When the login callback in invoked, the `_signInManager.GetExternalLoginInfoAsync()` always returns null.
The symptoms are identical to this: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/62 , but the solution there does not work for me. I expect I have managed to misconfigure something, but I can't figure out what.

**Steps To reproduce**
Config:
[c

[2020-10-02 12:29] ltm0203 commented on #473
[code]

[2020-10-02 12:42] martincostello commented on #473
This sounds likely to be related to SameSite cookies and the configuration of your application: https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

[2020-10-02 12:56] felixSabatie opened #480 "Sign in with Linkedin throws exception if the user hits cancel from Linkedin's website"
**Describe the bug**
Similar to #424 , if a user cancels the sign in request an exception is thrown instead of the user going to the AccessDeniedPath.

**Steps To reproduce**
Set up sign in with Linkedin. On Linkedin's website, cancel at the sign in step or at the authorize step.

**Expected behaviour**
The user should be redirected to the url defined in the AccessDeniedPath.

**Actual behaviour**

[2020-10-02 12:59] martincostello commented on #480
Thanks @felixSabatie - I'll have a look into fixing this for the next release.

[2020-10-02 13:00] kevinchalet commented on #480
How many non-standard error codes do they have in stock? 🤣

[2020-10-02 13:08] ltm0203 commented on #473
I just use asp.net core identity

this is my startup code
[code]

![image](https://user-images.githubusercontent.com/7875527/94926318-2e94cd80-04f3-11eb-9f18-09365fa3ef86.png)

Shut down the httponly

[2020-10-02 13:13] kinosang commented on #473
@ltm0203 with asp.net core 3.1, you should set the SameSite policy for cookies. See here for more information: https://docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.1

[2020-10-02 13:22] martincostello commented on #469
As you've not provided any feedback I'm going to assume it works.

[2020-10-02 13:40] martincostello commented on #480
Have opened #481 with a proposed fix.

As this is the second time we've had to override this, I'm going to open an issue against the dotnet/aspnetcore repo asking if there's any worth in adding functionality as part of .NET to allow additional error codes meaning denied to be user-specified as part of the OAuthOptions. I'm not sure they'd take it, but it's worth asking the question.

[2020-10-02 13:45] ltm0203 commented on #473
hi @kinosang  I have configured several options, but still cannot run successfully. Do you have any other suggestions? Or there are still problems with my configuration.

[code]

[code]

[2020-10-02 14:10] martincostello commented on #480
Have raised https://github.com/dotnet/aspnetcore/issues/26540.

[2020-10-02 14:51] kinosang commented on #473
@ltm0203

You have to configure `ApplicationCookie` (if you use the Asp.Net Identity), `ExternalCookie` (for 3rd login) and `CookieAuthenticationOptions` (for 2FA, and etc)

[2020-10-02 15:15] ltm0203 commented on #473
@martincostello

You may not believe it. It is a qq problem. The key of my production environment can be used normally. The development environment uses localhost to report an error. . .

Thank you for your comments and support.

[2020-10-02 19:44] kendrome commented on #474
So it seems I had to set the `options.Cookie.MaxAge = TimeSpan.FromDays(30);` and that finally worked. I'm not sure exactly why.

[2020-10-03 06:54] #474 closed, assigned to nobody

[2020-10-03 06:54] #473 closed, assigned to nobody

[2020-10-03 09:48] #480 closed, assigned to martincostello

[2020-10-03 09:54] martincostello commented on #480
@felixSabatie If you could try out the [`3.1.4-preview.20503.40`](https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.LinkedIn/3.1.4-preview.20503.40) package from our MyGet feed and confirm it resolves your issue, I can push out a 3.1.4 release to NuGet.org containing the fix.

[2020-10-05 07:53] felixSabatie commented on #480
@martincostello It works great with the update, thanks for the quick implementation 😃

[2020-10-05 07:54] martincostello commented on #480
Great, thanks for confirming 😃

I'll look at pushing a release with the fix to NuGet within the next day or so.

[2020-10-06 17:42] martincostello commented on #469
This fix is now available in version [3.1.4](https://www.nuget.org/packages/AspNet.Security.OAuth.Onshape/3.1.4) of the provider.

[2020-10-06 17:42] martincostello commented on #464
This change is now available in release [3.1.4](https://www.nuget.org/packages/AspNet.Security.OAuth.SuperOffice/3.1.4) of the provider.

[2020-10-06 17:43] martincostello commented on #480
This fix is now available in version [3.1.4](https://www.nuget.org/packages/AspNet.Security.OAuth.LinkedIn/3.1.4) of the provider - thanks again for reporting the problem!

[2020-10-09 11:45] irwinwilliams opened #483 "Correlation failed. Unknown location in Strava library"
**Describe the bug**
Attempting to authenticate with Strava.
I'm using this code:

[code]
And this code in ConfigureServices:

[code]

When I attempt to access my route that needs authorization, it yields this error:

**Steps To reproduce**
Attempting to access a route that has the [Authorize] attribute on it.

**Expected behaviour**
Authentication prompt from strava

**Actual behavior**
Produced

[2020-10-09 12:00] irwinwilliams commented on #483
Still investigating, but realized that by Strava's use of OAuthHandler, it might make sense to look into the exception based on dotnet core's implementation.
I found this link, https://docs.microsoft.com/en-us/dotnet/core/compatibility/aspnetcore, that describes some breaking changes related to SameSite cookies.

Therefore, I checked Edge, and I seemed to get to where I needed. I don't know what t

[2020-10-09 12:22] martincostello commented on #483
Sounds like SameSite cookies.

You can read more information about it here: https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

[2020-10-13 21:23] martincostello commented on #472
Packages for ASP.NET 5 RC2 are available from our [MyGet feed](https://www.myget.org/gallery/aspnet-contrib) starting with version `5.0.0-rc.2.20513.86`.

[2020-10-15 04:20] jingxi0109 opened #487 "Weixin Recall back 500 err in Edge, in chrome is fine return status Code 302."
**Describe the bug**
use the weixin version with MVC client sample code with my appid, signin with QRCode use chrome is fine, but return 302 found.

same operation as  above,  in Microsoft Edge, when scaned the QRCode browser back HTTP ERROR 500,

**System information:**
 Client OS: Windows 10
Server OS Windows 2019 with IIS
 - .NET Core version 3.1

[2020-10-15 06:36] martincostello commented on #487
Can you share some error logs?

Sounds like it might be a SameSite issue though: https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

[2020-10-15 07:06] jingxi0109 commented on #487
update, just try it on ipad(ios) use edge and safari it's works well.

[2020-10-16 02:32] jingxi0109 commented on #487
Dears,after add the SSL all browser is work well.
this issue can close, thanks~

[2020-10-16 02:32] #487 closed, assigned to nobody

[2020-10-16 14:16] martincostello commented on #396
Resolved by #484. Changes are available from version `5.0.0-rc.2.20516.57` in our MyGet feed and will be part of the 5.0.0 release.

[2020-10-16 14:16] #396 closed, assigned to nobody

[2020-10-19 07:19] josteink opened #489 "AspNet.Security.OAuth.Providers.SuperOffice package expects incorrect issuer in "stage"-enviroment"
**Describe the bug**

When using the package `AspNet.Security.OAuth.Providers.SuperOffice`, you are expected to populate the relevant SuperOffice environment to authenticate for (development, stage or production). The provider is then configured with appropriate settings and URLs for that environment.

However, for the stage environment, the package does not work, because the issuer-value which th

[2020-10-19 07:35] #489 closed, assigned to nobody

[2020-10-19 07:45] martincostello commented on #489
Thanks for reporting this issue @josteink.

The fix by @AnthonyYates is available from our [MyGet feed](https://www.myget.org/gallery/aspnet-contrib) in package versions `3.1.5-preview.20519.31` and `5.0.0-rc.2.20519.31`.

I'll look at pushing the 3.1.5 release to NuGet.org either today or tomorrow.

[2020-10-19 08:42] josteink commented on #489
Great. Thanks for expediting this issue so swiftly!

[2020-10-20 12:52] martincostello commented on #489
The fix is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.SuperOffice/3.1.5).

[2020-10-27 04:59] wplong11 opened #495 "Rename KakaoTalk Provider to Kakao"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. For example: _I'm always frustrated when [...]_

The name of the Kakao Talk account authentication service has been changed to Kakao Account Authentication. I missed this and misnamed the package. Recently, I am trying to change Kakao Talk to Kakao to match the name.

**Descri

[2020-10-27 06:46] martincostello commented on #495
A quick search for "Kakao Talk" in Google brings up lots of hits, so is this really necessary?

If people can find it and it works it shouldn't really make any difference now it's shipped.

We haven't renamed the "Visual Studio Online" provided to "Azure Dev Ops", for instance.

[2020-10-27 07:27] wplong11 commented on #495
Not only the name, but also the concept of service has changed. For example, KakaoTalk's account has been integrated into an account within the Kakao service. Kakao accounts are like Azure accounts, and KakaoTalk has become a subservice like AzureDevOps.

[2020-10-29 20:16] negativeeddy opened #496 "Cant get access_token in Blazor server side application"
**Describe the bug**
Using the standard Blazor server side VS template with the Twitch provider added, I cannot get the access_token or refresh_token from the authentication providers

**Steps To reproduce**
1. Create Blazor server side template with individual user account authentication
2. Add the Twitch configuration that should save the tokens
[code]
3. follow instructions for [grabbing tokens

[2020-11-02 22:24] KenthJohan opened #498 "Can we have AddKeycloak()?"

[2020-11-02 22:26] martincostello commented on #498
New providers are added by the community. Feel free to open a Pull Request if you would like to add support for Keycloak.

[2020-11-05 15:38] kfrancis opened #499 "Subdomain Support"
I know that subdomains shouldn't be used in oauth, as in the request should come to and from the host without the subdomain, but how can we keep that information through the process and return the user there when it's completed?

For example, the user browses to `https://company.supercoolproduct.com/Account/Login` and goes to use oauth. The provider has and will only have registered `https://super

[2020-11-08 06:48] #495 closed, assigned to nobody

[2020-11-10 16:41] martincostello commented on #472
Packages for ASP.NET 5 are now available from NuGet.org.

[2020-11-11 12:55] #472 closed, assigned to martincostello

[2020-11-25 11:11] martincostello opened #502 "Which version of .NET should dev target?"
Now that the ASP.NET 5.0 version of the providers has shipped to NuGet.org, how do we want to manage the branches/versions?

As of the time of writing we have `dev` targeting .NET Core 3.1 LTS, plus the branch for 5.0 that branched off from an earlier 3.1 release.

## Potential Options

  1. Merge `rel/5.0.0` to `dev` and move forward only supporting 5.0 until 6.0 is released.
  1. Branch `dev` to

[2020-11-25 14:45] kevinchalet commented on #502
Tough question 😅

Other potential options:
  1. We could decide to multi-target the latest TLS + the latest current version (e.g 5.0 could target `netcoreapp3.1` and `net5.0`, 6.0 would be `net6.0` only). I was not a huge fan of this option in the past - mostly because the changes introduced in the OAuth 2.0 generic provider in 3.0 made that quite impractica (the API should is now rather stable, w

[2020-11-25 14:57] martincostello commented on #502
With 5.0 I took the opportunity to use the new one-shot hash methods in some places, plus there were breaking changes to the Apple provider to rework the DI setup, so reworking it to multi-target now would be a bit of a faff.

Out of the two options above I'd go with option 2, but we could take the aim in the future for 6.0 and forwards of approaching it via multi-targeting when making the changes

[2020-11-28 09:40] kotishwerreddy opened #503 "trying to connect apple login in identity server 4 getting invalid client"
![image](https://user-images.githubusercontent.com/42269745/100498915-9f6f0380-318b-11eb-9310-a43723e25ba9.png)

Added below code (AspNet.Security.OAuth.Providers - 2.2.0)

 .AddApple(options =>
            {
                options.SignInScheme = IdentityServer4.IdentityServerConstants.ExternalCookieAuthenticationScheme;
                options.ClientId = "com.XXXXXXX.emed";
                optio

[2020-11-28 09:51] martincostello commented on #503
Based on that information my only suggestion is that you've somehow misconfigured the provider, such as a copy-paste error of an ID, or maybe an issue with your p8 file.

Otherwise the manner you're configuring it seems correct in so far as the Apple provider itself (can't see your overall auth config).

.NET 2.2 is out of support, so if your configuration is 100% definitely correct, I can only su

[2020-11-28 10:05] kotishwerreddy commented on #353
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/503

please help us we are also facing same issue.

[2020-11-28 10:09] kotishwerreddy commented on #478
use this code in external login call back

var results = await HttpContext.AuthenticateAsync(IdentityServerConstants.ExternalCookieAuthenticationScheme);
            if (results?.Succeeded != true)
            {
                throw new Exception("External authentication error");
            }

            // retrieve claims of the external user
            var externalUser = results.Principal;

[2020-11-28 10:18] kotishwerreddy commented on #503
public void ConfigureServices(IServiceCollection services)
        {

            services.AddCors(options =>
            {
                options.AddPolicy("AllowAll",
                    builder => builder.AllowAnyOrigin()
                    .AllowAnyMethod()
                    .AllowAnyHeader()
                    .AllowAnyOrigin()
                    .DisallowCredentials()

[2020-11-28 10:59] martincostello commented on #503
It looks like you're mixing the Apple provider with custom OpenID connect code to do the same authentication functions.

As that's nothing to do with the provider in this repo, that's not something we can support you with debugging and trying to get working.

There's a minimal sample application, which works, here you can maybe use a reference to help you get your solution working: https://github.

[2020-11-29 06:34] kotishwerreddy commented on #503
![image](https://user-images.githubusercontent.com/42269745/100534983-dfd98a80-323a-11eb-8620-a6b81fcac4be.png)

@martincostello : tried multiple ways finally working in local machine.   but when i deployed in VM getting above issue can you please help us.

[2020-11-29 07:18] martincostello commented on #503
It's a 500 from your own code. Look at your error logs.

[2020-12-03 15:33] #503 closed, assigned to nobody

[2020-12-16 17:04] dansiegel opened #504 "[Question] Callback path not found"
## Description

I have a Blazor WASM .net5 app using AspNet.Security.OAuth.GitHub. Running it locally everything works as expected. When I publish to Azure the authentication fails.

- Initiate Login
- Approve GitHub OAuth App
- Redirect to mydomain.azurewebsites.net/signin-github with token
- Get a page "Sorry, there's nothing at this address."

Watching the log stream I'm not seeing any errors s

[2020-12-16 20:47] martincostello commented on #504
Can you share some code of how things are set up? We don't have a Blazor sample, and it's not something I've tried myself.

Is the Service Worker associated with the client-side maybe intercepting the URLs to the callback paths and stopping them reaching your server-side code?

[2020-12-17 00:52] paulers opened #505 "WindowsCryptographicException during authentication flow"
After the Apple auth screen, upon returning to my app, I'm getting a WindowsCryptographicException.

Here is the relevant code:
[code]

I can verify all the values are loading correctly from Configuration and the `appleP8KeyBytes` var has the byte array converted from base64 string containing the key (minus trivia -- see another issue about taking in a string instead of a file). As a side note, th

[2020-12-17 01:46] paulers commented on #505
Turns out adding WEBSITE_LOAD_USER_PROFILE=1 to Azure App Configuration fixed the issue. Now, failing to authenticate and the result has no information. :-(

[2020-12-17 01:46] #505 closed, assigned to nobody

[2020-12-17 02:59] paulers commented on #467
I've been trying to get this package to work with Identity Server 4 as well (3.1.4), but without success. The External/Callback is failing to authenticate right at the start: `await HttpContext.AuthenticateAsync(IdentityServer4.IdentityServerConstants.ExternalCookieAuthenticationScheme)`. No failure message is returned so it's impossible to see what's going wrong.

I wonder if anyone else has run

[2020-12-17 07:55] martincostello commented on #467
Have you tried turning on debug logging and reading through the logs? Even if you don't get any information on the user-facing/developer-facing error page during the OAuth flow, there's usually some further detail in the logs.

[2020-12-17 16:53] dansiegel commented on #504
I'll try to get a demo site up either later today or tomorrow

[2020-12-17 17:59] paulers commented on #467
Let me give that a shot and report back. Been trying to hook into various event handlers in Startup.cs, but nothing in there either.

[2020-12-17 19:06] paulers commented on #467
Turns out an additional property is required when setting up in Startup.cs.
[code]
The SignInScheme is required and has to match the same scheme present in External/Callback:
[code]

Works like a charm now.

[2021-01-05 16:38] ave-303 commented on #478
I'm seeing this error as well - although it's not "always".

I am trying to authenticate with Okta, and still use Identity (for Role Management).  When the callback is triggered in ExternalLogin.cshtml.cs, the call to GetExternalLoginInfoAsync() is successful;  however the call to:

[code]
returns false, so the app tries to register the user.  Its on that Post (the button click to Register, still

[2021-01-07 18:09] pnmcosta opened #506 "Discord Cancel throws exception on callback"
**Describe the bug**
With the Discord provider v3.1.6, if a user cancels the authorize login the callback throws a "Access was denied by the resource owner or by the remote server." exception.

**Steps To reproduce**
With IDS4 (v3) add Discord, attempt to login but cancel without authorizing on Discord prompt.

**Expected behaviour**
Should cancel the login flow and redirect to the return url if p

[2021-01-07 20:11] martincostello commented on #506
You have to explicitly handle access denied by either setting the [`AccessDeniedPath`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.remoteauthenticationoptions.accessdeniedpath?view=aspnetcore-3.1) property to an appropriate path to redirect the user to, or handle the event via the [`OnAccessDenied`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcor

[2021-01-07 21:08] pnmcosta commented on #506
got it, thanks so much @martincostello I missed this on the documentation.

[2021-01-08 16:39] martincostello commented on #502
Any strong preference on the options to go with? I'd like to implement whatever the decision is before merging #507.

[2021-01-08 19:26] kevinchalet commented on #502
I'd go with 2) too (not really a "strong opnion, tho') 😄

[2021-01-08 19:35] martincostello commented on #502
Cool, thanks, I'll get that sorted out in the next few days then 👍🏻

[2021-01-12 08:19] #506 closed, assigned to nobody

[2021-01-15 09:05] LeaFrock opened #508 "Add UnionId support for QQ provider"
**Is your feature request related to a problem? Please describe.**

QQ-connect-platform has two 'id's: openid & unionid.
For single app, openid is enough for distinguishing users, but if you have two apps then the two openids won't be the same. The actual unique key for a developer/company is called 'UnionID', which means it's always the same across different apps or webs of single owner.
Sometime

[2021-01-15 10:01] LeaFrock commented on #502
I'd go with 2) too.
I advice `dev` to represent the latest version (for both codes and SDK).
`rel/3.1.x` is good for now. And when .NET 6 releases, the `dev` should checkout `rel/5.x`（since there won't be .NET 5.1）then keep moving on for upgrading to .NET 6.
It's a balance between compatibility and workload.

[2021-01-19 22:32] stesvis opened #510 "Can't sign-in with Apple"
**Describe the bug**
I am not able to sign-in with Apple using this package for some reason. I am able to see the apple authentication page, but after I submit I ret redirected to a `https://mydomain.com/signin-apple` and that's where I am stuck.

What am I doing wrong? Thanks.

**Steps To reproduce**
* Set up Apple authentication in **Startup.cs**:
[code]
* Set up a Controller to handle Apple sig

[2021-01-20 07:32] martincostello commented on #510
Define "stuck" - is it a 404 error?

Have you configured the authorisation middleware in `Configure(IApplicationBuilder)`?

Why do you need a custom controller endpoint for handling the sign-in when that's all built into the auth*n packages for you?

What is the route URL of the custom controller? From the snippet I can only guess `oauth/apple`, which isn't `signin-apple` so would explain a 404.

[2021-01-20 16:11] stesvis commented on #510
Yes I have configured it:
[code]

The best way I could describe it was by posting the link, if you click it it will take you to the Apple authentication page and then return to `/signin-apple`.
https://api.tradeality.com/api/OAuth/Apple

From a mobile app I need an endpoint to trigger the third-party sign in, I am confused, what endpoint should it be?
If i go to the "built-in" endpoint https://api

[2021-01-20 16:36] martincostello commented on #510
The custom endpoint in the sample is just to handle the UI for the sign in page, if yours is the same then that's fine. It just looked a bit like you were trying to re-implement the middleware.

Our general documentation is here: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/docs

The specific documentation for our Apple provider is here: https://github.com/aspnet-cont

[2021-01-20 18:59] stesvis commented on #510
Thanks @martincostello .
I still have a hard time to wrap my brain around it....

On the apple side, which url should I enable for redirect?
![image](https://user-images.githubusercontent.com/6062684/105221803-da037580-5b16-11eb-98b9-e507d1869265.png)

I added both the /signin-apple` and the `/api/oauth/apple` endpoints.

What could cause the `/signin-apple` to not continue the process and not red

[2021-01-20 19:08] martincostello commented on #510
The URL should be the fully qualified URL, such as `https://foo.bar/signin-apple`.

If you're getting a 500 the best thing to do is turn up the logging levels and see what you get from the provider's logs.

Usually it's either misconfiguration or issues with cookies (correlation, SameSite, etc.)

[2021-01-20 19:35] stesvis commented on #510
Yes I did enter the full url.
I'll try to check the logs.

Btw for the moment i added the .p8 file to the project root, is that also correct?
![image](https://user-images.githubusercontent.com/6062684/105225567-0077df80-5b1c-11eb-85bf-e5bc611f5b13.png)

[2021-01-21 09:30] martincostello commented on #510
Yep that's the correct place to put it to use it as a file from disk.

[2021-01-24 22:45] viewtance opened #512 "AspNet.Security.OAuth.Weixin throw authState is invalid or missing after weixin redirect"
After weixin redirect to the url, it throw an Exception: The oauth state was missing or invalid. it seems the code or the state has been changed twice

[2021-01-24 23:33] viewtance commented on #512
resolved after keep the callback url blank

[2021-01-24 23:33] #512 closed, assigned to nobody

[2021-01-27 18:46] teonivalois commented on #510
@stesvis I am having the same problem with an app running on DigitalOcean. There I am getting a "Connection Refused" error during the post back. It happens that during that operation, the token generation happens and in my case, the droplet is under a range of blocked IPs. This is a bummer and it took me a couple of days to figure it out. Try to increase your log level to Trace for the contribuiu

[2021-01-30 15:56] martincostello commented on #502
I plan within the next week or so to (assuming PRs are all good to go soon):

  1. ~Merge #507~
  3. ~Merge #511~
  4. ~Create a `rel/3.1.7` branch~
  5. ~Branch from `rel/5.0.0` to incorporate latest changes, then merge that to `dev`~
  6. ~Create a `rel/5.0.1` branch~

End state should be 3.1.7 and 5.0.1 releases, and the `dev` branch targeting .NET 5.0. After that I guess we'd just continue on

[2021-01-30 15:56] #508 closed, assigned to nobody

[2021-01-31 16:26] martincostello commented on #502
Awaiting a response to this comment before starting steps 3-5 above: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/507#issuecomment-770405632

[2021-01-31 21:01] martincostello commented on #502
All sorted - just need to do the "stabilise versions" changes to the two release branches.

Will look at releasing the 3.1.7 and 5.0.1 versions to NuGet tomorrow.

[2021-02-01 19:15] martincostello commented on #502
[3.1.7](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/releases/tag/3.1.7) and [5.0.1](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/releases/tag/5.0.1) have been published to NuGet.org.

[2021-02-01 19:15] #502 closed, assigned to kevinchalet

[2021-02-02 12:14] #504 closed, assigned to nobody

[2021-02-02 12:14] #483 closed, assigned to nobody

[2021-02-02 12:15] #477 closed, assigned to nobody

[2021-02-02 12:15] #467 closed, assigned to nobody

[2021-02-02 12:15] #436 closed, assigned to nobody

[2021-02-02 12:16] martincostello commented on #399
This isn't something we're planning to do so I'm going to close this.

[2021-02-02 12:16] #399 closed, assigned to nobody

[2021-02-02 12:18] martincostello commented on #421
Something to look into for .NET 6.0 now.

[2021-02-02 12:46] kinosang commented on #477
@tersonly Weibo stops to accept any new application for `email` scope, there's no way to access the email endpoint for new client apps.

[2021-02-02 12:57] tersonly commented on #477
thanks a lot

[2021-02-04 02:46] LeaFrock opened #520 "About Alipay Provider"
**Is your feature request related to a problem? Please describe.**

I notice that the PR #387 has been closed. Alipay(of Alibaba) is a quite common external provider for Chinese users, which is similar to QQ or WeChat, so I think it’s better to add alipay provider here.

**Describe the solution you'd like**

The difference between Alipay provider and others is that it uses an unified gateway endpo

[2021-02-04 05:16] kinosang commented on #520
#387 was closed due to `inactivity and merge conflicts`. if you'd like to contribute, you can fork and create a new pull request.

[2021-02-04 05:39] LeaFrock commented on #520
@kinosang Well, I know it. In fact, I prefer to implement the solution based on the official SDK which I think it's easier to maintain and more flexiable for changes of future. That's why I don't fork the closed PR and ask for the answer of whether I can put the SDK in as a Nuget reference of alipay provider.

[2021-02-04 07:51] martincostello commented on #520
There were also unresolved comments regarding the implementation due to its non-standard nature with regards to OAuth.

If, even with an official SDK, that's still the case then @kevinchalet may not want to accept such a provider into the repo.

[2021-02-04 08:44] LeaFrock commented on #520
@martincostello I will take time to check it when I'm free.

Emmm... I agree with you in some degree. But I think Alipay is still based on the process of OAuth, and I should be able to handler the `non-standard` part at `OAuthHandler<T>`.

_BTW, I hope to promote this wonderful repository to more Chinese developers through my blog. Because Alipay is as popular as WeChat in China,  I think Alipay p

[2021-02-04 09:14] kevinchalet commented on #520
@martincostello depending on a SDK, even an official one, doesn't seem ideal to me.

The original PR had a few crypto helpers needed to deal with the non-standard Alipay mess, but at least, it didn't depend on external code. Maybe it's the price to pay if we want to support Alipay?

@LeaFrock I hope we'll eventually see one standard-compliant OAuth 2.0 implementation operated by a Chinese company

[2021-02-04 12:58] jijiechen commented on #520
@kevinchalet

I'm really starting to think not respecting standards is a cultural thing in China

It's really impolite for you to speech like this.
It's true that we are seeing these non standard-compliant implementations from many service providers, including many large entities. However, let's keep the conversation within the original technical thread and do not extend it unnecessarily.

And @ma

[2021-02-04 13:06] kevinchalet commented on #520
Don't take it personally, it's just a fact: the most horrible hacks we had to introduce are for providers operated by Chinese companies. If you don't like this situation, feel free to contact these companies to encourage them to respect standards.

[2021-02-04 13:08] martincostello commented on #520
@jijiechen My thumbs up was simply to acknowledge the comment about whether or not using an SDK was better than custom code.

[2021-02-04 13:16] kinosang commented on #520
@kevinchalet

Though many Chinese companies operate OAuth providers, some of them, such as Alipay and WeChat, do not want to make it `open` nor `free` (libre).

There're many Chinese companies follow the standards, for e.g., Baidu, Weibo, and QQ (the new implementation #509 by @LeaFrock).

Back to the topic, I **Disagree** to add any provider based on a SDK, it's dirty and not easy to maintain as

[2021-02-04 13:17] jijiechen commented on #520
Well, by following your theory, one may tell the situation could become more horrible when those Chinese companies become standard makers some day.

There must be a reason for them to break the standards. It could be they didn't learn quite well, another reason could be there can be something missing from the standards so they had to customize or extend the standards to meet their needs.
I acknowl

[2021-02-04 13:24] kinosang commented on #520
But I don't think it's bad to add non-standard providers with some hacks and something else. Apple OAuth Provider also needs hacks to work cuz it does not follow the standards either.

[2021-02-04 13:35] kevinchalet commented on #520
@kinosang well, not sure those are good examples: these 3 providers use non-standard scopes representations (comma-separated instead of space-separated). And QQ is likely the most horrible one: it forces us to send GET token requests - the spec requires using POST - with a non-standard `fmt` parameter.

Definitely not. The more people/organizations/countries participate to the elaboration of stand

[2021-02-04 13:37] kevinchalet commented on #520
@jijiechen BTW, since you work for Tencent, why not helping us by contacting the WeChat/Weixin folks in charge of the OAuth 2.0 integration to fix things like limited `state` support, for which we had to introduce an ugly workaround?

[2021-02-04 13:44] kinosang commented on #520
@kevinchalet

my mistake. they are not standard providers. the three providers existed before the OAuth 2.0 specs released. they are not up to date, but they try to follow the standard (e.g. QQ accept a new parameter to return JSON instead of JSONP).

I mean,

But I do not agree with `There must be a reason for them to break the standards`. Developers hate the non-standard implementations, but tho

[2021-02-04 13:56] jijiechen commented on #520
Thanks for your reply, and it's rather valuable. In terms of the hacky implementations, I agree that maintaining an SDK with all those hacks included is painful. I don't expect the idea by the author could be accepted by this repo.
As open source practitioners, we muchly benefited from plenty of standards, so we always try to let people know how important it is to align with existing standards to

[2021-02-04 13:57] jijiechen commented on #520
@kevinchalet

Yes, good idea. I'm happy to deliver the message.

[2021-02-04 14:06] kevinchalet commented on #520
@jijiechen thanks, much appreciated.

Pain points you'll probably want to discuss with them:
  - The `state` length limits are way too strict (we can't pass an ASP.NET Core Data Protection state).
  - The token endpoint requires using GET. Adding a standard POST endpoint shouldn't break anything.
  - The token endpoint takes `appid` and `secret` parameters. Yet, the standard parameters are `client

[2021-02-04 14:08] jijiechen commented on #520
@kinosang

It depends. It terms of OAuth2 implementations, I would rather think the real reason can be very simple as the original developers in the team who implemented those hacky services added their opinionated "salt" to their own OAuth services. I know many guys trying to make variants from standards to keep themselves different so that they'll believe to be more secure or more self-controlla

[2021-02-04 14:15] kinosang commented on #520
@jijiechen Do Not create your own "smart" hacks about security, even though you're a giant company. The standards are audited and verified by the community.

安全领域, 勿造轮子

I don't think so. The giant companies have project managers, code reviewing and QA. Some of the "variants" are as designed (for enclosure I believe).

I know there're also many remained issues, and change the issues cannot be done

[2021-02-04 14:33] LeaFrock commented on #520
I don't want to cause a quarrel. I'm just asking whether I can contribute what I want. If the members think it's not suitable, what I need to do is just closing this issue.

TBH I feel a little bit offended, though I guess you're just joking @kevinchalet . It would be a good humor if you say `... is a cultural thing in French` since you're a French man.

Everyone here knows the good of standards.

[2021-02-04 14:54] kevinchalet commented on #520
I've been maintaining my own OAuth 2.0/OIDC server implementations for almost 7 years now, so I have a strong experience of what "opinionated" means in both camps (servers and clients). The OAuth 2.0 base specification - **one of the clearest and most pleasant specs I have ever dealt with** - leaves many aspects up to the implementers (e.g the access/refresh token formats are freely chosen by the

[2021-02-04 15:00] kevinchalet commented on #520
Anyway, back to the initial topic: @LeaFrock would you be interested in reviving https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/387/files?

[2021-02-04 15:07] LeaFrock commented on #520
@kevinchalet That's OK. I'll handle it when I'm free (and may take some time).

[2021-02-08 09:09] cyjbox opened #521 "AspNet.Security.OAuth.Nextcloud InvalidOperationException: sub claim is missing"
### Provider name

AspNet.Security.OAuth.Nextcloud

sorry, I don't know where to post this, if I bother you,you can close this,
I use AspNet.Security.OAuth.Nextcloud to authenticate user,the .net sdk version is 5, I setup the Nextcloud server myself,the code is:

services.AddAuthentication(options =>

{
options.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;
})
.AddNextcloud(opt

[2021-02-08 10:18] martincostello commented on #521
This seems like an issue with your IdentityServer4 configuration, rather than the Nextcloud provider.

I assume you're not actually configuring the three `*Endpoint` properties to empty, otherwise the provider won't work.

[2021-02-08 14:19] cyjbox commented on #521
yes, I configed the three endpoint like the test example:next is the code file:
https://oa.zxauto.net:7443/nextcloud/s/Z8H9kqCNSPBW2qB

[2021-02-09 09:01] davendu commented on #520
off-topic comment: sad fact but if something is widely used, even if it is not matching the standard, nor it could be rated as "smart" or "correct", it could be a de-facto standard, and someone would write standard for that. sounds weird but we had to accept the truth :(

But speaking of things like OAuth, I'm with kevin. Standards should be followed.

[2021-02-20 01:33] #521 closed, assigned to nobody

[2021-02-26 10:35] j-bbr opened #523 "Native (iOS 13+) Apple SignIn, missing Server Callback"
**Describe the bug**
Using Apple OAuth Provider I want to give authenticated users a self-generated token to access our api

**Steps To reproduce**
Setup Apple Sigin with the redirect url to our authentication server. Verified that it works when trying to login over the website.

**Expected behaviour**
Once the user authenticates in the app (I am using the basically unchanged Xamarin.Essentials We

[2021-02-26 10:41] martincostello commented on #523
If you set `SaveTokens` to `true` on the `AppleAuthenticationOptions` class, then the tokens will be made available as part of the `AuthenticationProperties`. Your server application code can then access token token and do with it as you wish.

This behaviour is inherited in all of our authentication handlers from the `OAuthOptions` class via `RemoteAuthenticationOptions` ([docs](https://docs.micr

[2021-02-26 13:19] j-bbr commented on #523
But the issue I have is that I receive the apple id code and authorization code _just_ on the device (Iphone), I don't quite understand how I can use the above code? At this point my server hasn't been contacted yet. I want to verify on the server that the user has been authenticated by Apple and then let him use our protected resources. My initial assumption was that I would receive the callback

[2021-02-26 13:23] martincostello commented on #523
I don't fully understand how our code works in the context of Xamarin (or indeed natively on a device), as the provider is designed for server-side usage using OAuth flow.

It might be something the device does to intercept the call locally on a compatible device to bypass the need to callback to the server. For example if I use Sign In with Apple on a Windows machine, I sign into a webpage, but i

[2021-02-26 14:32] j-bbr commented on #523
I agree that it's probably not in the scope of this package. I think this question might pop up again however since using Apple Sign-In (in the iOS 13+ native way) on iOS devices is, I would imagine, one of the primary use cases of Apple SignIn. I am frankly surprised it hasn't already but I haven't looked too much into the xamarin issues yet. If I do go down the route with the extra request using

[2021-02-26 14:32] #523 closed, assigned to nobody

[2021-03-08 12:44] j-bbr opened #525 "Apple Signin Documentation"
**Is your feature request related to a problem? Please describe.**
There are two ways of authenticating an app with Apple, OAuth and the iOS "native" signin workflow. The first one is covered by the Apple OAuth Package, the second is not really addressed here.

**Describe the solution you'd like**
An update to the OAuth2 Apple documentation or integration of code handling the iOS Apple Signin Work

[2021-03-08 12:47] martincostello commented on #525
I think this would be a good addition to the documentation.

You could include a code sample for it in the markdown, but I don't think we'd want the feature creep of including it in the provider itself as it's outside the scope of the OAuth flow that the providers are designed for.

[2021-03-13 15:26] #525 closed, assigned to nobody

[2021-03-13 16:18] martincostello commented on #520
Thanks everyone for your contributions.

The Alipay provider is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Alipay/5.0.2

[2021-03-13 16:18] #520 closed, assigned to nobody

[2021-03-23 20:57] PatGet opened #529 "Untappd not working"
AspNet.Security.OAuth.Untappd is not working.
Reason seems to be that ExchangeCodeAsync needs to work slightly different.
The request needs to be HttpMethod.Get instead of Post and the parameters need to be transmitted as a QueryString according to https://untappd.com/api/docs#authentication

I add this issue and have a PR ready where I will link to this issue.

[2021-03-25 20:36] #529 closed, assigned to nobody

[2021-03-26 09:07] martincostello commented on #529
Fix is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Untappd/5.0.3) - thanks again 🎈

[2021-04-04 09:01] bopsees opened #534 "Get users ID on Discord Auth?"
I'm having issues finding a way to get the Users ID after auth, I can get their name fine but can't seem to find any parameter for user ID. I looked through the source and I find something about ID but still can't seem to find how to implement.

Please help.

[2021-04-04 09:05] martincostello commented on #534
If you configure an event handler on `DiscordOptions` (I forget which one exactly without looking at Intellisense in VS, `OnCreatingTicket` maybe) you can inspect the raw JSON payload from Discord to see if the user Id is in it. If it is, then you can just configure an additional claims mapping on the options for it.

[2021-04-04 09:23] bopsees commented on #534
Ah ok, I'll try that out soon. Thanks for the help.

[2021-04-04 15:14] bopsees commented on #534
Hello, I've got the ticket setup (it kind of works) but I'm not sure how to get the payload from Discord via this ticket (I can get other stuff like the access token but can't seem to work out how the Response method works). Is there any conversion I need to do, or will I need to write my own part of this with HTTP requests using the access token?

[2021-04-04 15:21] martincostello commented on #534
If the user ID isn't available from the [`User`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.oauth.oauthcreatingticketcontext.user) property when the event is fired here, then you'll need to use the token to call the API to get it yourself.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/b2f3dcc725244cad9f1ac0b41ae15be2ffa13ee8/src/AspNet

[2021-04-04 15:28] bopsees commented on #534
Yeah it's not available, I've written code before to contact the API with the token in JS (like 2 years ago), I'll look at that and implement it similarly in C#. Thanks for the help though, greatly appreciated!

[2021-04-04 15:28] #534 closed, assigned to nobody

[2021-04-06 11:59] bopsees opened #535 "Add claim?"
During a previous issue I was asked about making a new claim if something was appearing, at the time I thought it wasn't being sent in the raw payload, but on further inspection it was and now I'm confused on how to make a claim in the 'OnCreatingTicket' method.

[2021-04-06 12:25] martincostello commented on #535
If you need to map an additional claim, then you can just add some custom mappings to the options when you configure the provider. You can see how the options class does this itself for various claims out-of-the-box:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/b2f3dcc725244cad9f1ac0b41ae15be2ffa13ee8/src/AspNet.Security.OAuth.Discord/DiscordAuthenticationOptions.cs#L50-

[2021-04-06 18:06] bopsees commented on #535
How would I map this claim's parameters, like MapJsonKey("id", idValue)?

[2021-04-06 18:08] martincostello commented on #535
[code]

[2021-04-06 18:09] bopsees commented on #535
Thanks! I'll try that now.

[2021-04-06 18:15] bopsees commented on #535
From what I've just attempted, is it MapJsonKey("UserID", "id")?

id is the value returned from the raw payload, is this correct as I'm unable to access the claim from the User property

[2021-04-06 18:19] martincostello commented on #535
I don't know - can you show what the raw JSON payload you're trying to get the value from looks like?

If it is "id", then you don't need a custom mapping as the provider already maps it:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/b2f3dcc725244cad9f1ac0b41ae15be2ffa13ee8/src/AspNet.Security.OAuth.Discord/DiscordAuthenticationOptions.cs#L50

Unless you want to give it a

[2021-04-06 18:29] bopsees commented on #535
{"id": "ID", "username": "username", "avatar": "avatar", "discriminator": "5228", "public_flags": 64, "flags": 64, "locale": "en-GB", "mfa_enabled": true, "email": "email", "verified":
true}

[2021-04-06 18:33] martincostello commented on #535
Right, so either it's already available without you doing anything by using `ClaimTypes.NameIdentifier` to get it from the claims in your application code, or you can add it _again_ by adding:

[code]

[2021-04-06 18:38] bopsees commented on #535
And if I was to add it via MapJsonKey would it be accessible by doing User.Identity.UserID?

[2021-04-06 18:48] martincostello commented on #535
No - in either case, you would query the claims of the user, such as like this:

[code]

There's no such property as `UserID` on the [`IIdentity` interface](https://docs.microsoft.com/en-us/dotnet/api/system.security.principal.iidentity?view=net-5.0), which is the return type of the [`Identity` property of the `ClaimsPrincipal` class](https://docs.microsoft.com/en-us/dotnet/api/system.security.cla

[2021-04-06 18:50] bopsees commented on #535
Thanks!

After running with this in place, the ID came back without issue. Thanks for the help again!

[2021-04-06 18:50] #535 closed, assigned to nobody

[2021-04-14 03:06] Efp95 commented on #510
I'm having a similar message, in my case is due to an "**invalid redirect_uri**".
I already have configured other providers like google and facebook in the same app with no issue

The nuget packages I'm using are:
- microsoft.aspnetcore.authentication.facebook\3.1.10\
- microsoft.aspnetcore.authentication.google\3.1.09\

For private key setup I'm doing it this way:
`options.PrivateKeyBytes = _ =>

[2021-04-14 06:04] martincostello commented on #510
@Efp95 Have you configured the appropriate redirect URLs/domains in the Apple Developer Portal for those in use by your application? The error message would seem to suggest you have not.

[2021-04-14 06:06] Efp95 commented on #510
@martincostello I'm using the same redirect URL set for the other providers I configured in the same app. They're working fine.
I created appId, serviceId and key in the portal

[2021-04-14 06:13] martincostello commented on #510
From the documentation:

The host specified in appleid-signin-redirect-uri must include a domain name. It can’t be an IP address or localhost.

Is this true of your configuration?

[2021-04-14 06:17] martincostello commented on #510
Also [there's this suggestion resolution](https://developer.apple.com/forums/thread/122536?answerId=381571022#381571022) in a thread on the Apple Developer forums.

Ultimately, I'm 99.9% sure this is a configuration issue of some kind with your setup, and not a bug with the provider.

[2021-04-14 06:19] teonivalois commented on #510
This also won’t work if you are trying to use “localhost”.

Em qua., 14 de abr. de 2021 às 08:17, Martin Costello <
***@***.***> escreveu:

--
--
Teoni Valois

[2021-04-14 08:29] Efp95 commented on #510
@martincostello

options.TeamId = appleAuth["TeamId"];    // Team Id
options.KeyId = appleAuth["KeyId"]          // Key Id
options.ClientId = appleAuth["ClientId"];  // Service ID
options.ClientSecret = appleAuth["ClientSecret"];  // Secret generated in the portal

I've checked already many times and the created resources seem to be properly linked to each other.
The site is deployed in azure and

[2021-04-14 12:22] jamierytlewski opened #538 "Visual Studio Will not refresh the token"
**Describe the bug**
Everything works great for the first hour, then the token expires and the token will not refresh.

**Steps To reproduce**
Setup a VS OAuth setup, wait an hour and see the token will not refresh.

**Expected behaviour**
Expecting when the token is expired to refresh.

**Actual behaviour**
Token does not refresh

**System information:**
 - OS: Windows 10
 - Library Version 5.0.4

[2021-04-14 12:25] kevinchalet commented on #538
It’s the expected behavior: none of the OAuth 2.0 providers - developed by MSFT or the community - handle the refresh part for you. It’s something you’ll have to do yourself.

[2021-04-14 12:30] martincostello commented on #510
If I recall correctly, the redirect endpoint in the provider will accept a POST. However that error shows that it's not even being called, Apple is just rejecting what's being sent to it.

I suggest you turn logging up to debug and/or trace, and see what gets sent to Apple and try and work out what's going on.

A sample application that uses the Apple provider that is deployed to Azure that works

[2021-04-14 12:37] jamierytlewski commented on #538
@kevinchalet - Thanks for the quick response, what is a good way to handle this? That's where I've been struggling?

[2021-04-14 12:41] kevinchalet commented on #538
When using ASP.NET Core Identity, the tokens - including the refresh tokens - can be stored and retrieved using the UserManager. You can then use an OAuth 2.0 client like IdentityModel to make the refresh dance.

[2021-04-14 13:06] #538 closed, assigned to nobody

[2021-04-16 15:25] martincostello commented on #510
I'm going to close this issue as the original poster hasn't interacted with this issue in three months, and it's turning into a _"me too"_ thread of people seemingly having configuration issues.

If anyone has issues with _the provider_, please open a new issue.

[2021-04-16 15:25] #510 closed, assigned to nobody

[2021-05-01 06:18] Mike-E-angelo opened #541 "MetaMask Provider Please. :) :) :)"
**Is your feature request related to a problem? Please describe.**

As a cryptocurrency user, I want to connect to an ASP.NET Core website with my [MetaMask Wallet](https://metamask.io/) where my identity is my selected Wallet Address.

**Describe the solution you'd like**

User signs into the MetaMask wallet, and is then signed into the ASP.NET Core website.

**Describe alternatives you've consid

[2021-05-01 07:58] juanfranblanco commented on #541
@Mike-E-angelo Nethereum provides an integration with Metamask, now this is specific to Blazor as it requires the interop with the browser extension, working both server side and wasm side. https://github.com/Nethereum/Nethereum.Metamask.Blazor
It provides already a way to validate and existing user, making a signing challenge.

What is missing part of the signing process is to create a custom aut

[2021-05-01 08:22] Mike-E-angelo commented on #541
Thank you for the context @juanfranblanco.  That looks very close to the experience, thank you for sharing.  So it would seem all that is required for this External Login provider (assuming the Nethereum work is leveraged 😁) is to enable a dedicated page where it can send the sign-in challenge, then upon success, it redirects to a `https://server.com/signin-metamask` page, where it then again redi

[2021-05-02 08:06] Mike-E-angelo commented on #198
Apologies for resurrecting this thread but I am running into the same issue.  It appears that when this issue was originally opened `localhost` was a valid value for `redirect_uri`.  Currently, however, I get an error if I attempt to use `localhost`:

![](https://i.imgur.com/kFaOvQB.png)

`127.0.0.1` seems to work, however.  I did try calling `https://www.sandbox.paypal.com/signin/authorize/` as p

[2021-05-02 09:04] Mike-E-angelo commented on #198
OK so after some poking and prodding, I got the following `redirect_uri`'s to work:

`http://<custom.domain>:<port>/signin-paypal`
`http://127.0.0.1:<port>/signin-paypal`
`https://<custom.domain>:44301/signin-paypal`

For `<custom.domain>` entries, they required an entry in the HOSTS file (Windows 10 here), along with this `.vs\<project>\config\applicationhost.config` (Visual Studio 2019) modifica

[2021-05-04 10:40] juanfranblanco commented on #541
@Mike-E-angelo Apologies, i missed your response. Metamask is an extension, so the workflow of redirecting to a page will be unnecessary, and strange UX for current users. The normal process will be to click authenticate with metamask, and handle the process on the same page, as you interact with the extension. As you know users may have different accounts / addresses, so it is common for a user c

[2021-05-04 13:10] Mike-E-angelo commented on #541
Doh that is so very true @juanfranblanco.  After having implemented PayPal, there are token endpoints, authorization endpoints, and user information endpoints that are configured by the identity SDK.  MetaMask has none of those entities, as everything is performed on the local browser.

I will have to think about this some more, but it appears that this is the wrong ask for this repository.

[2021-05-04 13:10] #541 closed, assigned to nobody

[2021-05-04 18:57] juanfranblanco commented on #541
Yes you just need the signed message and recover the account, something to tell you what account is selected by the extension to prove it owns the key. In a way is much simpler. The flow, send request to sign message, retrieve signature, recover account from signature, then your flow, create or retrieve user from your db (custom auth), then assign claims.

[2021-05-06 18:59] SteveJSzabo opened #542 "Add a Bungie.net provider"
**Is your feature request related to a problem? Please describe.**
Bungie.net uses OAuth 2.0 and I would like to implement it as a provider so that the API can be used simply for authentication in .NET projects.

**Describe the solution you'd like**
Add a new provider for Bungie.net

[2021-05-06 18:59] SteveJSzabo commented on #542
As in the contributing guidelines, I've already created a fork and am working on this now.

[2021-05-10 09:20] Mike-E-angelo opened #544 "Coinbase OAuth Provider Support"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Coinbase offers [an Oauth2 API](https://developers.coinbase.com/api/v2#oauth2-coinbase-connect) and it would be super appreciated to have it integrated with this project.

**Describe alternatives you've considered**
Not really an alternative, but some work around this has been done via @bch

[2021-05-16 10:46] S0PEX opened #545 "GitLab Provider broken"
**Describe the bug**
When using `AspNet.Security.OAuth.GitLab` the sign-in middleware is broken and results in
[code]

Another issue is that the default `Scope` is outdated as GitLab only allows these scopes:
`api, read_user, read_api, read_repository...` and therefore the default `openid profile email` are unsupported and should be replaced with `read_user`.

When the scope are correctly set to `

[2021-05-16 10:51] martincostello commented on #545
"Correlation failed" is usually an issue with cookies not being stored correctly for the correlation state sent to the remote provider to be able to be checked against the value stored in the cookie for the client.

Check that the correlation cookie is being stored correctly before the browser redirects to GitLab and whether the cookie is present when the browser redirects back to your site.

You

[2021-05-16 12:07] S0PEX commented on #545
Thanks for the fast response.
You were right. It looks like the cookie isn't set correctly as indicated in the log.
` '.AspNetCore.Correlation.chzIOAenxw803HL9LjhM_7hBuFbTKNPvY1b2rsm9cNI' cookie not found.`

I have fixed this issue by setting the same site to `Unspecified`.
This is the working code, if somebody runs into the same error.

[code]

Is there a nicer way of fixing the scope issue as `o

[2021-05-16 12:10] martincostello commented on #545
If you'd like to submit a Pull Request to change the default scopes to just `read_user`, we can include it in the next release of the provider. Then after updating to that newer version you could remove your workaround.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dad5906d49eea20886aa35fada099ad8c5043221/src/AspNet.Security.OAuth.GitLab/GitLabAuthenticationOptions.cs#L29

[2021-05-18 11:06] KawhiWei opened #546 "Click this QQ link to report an error"
**Describe the bug**
_A clear and concise description of what the bug is. State which provider(s) the bug relates to._
Click this QQ link to report an error? Do you need to implement it yourself?
![image](https://user-images.githubusercontent.com/46982191/118640769-f638ca00-b80b-11eb-94bc-9376c209b7bf.png)
![image](https://user-images.githubusercontent.com/46982191/118641004-35671b00-b80c-11eb-9be

[2021-05-18 11:08] martincostello commented on #546
There's not enough information here to articulate an actual problem with the QQ provider or any other actionable information.

What even is that UI - is it something you wrote yourself?

[2021-05-18 11:43] KawhiWei commented on #546
Yes, I wrote the UI myself, using idenidentityserver 4, and this is the warehouse address   https://github.com/DestinyCore/Destiny.Core.Flow.git

[2021-05-18 11:44] martincostello commented on #546
OK, and what's that go to do with this provider?

[2021-05-18 11:47] KawhiWei commented on #546
After the introduction of the provider, jump to QQ login, do you need to implement it yourself? Or has it been implemented internally?

[2021-05-18 11:50] martincostello commented on #546
The provider will send you to QQ for the user to log in. Then after they log in it will redirect back to the application endpoint that handles the callback to complete the OAuth flow and authenticate the user.

How have you configured it? What makes you think the QQ provider is broken?

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/docs/qq.md#integrating-the-qq-provide

[2021-05-18 13:25] KawhiWei commented on #546
Yes，This is how I configure it.
![image](https://user-images.githubusercontent.com/46982191/118659084-96e4b500-b81f-11eb-8b13-fe8c706deb96.png)

[2021-05-18 13:36] kinosang commented on #546
Do you have Asp.Net Identity configured? if not, you have to create your own handler for the logging in.

the provider itself only handle the redirecting and callback ( at /signin-qq for default).

[2021-05-18 13:39] martincostello commented on #546
You'll also need to add the middleware to handle it if you haven't already, as shown in our sample application:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dad5906d49eea20886aa35fada099ad8c5043221/samples/Mvc.Client/Startup.cs#L101-L102

However the default callback URL for the provider is `signin-qq`, but that's not what the callback URL is in your screenshot that is s

[2021-05-18 13:46] KawhiWei commented on #546
![image](https://user-images.githubusercontent.com/46982191/118662154-5f2b3c80-b822-11eb-8f5c-3f97192312ea.png)
I have configured asp.net core authentication / authorization.

[2021-05-18 13:49] kinosang commented on #546
RTFM, before you reinvent your cute wheel.

By searching `QQAuthorize` in your codebase, it seems you have the wrong url configured here

https://github.com/DestinyCore/Destiny.Core.Flow/blob/f742cef2409a2598ddb2d8ae646ba08ae7115b5f/src/Destiny.Core.Flow.AuthenticationCenter/Views/Account/Login.cshtml#L57

[2021-05-18 13:49] martincostello commented on #546
This just seems to be a configuration issue on your side with your application, there's no evidence provided here that there's an issue with the functionality provided by this repository.

We're not here to provide a debugging service for you - if you continue to have problems, I suggest you ask a question on Stack Overflow or a similar service.

[2021-05-18 13:49] #546 closed, assigned to nobody

[2021-05-18 14:42] KawhiWei commented on #546
@kinosang OK，I've solved it

[2021-05-19 08:26] mulch75 opened #547 "Add Xero Provider"
**Is your feature request related to a problem? Please describe.**
Xero.com uses OAuth 2.0 it would be great to have a provider for this service.

**Describe the solution you'd like**
Add a new provider for Xero.com

Documentation: https://developer.xero.com/documentation/oauth2/sign-in

Would be happy to contribute to this solution with a bit of guidance.

[2021-05-19 08:29] martincostello commented on #547
You should be able to use the Pull Requests to add other providers as a fairly good guide of what's required to add a new provider.
They're relatively simple to do as long as the provider being implemented doesn't deviate from the OAuth 2.0 spec too much with custom things.

[2021-05-19 12:41] #545 closed, assigned to nobody

[2021-05-20 09:10] mulch75 commented on #547
I made a good start on this last night, I could get Authenticated but then I discovered that all the User information is packaged in a JWT. This has caused some further complication. I believe the SuperOffice implementation is similar so I may start again with that as a template. Any suggestions for working with JWT's?

[2021-05-20 09:15] martincostello commented on #547
The Apple and SuperOffice providers both deal with JWTs, but the SuperOffice provider is more recent so has the preferred approach for dealing with them IIRC in terms of JWT.

[2021-05-22 01:20] levimatheri commented on #544
I'd like to take this up, thanks!

[2021-05-25 16:05] martincostello opened #552 "ASP.NET 6 Support"
Support for ASP.NET Core 6 will be available for the currently shipping OAuth providers soon after the final .NET 6.0 release ships in November 2021.

In the meantime, packages for ASP.NET Core 6 are available from our [MyGet feed](https://www.myget.org/gallery/aspnet-contrib) starting with version `6.0.0-preview.4.21275.61` for .NET 6 preview 4.

[2021-06-03 07:38] #498 closed, assigned to nobody

[2021-06-03 07:57] #544 closed, assigned to nobody

[2021-06-03 08:17] Mike-E-angelo commented on #544
Fantastic!  Thank you so much for all your work out there, @levimatheri, @martincostello, and team!  It is very much appreciated. 🙏

[2021-06-03 08:42] martincostello commented on #544
The provider is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Coinbase/) - thanks again for your contributions.

[2021-06-03 11:35] baptiste-nv opened #556 "AspNet.Security.OAuth.Apple should save id_token"
**Is your feature request related to a problem? Please describe.**
Currently, Apple Sign In access_token is not used anywhere, and only id_token can be validated Apple side. Even if it's done in the library, we may have some architecture pattern where we need to distinguish authentication itself and token validation, so the module should save id_token along with the others tokens

**Describe the s

[2021-06-03 11:40] martincostello commented on #556
The [`SaveToken`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.remoteauthenticationoptions.savetokens) property on the `AppleAuthenticationHandler` class (which is available for all our providers as they are derived from `RemoteAuthenticationOptions` where it is defined) can be set to `true` to save the token into the claims.

https://github.com/aspnet-contrib/AspNet.Se

[2021-06-03 11:45] baptiste-nv commented on #556
Hi @martincostello

Yes, it's already done on our side.
However, the id_token is not saved in that method, only access_token/refresh_token are.

[2021-06-03 12:12] martincostello commented on #556
I'm not entirely sure whether we should or shouldn't store it, but if we were to it would be a trivial change.

For now, you can access the token by using either the `CreatingTicket` event and grabbing it from the context passed to that event.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/0d9f3f21a7561d258b37ceece293df6ed57fc21b/src/AspNet.Security.OAuth.Apple/AppleAuthen

[2021-06-03 12:19] baptiste-nv commented on #556
Hi @martincostello

Thank you for your answer, I will test it right away.
I still do think that we should save it, as it's a commonly used token. And starting iOS 13, we can (must) use iOS native authentication that return an ID token. We could then have the same behavior for both OS based and server based authentication.

Thanks again!

[2021-06-03 13:37] baptiste-nv commented on #556
The given workaround work well:
[code]
and
[code]
Thanks again @martincostello

[2021-06-04 06:07] kinosang commented on #499
implement your own sso (OAuth, SAML, and etc, for e.g.) on supercoolproduct.com and use the sso provider at company.supercoolproduct.com

[2021-06-04 13:59] #556 closed, assigned to martincostello

[2021-06-04 14:19] martincostello commented on #556
If you'd like to use this change before 5.0.6 is released to NuGet.org, a prerelease version containing the fix can be obtained from our [MyGet feed](https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Apple/5.0.6-preview.21304.57).

[2021-06-04 18:39] martincostello commented on #556
This fix has now been published to [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Apple/5.0.6).

[2021-06-07 13:26] martincostello commented on #421
Will be included in the 6.0.0 release later this year.

[2021-06-07 13:26] #421 closed, assigned to martincostello

[2021-06-08 20:05] hzexe opened #565 "Wrong redirect url to alipay"
**Describe the bug**
The client_id shoud be named app_id in the url redirect to alipay.

**Steps To reproduce**
Docs  at
[https://opendocs.alipay.com/open/284/web#URL%20%E6%8B%BC%E6%8E%A5%E8%A7%84%E5%88%99](https://opendocs.alipay.com/open/284/web#URL%20%E6%8B%BC%E6%8E%A5%E8%A7%84%E5%88%99)
and
[https://opendocs.alipay.com/support/01rg6a?ant_source=opendoc_recommend#%E7%94%B5%E8%84%91%E7%BD%91%E7%

[2021-06-09 09:39] LeaFrock commented on #565
[Here](https://github.com/dotnet/aspnetcore/blob/release/5.0/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L299)  in `OAuthHandler.BuildChallengeUrl()` can explain this wrong problem.

There're two ways to fix it.
The first is yours, but you needn't concat strings by self.
[code]
The other is totally overridding the virtual method. This way should generate the 'standard' url of Alipay doc

[2021-06-09 11:24] hzexe commented on #565
Both of the ways tested pass before make the PR #566

[2021-06-09 11:45] #565 closed, assigned to nobody

[2021-06-09 11:52] martincostello commented on #565
Thanks for the fix - if you could validate it with the real Alipay service using [`5.0.7-preview.21309.48`](https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Alipay/5.0.7-preview.21309.48) from our MyGet feed, then if all good I'll push out 5.0.7 to NuGet.org later today.

[2021-06-11 13:58] martincostello commented on #565
Hi @hzexe - did you have a chance to validate the fix?

[2021-06-12 10:38] LeaFrock commented on #565
@martincostello All Chineses are celebrating the Dragonboat Festival (14 June) holiday of 3 days. So maybe we have to wait for several days.

@hzexe I'm not disturbing you, just hope that you can test the preview package on Linux OS to ensure this issue totally fixed. If it's OK, the 5.0.7 will be released soon. Thanks in advance!

[2021-06-12 10:39] martincostello commented on #565
Thanks for the info @LeaFrock - I wasn't aware of that. Enjoy!

[2021-06-17 16:34] martincostello commented on #565
Hi @hzexe - have you been able to validate your fix yet?

[2021-06-18 08:11] Mike-E-angelo opened #568 "Mixcloud Support"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Last one, I swear. 😁  After the successful implementation of #544, there is one last provider that I would like to see implemented, and that is Mixcloud:
https://www.mixcloud.com/developers/#authorization

**Describe alternatives you've considered**
You already have SoundCloud (which is fan

[2021-06-18 13:07] kevinchalet commented on #568
We typically rely on contributions when it comes to adding new providers. Would you be interested in submitting a PR to add Mixcloud support?

[2021-06-18 13:28] Mike-E-angelo commented on #568
Heck yeah, @kevinchalet!  Apologies for using you all as a magic genie. 😁😇  I did take a look at the soundcloud implementation and feel that I can start from there.  Let me see if I can get something for you here in the next week or so.

FWIW/BTW, Soundcloud is no longer creating new applications for their platform.  That is, when attempting to create an application this morning, this is what I wa

[2021-06-19 09:18] #568 closed, assigned to nobody

[2021-06-20 09:10] hzexe commented on #565
@martincostello I'm sorry I haven't read email lately.But the build 5.0.7-preview.21309.48 not exist,maybe deleted.
Rebuild a new preview version for net5 please?

[2021-06-20 09:18] martincostello commented on #565
@hzexe Here you go: https://www.myget.org/feed/aspnet-contrib/package/nuget/AspNet.Security.OAuth.Alipay/5.0.7-preview.21320.37

[2021-06-20 09:47] hzexe commented on #565
@martincostello
I have test pass the version with real alipay account.
System information:
Debian 10 (buster)  4.19.146-1 (2020-09-17) x86_64
net5.0 and Microsoft.AspNetCore.Identity.UI 5.0.7
AspNet.Security.OAuth.Alipay 5.0.7-preview.21320.37

[2021-06-20 09:49] martincostello commented on #565
Great, thanks for testing.

I'll push the fix to NuGet later today.

[2021-06-20 11:38] martincostello commented on #568
The Mixcloud provider is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Mixcloud/5.0.7) - thanks again for your contribution 🥳

[2021-06-20 11:40] martincostello commented on #565
The fix is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Alipay/5.0.7) - thanks again 👍

[2021-06-23 23:15] mca312 commented on #542
@SteveJSzabo Any update on this?

[2021-06-25 09:23] Mike-E-angelo opened #572 "Mixcloud Does Not Appear to Support the `state` Parameter"
**Describe the bug**
In the Mixcloud provider implementation, efforts are being made to "[bundle](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/014ef58416b9f6dca6ec88a4b7f4e5936ebb2acf/src/AspNet.Security.OAuth.Mixcloud/MixcloudAuthenticationHandler.cs#L71-L72)" the `state` parameter and then "[unbundle](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blo

[2021-06-28 07:35] miguelSWE commented on #572
Hey @Mike-E-angelo ,
Mixcloud’s customer support has forwarded me your emails and I’ll be looking into this as soon as I can

I’ll let you know here once I have more info/if we’ve done the changes you asked :)

PS: I work for Mixcloud

Edit: This isn't forgotten, I had some time-off/got pulled elsewhere : )

[2021-07-05 12:30] NexganGH opened #576 "Discord authentication cookie is not set only on Firefox, in Blazor server production"
**Describe the bug**
Using blazor server, after trying to log in on the Discord page you get redirected to the correct route of the website but the correlation cookie is not set, getting these errors in console:
[code]
This weirdly only happens on Firefox on certain clients, only in production (it works in localhost). I've tried disabling all the extensions but I get the same result.
**Steps To re

[2021-07-05 13:00] martincostello commented on #576
This sounds like it's likely related to SameSite cookies. More information about it can be found here: https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

The correlation implementation is provided by the base OAuth provider we build on top of, so even if it isn't that, it's unlikely to be an issue specifically with our library, which is further bor

[2021-07-05 13:02] martincostello commented on #576
Also, if you're targeting ASP.NET Core 6, I suggest using a prerelease version for 6 from our MyGet feed, rather than the .NET 5 versions in NuGet.

[2021-07-06 09:01] NexganGH commented on #576
Thanks for your fast reply @martincostello.

I had tried to tweak SameSite settings without results.

After some time of testing in localhost, it stopped working there as well (in any browser), getting an `Unknown Location` exception. I found out that when I tried to log in from another page with a redirect it worked but it didn't if I accessed it directly.

So I figured this out: I was using the

[2021-07-06 09:01] #576 closed, assigned to nobody

[2021-07-06 14:10] DTX-Liam opened #577 "State too long for twitch"
**Describe the bug**
The state parameter in the url query is too long when requesting a lot of scopes on twitch.

**Steps To reproduce**
Use the twitch provider with almost all possible scopes and the url string is too long, twitch will return 500 invalid authorization.

**Expected behaviour**
The authorization should be performed by twitch and the state returned correctly, this works fine when ma

[2021-07-06 14:14] martincostello commented on #577
If Twitch is returning an HTTP 500, then that sounds like a bug on their end. If the request was invalid, they should return an HTTP 400.

That's not to say this shouldn't/couldn't also be changed in the provider, but HTTP 500 maps to Internal Server Error, which implies an issue on their end.

[2021-07-06 14:17] DTX-Liam commented on #577
Yes its a bug on their end that its returning 500 not 400 however the state sent to twitch should be shorter or just set to a UUID for the twitch provider as is the example in their docs.

[2021-07-06 16:06] kevinchalet commented on #577
States are generated by the MSFT OAuth 2.0 base handler (it's basically an encrypted representation of `AuthenticationProperties` to which a random value was added): it's not something we control on our side.

[2021-07-06 16:48] martincostello commented on #577
Yeah, the state is [read here](https://github.com/dotnet/aspnetcore/blob/e65cec17d41f5563f2c5dde35422741f11e3fabb/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L63-L69) and [generated here](https://github.com/dotnet/aspnetcore/blob/e65cec17d41f5563f2c5dde35422741f11e3fabb/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L321).

To use a different state transfer mechanism, the Twitch p

[2021-07-07 16:21] DTX-Liam commented on #577
Thanks for the insight, I appreciate you guys taking the time to help, I'm going to try to find a workaround.

I understand you dont want additional complexity to maintain thats provider specific but as twitch continually update their API's they are adding more and more scopes so this is going to continue to be a problem for more users in the future. A url string of over 2000 characters is a bit e

[2021-07-07 16:30] martincostello commented on #577
It might be worth opening an issue against the ASP.NET Core repo for the _general_ use case, with Twitch as a _specific_ example, of scenarios where the state is too wrong and the best way to make that easier to deal with for any arbitrary OAuth provider if `state` is too long.

The advantage of the current approach with everything carried in the callback URL is that it works in web farms so multi

[2021-07-09 00:24] kiddailey opened #578 "Add support for Dropbox token_access_type and response_type"
The Dropbox provider currently does not support the ability to specify the response_type or token_access_type parameters.  These two parameters allow you to specify Code authentication flow and enable the ability to grant offline access and receive refresh tokens.

I have submitted a pull request along side this feature request that implements the necessary changes for this new feature.

[2021-07-09 19:49] pkskelly opened #580 "How can AccessToken be retrieved post authentication success with LinkedIn Provider?"
## Issue Description

Using the LinkedIn Provider, I can authenticate a user, but cannot get access or refresh tokens. I am using the ```SaveTokens  = true``` option when configuring but it does not seem to persist the AccessToken.  All documentation I can find indicate that the tokens should exist and be persisted.  But I feel like something has changed and I may be missing something.

## Steps T

[2021-07-10 12:09] martincostello commented on #580
I quickly just tried this with the GitHub provider locally, using `httpContext.GetTokenAsync("GitHub", "access_token")` and I get the access token as expected when I've set `SaveTokens` to `true`.

The [`HttpContext.GetTokensAsync()`](https://github.com/dotnet/aspnetcore/blob/52eff90fbcfca39b7eb58baad597df6a99a542b0/src/Http/Authentication.Abstractions/src/AuthenticationHttpContextExtensions.cs#L2

[2021-07-11 21:19] pkskelly commented on #580
Thanks @martincostello!!

Apologies for what turned out to be a simple fix.  I'll confess I started with a project using `dotnet new mvc --auth Indivdual` and this seems to be related to the problem.  I assume that the issue I am having is related to Microsoft.AspNetCore.Identity.UI components taking control of some of the process (have not and likely will not have time to dig into it).  Is this a

[2021-07-13 19:33] linmasaki opened #581 "Why IDE always thrown errors in LineAuthenticationHandler.cs?"
### Provider name
AspNet.Security.OAuth.Line

### Actual behavior
In LineAuthenticationHandler.cs, my IDE(Rider) always thrown errors in this file(see below pic). I checked other provider configurations and no idea what happened?

![Image](https://i.ibb.co/vVKDfTF/2021-07-14-2-58-57.png)

### Expected behavior
In [GitHubAuthenticationHandler.cs ](https://github.com/aspnet-contrib/AspNet.Security.O

[2021-07-13 19:36] martincostello commented on #581
Rider bug? It's defined in our `Directory.Build.props` file:

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/df24cbf161c57bd49aa76429c441849f193e8ab7/Directory.Build.props#L14

It also works for me in Visual Studio, and works in our continuous integration using the .NET CLI.

[2021-07-14 08:40] linmasaki commented on #581
Perhaps you're right. After I updated Rider, the problem disappeared soon.

Thank you for your reply.

[2021-07-14 08:40] #581 closed, assigned to nobody

[2021-07-20 01:19] pkskelly commented on #580
Thanks again @martincostello!  Blog post for anyone interested can be found here: [https://peteskelly.com/authenticating-linkedin-users-using-asp-net-contrib-oauth-providers/ ](https://peteskelly.com/authenticating-linkedin-users-using-asp-net-contrib-oauth-providers/ )

[2021-07-20 01:19] #580 closed, assigned to nobody

[2021-07-28 14:42] #578 closed, assigned to nobody

[2021-08-03 08:04] ndelta0 opened #584 "Discord OAuth provider returns .png avatar url for animated avatars"
**Describe the bug**
Claim for Discord Avatar Url always has an extension of `.png` even if the avatar is animated.

**Steps To reproduce**
n/a

**Expected behaviour**
Claim for avatar url ends in `.gif` for animated avatars/

**Actual behaviour**
Claim always ends with `.png`

**System information:**
 - OS: n/a
 - Library version 5.0.9
 - .NET version: n/a

**Additional context**
As per [Discord

[2021-08-03 09:06] martincostello commented on #584
The _"best"_ way to fix this would be in version 6 as it requires a change to a constant, which is a breaking change.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/f9059d3f80ddd4158b298820a0008329545ee45c/src/AspNet.Security.OAuth.Discord/DiscordAuthenticationConstants.cs#L17

For earlier versions you can work around this by either:

1. Changing the format string used to

[2021-08-12 01:28] levimatheri opened #586 "Add Zendesk provider"
**Is your feature request related to a problem? Please describe.**
[Zendesk ](https://developer.zendesk.com/documentation/ticketing/working-with-oauth/creating-and-using-oauth-tokens-with-the-api/) uses OAuth 2.0 and I have started to implement it as a provider so that the API can be used simply for authentication in .NET projects.

**Describe the solution you'd like**
Add a new provider for Zende

[2021-08-13 07:40] #586 closed, assigned to nobody

[2021-08-13 08:08] martincostello commented on #586
This provider is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Zendesk/5.0.10

Thanks for your contribution @levimatheri 🎉

[2021-08-24 07:00] leotsarev opened #589 "Need to bump VK API version"
**Is your feature request related to a problem? Please describe.**
There is VK notification that library is passing obsolete API version https://vk.com/dev/lifecycle_notification
It will be shutdown at 2nd September, 2021

**Describe the solution you'd like**
Change [VkontakteAuthenticationDefaults.ApiVersion](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/ed0c8bfd527aee56f

[2021-08-24 08:50] #589 closed, assigned to nobody

[2021-08-25 16:28] martincostello commented on #584
Rather than try and maintain the code to do this and keep in sync with Discord, we've removed this functionality from the v6 release and won't be fixing this in the v5 provider.

Here is a snippet from the updated provider documentation for v6 that shows how to configure this for users who want/need the claim.

---

## Avatars as Claims

Versions of the Discord provider before version `6.0.0` woul

[2021-08-25 16:28] #584 closed, assigned to martincostello

[2021-08-31 01:14] LedgendODST opened #594 "Discord OAuth Problem while Logging in"
Hello,

i've made a ASP MVC Core app on Localhost with Discord 0Auth Login, everything was working fine on it.
then i wanted to point the app to my Domain, then i started running into errors, and i've been trying to fix this this since 9 Hours now,

Using Linux on ubuntu 20.04, ASP.NET Core 5,

Startup.cs
       public void ConfigureServices(IServiceCollection services)
        {
            servi

[2021-08-31 06:45] LeaFrock commented on #594
It seems related to the cookie setting `SameSite`. Use `https` and set cookie `secure;samesite=none;httponly`

See https://stackoverflow.com/questions/50124498/correlation-failed-at-microsoft-aspnetcore-authentication-remoteauthenticationh for reference.

[2021-08-31 12:13] LedgendODST commented on #594
i am sorry i am not good at setup that to a linux server, i've been watching many tutorials about that but nothing of them works, seems like i failed by this tutorial too. well i got something like what you said yesterday...

info: AspNet.Security.OAuth.Discord.DiscordAuthenticationHandler[7]
      Discord was not authenticated. Failure message: Not authenticated
warn: Microsoft.AspNetCore.Http.Re

[2021-09-06 10:35] inyutin-maxim opened #595 "Add ESIA provider"
Is your feature request related to a problem? Please describe.
ESIA uses OAuth 2.0 and I would like to implement it as a provider so that the API can be used simply for authentication in .NET projects.

Describe the solution you'd like
Add a new provider for [ESIA](https://digital.gov.ru/ru/activity/directions/13/) [manual](https://digital.gov.ru/ru/documents/6182/)

[2021-09-10 21:34] Atulin opened #597 "Add SubscribeStar provider"
**Is your feature request related to a problem? Please describe.**
SubscribeStar [offers OAuth2 API](https://www.subscribestar.com/api) and supporting it as a part of this lubrary would be nice

**Describe the solution you'd like**
A new provider supporting SubscribeStar being added to the repo

**Describe alternatives you've considered**
Rolling my own solution, but manually implementing anything

[2021-09-12 02:57] irwinwilliams commented on #483
Hello Future Irwin (or other developer stumbling upon exactly how you resolved this issue),
You did this:
1. Created this method (in the Startup class):
 private void SetSameSite(HttpContext httpContext, CookieOptions options)
        {

            if (options.SameSite == SameSiteMode.None)
            {
                options.SameSite = SameSiteMode.Unspecified;
            }
        }

2. Adde

[2021-09-30 19:18] IvanTsel96 opened #606 "Invalid the scopes concatenation in 'Odnoklassniki' provider"
**Describe the bug**
Invalid the scopes concatenation in 'Odnoklassniki' provider

**Steps To reproduce**
Add additional scope (ex. VALUABLE_ACCESS) and run authentication process

**Expected behaviour**
Scopes should concatenate via ';' symbol (https://apiok.ru/ext/oauth/server)

**Actual behaviour**
Scopes concatenate via ','

**System information:**
 - OS: [e.g. Windows 10]
 - Library Version [

[2021-10-01 17:12] martincostello commented on #606
Yep, that's the standard way. A number of our providers already override that method for other delimiters.

Would you like a to submit a PR to fix this @IvanTsel96, or do you want to leave it to us?

[2021-10-03 16:28] IvanTsel96 commented on #606
Yes, sure. I can do it

[2021-10-03 16:51] IvanTsel96 commented on #606
PR: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/607

[2021-10-04 07:19] #606 closed, assigned to nobody

[2021-10-04 07:56] martincostello commented on #606
Thanks again for the bug report and fix - this is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Odnoklassniki/5.0.15).

[2021-10-04 08:54] IvanTsel96 commented on #606
Thank you, very match

[2021-10-06 23:07] TheUltimateC0der opened #609 "UriBuilder usage in IPostConfigureOptions implementation for URL generation"
**Describe the bug**
The code seen here https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/da6e0b3e19001d7e44f027c650bcee0f7f59baf1/src/AspNet.Security.OAuth.Keycloak/KeycloakPostConfigureOptions.cs#L29 will result in the provider being not usable.

As per documentation in https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/docs/keycloak.md

The domain va

[2021-10-06 23:09] TheUltimateC0der commented on #609
@antosubash

[2021-10-06 23:12] TheUltimateC0der commented on #609
This also seems to affect Okta, Moodle, Zendesk, and GitHub provider.

[2021-10-07 05:52] martincostello commented on #609
Thanks for reporting this.

This seems to have slipped through review with me not noticing the custom path in the documentation, however this is the sort of thing I would have expected to have been flushed out when it was initially implemented when tested against a real Keycloak instance.

Whilst this pattern is used in the other providers you mentioned (and why it would have been suggested to be

[2021-10-07 14:58] FaridAhamat opened #610 "Keycloak's "ClientSecret" is mandatory, but Keycloak with access type of "public" has no secret."
**Describe the bug**
If we set the Keycloak to use access type of "public", it will have no secret.

But Validate will fail if there is no "ClientSecret".

**Steps To reproduce**
1. Set a Keycloak server with 'public' access type. This is under the Client settings.

![image](https://user-images.githubusercontent.com/11820522/136410189-0f9947f1-5a07-46a5-ac3e-517911689f6f.png)

2. At ConfigureServi

[2021-10-07 15:04] martincostello commented on #610
This fix for this is for us to use a similar pattern to this from the Apple provider, and override the `Validate()` method in `KeycloakOptions`.

https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/da6e0b3e19001d7e44f027c650bcee0f7f59baf1/src/AspNet.Security.OAuth.Apple/AppleAuthenticationOptions.cs#L128-L146

[2021-10-07 20:08] TheUltimateC0der commented on #609
Has this project now CI/CD implemented, so if I fix this and send a PR, this will be released automatically to nuget after PR is accepted ?

[2021-10-07 20:13] martincostello commented on #609
It has had CI, and CD to MyGet, for quite a long time. Releases go to NuGet when we do a manual release.

Sometimes that's almost immediately after a merge, sometimes it might be some time later if we intend to bundle several changes together.

It also depends on when we're available and have the time to do so.

[2021-10-07 20:20] TheUltimateC0der commented on #609
Sad to see that nothing has changed in 2 years (https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/261 for reference). I´ll close this issue, someone else can fix it. I´ll find another solution that has proper CI/CD implemented, and also treats contributors more welcoming.

[2021-10-07 20:20] #609 closed, assigned to nobody

[2021-10-07 20:31] martincostello commented on #609
Your attitude is not helpful or friendly.

I would have happily fixed the issue myself when I had the free time, and then release it when appropriate (which might have been straight away), but I was awaiting a response as to whether you had more information about the bug, or offered to fix it yourself. At no point was there any expectation that _you_ needed to fix it.

Even if we _did_ have instan

[2021-10-07 21:04] TheUltimateC0der commented on #609
My attitude comes from the way this project has treaten me, and has nothing to do with you personally. I appreciate anyones work on these kind of open source projects a lot, given the fact that the world would not run without open source.

I have multiple open source projects to maintain myself, some on github, some on other sites/platforms. So I know that it is your private time that you invest f

[2021-10-09 13:07] #610 closed, assigned to nobody

[2021-10-09 13:08] martincostello commented on #594
Closing as external and due to inactivity.

[2021-10-09 13:08] #594 closed, assigned to nobody

[2021-10-09 13:09] #499 closed, assigned to nobody

[2021-10-09 13:11] martincostello commented on #496
Closing this as Blazor is outside our supported uses cases and I don't _think_ it's an issue specific to us. If there's evidence to the contrary that this _should_ work with _server-side_ Blazor (client-side wouldn't be secure as it would need the secrets) and it's due to a bug, we can revisit.

[2021-10-09 13:11] #496 closed, assigned to nobody

[2021-10-09 13:13] martincostello commented on #478
Closing as this looks like something ASP.NET Core Identity related and due to inactivity. If you are still having this issue specifically with one of our providers (e.g. it works for the Facebook/Google/Microsoft/Twitter provider, but not one of ours), then please open a new issue and we can look into it further.

[2021-10-09 13:13] #478 closed, assigned to nobody

[2021-10-09 14:08] martincostello commented on #610
The fix for this issue is now available from [NuGet.org](https://www.nuget.org/packages/AspNet.Security.OAuth.Keycloak/5.0.16) - thanks again 🍰

[2021-10-11 17:57] SteveJSzabo commented on #542
I haven't had any time lately to continue on this. Ultimately my issue is a lack of understanding of how the underlying system works so I can apply the Bungie specifics to it. I am still planning on working on it once life gives me some time to do so, but I certainly wouldn't turn away any help.

[2021-11-03 20:22] gabriel-ayusso opened #622 "Error 502 - Bad Gateway when user "Hide Email""
Hi there,

I wondering if someone already faced the same issue as me. Sorry if I`m doing something wrong, but I'm getting crazy with this issue.

I implemented Signin with apple on my website and everything is working as expected, but I noticed that in some cases some users are getting 502 - Bad Gateway Error.

After many tests, I noticed that this error happens always when the [Hide my Email](htt

[2021-11-03 20:51] gabriel-ayusso commented on #622
[SOLVED]

I could catch the error, and it was in nginx configuration.  Nothing with the provider.

The headers of request from Apple when the option `Hide my Email` is on are much bigger than the usual, so it breaks on nginx. I can see the following message on the controller logs

`[error] 497#497: *35459617 upstream sent too big header while reading response header from upstream`

And I'm also us